<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta charset="UTF-8"/>
<title>PruQuote Online</title>
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet" />
	<link th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.css}" rel="stylesheet" />
	<link th:href="@{/webjars/datatables/1.10.12/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/responsive.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/buttons.dataTables.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/bootstrap-toggle.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/nprogress.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/green.css}" rel="stylesheet" />
	<link th:if="${login} == null" th:href="@{/resources/css/custom.css}" rel="stylesheet" />
	<link th:if="${login} != null" th:href="@{/resources/css/main.css}" rel="stylesheet" />
	
	<style>	
		#login-style{
			background-image: -webkit-linear-gradient(90deg, #8C0000, #DE1818);
			box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 0px 2px rgba(0, 0, 0, 0.5);
		}
	</style>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0; background-color: #EDEDED;">
              <a th:href="@{/}" class="site_title"><img th:src="@{/resources/images/Prudential Cambodia-Logo.png}" style="max-width:230px; max-height: 130px;" /> <span>PruQuote Online</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img th:src="@{/resources/images/user-alt-128.png}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2><span th:text="${#authentication.name}"></span></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
<!--                     <ul class="nav child_menu"> -->
<!--                       <li><a href="index.html">Dashboard</a></li> -->
<!--                       <li><a href="index2.html">Dashboard2</a></li> -->
<!--                       <li><a href="index3.html">Dashboard3</a></li> -->
<!--                     </ul> -->
                  </li>
                  <li><a><i class="fa fa-edit"></i> Quote <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
<<<<<<< .mine
                    <sec:authorize access="hasRole('ACCESS_PRUMYFAMILY')">
					  <li><a th:href="@{/prumyfamily}">PRUmy family</a></li>
					</sec:authorize>
                      <li><a th:href="@{/edusave}">edusave</a></li>
                      <li><a th:href="@{/easylife}">EasyLife</a></li>
                      <!-- <li><a th:href="@{/loanassure}">Loan Assure</a></li> -->
=======
                      <li sec:authorize="hasAuthority('ACCESS_PRUMYFAMILY')"><a th:href="@{/prumyfamily}">PRUmy family</a></li>
                      <li sec:authorize="hasAuthority('ACCESS_EDUSAVE')"><a th:href="@{/edusave}">edusave</a></li>
                      <li sec:authorize="hasAuthority('ACCESS_EASY_LIFE')"><a th:href="@{/easylife}">EasyLife</a></li>
                      <li sec:authorize="hasAuthority('ACCESS_MORTGAGE')"><a th:href="@{/loanassure}">Loan Assure</a></li>
>>>>>>> .r591
                    </ul>
                  </li>
                  <li><a><i class="fa fa-user"></i> Referral <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
<<<<<<< .mine
                      <li><a th:href="@{/referral}">Referral Lead</a></li>
                      <li><a th:href="@{/managereferral}">Management Level</a></li>
                      <!--<li><a th:href="@{/transferreferral}">Transfer Lead</a></li>  -->
                      <!--<li><a th:href="@{/saletarget}">Business Target</a></li>-->
=======
                      <li sec:authorize="hasAuthority('ACCESS_REFERRAL')"><a th:href="@{/referral}">Referral Lead</a></li>
                      <li sec:authorize="hasAuthority('ACCESS_REFERRAL_MGT')"><a th:href="@{/managereferral}">Management Level</a></li>
                      <li sec:authorize="hasAuthority('ACCESS_REFERRAL_MGT')"><a th:href="@{/transferreferral}">Transfer Lead</a></li>
                      <li sec:authorize="hasAuthority('ACCESS_REFERRAL_MGT')"><a th:href="@{/saletarget}">Business Target</a></li>
>>>>>>> .r591
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small" style="color: #FFFFFF;">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars" style="color: #ED1B2E"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img th:src="@{/resources/images/user-alt-128.png}" alt=""><span th:text="${#authentication.name}"></span>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li>
						<form th:action="login?logout" method="post" id="logoutForm">
							<input type="hidden" name="tempHidden" />
						</form>
						<script>
							function formSubmit() {
								document.getElementById("logoutForm").submit();
							}
						</script>
                    	<a href="javascript:formSubmit()">
                    		<i class="fa fa-sign-out pull-right"></i> 
                    		Log Out
                   		</a>
                   	</li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o" style="color: red;"></i>
                    <span class="badge bg-red">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
<!--                     <li> -->
<!--                       <a> -->
<!--                         <span class="image"><img th:src="@{/resources/images/user-alt-128.png}" alt="Profile Image" /></span> -->
<!--                         <span> -->
<!--                           <span>John Smith</span> -->
<!--                           <span class="time">3 mins ago</span> -->
<!--                         </span> -->
<!--                         <span class="message"> -->
<!--                           Film festivals used to be do-or-die moments for movie makers. They were where... -->
<!--                         </span> -->
<!--                       </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                       <a> -->
<!--                         <span class="image"><img th:src="@{/resources/images/user-alt-128.png}" alt="Profile Image" /></span> -->
<!--                         <span> -->
<!--                           <span>John Smith</span> -->
<!--                           <span class="time">3 mins ago</span> -->
<!--                         </span> -->
<!--                         <span class="message"> -->
<!--                           Film festivals used to be do-or-die moments for movie makers. They were where... -->
<!--                         </span> -->
<!--                       </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                       <a> -->
<!--                         <span class="image"><img th:src="@{/resources/images/user-alt-128.png}" alt="Profile Image" /></span> -->
<!--                         <span> -->
<!--                           <span>John Smith</span> -->
<!--                           <span class="time">3 mins ago</span> -->
<!--                         </span> -->
<!--                         <span class="message"> -->
<!--                           Film festivals used to be do-or-die moments for movie makers. They were where... -->
<!--                         </span> -->
<!--                       </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                       <a> -->
<!--                         <span class="image"><img th:src="@{/resources/images/user-alt-128.png}" alt="Profile Image" /></span> -->
<!--                         <span> -->
<!--                           <span>John Smith</span> -->
<!--                           <span class="time">3 mins ago</span> -->
<!--                         </span> -->
<!--                         <span class="message"> -->
<!--                           Film festivals used to be do-or-die moments for movie makers. They were where... -->
<!--                         </span> -->
<!--                       </a> -->
<!--                     </li> -->
                    <li>
                      <div class="text-center">
                        <a style="color: #A7A7A7">
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">

        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Powered by - PCLA IT Team
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
    
    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.0/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.0/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery-validation/1.15.0/jquery.validate.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/datatables/1.10.12/js/dataTables.bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/dataTables.responsive.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/responsive.bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/dataTables.buttons.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/buttons.colVis.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/bootstrap-toggle.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/jquery.canvasAreaDraw.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/nprogress.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/custom.js}"></script>
	<script th:inline="javascript">
		$(document).ready(function(){
			var $BODY = $('body'),
		    $MENU_TOGGLE = $('#menu_toggle'),
		    $SIDEBAR_MENU = $('#sidebar-menu'),
		    $SIDEBAR_FOOTER = $('.sidebar-footer'),
		    $LEFT_COL = $('.left_col'),
		    $RIGHT_COL = $('.right_col'),
		    $NAV_MENU = $('.nav_menu'),
		    $FOOTER = $('footer');
			
		    var setContentHeight = function () {
		        // reset height
		        $RIGHT_COL.css('min-height', $(window).height());

		        var bodyHeight = $BODY.outerHeight(),
		            footerHeight = $BODY.hasClass('footer_fixed') ? -10 : $FOOTER.height(),
		            leftColHeight = $LEFT_COL.eq(1).height() + $SIDEBAR_FOOTER.height(),
		            contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;

		        // normalize content
		        contentHeight -= $NAV_MENU.height() + footerHeight;

		        $RIGHT_COL.css('min-height', contentHeight);
		    };
			
			// toggle small or large menu
		    $MENU_TOGGLE.on('click', function() {
		        if ($BODY.hasClass('nav-md')) {
		            $SIDEBAR_MENU.find('li.active ul').hide();
		            $SIDEBAR_MENU.find('li.active').addClass('active-sm').removeClass('active');
		            
		            var url = /*[[@{/resources/images/Prudential.png}]]*/'';
		            $('.site_title').children('img').attr('src', url);
		            $('.site_title').children('img').css('width', '70px');
		        } else {
		            $SIDEBAR_MENU.find('li.active-sm ul').show();
		            $SIDEBAR_MENU.find('li.active-sm').addClass('active').removeClass('active-sm');
		            
		            var url = /*[[@{/resources/images/Prudential Cambodia-Logo.png}]]*/'';
		            $('.site_title').children('img').attr('src', url);
		            $('.site_title').children('img').css('width', '');
		        }

		        $BODY.toggleClass('nav-md nav-sm');
		        
		        if($TOGGLED === false){
		        	$TOGGLED = true;
		        }else{
		        	$TOGGLED = false;
		        }

		        setContentHeight();
		    });
			
			$MENU_TOGGLE.trigger('click');
			
			var isclick = false;
		    $(window).on('resize', function(){
		        var w = $(window).width();
		        if(w > 997) {
		        	if(isclick == true) {
		        		$MENU_TOGGLE.trigger('click');
		        		isclick = false;
		        	}
		        }else{
		        	if(isclick == false) {
		        		$MENU_TOGGLE.trigger('click');
		        		isclick = true;
		        	}
		        }
		    });
		})
	</script>
	<th:block layout:fragment="script">
		
	</th:block>
</body>
</html>