<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<meta charset="UTF-8"/>
<title th:text="${pageTitle}">Page Title Here</title>
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet" />
	<link th:href="@{/webjars/jquery-ui/1.12.0/jquery-ui.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/datatables/1.10.12/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/responsive.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/buttons.dataTables.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/bootstrap-toggle.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/nprogress.css}" rel="stylesheet" />
	<link th:if="${login} == null" th:href="@{/resources/css/custom.css}" rel="stylesheet" />
	<link th:if="${login} != null" th:href="@{/resources/css/main.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/font-awesome.min.css}" rel="stylesheet" />
	<link rel="shortcut icon" type="image/png" th:href="@{/resources/images/prudential_web_icon_16x16.ico}"/>
	<style>	
		#login-style{
			background-image: -webkit-linear-gradient(90deg, #8C0000, #DE1818);
			box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 0px 2px rgba(0, 0, 0, 0.5);
		}
	</style>
</head>
<body>

	<div th:fragment="script">
		<script type="text/javascript" th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.0/jquery-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/jquery-validation/1.15.0/jquery.validate.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/datatables/1.10.12/js/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/datatables/1.10.12/js/dataTables.bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/dataTables.responsive.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/responsive.bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/dataTables.buttons.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/buttons.colVis.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/bootstrap-toggle.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/jquery.canvasAreaDraw.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/nprogress.min.js}"></script>
		<script type="text/javascript" th:src="@{/resources/js/custom.js}"></script>
	</div>
</body>
</html>