<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel">
                  	  <hr/>                              	      				     	        		
	                  	  <form th:object="${discountrate}" >
		                  	  	<div th:if="${errors} != null" class="alert alert-warning" role="alert">
									<ul>
										<li th:each="error : ${errors}"
											th:text="${error.code}"></li>
									</ul>
					 			</div>
	                  	  	<div class="row space5">                  	  	
	                  	  	<div class="col-sm-6 form-group fixed-form-control">
	                        	<label for="id" class="col-sm-3 control-label">ID:</label>    
	                        	<div class="col-sm-9">
	                        		<input type="text" readonly="true" th:field="*{id}" class="form-control" htmlEscape="true"/>
	                        	</div>  
	                        </div> 
	                        <div class="col-sm-6 form-group fixed-form-control">
	                        	<label for="coDiscountRate" class="col-sm-3 control-label">coDiscountRate:</label>    
	                        	<div class="col-sm-9 input-group">
	                        		<input type="text" readonly="true" th:field="*{coDiscountRate}" class="form-control" htmlEscape="true"/>
	                        		<span class="input-group-addon">
									      <i class="fa fa-text-width"></i>
				                   	</span>	   
	                        	</div>  
	                        </div>	
	                        </div>
	                        <div class="row space5">                 
	                        <div class="col-sm-6 form-group fixed-form-control">
	                        	<label for="fromSa" class="col-sm-3 control-label">From SA:<span class="required-mark">*</span></label>    
	                        	<div class="col-sm-9 input-group">
	                        		<input type="text" th:field="*{fromSa}" class="form-control" htmlEscape="true"/>
	                        		<span class="input-group-addon">
									      <i class="fa fa-text-width"></i>
				                   	</span>	   
	                        	</div>  
	                        </div>	
	                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="toSa" class="col-sm-3 control-label">To SA:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-9 input-group">
		                        		<input type="text" th:field="*{toSa}" class="form-control"/>	
		                        		<span class="input-group-addon">
										      <i class="fa fa-text-width"></i>
					                   	</span>	                           		
		                        	</div>  
	                        </div>
	                        </div>
	                        <div class="row space5">                 	                          
	                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="rate" class="col-sm-3 control-label">Rate:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-9 input-group">
		                        		<input type="text" th:field="*{rate}" class="form-control"/>
		                        		<span class="input-group-addon">
										      <i class="fa fa-text-width"></i>
					                   	</span>	   	                        		
		                        	</div>  
	                        </div>          
	                        <div class="col-sm-6 form-group fixed-form-control">
	                        	<label for="validFlag" class="col-sm-3 control-label">Status:</label>    
	                        	<div class="col-sm-9">
	                        		<select th:field="*{validFlag}" class="form-control select2combo">
	                        			<option th:value="${1}" th:text="${'Enable'}"></option>
	                        			<option th:value="${0}" th:text="${'Disable'}"></option>
                        			</select>	                        		
	                        	</div>  
	                        </div>                   
	                        </div>
	                        <div class="row space5">	                              
	                        </div>

	                        <div class="row space5">                 
	                        <div class="form-group fixed-form-control col-sm-1 btNotFixed" >
							  	<button  type="submit" class="btn btn-danger">Save</button>
							 </div>
							 </div>
							 <div class="btFixed">
							<div class="text-center">
								<button type="submit" class="btn btn-danger">
								    Save
								</button>
							</div>
							</div>
							
	                     </form>                      	  	                              
          			</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script type="text/javascript">

		</script>
	</th:block>
</body>
</html>