<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel" >                
                 	<div class="row">
                  	<div class="col-sm-6">
                  	</div> 
                  	<div class="col-sm-6">              	
                  		<button type="submit" class="pull-right btn btn-danger" onClick='window.location.href="@{/tablesetup/{itemTableId}/newitem(itemTableId=${itemTableId})}"'>New ItemItem</button>
                  	</div>
                 	</div>
                 	
                 	<hr>
                 	                                          
                     <table id="itemitem_grid" class="table table-striped table-advance table-hover"> <!-- style="border:1px solid #ccc;" -->                            
              	  	  <thead>
                           <tr>                          	  
							  <th>ID</th>
                          	  <th>Item Khmer</th>
                          	  <th>Item Latin</th>
                          	  <th>Reserve 1</th>
                          	  <th>Reserve 2</th>
                              <th>Status</th>
							  <th>Action</th>
                           </tr>
                      </thead>
                         <tbody>
                         	<tr th:each="itemitem : ${itemitems}">
                         		<td th:text="${itemitem.id}"></td>
                         		<td th:text="${itemitem.itemKhmer}"></td>
                         		<td th:text="${itemitem.itemLatin}"></td>
                         		<td>
                         			<th:block th:switch="${itemitem.reserve1}">
                         				<a th:case="'PremiumRate'" th:href="@{/tablesetup/item/{id}/premiumrate(id=${itemitem.id})}" th:text="${itemitem.reserve1}"></a>
                         				<a th:case="'DiscountRate'" th:href="@{/tablesetup/item/{id}/discountrate(id=${itemitem.id})}" th:text="${itemitem.reserve1}"></a>
                         				<a th:case="'MbRate'" th:href="@{/tablesetup/item/{id}/mbrate(id=${itemitem.id})}" th:text="${itemitem.reserve1}"></a>
                         				<a th:case="'ModalFactor'" th:href="@{/tablesetup/item/{id}/modalfactor(id=${itemitem.id})}" th:text="${itemitem.reserve1}"></a>
                         				<a th:case="'Surrender'" th:href="@{/tablesetup/item/{id}/surrender(id=${itemitem.id})}" th:text="${itemitem.reserve1}"></a>
                         				<a th:case="'UABFactor'" th:href="@{/tablesetup/item/{id}/uabfactor(id=${itemitem.id})}" th:text="${itemitem.reserve1}"></a>
                         			</th:block>
                         		</td>
                         		<td th:text="${itemitem.reserve2}"></td>
                         		<td th:text="${itemitem.validFlag} == 1?'Enable':'Disable'"></td>
                         		<td>
                         			<a th:href="@{/tablesetup/item/{id}/edit(id=${itemitem.id})}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                         		</td>
                         	</tr>
                        </tbody>
                     </table>                              
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function(){
				$('#itemitem_grid').dataTable({
					stateSave: true,
			        dom: 'TC<"clearfix">lfrtip',
			        columnDefs: [
			            { visible: false, targets: [] }
			        ],
			        tableTools: {
			            "aButtons": ["copy", "csv", "pdf"],
			            "sSwfPath": /*[[@{/resources/TableTools/swf/copy_csv_xls_pdf.swf}]]*/''
			        },
			        "fnDrawCallback": function (oSettings, json) {
			            //showLoading(false);
			        }
			       
			    });
			});
		</script>
	</th:block>
</body>
</html>