<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel" >                 	
                 	<div class="row">
                  	<div class="col-sm-6">
                  	</div> 
                  	<div class="col-sm-6">              	
                  		<button type="submit" class="pull-right btn btn-danger" th:onclick='window.location.href="@{/newitemtable}"'>New ItemTable</button>
                  	</div>
                 	</div>
                 	<hr>
                 	<table id="itemtable_grid" class="table table-striped table-advance table-hover">                            
              	  	  <thead>
                           <tr>                          	  
							  <th>ID</th>
                          	  <th>Item Name</th>
                          	  <th>Long Desc</th>
                          	  <th>Next Prog</th>                          	  
                          	  <th>Reserve 1</th>
                          	  <th>Reserve 2</th>
                              <th>Status</th>
							  <th>Action</th>
                           </tr>
                      </thead>
                         <tbody>
                         	<tr th:each="itemtable : ${itemtables}">
                         		<td th:text="${itemtable.id}"></td>
                         		<td>
                         			<a th:href="@{/tablesetup/{id}/item(id=${itemtable.id})}" th:text="${itemtable.item}"></a>
                         		</td>
                         		<td th:text="${itemtable.longDesc}"></td>
                         		<td>
                         			<th:block th:switch="${itemtable.nextProg}">
                         				<a th:case="'MedicalExam'" th:href="@{/tablesetup/item/medicalexcam}" th:text="${itemtable.nextProg}"></a>
                         				<a th:case="'Label'" th:href="@{/tablesetup/item/label}" th:text="${itemtable.nextProg}"></a>
                         			</th:block>
                         		</td>
                         		<td th:text="${itemtable.reserve1}"></td>
                         		<td th:text="${itemtable.reserve2}"></td>
                         		<td th:text="${itemtable.validFlag} == 1?${'Enable'}:${'Disable'}"></td>
                         		<td>
                         			<a th:href="@{/tablesetup/{id}/edit(id=${itemtable.id})}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                         		</td>
                         	</tr>
                        </tbody>
                     </table>
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function(){
				$('#itemtable_grid').dataTable({
					stateSave: true,
			        dom: 'TC<"clearfix">lfrtip',
			        columnDefs: [
			            { visible: false, targets: [4,5] }
			        ],
			        tableTools: {
			            "aButtons": ["copy", "csv", "pdf"],
			            "sSwfPath": /*[[@{/resources/TableTools/swf/copy_csv_xls_pdf.swf}]]*/''
			        },
			        "fnDrawCallback": function (oSettings, json) {
			            //showLoading(false);
			        }
			       
			    });
			});
		</script>
	</th:block>
</body>
</html>