<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel" >                
                 	<div class="row">
                  	<div class="col-sm-6">
                  	</div> 
                  	<div class="col-sm-6">              	
                  		<button type="submit" class="pull-right btn btn-danger" th:onclick='window.location.href="@{/tablesetup/item/newlabel}"'>New Label</button>
                  	</div>
                 	</div>
                 	
                 	<hr>
                     <table id="label_grid" class="table table-striped table-advance table-hover"> <!-- style="border:1px solid #ccc;" -->                            
              	  	  <thead>
                           <tr>                          	  
							  <th>ID</th>
                              <th>Code</th>
                              <th>English</th>
                              <th>Khmer</th>
                              <th>Status</th>
							  <th>Action</th>
                           </tr>
                      </thead>
                         <tbody>
                         	<tr th:each="label : ${labels}">
                         		<td th:text="${label.id}"></td>
                          		<td th:text="${label.code}"></td>
                          		<td th:text="${label.english}"></td>
                          		<td th:text="${label.khmer}"></td>
			     		  		<td th:text="${label.validFlag} == 1?'Enable':'Disable'"></td>
                         		<td>
                            		<a href="/tablesetup/item/label/{id}/edit(id=${label.id})" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                           		</td>	
                         	</tr>
                        </tbody>
                     </table> 
                                     
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function(){
				$('#label_grid').dataTable({
					stateSave: true,
			        dom: 'TC<"clearfix">lfrtip',
			        columnDefs: [
			            { visible: false, targets: [] }
			        ],
			        tableTools: {
			            "aButtons": ["copy", "csv", "pdf"],
			            "sSwfPath": /*[[@{/resources/TableTools/swf/copy_csv_xls_pdf.swf}]]*/''
			        },
			        "fnDrawCallback": function (oSettings, json) {
			            //showLoading(false);
			        }
			       
			    });
			});
		</script>
	</th:block>
</body>
</html>