<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel" >                
                 	<div class="row">
                  	<div class="col-sm-6">
                  	</div> 
                  	<div class="col-sm-6">              	
                  		<button type="submit" class="pull-right btn btn-danger" onClick='window.location.href="@{/tablesetup/item/{id}/newsurrender(id=${itemItemId})}"'>New Surrender</button>
                  	</div>
                 	</div>
                 	
                 	<hr>
                 	<h4>Item Name: <span th:text="${itemName}"></span></h4>                             
                     <table id="surrender_grid" class="table table-striped table-advance table-hover">                            
              	  	  <thead>
                           <tr>                          	  
							  <th>ID</th>
                              <th>Year in Force</th>
                              <th>Rate</th>
                              <th>Status</th>
							  <th>Action</th>
                           </tr>
                      </thead>
                         <tbody>
                         	<tr th:each="surrender : ${surrenders}">
                         		<td th:text="${surrender.id}"></td>
	                        	<td th:text="${surrender.yearInForce}"></td>
	                        	<td th:text="${surrender.rate}"></td>
				     			<td th:text="${surrender.validFlag} == 1?'Enable':'Disable'"></td>
	                          	<td>
	                            	<a th:href="@{/tablesetup/item/surrender/{id}/edit(id=${surrender.id})}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
	                           	</td>	
                         	</tr>
                        </tbody>
                     </table>
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function(){
				$('#surrender_grid').dataTable({
					stateSave: true,
			        dom: 'TC<"clearfix">lfrtip',
			        columnDefs: [
			            { visible: false, targets: [] }
			        ],
			        tableTools: {
			            "aButtons": ["copy", "csv", "pdf"],
			            "sSwfPath": /*[[@{/resources/TableTools/swf/copy_csv_xls_pdf.swf}]]*/''
			        },
			        "fnDrawCallback": function (oSettings, json) {
			            //showLoading(false);
			        }
			       
			    });
			});
		</script>
	</th:block>
</body>
</html>