<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/report.css}"  />
<script th:src="@{/resources/jquery/jquery-1.11.2.min.js}" type="text/javascript"></script>
<title>Pru Quote Online</title>  
    <style>        
    	body{
    	margin-top:0px;
    	padding-top:0px; 
    	}
    	@page {   		  		
		  size: A4;
		  margin: 0.2in 0.4in 0in 0.4in;  /* width height */
		}
		 @media screen {
	        div.divFooter {
	            //display: none;
	        }
	    }
    @media print {
    	.page-section { height:13in;position:relative;  }
        div.divFooter {
            position: absolute;
            bottom: 0;
            display:block;
        }
        div.divHeader {
            position: fixed;
            top: 0;
        }
        body{
			//margin-left:200px;			
		}
    }
       @font-face {
       font-family: "KhmerOS";
       src: url(KhmerOS.ttf);
        }      
        th { 
		        font-family: Khmer OS, Helvetica, sans-serif; 
		        font-size: 9px ;
		        text-align:center;				        
		        /*background-color:#DEEDFF;*/
        }
        td { 
		        font-family: Khmer OS, Helvetica, sans-serif; 
		        font-size: 9px ;
		        text-align:center;			        		        
        }
        .Border2
        {	        
	        border-left: 1px solid grey;
	        border-right:1px solid grey;
	        border-bottom:1px solid grey;
        }                 
        .Border3
        {	        
	        border-left:1px dotted #000033;
	        border-right:1px dotted #000033;
	        border-bottom:1px dotted #000033;
        } 
        
    p.MsoNormal
	{
	    margin-bottom:.0001pt;
	    punctuation-wrap:simple;
	    text-autospace:none;
	    font-size:10.0pt;
	    font-family:"Times New Roman","serif";
	    margin-left: 0in;
        margin-right: 0in;
        margin-top: 0in;
    }   
    </style>
     <script type="text/javascript">

     function printpage() {
         //Get the print button and put it into a variable
         var printButton = document.getElementById("btnPrint");
         //Set the print button visibility to 'hidden' 
         printButton.style.visibility = 'hidden';
         //Print the page content
         window.print()
         //Set the print button to 'visible' again 
         //[Delete this line if you want it to stay hidden after printing]
         printButton.style.visibility = 'visible';
     }
     function closepage() {
         //Close the page content
         window.close();
     }
    </script>
</head>
<body style="height:100%; width:812px;text-align:left;">
<form method="post" action="" id="Form1" >
<div class="page-section">
<table border="0" cellpadding="0" cellspacing="0" style="margin-top:0px;width:812px;background-color:white;border-collapse:collapse;">  
 <tr>
    <td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
            <th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                    <span style="font-size:17px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល<br />
                </span>
                <img th:src="@{/resources/images/edusave_log_small.jpg}" style="height:30px;vertical-align:middle;" />
                <span style="font-size: 17px; color: red; font-weight: bold;" 
                	th:if="${eduSaveExpiredDate != null && eduSaveExpiredDate >= 0}">
                	<th:block th:if="${eduSaveExpiredMsg != null}" th:text="${eduSaveExpiredMsg}">
                		Invalid
                	</th:block>
                </span>
            </th>
                
            <th style="width:50px;text-align:center;">
                <img alt="Click here to Print Pruquote" class="style1" th:src="@{/resources/images/Print.jpg}" id="btnPrint" onclick="printpage()" />
                <button class="button" id="btnUAB" th:value="@{/pruquote_uabnote_repkhmer/{quoteId}(quoteId=${quoteId})}">ME Note</button>
            </th>

            <th style="width:137px;text-align:center;">
            <img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" />
            </th>
        </tr>
        </table>
    </td>            
</tr> 
<tr><td style="height:20px;" ></td></tr>
   <tr style="padding-top:10px;">
<td th:utext="${header1}">
    <!-- <asp:Label ID="lblHeader1" runat="server" Text="lblHeader1"></asp:Label> -->
    
</td>
</tr>

<tr style="padding-top:10px;">
<td style="text-align:left;"><b><u>តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រង</u></b></td>
</tr>
<tr style="padding-top:10px;">
<td style="text-align:left;"><b><u>1.​ អត្ថប្រយោជន៍ធានាផ្តល់ជូននៅកាលបរិចេ្ឆទផុតកំណត់នៃបណ្ណសន្យារ៉ាប់រងរបស់</u><img th:src="@{/resources/images/edusave_log_small.jpg}" style="width: 42px; height: 10.5px" /></b></td>
</tr>    
    
<tr style="padding-top:10px;">
<td th:utext="${body1}">
    <!-- <asp:Label ID="lblBody1" runat="server" Text="lblBody1"></asp:Label> -->
    
</td>
</tr>

<tr style="padding-top:10px;">
<td style="text-align:left;"><u/><b/>2.​ អត្ថប្រយោជន៍ធានារ៉ាប់រងរបស់<img th:src="@{/resources/images/edusave_log_small.jpg}" style="width: 42px; height: 10.5px" /></td>
</tr>    
    
<tr style="padding-top:10px;">
<td th:utext="${body2}">
	
    <!-- <asp:Label ID="lblBody2" runat="server" Text="lblBody2"></asp:Label> -->
</td>
</tr>
<th:block th:if="${body3A} != ''">
	<tr style="padding-top:15px;">
	<td style="text-align:left;"><u><b>3. អត្ថប្រយោជន៍នៃលក្ខខណ្ឌបន្ថែម</b></u></td>
	</tr>
</th:block>

<tr style="padding-top:10px;">
<td th:utext="${body3A}">
    <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
    
</td>
</tr>  

</table>
<div class="divFooter">

        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">         
            	<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍  ម.ក ។ រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>

            <td style="text-align:right;font-size:7.5px;">
                V<span th:text="${version} + '-' + ${serialno1} + '1'"></span>
            </td>
            </tr>                    
        </table>
</div>
</div>
<div style="page-break-before: always;"></div>
<div class="page-section">
<table border="0" cellpadding="0" cellspacing="0" style="margin-top:0px;width:812px;background-color:white;border-collapse:collapse;">
<tr>
    <td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
            <th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                    <span style="font-size:17px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល<br />
                </span>
                <img th:src="@{/resources/images/edusave_logo.jpg}" style="height:30px;vertical-align:middle;" />            
            </th>
                            

            <th style="width:137px;text-align:center;">
            <img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" />
            </th>
        </tr>
        </table>
    </td>            
</tr> 
<th:block th:if="${body3B != ''}">
	<tr style="padding-top:15px;">
		<td style="text-align:left;"><u><b>៣. អត្ថប្រយោជន៍នៃលក្ខខណ្ឌបន្ថែម</b></u></td>
	</tr>
</th:block>

<tr style="padding-top:10px;">
<td th:utext="${body3B}">
    <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
    
</td>
</tr>    
<tr style="padding-top:10px;">
<td style="text-align:left;"><b><u>កំណត់សម្គាល់បន្ថែម</u></b></td>
</tr>
<tr style="padding-top:10px;">
<td>
    <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid red;" border="0">
        <tr>
        <td style="width:812px;text-align:left;">   

    	  1. បុព្វលាភរ៉ាប់រង​ដែលបានបរិយាយ​ក្នុង​តារាង​លេខ2គឺបុព្វលាភ​ប្រចាំឆ្នាំសម្រាប់គម្រោង​មូល​ដ្ឋាន-<img th:src="@{/resources/images/edusave_log_small.jpg}" style="width: 53px; height: 13px" />។ បុព្វលាភរ៉ាប់រងសម្រាប់គម្រោង​មូលដ្ឋាន​និងលក្ខខណ្ឌបន្ថែម/ផលិតផលបំពេញបន្ថែម នឹងត្រូវ​បាន​ធានាថា​មិន​ផ្លាស់​ប្តូរ​នៅ​ក្នុង​​អំឡុង​​​នៃ​​រយ:​​​​ពេលកំណត់​​​នៃ​បណ្ណស​ន្យារ៉ាប់​រង (ករណីពិសេសត្រូវបានលើកលែង)។ <br/>

         2. បុព្វលាភរ៉ាប់រងដែលបានបង្ហាញខាងលើ គឺអនុវត្តចំពោះអ្នកត្រូវបានធានារ៉ាប់រងអាយុជីវិតបទដ្ឋានទូទៅប៉ុណ្ណោះ ដែលមានន័យថាបណ្ណសន្យារ៉ាប់រងនោះ ត្រូវបានអនុម័តដោយក្រុមហ៊ុន   ព្រូដិនសលយោង​លើក​ម្រិតអត្រាធម្មតា។ លោកអ្នក អាចនឹងត្រូវបង់ប្រាក់បុព្វលាភរ៉ាប់រងបន្ថែម បន្ទាប់ពីផ្នែកចេញបណ្ណសន្យារ៉ាប់រងធ្វើកា​រវាយតម្លៃលើហានិភ័យនៃការធានា​រ៉ាប់រងរបស់លោកអ្នក ដោយ​យោង​តាម​គោលការណ៍​របស់​ក្រុមហ៊ុនព្រូដិនសល។	<br />	

         3. បុព្វលាភរ៉ាប់រងជាដំណាក់កាលដែលត្រូវបង់​របស់លោកអ្នកនឹងអាស្រ័យលើរបៀបនិងចំនួនដងនៃការទូទាត់បុព្វលាភរ៉ាប់រងដែលអ្នកជ្រើសរើស។ ដើម្បីជាការបង្ហាញបុព្វលាភរ៉ាប់រងរាល់ឆ្នាំក្នុងតារាងលេខ 2 និង ​5 (បើមាន) ត្រូវបានគណនាលើមូលដ្ឋាន នៃការទូ​ទាត់​ប្រចាំ​ឆ្នាំ​ដោយ​មិនគិតពីជម្រើសលើរបៀបនិងចំនួនដងនៃការបង់ក្នុងមួយឆ្នាំរបស់អ្នក ហើយដោយមិនបានគិតបញ្ចូលការបញ្ចុះតម្លៃ និងពន្ធឡើយ។	<br />

         4. ពន្ធអាករលើបុព្វលាភរ៉ាប់រង នឹងអាស្រ័យទៅលើ​អត្រានៃពន្ធអាករលើបុព្វលាភដែលត្រូវបានកំណត់ដោយច្បាប់/បទប្បញ្ញត្តិជាធរមាន។  ពន្ធអាករនេះត្រូវបានគណនាលើគម្រោងមូលដ្ឋាន​ និង​លក្ខខណ្ឌបន្ថែម/ផលិតផលបំពេញបន្ថែម ។	<br />

         5. អត្ថប្រយោជន៍នៅកាលបរិចេ្ឆទផុតកំណត់នៃបណ្ណស​ន្យា​​​រ៉ាប់រង នឹងត្រូវទូទាត់ជូន ក្នុងករណីតែបណ្ណស​ន្យារ៉ាប់រងនៅមានសុពលភាព រហូតដល់កាលបរិច្ឆេទផុតកំណត់នៃបណ្ណស​ន្យារ៉ាប់រង។ អត្ថប្រយោជន៍​នៅកាលបរិចេ្ឆទ​ផុត​កំណត់នៃបណ្ណស​ន្យា​​​រ៉ាប់រង​នឹង​ត្រូវទូទាត់ជូនជាកញ្ចប់សរុប ប៉ុនែ្តលោកអ្នកអាចជ្រើសរើសការទទួលយកអត្ថប្រយោជន៍នេះជាដំណាក់កាលដែលអាចធ្វើឡើងនៅពេលចាប់ផ្តើមកិច្ចសន្យា។​ អ្នកអាចផ្លាស់ប្តូរជម្រើសនេះបានក្នុងអំឡុងរយៈពេលកំណត់ នៃបណ្ណសន្យារ៉ាប់រង ប៉ុន្តែការផ្លាស់ប្តូរនេះមិនអាចធ្វើឡើងក្នុងកំឡុងពេល 5ឆ្នាំមុនពេលបណ្ណសន្យារ៉ាប់រងផុតកំណត់។ ការ​គណនា​​អត្ថប្រយោជន៍​នៅ​កាល​បរិចេ្ឆទផុត​កំណត់នៃបណ្ណសន្យារ៉ាប់រងនេះ ត្រូវបានគណនាដោយប្រើបុព្វលាភរ៉ាប់រងនៅក្នុងតារាងលេខ2 និង 5 (បើមាន)។<br/>									       									
									
         6. នៅពេលដែលការបង់អត្ថប្រយោជន៍នៃកាលបរិចេ្ឆទផុត​កំណត់នៃបណ្ណ​ស​ន្យា​រ៉ាប់រង​​ត្រូវ​បាន​ចាប់​ផ្តើម​ទូទាត់​ជាដំណាក់​កាល ការទូទាត់នឹងត្រូវបន្តតាម​កាលវិភាគ​និង​មិនអាច​ផ្លាស់​ប្តូរបាន។ នៅ​ក្នុង​ករណី​មរណភាព​ឬពិការភាព​ទាំងស្រុង និងជា​អចិន្រ្តៃយ៍កើតឡើង​ចំពោះ​បុគ្គលដែលជាកម្មវត្ថុនៃការធានា​ក្នុង​អំឡុងពេលនេះ​ទឹកប្រាក់ធានារ៉ាប់រង​នឹងមិនត្រូវបានផ្តល់ជូន​ឡើយ ប៉ុន្តែការបង់​អត្ថប្រយោជន៍​នៃ​កាល​បរិចេ្ឆទ​ផុត​កំណត់​នឹង​ត្រូវបានបន្តទៀតតាមកាលវិភាគ។<br/>

         7. ការបង្ហាញនេះសន្មតថា រាល់បុព្វលាភរ៉ាប់រងដែលត្រូវបង់ទាំងអស់ ត្រូវបានទូទាត់នៅមុន ឬនៅកាលបរិចេ្ឆទដល់កំណត់បង់បុព្វលាភរ៉ាប់រងទាំងនោះ។<br />  
					
         8. តម្លៃទឹកប្រាក់ដែលមានការធានានៅពេលបោះបង់បណ្ណសន្យារ៉ាប់រង (ឬហៅកាត់ថា GCV) នឹងត្រូវទូទាត់ជូន ក្នុងករណីដែលអ្នកសម្រេច​​ចិត្ត​បញ្ចប់​បណ្ណសន្យា​រ៉ាប់រងនេះ​មុន​ពេល​កំណត់​នៃ​បណ្ណស​ន្យារ៉ាប់រង។ អ្នក​​ត្រូវ​​ដាក់​​សំណើ​ទៅ​​ក្រុមហ៊ុន ព្រូដិនសល​ក្នុង​ករណី​​ដែល​អ្នក​ចង់​បញ្ចប់​បណ្ណស​ន្យារ៉ាប់រង។ ពេលដែល GCV ត្រូវ​បាន​​ទូទាត់​ជូន បណ្ណ​ស​ន្យា​រ៉ាប់រង​ និង​​អត្ថ​ប្រយោជន៍​​ទាំង​ឡាយ​នឹងត្រូវបាន​បញ្ចប់។​ ចំនួន​ទឹក​ប្រាក់​​ដែល​បាន​​បង្ហាញ​ក្រោមជួរឈរ GCV ​ក្នុងតារាងលេខ 2 និង 5​ (បើមាន)​ ខាង​លើត្រូវ បាន​គណនា​លើមូល​ដ្ឋានដែល​ថា​ការទូទាត់​នឹង​ត្រូវ​បាន​ធ្វើ​ឡើង​នៅកាលបរិចេ្ឆទខួប​បណ្ណសន្យារ៉ាប់រង​នេះ ដោយមិន​រាប់​បញ្ចូល​បុព្វលាភ​រ៉ាប់រងដែលមិនទាន់បង់នោះទេ។ GCV នឹងខុស​ពី​​តម្លៃខាង​លើប្រសិន​​បើការ​ទូទាត់​​ទឹក​ប្រាក់​នេះ​ត្រូវ​បាន​​ធ្វើឡើងនៅថ្ងៃណាមួយផ្សេង​ពី កាលបរិច្ឆេទ​ខួប​​បណ្ណ​​សន្យា​រ៉ាប់រង​នៅឆ្នាំបន្ទាប់​។ ទោះ​បី​ជា​អ្នក​អាច​បោះ​បង់​បណ្ណសន្យារ៉ាប់រង​​នៅ​ពេលណាមួយ​ក៏បានក៏ដោយ តែការទូទាត់ GCV មាន​ចាប់ពីខួបឆ្នាំទីបីទៅតែ​ប៉ុណ្ណោះ ។	<br />

         9. ចំពោះអត្ថប្រយោជន៍ធានារ៉ាប់រងមាតាបិតា (បើមាន) ចំនួនទឹកប្រាក់ធានារ៉ាប់រងសរុបនៃលក្ខខណ្ឌបន្ថែម នឹងត្រូវបានទូទាត់ជូនលោកអ្នក ក្នុងករណីដែលបុគ្គលដែលជាកម្មវត្ថុនៃការធានានៃលក្ខខណ្ឌបន្ថែម​​ ទទួល​មរណភាព ឬពិការភាពទាំងស្រុង និងជាអចិន្រ្តៃយ៍។ រីឯអត្ថប្រយោជន៍នៃចំណូល​គ្រួសារវិញ (បើមាន) ចំនួនទឹកប្រាក់ធានារ៉ាប់រងនៃ​លក្ខខណ្ឌ​បន្ថែមនេះ នឹង​ត្រូវ​​បាន​​ទូទាត់​​ជូន​​រហូត​​ដល់​កាលបរិច្ឆេទផុតកំណត់នៃ​បណ្ណសន្យារ៉ាប់រង ដែលការទូទាត់នេះ នឹងធ្វើឡើងជាប្រចាំឆ្នាំ ក្នុងករណីដែលបុគ្គលដែលជាកម្មវត្ថុនៃការធានានៃលក្ខខណ្ឌបន្ថែម​​ ទទួលមរណភាព ឬពិការភាពទាំងស្រុង និងជាអចិន្រ្តៃយ៍។ សម្រាប់​អត្ថប្រយោជន៍​នៃ ផលិតផលបំពេញបន្ថែម Long-Term Savings Builder (បើមាន) វិញ ដូច​មាន​បញ្ជាក់​ក្នុងតារាង​លេខ 5 ចំនួនទឹកប្រាក់ធានារ៉ាប់រងនឹងត្រូវបានទូទាត់ជូនអាស្រ័យ​ទៅតាមឆ្នាំដែលបុគ្គលដែលជាកម្មវត្ថុនៃការធានានៃផលិតផលបំពេញបន្ថែមនេះ ទទួលមរណភាព ឬពិការភាពទាំងស្រុង និងជាអចិន្រ្តៃយ៍។<br />

		 10. សម្រាប់ផលិតផលបំពេញបន្ថែម Long-Term Savings Builder  (បើមាន)​ GCV នៃ​ផលិតផលបំពេញបន្ថែម​នេះដូច​មាន​បង្ហាញ​ជូនក្នុង​តារាង​លេខ 5 នឹង​ត្រូវ​បាន​ទូទាត់​ជូន​ក្នុង​​ករណី​ផលិតផលបំពេញបន្ថែមនេះ​​ត្រូវ​បាន​​បញ្ចប់។ ចំនួនទឹកប្រាក់​ដែលបាន​​បង្ហាញក្រោមជួរឈរ GCV ​ក្នុង​តារាងលេខ 5 ខាង​លើត្រូវ បាន​​គណនា​ លើមូល​ដ្ឋាន​ដែល​ថា​ការ​ទូទាត់​នឹង​ត្រូវ​​បាន​ធ្វើ​ឡើង​នៅកាលបរិចេ្ឆទ​ខួប​​បណ្ណសន្យា​រ៉ាប់រងនេះ ដោយមិន​រាប់បញ្ចូលបុព្វលាភ​រ៉ាប់​រង​ដែល​មិនទាន់​បង់​នោះទេ។ GCV នឹង​​ខុស​ពី​តម្លៃខាង​លើប្រសិន​បើការ​ទូទាត់​សាច់​ប្រាក់​​នេះ​ត្រូវ​បាន​​ធ្វើឡើង នៅ​ថ្ងៃណាមួយផ្សេង​​ពីកាលបរិច្ឆេទខួប​​បណ្ណ​សន្យា​រ៉ាប់រង​។ ទោះ​បីជាអ្នក​អាច​បោះបង់​ផលិតផលបំពេញបន្ថែម Long-Term Savings Builder ​​នៅពេលណា​ក៏​បានក៏ដោយ តែការទូទាត់ GCV មាន​ចាប់ពីខួបឆ្នាំទីបីទៅតែ​ប៉ុណ្ណោះ ។<br />

       	 11. ប្រសិនបើអ្នកធ្វើការសម្រេចចិត្តថាមិនបន្តជាមួយនឹងបណ្ណសន្យារ៉ាប់រងនេះទៀតទេនោះ អ្នកអាចធ្វើការលុបចោលបណ្ណសន្យារ៉ាប់រងនេះវិញក្នុងរយៈពេល ម្ភៃមួយ (21) ថ្ងៃ​ គិត​ចាប់​ពី​កាលបរិច្ឆេទ​នៃ​ការ​ចេញ​វិញ្ញាបនបត្រ​ធានារ៉ាប់រងអាយុជីវិត។ រយៈពេលនេះ ហៅថារយៈពេលសាកល្បង ឬជារយៈពេលពិចារណា។ ក្នុងករណីនេះក្រុមហ៊ុននឹងធ្វើការបង្វិលប្រាក់ជូនអ្នកត្រូវបានធានារ៉ាប់រងវិញ ដូចខាងក្រោម៖​​ (1) បុព្វលាភរ៉ាប់រងទាំងអស់ ដែលក្រុមហ៊ុនបានទទួល ដកមកវិញនូវ​ (2) ថ្លៃពិនិត្យសុខភាព (បើមាន) ដកមកវិញនូវ (3) បំណុលដែលមិនទាន់បានទូទាត់ផ្សេងទៀត (បើមាន) ។<br />																							
	
	     12. សូមអានតារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនេះ រួមជាមួយនឹងឯកសារស្តីពី ខ និងលក្ខខណ្ឌនៃបណ្ណសន្យារ៉ាប់រង។												

        </td>           
    </tr>         
    </table>
</td>
</tr>
<tr style="padding-top:10px;">
<td>
    <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">
        <tr>
        <td style="width:350px;text-align:left;vertical-align:top;">
            ខ្ញុំបាទ-នាងខ្ញុំបានពន្យល់អតិថិជនទាំងស្រុងអំពីអត្ថប្រយោជន៍ រួមជាមួយ ខ​ និងលក្ខខណ្ឌនៃគម្រោងមូលដ្ឋាន និងលក្ខខណ្ឌបន្ថែមនានា។
        </td>         
        <td style="width:60px;text-align:left;">&nbsp;</td>         
        <td style="width:350px;text-align:left;vertical-align:top;">
               ខ្ញុំបាទ-នាងខ្ញុំបានអាន និងទទួលការប្រឹក្សាយោបល់យ៉ាងច្បាស់លាស់ពីទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត អំពីតារាងលម្អិតបង្ហាញពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនេះ ព្រមទាំង ខ និងលក្ខខណ្ឌទាំងឡាយនៃផលិតផលទាំងនេះ។
        </td>        
    </tr>         
    </table>
</td>
</tr>

<tr>
<td>
    <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid ;" border="0">
        <tr>
        <td style="width:350px;text-align:left;">
            <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1px solid black;" border="1">
            <tr>
                <td style="text-align:left;">
                <br /><br /><br />
                ហត្ថលេខារបស់ទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត:
                </td>
                </tr>
            </table>
        </td>         
        <td style="width:60px;text-align:left;">&nbsp;</td>         
        <td style="width:350px;text-align:left;">
            <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1px solid black;" border="1">
            <tr>
                <td style="text-align:left;">
                <br /><br /><br />
                 ហត្ថលេខារបស់អ្នកត្រូវបានធានារ៉ាប់រង:
                </td>
                </tr>
            </table>
        </td>        
        </tr>  
        <tr style="padding-top:10px;"><td>&nbsp;</td></tr>
        <!-- <tr th:switch="${#authorization.expression('hasRole(''BLANK_AGNT_INFO'')')}">
	   		<th:block th:case="${true}">
	   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ___________________________________________</td>
	            <td style="width:60px;text-align:left;"colspan=1></td>
	            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
	   		</th:block>
	   		<th:block th:case="${false}">
	   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ____<u th:text="${name}"></u>_____________</td>
	            <td style="width:60px;text-align:left;"colspan=1></td>
	            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
	   		</th:block>
	   </tr> -->
	   <tr>
	   	<th:block th:switch="${isonbehalf}">
	   		<th:block th:case="${'15'}">
	   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ___________________________________________</td>
	            <td style="width:60px;text-align:left;"colspan=1></td>
	            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
	   		</th:block>
	   		<th:block th:case="${'16'}">
	   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ____<u th:text="${name}"></u>_____________</td>
	            <td style="width:60px;text-align:left;"colspan=1></td>
	            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
	   		</th:block>
	   		<th:block th:case="${*}">
	   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ____<u th:text="${name}"></u>_____________</td>
	            <td style="width:60px;text-align:left;"colspan=1></td>
	            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
	   		</th:block>
	   	</th:block>
	   </tr>
        <tr>
            <!-- <td style="text-align:left;" colspan=3><b>ទីប្រឹក្សាហិរញ្ញវត្ថុ/ប្រឹក្សា​សន្យារ៉ាប់រងអាយុជីវិត: <th:block sec:authorize="!hasRole('BLANK_AGNT_INFO')"><span th:text="${code}"></span></th:block></td> -->
            <td style="text-align:left;" colspan=3>
            	<b>ទីប្រឹក្សាហិរញ្ញវត្ថុ/ប្រឹក្សា​សន្យារ៉ាប់រងអាយុជីវិត: 
            		<th:block th:if="${isonbehalf == null || isonbehalf == '16'}">
            			<span th:text="${code}"></span>
            		</th:block>
            	</b>
            </td>
        </tr>
        <tr>
        	<td style="text-align:left;" colspan=3><b/>កាលបរិច្ឆេទ: <span th:text="${#dates.format(#dates.createNow(),'dd MMM yyyy hh:mm:ss aa')}"></span></td>
        </tr>              
    </table>       
</td>
</tr> 
 
</table>

<div class="divFooter">

        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">         
            	<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍  ម.ក ។ រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>
            
            <td style="text-align:right;font-size:7.5px;">
                V<span th:text="${version} + '-' + ${serialno1} + '2'"></span> 
            </td>
            </tr>                    
        </table>
</div>
</div>
</form>
</body>
<script type="text/javascript" th:src="@{/resources/js/report.js}"></script>
</html>