<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/report.css}"  />
<script th:src="@{/resources/jquery/jquery-1.11.2.min.js}" type="text/javascript"></script>
<title>Pru Quote Online</title>
   	<style type="text/css">
   	   
   	    /*.serial{
	   		counter-increment: page;
	   	}
	   	.serial:after {    	
	   		content: counter(page);
		}*/	

   	@page {  
   		size: A4; 		  				  
		margin: 0.2in 0.4in 0.2in 0.4in;  		 
	}
		
    @media screen {
        div.divFooter {
/*             display: none; */
        }
    }
    @media print {
    	.page-section { height:11.69in;position:relative;  }
        div.divFooter {
            position: absolute;
            bottom: 0;
/*             display:block; */
        }
       
        div.divHeader {
            position: absolute;
            top: 0;
        }
        body{
        
    		margin-top:0px;
    		padding-top:0px;     	
/* 			margin-left:200px;			 */
		}
		
    }
</style>
    <style>
        
        @font-face {
       font-family: "KhmerOS";
       src: url(KhmerOS.ttf);
        }      
        th { 
		        font-family: Khmer OS, Helvetica, sans-serif; 
		        font-size: 9px ;
		        text-align:center;				        
		        /*background-color:#DEEDFF;*/
        }
        td { 
		        font-family: Khmer OS, Helvetica, sans-serif; 
		        font-size: 9px ;
		        text-align:center;			        		        
        }
        .Border2
        {	        
	        border-left:1px solid #000033;
	        border-right:1px solid #000033;
	        border-bottom:1px solid #000033;
        }                 
        
    </style>

    <script type="text/javascript">

        function printpage() {
            //Get the print button and put it into a variable
            var printButton = document.getElementById("btnPrint");
            var printClose = document.getElementById("btnClose");
            //Set the print button visibility to 'hidden' 
            printButton.style.visibility = 'hidden';
            
            //Print the page content
            window.print()
            //Set the print button to 'visible' again 
            //[Delete this line if you want it to stay hidden after printing]
            printButton.style.visibility = 'visible';

        }
        function closepage() {
            //Close the page content
            window.close();
        }
    </script>

    
</head>

<body style="height:100%; width:812px;text-align:left;">

<form method="post" action="" id="Form1">
<div class="page-section">
    <!-- content here -->
    <table border="0" cellpadding="0" cellspacing="0" style="width:812px;background-color:white;border-collapse:collapse;">

<tr>
    	<td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
            <th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                    <span style="font-size:17px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល  <br />
                </span>
                <img th:src="@{/resources/images/mortgage.png}" style="height:30px;vertical-align:middle;" />
            </th>
            <th:block th:if="${quoteOcc != null && quoteOcc.size() > 0}" > 
				<th style="width: 200px; text-align: center;" >
					<th:block th:each="qo : ${quoteOcc}" >
						<button id="btnoccla1" th:if="${qo.remark == 'occla1' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
							LA1
						</button>
					</th:block>
				</th>
			</th:block>
            <th style="width:120px;text-align:center;">
                <img alt="Click here to Print Pruquote" class="style1" th:src="@{/resources/images/Print.jpg}" id="btnPrint" onclick="printpage()" />
                <button class="button" id="btnUAB" th:value="@{/pruquote_uabnote_repkhmer/{quoteId}(quoteId=${quoteId})}">ME Note</button>
            </th>
            <th style="width:137px;text-align:center;">
            <img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" />
            </th>
        </tr>
        </table>
    </td>            
</tr> 
<tr><td style="height:20px;" ></td></tr>
   <tr style="padding-top:10px;">
<td th:utext="${header1}">
    <!-- <asp:Label ID="lblHeader1" runat="server" Text="lblHeader1"></asp:Label> -->
    
</td>
</tr>
<tr><td style="height:10px;" ></td></tr>
<tr><td style="text-align:left;"><u><b>1.តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រង</b></u></td></tr>
<tr><td style="height:10px;" ></td></tr>
<tr>
<td th:utext="${body2}">
    <!-- <asp:Label ID="lblBody2" runat="server" Text="lblBody2"></asp:Label> -->
    
</td>
</tr>

</table>

<div class="divFooter">

        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">         
            	<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍  ម.ក ។ រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>
           <td style="text-align:right;font-size:7.5px;">
				V<span class="serial" th:text="${version} + '-' + ${serialno} + '1'"></span>                
            </td>
            </tr>                    
        </table>
		</div>
</div>
<div style="page-break-before: always;"></div>	
<div class="page-section">
		<table border="0" cellpadding="0" cellspacing="0" style="width:812px;background-color:white;border-collapse:collapse;">

<tr>
    	<td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
            <th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                    <span style="font-size:17px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល <br />
                </span>
				<img th:src="@{/resources/images/mortgage.png}" style="height:30px;vertical-align:middle;" />
            </th>
            <th style="width:120px;text-align:center;">
                <img alt="Click here to Print Pruquote" class="style1" th:src="@{/resources/images/Print.jpg}" id="btnPrint" onclick="printpage()" />
            </th>
            <th style="width:137px;text-align:center;">
            	<img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" />
            </th>
        </tr>
        </table>
    </td>            
</tr> 
<th:block th:if="${body3} != ''">
	<tr>
	    <td style="text-align:left;"><u><b>2. អត្ថប្រយោជន៍នៃលក្ខខណ្ឌបន្ថែម</b></u></td>
	</tr>  
	<tr><td style="height:3px;" ></td></tr>
</th:block>

<tr style="padding-top:5px;">
<td th:utext="${body3}">
    <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
   
</td>
</tr>  
<th:block th:if="${body4} != ''">
	<tr><td style="height:5px;" ></td></tr>
	<tr style="padding-top:15px;">
	<td style="text-align:left;"><u><b>3.​ អត្ថប្រយោជន៍ធានាផ្តល់ជូនកាលបរិច្ឆេទផុតកំណត់នៃបណ្ណសន្យារ៉ាប់រងរបស់</b>Long-Term Savings Builder</u></td>
	</tr>    
	<tr><td style="height:3px;" ></td></tr>
</th:block>

<tr style="padding-top:10px;">
<td th:utext="${body4}">
    <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
    
</td>
</tr>
<th:block th:if="${body5} != ''">
	<tr><td style="height:5px;" ></td></tr>
	<tr style="padding-top:15px;">
	<td style="text-align:left;"><u><b>4.​ តារាងបង្ហាញពីអត្ថប្រយោជន៍ធានារ៉ាប់រងរបស់</b>Long-Term Savings Builder</u></td>
	</tr>    
	<tr><td style="height:3px;" ></td></tr>
</th:block>

<tr style="padding-top:10px;">
<td th:utext="${body5}">
    <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
    
</td>
</tr>    
<tr><td style="text-align:left;height:5px;"></td></tr>
<tr><td style="text-align:left;"><b><u>កំណត់សម្គាល់បន្ថែម</u></b></td></tr>
<tr>
<td>
    <table style="width:100%;background-color:white;border-collapse:collapse; border:0px solid red;" border="0">
        <tr>
        	<td style="width:812px;text-align:left;">           
        	1. បុព្វលាភរ៉ាប់រងដែលបានបង្ហាញខាងលើ គឺអនុវត្តចំពោះអ្នកត្រូវបានធានារ៉ាប់រងអាយុជីវិត​ទូទៅប៉ុណ្ណោះ ដែលមានន័យថាបណ្ណសន្យារ៉ាប់រងនោះ ត្រូវបានអនុម័តដោយក្រុមហ៊ុន ព្រូដិនសលយោងលើកម្រិតអត្រាធម្មតា។ លោកអ្នកអាច​​នឹងត្រូវ​​បង់ប្រាក់​​បុព្វ​​លាភរ៉ាប់រងបន្ថែម បន្ទាប់ពីផ្នែកចេញបណ្ណស​ន្យារ៉ាប់រងធ្វើការវាយតម្លៃលើហានិភ័យនៃការធានារ៉ាប់រងរបស់លោកអ្នក ដោយយោងតាមគោលការណ៍របស់ក្រុមហ៊ុន ព្រូដិនសល។	
        	</td>
        </tr>
        <!-- <tr style="page-break-before: always;"></tr> -->
        <tr>
        	<td style="width:812px;text-align:left;">								
        	2. បុព្វលាភរ៉ាប់រងសរុបដែលត្រូវបង់​របស់លោកអ្នកនឹងអាស្រ័យលើរបៀបនៃការទូទាត់បុព្វលាភរ៉ាប់រងដែលអ្នកជ្រើសរើស។ ដើម្បីជាការបង្ហាញ បុព្វលាភរ៉ាប់រងតែមួយលើកក្នុងតារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងខាងលើ មិនបានគិតបញ្ចូលការបញ្ចុះតម្លៃ និងពន្ធឡើយ។											
        	</td>
        </tr>
  
        <tr>										
        	<td style="width:812px;text-align:left;">
        	3. ពន្ធអាករ​ពាក់ព័ន្ធ​នឹង​ការ​ធានារ៉ាប់រង​​ (បើមាន) នឹង​ត្រូវបាន​គិត​បញ្ចូល​​ ដោយ​អាស្រ័យ​ទៅ​តាម​អត្រា​នៃ​ពន្ធ​អាករ​ដែល​ត្រូវបាន​កំណត់​ដោយ​ច្បាប់​/​បទ​ប្បញ្ញត្តិ​ជា​ធរមាន។
        	</td>
        </tr>
        <tr>										
        	<td style="width:812px;text-align:left;">        								
        	4. តម្លៃទឹកប្រាក់ដែលមានការធានានៅពេលបោះបង់បណ្ណសន្យារ៉ាប់រង (ឬហៅកាត់ថា GCV) នឹងត្រូវទូទាត់ជូន ក្នុងករណីដែលអ្នកសម្រេច​​ចិត្ត​បញ្ចប់​បណ្ណសន្យា​រ៉ាប់រងនេះមុនពេលកំណត់នៃបណ្ណស​ន្យារ៉ាប់រង។ អ្នក​ត្រូវ​ដាក់​សំណើទៅ​ក្រុមហ៊ុន ព្រូដិនសល ក្នុង​ករណី​ដែល​អ្នក​ចង់​បញ្ចប់​បណ្ណស​ន្យារ៉ាប់រង។ ពេលដែល GCV ត្រូវ​បាន​ទូទាត់ជូន បណ្ណ​ស​ន្យា​រ៉ាប់រង និង​អត្ថ​ប្រយោជន៍​ទាំង​ឡាយនឹងត្រូវបាន​បញ្ចប់។​ ចំនួនទឹកប្រាក់​ដែលបាន​បង្ហាញក្នុងជួរឈរ GCV ​ក្នុងតារាងខាង​លើ ត្រូវបាន​គណនា​លើមូល​ដ្ឋានដែល​ថា​ការទូទាត់​នឹង​ត្រូវ​បាន​ធ្វើ​ឡើង​នៅកាលបរិចេ្ឆទខួប​បណ្ណសន្យារ៉ាប់រងនេះ។ GCV នឹងខុស​ពី​តម្លៃខាង​លើ ប្រសិន​បើការទូទាត់​ទឹក​ប្រាក់​នេះ​ត្រូវ​បាន​​ធ្វើឡើងនៅថ្ងៃណាមួយផ្សេង​ពីកាលបរិច្ឆេទខួប​បណ្ណ​សន្យា​រ៉ាប់រងនៅឆ្នាំបន្ទាប់​។ ទោះ​បីជាអ្នកអាចបោះបង់បណ្ណសន្យារ៉ាប់រងនៅពេលណាមួយ​ក៏បានក៏ដោយ តែការទូទាត់ GCV មាន​ចាប់ពីខួបឆ្នាំទីមួយទៅតែ​ប៉ុណ្ណោះ ។													
        	</td>
        </tr>
        
        <tr>										
        	<td style="width:812px;text-align:left;">
        	5. ប្រសិនបើអ្នកធ្វើការសម្រេចចិត្តថាមិនបន្តជាមួយនឹងបណ្ណសន្យារ៉ាប់រងនេះទៀតទេនោះ អ្នកអាចធ្វើការលុបចោលបណ្ណសន្យារ៉ាប់រងនេះវិញ ក្នុងរយៈពេលម្ភៃមួយ (21) ថ្ងៃ គិតចាប់ពីកាលបរិច្ឆេទនៃការចេញវិញ្ញាបនបត្រធានារ៉ាប់រងអាយុជីវិត។ រយៈពេលនេះហៅថារយៈពេលសាកល្បង ឬជារយៈពេលពិចារណា។ ក្នុងករណីនេះ ក្រុមហ៊ុននឹងធ្វើការបង្វិលប្រាក់ជូនអ្នកត្រូវបានធានារ៉ាប់រងវិញ ដូចខាងក្រោម៖​​ (1) បុព្វលាភរ៉ាប់រងទាំងអស់ ដែលក្រុមហ៊ុនបានទទួល ដកមកវិញនូវ​ (2) ថ្លៃពិនិត្យសុខភាព (ប្រសិន​បើមាន) ដកមកវិញនូវ (3) បំណុលដែលមិនទាន់បានទូទាត់ផ្សេងទៀត (ប្រសិន​បើមាន)។													
        	</td>
        </tr>
        <tr>										
        	<td style="width:812px;text-align:left;">        								
        	6. ចំនួនទឹកប្រាក់​ដែលបាន​បង្ហាញក្នុងជួរឈរ អត្ថប្រយោជន៍ក្នុងករណីទទួលមរណភាព ឬពិការភាពទាំងស្រុង និងជាអចិន្រ្តៃយ៍ ​ក្នុងតារាងខាង​លើ ត្រូវបាន​គណនា​លើមូល​ដ្ឋានដែល​ថា​មរណភាព ឬពិការភាពទាំងស្រុង និងជាអចិន្រ្តៃយ៍កើតឡើង​នៅក្នុង​ខែ​បណ្ណ​សន្យារ៉ាប់រង​ទីមួយ​នៃ​ឆ្នាំ​បណ្ណ​សន្យារ៉ាប់រង​នីមួយ​ៗ។ ចំនួន​ទឹកប្រាក់​នេះ​នឹងខុស​ពី​តម្លៃខាង​លើ ប្រសិន​បើមរណភាព ឬពិការភាពទាំងស្រុង និងជាអចិន្រ្តៃយ៍​កើតឡើងនៅ​ក្នុងខែ​បណ្ណសន្យារ៉ាប់រងណាមួយ​ផ្សេង​ ហើយនឹង​មាន​បង្ហាញ​​ក្នុង​វិញ្ញាបនបត្រ​ធានារ៉ាប់រង​អាយុជីវិត។													
        	</td>
        </tr>
        <tr>										
        	<td style="width:812px;text-align:left;">        								
        	7. ក្រុមហ៊ុនរក្សាសិទ្ធិក្នុងការបដិសេធលើការទាមទារសំណងលើការ​ទទួលមរណភាព ឬពិការភាពទាំងស្រុងនិងជាអចិន្ត្រៃយ៍ ប្រសិនបើមរណភាព ឬពិការភាពទាំងស្រុង និងជាអចិន្ត្រៃយ៍របស់បុគ្គលដែលជាកម្មវត្ថុនៃការធានាបណ្តាលមកពីមូលហេតុណាមួយដោយផ្ទាល់ ឬដោយប្រយោល ដូចខាងក្រោម៖<br/>
    &nbsp;&nbsp;&nbsp;(1) ការធ្វើអត្តឃាត ឬប៉ុនប៉ងធ្វើអត្តឃាត ឬធ្វើឲ្យរបួសខ្លួនឯងក្នុងរយៈពេលពីរឆ្នាំ គិតចាប់ពីកាលបរិច្ឆេទមានសុពលភាពនៃបណ្ណសន្យារ៉ាប់រង ឬ<br/>
    &nbsp;&nbsp;&nbsp;(2) មេរោគអេដស៍ និង/ឬជម្ងឺណាមួយដែលជាប់ទាក់ទងនឹងមេរោគអេដស៍ រួមទាំងជម្ងឺអេដស៍ និង/ឬការផ្លាស់ប្តូរ ការវិវត្តន៍ ឬការប្រែប្រួលនៃមេរោគអេដស៍ និង/ឬជម្ងឺដែលជាប់ទាក់ទងនឹង ​​​​ មេរោគអេដស៍ រួមទាំងជម្ងឺអេដស៍ ឬ<br/>
    &nbsp;&nbsp;&nbsp;(3) ការប្រព្រឹត្ត ឬការប៉ុនប៉ងប្រព្រឹត្តនូវបទល្មើសព្រហ្មទណ្ឌដោយអ្នកត្រូវបានធានារ៉ាប់រង បុគ្គលដែលជាកម្មវត្ថុនៃការធានា ឬអ្នកទទួលផលមួយ ឬច្រើន ឬ<br/>
    &nbsp;&nbsp;&nbsp;(4) ការប្រើគ្រឿងញៀន ឬថ្នាំសប្បាយ ការសេពគ្រឿងស្រវឹងហួសកម្រិត ឬបើកបរយានជំនិះក្រោមឥទ្ធិពលនៃគ្រឿងស្រវឹង ដូចមានចែងនៅក្នុងច្បាប់ និងបទប្បញ្ញត្តិជាធរមាន។<br/>
				
				ក្នុងករណីដូចបានរៀបរាប់ខាងលើ ក្រុមហ៊ុននឹងបង់ជូនវិញនូវ៖ (1) បុព្វលាភរ៉ាប់រងទាំងអស់ដែលក្រុមហ៊ុនបានទទួល ដកមកវិញនូវ​ (2) ថ្លៃពិនិត្យសុខភាពណាមួយដែលបានកើតឡើង (ប្រសិន​បើមាន) និងដកមកវិញនូវ (3) បំណុលដែលមិនទាន់បានទូទាត់ផ្សេងទៀត (ប្រសិន​បើមាន)។
													
        	</td>
        </tr>
         <tr>										
        	<td style="width:812px;text-align:left;">        								
        	8. សូមអានតារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនេះ រួមជាមួយនឹងឯកសារស្តីពី ខ និងលក្ខខណ្ឌនៃបណ្ណសន្យារ៉ាប់រង។														
        	</td>
        </tr>
        </table>	        
</td>
</tr>
<tr><td style="text-align:left;">&nbsp;</td></tr>
<tr>
	<td>
	    <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">
	        <tr>
	        <td style="width:350px;text-align:left;vertical-align:top;">
	            ខ្ញុំបាទ-នាងខ្ញុំបានពន្យល់អតិថិជនទាំងស្រុងអំពីអត្ថប្រយោជន៍ រួមជាមួយ ខ​ និងលក្ខខណ្ឌនៃផលិតផលនេះ។
	        </td>         
	        <td style="width:60px;text-align:left;">&nbsp;</td>         
	       <td style="width:350px;text-align:left;vertical-align:top;">
	           ខ្ញុំបាទ-នាងខ្ញុំបានអាន និងទទួលការប្រឹក្សាយោបល់យ៉ាងច្បាស់លាស់ពីទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត អំពីតារាងលម្អិតបង្ហាញពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនេះ ព្រមទាំង ខនិងលក្ខខណ្ឌទាំងឡាយនៃផលិតផលនេះ។ 
	        </td>        
	    </tr>         
	    </table>
	</td>
</tr>
<tr>
	<td>
	    <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid ;" border="0">
	        <tr>
	        <td style="width:350px;text-align:left;">
	            <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1 solid black;" border="1">
	            <tr>
	                <td style="text-align:left;">
	                <br /><br /><br />
	            ហត្ថលេខារបស់ទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត:
	                </td>
	                </tr>
	            </table>
	        </td>         
	        <td style="width:60px;text-align:left;">&nbsp;</td>         
	        <td style="width:350px;text-align:left;">
	            <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1 solid black;" border="1">
	            <tr>
	                <td style="text-align:left;">
	                <br /><br /><br />
	               ហត្ថលេខារបស់អ្នកត្រូវបានធានារ៉ាប់រង:
	                </td>
	                </tr>
	            </table>
	
	        </td>        
	        </tr>  
	        <tr>
	        <td style="text-align:left;" colspan=3>&nbsp;</td>
	        </tr>
     		<tr>
<!-- 		   		<th:block th:case="${true}"> -->
<!-- 		   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ:</b> ___________________________________________</td> -->
<!-- 		            <td style="width:60px;text-align:left;"colspan=1></td> -->
<!-- 		            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង:</b> ___________________________________________</td> -->
<!-- 		   		</th:block> -->
<!-- 		   		<th:block th:case="${false}"> -->
<!-- 		   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ:</b> ____<u th:text="${name}"></u>_____________</td> -->
<!-- 		            <td style="width:60px;text-align:left;"colspan=1></td> -->
<!-- 		            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង:</b> ___________________________________________</td> -->
<!-- 		   		</th:block> -->
				<th:block th:switch="${isonbehalf}">
					<th:block th:case="${'15'}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ:</b> ___________________________________________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង:</b> ___________________________________________</td>
			   		</th:block>
			   		<th:block th:case="${'16'}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ:</b> ____<u th:text="${name}"></u>_____________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង:</b> ___________________________________________</td>
			   		</th:block>
			   		<th:block th:case="${*}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ:</b> ____<u th:text="${name}"></u>_____________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង:</b> ___________________________________________</td>
			   		</th:block>
				</th:block>
		   </tr>
	        <tr>
<!-- 	        	<td style="text-align:left;" colspan=3><b>ទីប្រឹក្សាហិរញ្ញវត្ថុ/ប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត:</b> <th:block sec:authorize="!hasRole('BLANK_AGNT_INFO')"><span th:text="${code}"></span></th:block></td> -->
				<td style="text-align:left;" colspan=3>
					<b>ទីប្រឹក្សាហិរញ្ញវត្ថុ/ប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត:</b> 
					<th:block th:if="${isonbehalf == null || isonbehalf == '16'}">
						<span th:text="${code}"></span>
					</th:block>
				</td>
	        </tr>
	        <tr>
	        <td style="text-align:left;" colspan=3><b>កាលបរិច្ឆេទ:</b> <span th:text="${#dates.format(#dates.createNow(),'dd MMM yyyy hh:mm:ss aa')}"></span></td>
	        </tr>              
	    </table>       
	</td>
</tr>  
</table>
<div class="divFooter">

        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">
            	<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍  ម.ក ។ រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>            
            <td style="text-align:right;font-size:7.5px;">
				V<span th:text="${version} + '-' + ${serialno} + '2'"></span>
            </td>
            </tr>                    
        </table>
</div>
</div>


</div>

</form>


</body>
<script type="text/javascript" th:src="@{/resources/js/report.js}"></script>
</html>