<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/report.css}"  />
<script th:src="@{/resources/jquery/jquery-1.11.2.min.js}" type="text/javascript"></script>
<title>Pru Quote Online</title>
   	<style type="text/css">
   	   
   	    /*.serial{
	   		counter-increment: page;
	   	}
	   	.serial:after {    	
	   		content: counter(page);
		}*/	

   	@page {  
   		size: A4; 		  				  
		margin: 0.2in 0.4in 0.2in 0.4in;  		 
	}
		
    @media screen {
        div.divFooter {
            //display: none;
        }
    }
    @media print {
    	.page-section { height:12.8in;position:relative;  }
        div.divFooter {
            position: absolute;
            bottom: 0;
            display:block;
        }
       
        div.divHeader {
            position: absolute;
            top: 0;
        }
        body{
        
    		margin-top:0px;
    		padding-top:0px;     	
			//margin-left:200px;			
		}
		
    }
</style>
    <style>
        
        @font-face {
       font-family: "KhmerOS";
       src: url(KhmerOS.ttf);
        }      
        th { 
		        font-family: Khmer OS, Helvetica, sans-serif; 
		        font-size: 9px ;
		        text-align:center;				        
		        /*background-color:#DEEDFF;*/
        }
        td { 
		        font-family: Khmer OS, Helvetica, sans-serif; 
		        font-size: 9px ;
		        text-align:center;			        		        
        }
        .Border2
        {	        
	        border-left:1px solid #000033;
	        border-right:1px solid #000033;
	        border-bottom:1px solid #000033;
        }
    </style>

    <script type="text/javascript">

        function printpage() {
            //Get the print button and put it into a variable
            var printButton = document.getElementById("btnPrint");
            var printClose = document.getElementById("btnClose");
            //Set the print button visibility to 'hidden' 
            printButton.style.visibility = 'hidden';
            
            //Print the page content
            window.print()
            //Set the print button to 'visible' again 
            //[Delete this line if you want it to stay hidden after printing]
            printButton.style.visibility = 'visible';

        }
        function closepage() {
            //Close the page content
            window.close();
        }
    </script>

    
</head>

<body style="height:100%; width:812px;text-align:left;">

<form method="post" action="" id="Form1">
<div class="page-section">
    <!-- content here -->
    <table border="0" cellpadding="0" cellspacing="0" style="width:812px;background-color:white;border-collapse:collapse;">

<tr>
    	<td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
            <th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                    <span style="font-size:17px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល<br />
                </span>
                <img th:src="@{/resources/images/pruMyFamily.png}" style="height:35px;vertical-align:middle;" />            
            </th>
            <th:block th:if="${quoteOcc != null && quoteOcc.size() > 0}" > 
				<th style="width: 100px; text-align: center;" >
					<th:block th:each="qo : ${quoteOcc}" >
						<button id="btnoccla1" th:if="${qo.remark == 'occla1' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
							LA1
						</button>
						<button id="btnoccpo" th:if="${qo.remark == 'occpo' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
							PO
						</button>
						<button id="btnoccla2" th:if="${qo.remark == 'occla2' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
							LA2
						</button>
					</th:block>
				</th>
			</th:block>
            <th style="width:120px;text-align:center;">
                <img alt="Click here to Print Pruquote" class="style1" th:src="@{/resources/images/Print.jpg}" id="btnPrint" onclick="printpage()" />
                <button class="button" id="btnUAB" th:value="@{/pruquote_uabnote_repkhmer/{quoteId}(quoteId=${quoteId})}">ME Note</button>
            </th>

            <th style="width:137px;text-align:center;">
            	<img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" />
            </th>
        </tr>
        </table>
    </td>            
</tr> 
<tr><td style="height:20px;" ></td></tr>
   <tr style="padding-top:10px;">
<td th:utext="${header1}">
    <!-- <asp:Label ID="lblHeader1" runat="server" Text="lblHeader1"></asp:Label> -->
</td>
</tr>
<tr><td style="height:10px;" ></td></tr>
<tr><td style="text-align:left;"><u><b>1.តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រង - </b></u> <img th:src="@{/resources/images/pruMyFamily.png}" style="vertical-align:middle;width: 51px; height: 18px" /></td></tr>
<tr><td style="height:10px;" ></td></tr>
<tr>
<td th:utext="${body2}">
    <!-- <asp:Label ID="lblBody2" runat="server" Text="lblBody2"></asp:Label> -->
</td>
</tr>

</table>

<div class="divFooter">

        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">         
				<p class="MsoNormal">
                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
					color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
					KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍  ម.ក ។ រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
					mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>
            <td style="text-align:right;font-size:7.5px;">
				V<span th:text="${version} + '-' + ${serialno} + '1'"></span>
            </td>
            </tr>                    
        </table>
		</div>
</div>
<div style="page-break-before: always;"></div>	
<div class="page-section">
		<table border="0" cellpadding="0" cellspacing="0" style="width:812px;background-color:white;border-collapse:collapse;">

	<tr>
    	<td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
            <th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                <span style="font-size:17px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល<br />
                </span>
                <img th:src="@{/resources/images/pruMyFamily.png}" style="height:35px;vertical-align:middle;" />            
            </th>

            <th style="width:137px;text-align:center;">
            <img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" />
            </th>
        </tr>
        </table>
    </td>            
</tr> 
<th:block th:if="${body3} != ''">
	<tr>
	    <td style="text-align:left;"><u><b>2. អត្ថប្រយោជន៍នៃលក្ខខណ្ឌបន្ថែម</b></u></td>
	</tr>  
	<tr><td style="height:3px;" ></td></tr>
</th:block>

<tr style="padding-top:5px;">
	<td th:utext="${body3}">
	    <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
	</td>
</tr>  
<th:block th:if="${body4} != ''">
	<tr><td style="height:5px;" ></td></tr>
	<tr style="padding-top:15px;">
	<td style="text-align:left;"><u><b>3.​ អត្ថប្រយោជន៍ធានាផ្តល់ជូនកាលបរិច្ឆេទផុតកំណត់នៃបណ្ណសន្យារ៉ាប់រងរបស់</b>Long-Term Savings Builder</u></td>
	</tr>    
	<tr><td style="height:3px;" ></td></tr>
</th:block>

<tr style="padding-top:10px;">
<td th:utext="${body4}">
    <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
</td>
</tr> 
<th:block th:if="${body5} != ''">
	<tr><td style="height:5px;" ></td></tr>
	<tr style="padding-top:15px;">
	<td style="text-align:left;"><u><b>4.​ តារាងបង្ហាញពីអត្ថប្រយោជន៍ធានារ៉ាប់រងរបស់</b>Long-Term Savings Builder</u></td>
	</tr>    
	<tr><td style="height:3px;" ></td></tr>
</th:block>

<tr style="padding-top:10px;">
<td th:utext="${body5}">
    <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
</td>
</tr>    
<tr><td style="text-align:left;height:5px;"></td></tr>
<tr><td style="text-align:left;"><b><u>កំណត់សម្គាល់បន្ថែម</u></b></td></tr>
<tr>
<td>
    <table style="width:100%;background-color:white;border-collapse:collapse; border:0px solid red;" border="0">
        <tr>
        	<td style="width:812px;text-align:left;">           
        	1. បុព្វលាភរ៉ាប់រងដែលបានបរិយាយខាងលើសម្រាប់គម្រោងមូលដ្ឋាន និងលក្ខខណ្ឌបន្ថែម/ផលិតផលបំពេញបន្ថែម នឹងត្រូវបានធានាថាមិនផ្លាស់ប្តូរ នៅ​ក្នុងអំឡុងនៃរយ:ពេលកំណត់នៃបណ្ណសន្យារ៉ាប់រង។	
        	</td>
        </tr>
        <!-- <tr style="page-break-before: always;"></tr> -->
        <tr>
        	<td style="width:812px;text-align:left;">								
        	2. បុព្វលាភរ៉ាប់រងដែលបានបង្ហាញខាងលើ គឺអនុវត្តចំពោះអ្នកត្រូវបានធានារ៉ាប់រងអាយុជីវិត​បទដ្ឋានទូទៅប៉ុណ្ណោះ ដែលមានន័យថាបណ្ណសន្យារ៉ាប់រងនោះ ត្រូវបានអនុម័តដោយក្រុមហ៊ុន   ព្រូដិនសល​យោង​លើ​កម្រិត​អត្រា​ធម្មតា​។ លោក​អ្នក អាច​​នឹងត្រូវ​​បង់ប្រាក់​​បុព្វ​​លាភរ៉ាប់រងបន្ថែម បន្ទាប់ពីផ្នែកចេញបណ្ណស​ន្យារ៉ាប់រងធ្វើការវាយតម្លៃលើហានិភ័យនៃការធានារ៉ាប់រងរបស់លោកអ្នក ដោយ​យោង​តាម​គោល​ការណ៍របស់​ក្រុមហ៊ុន​ ព្រូដិនសល។											
        	</td>
        </tr>
        
        <tr>										
        	<td style="width:812px;text-align:left;">
        	3. បុព្វលាភរ៉ាប់រងជាដំណាក់កាលដែលត្រូវបង់​របស់លោកអ្នកនឹងអាស្រ័យលើរបៀបនិងចំនួនដងនៃការទូទាត់បុព្វលាភរ៉ាប់រងដែលអ្នកជ្រើសរើស។ ដើម្បីជាការបង្ហាញ បុព្វលាភរ៉ាប់រងរាល់ឆ្នាំ ក្នុងតារាងលេខ 1 និង 4​ (បើមាន) ត្រូវបានគណនាលើមូលដ្ឋាន នៃការទូ​ទាត់​ប្រចាំ​ឆ្នាំ​ដោយ​មិនគិតពីជម្រើសលើរបៀបនិងចំនួនដងនៃការបង់ក្នុងមួយឆ្នាំរបស់អ្នក ហើយដោយមិនបានគិតបញ្ចូលការបញ្ចុះតម្លៃ និងពន្ធឡើយ។												
        	</td>
        </tr>
        <tr>										
        	<td style="width:812px;text-align:left;">        								
        	4. ពន្ធអាករ​ពាក់ព័ន្ធ​នឹង​ការ​ធានារ៉ាប់រង​​ (បើមាន) នឹង​ត្រូវបាន​គិត​បញ្ចូល​​ ដោយ​អាស្រ័យ​ទៅ​តាម​អត្រា​នៃ​ពន្ធ​អាករ​ដែល​ត្រូវបាន​កំណត់​ដោយ​ច្បាប់​/​បទ​ប្បញ្ញត្តិ​ជា​ធរមាន។													
        	</td>
        </tr>		
        </table>	        
</td>
</tr>
		
</table>
<div class="divFooter">

        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">         
				<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍  ម.ក ។ រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>
            <td style="text-align:right;font-size:7.5px;">
                V<span th:text="${version} + '-' + ${serialno} + '2'"></span>
            </td>
            </tr>                    
        </table>
</div>
</div>
<div style="page-break-before: always;"></div>
<div class="page-section">
<table border="0" cellpadding="0" cellspacing="0" style="margin-top:0px;width:812px;background-color:white;border-collapse:collapse;">
<tr>
    <td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
            <th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                    <span style="font-size:17px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល<br />
                </span>
               <img th:src="@{/resources/images/pruMyFamily.png}" style="height:35px;vertical-align:middle;" />            
            </th>
                            

            <th style="width:137px;text-align:center;">
            	<img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" />
            </th>
        </tr>
        </table>
    </td>            
</tr> 
<tr><td style="height:20px;" ></td></tr>
<tr style="padding-top:10px;">
<td>
    <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid red;" border="0">
     <tr>
		<td>	
		<table style="width:100%;background-color:white;border-collapse:collapse; border:0px solid red;" border="0">				
        <tr>										
        	<td style="width:812px;text-align:left;">
        5.​ អត្ថប្រយោជន៍នៅកាលបរិចេ្ឆទផុតកំណត់នៃបណ្ណសន្យារ៉ាប់រង នឹងត្រូវបានទូទាត់ជូន ក្នុងករណីតែបណ្ណសន្យារ៉ាប់រងនៅមានសុពលភាព រហូតដល់កាលបរិច្ឆេទផុតកំណត់នៃបណ្ណសន្យារ៉ាប់រង។ ការទូទាត់អត្ថប្រយោជន៍នៅកាលបរិចេ្ឆទផុតកំណត់នៃបណ្ណសន្យារ៉ាប់រង គឺផ្អែកលើបុព្វលាភប្រចាំឆ្នាំដែលបានបង់លើគម្រោងមូលដ្ឋាន ផលិតផលបំពេញបន្ថែម​ Long-Term Savings Builder (បើមាន) ប៉ុណ្ណោះ និងមិនរួមបញ្ចូល i) បុព្វលាភរ៉ាប់រងបន្ថែម និង ii)​ ពន្ធលើបុព្វលាភរ៉ាប់រង/ថ្លៃសេវា​ផ្សេងៗ ដែលត្រូវដាក់បន្ទុកលើបណ្ណសន្យារ៉ាប់រងឡើយ ។ ការគណនាអត្ថប្រយោជន៍នៅកាលបរិចេ្ឆទផុតកំណត់នៃបណ្ណសន្យារ៉ាប់រងនេះ ត្រូវបានគណនាដោយប្រើបុព្វលាភរ៉ាប់រងនៅក្នុងតារាងលេខ 1 និង 4 (បើមាន)។									
        	</td>
        </tr>										
        		
        </table>
		</td>
	</tr>
     <tr>										
        	<td style="width:812px;text-align:left;">
        6. សម្រាប់ផលិតផលបំពេញបន្ថែម​ Long-Term Savings Builder អត្ថប្រយោជន៍នៅកាលបរិចេ្ឆទ​ផុត​កំណត់នៃបណ្ណសន្យារ៉ាប់រង​នឹង​ត្រូវទូទាត់ជូនជាកញ្ចប់សរុប ប៉ុនែ្ត​លោក​អ្នកអាច​ជ្រើស​រើសការទទួល​យក​អត្ថប្រយោជន៍នេះ​ជាដំណាក់​កាល​ដែល​អាចធ្វើឡើង​នៅពេល​ចាប់ផ្តើម​កិច្ចសន្យា។​ អ្នកអាច​ផ្លាស់ប្តូរ​ជម្រើសនេះ​បានក្នុងអំឡុង​ពេលសុពលភាពនៃ​ផលិតផលបំពេញបន្ថែម​នេះ ប៉ុន្តែ​ការផ្លាស់ប្តូរ​នេះមិនអាច​ធ្វើឡើង​ក្នុងកំឡុង​ពេល 5ឆ្នាំមុនពេល​ផលិតផលបំពេញបន្ថែមនេះអស់​សុពលភាព។ អត្ថប្រយោជន៍ នៅ​ថ្ងៃ​ផុត​កំណត់នៃគម្រោងមូលដ្ឋាន នឹង​ត្រូវទូទាត់ជូនជាកញ្ចប់សរុបតែប៉ុណ្ណោះ។											
        	</td>
        </tr>	
        <tr>										
        	<td style="width:812px;text-align:left;">
        7. នៅពេលដែលការបង់អត្ថប្រយោជន៍នៅកាលបរិចេ្ឆទផុត​កំណត់នៃបណ្ណ​ស​ន្យា​រ៉ាប់រង​​ត្រូវ​បាន​ចាប់​ផ្តើម​ទូទាត់​ជាដំណាក់​កាល ការទូទាត់នឹងត្រូវបន្តតាម​កាលវិភាគ​និង​មិនអាច​​ផ្លាស់​​ប្តូរ​បាន។ នៅ​ក្នុង​ករណី​​មរណភាព​ឬ​ពិការភាព​ទាំងស្រុង និង​ជាអចិន្រ្តៃយ៍​កើតឡើង​ចំពោះ​បុគ្គល​ដែលជាកម្មវត្ថុនៃការធានា​ក្នុង​​អំឡុងពេលនេះ​​ទឹកប្រាក់​ធានារ៉ាប់រង​នឹងមិន​ត្រូវបាន​ផ្តល់ជូន​ឡើយ ប៉ុន្តែ​ការបង់​អត្ថប្រយោជន៍នៃកាលបរិចេ្ឆទ​ផុតកំណត់​នឹងត្រូវបាន​បន្តទៀតតាមកាលវិភាគ។									
        	</td>
        </tr>										
        <tr>										
        	<td style="width:812px;text-align:left;">
        8. ការបង្ហាញនេះសន្មតថា រាល់បុព្វលាភរ៉ាប់រងដែលត្រូវបង់ទាំងអស់ ត្រូវបានទូទាត់នៅមុន ឬនៅកាលបរិចេ្ឆទដល់កំណត់បង់បុព្វលាភរ៉ាប់រងទាំងនោះ។											
	        </td> 
	    </tr>   
	    <tr>       
    	<td style="width:812px;text-align:left;">
    	9. តម្លៃទឹកប្រាក់ដែលមានការធានានៅពេលបោះបង់បណ្ណសន្យារ៉ាប់រង (ឬហៅកាត់ថា GCV) នឹងត្រូវទូទាត់ជូន ក្នុងករណីដែលអ្នកសម្រេច​​ចិត្ត​បញ្ចប់​បណ្ណសន្យា​រ៉ាប់រងនេះមុនពេលកំណត់នៃបណ្ណស​ន្យារ៉ាប់រង។ អ្នក​ត្រូវ​ដាក់​សំណើទៅ​ក្រុមហ៊ុន ព្រូដិនសលក្នុង​ករណី​ដែល​អ្នក​ចង់​បញ្ចប់​បណ្ណស​ន្យារ៉ាប់រង។ ពេលដែល GCV ត្រូវ​បាន​ទូទាត់ជូន បណ្ណ​ស​ន្យា​រ៉ាប់រង និង​អត្ថ​ប្រយោជន៍​ទាំង​ឡាយនឹងត្រូវ​បាន​​បញ្ចប់​។​​ ចំនួន​ទឹក​ប្រាក់​​ដែលបាន​​បង្ហាញ​ក្រោមជួរ​ឈរ GCV ​ក្នុង​តារាងលេខ 1 និង 4​ (បើមាន)​ ខាង​លើត្រូវ​ បាន​​គណនា​​លើ​មូល​ដ្ឋានដែល​ថា​​ការទូទាត់​នឹង​ត្រូវ​បាន​​ធ្វើ​ឡើង​​នៅកាលបរិចេ្ឆទ​ខួប​បណ្ណសន្យារ៉ាប់រងនេះ ដោយ​មិន​រាប់​បញ្ចូល​បុព្វលាភ​រ៉ាប់រងដែល​មិនទាន់​បង់នោះទេ។ GCV នឹងខុស​ពី​តម្លៃខាង​លើប្រសិន​បើការទូទាត់​ទឹក​ប្រាក់​នេះ​ត្រូវ​បាន​​ធ្វើឡើងនៅថ្ងៃណាមួយផ្សេង​ពី កាលបរិច្ឆេទខួប​បណ្ណ​សន្យា​រ៉ាប់រងនៅឆ្នាំបន្ទាប់​។ ទោះ​​បី​ជា​អ្នក​អាចបញ្ចប់បណ្ណសន្យារ៉ាប់រង​នៅពេលណាមួយ​ក៏បានក៏ដោយ តែការទូទាត់ GCV មាន​ចាប់ពីខួបឆ្នាំទីពីរទៅតែ​ប៉ុណ្ណោះ ។										
	        </td>
	        </tr>
	        <tr>           
    	<td style="width:812px;text-align:left;">
        10. ចំពោះអត្ថប្រយោជន៍ធានារ៉ាប់រងមាតាបិតា (បើមាន) ចំនួនទឹកប្រាក់ធានារ៉ាប់រងសរុបនៃលក្ខខណ្ឌបន្ថែម នឹងត្រូវបានទូទាត់ជូនលោកអ្នក ក្នុងករណីដែលបុគ្គលដែលជាកម្មវត្ថុនៃការធានានៃលក្ខខណ្ឌបន្ថែម ទទួល​មរណភាព​ ឬ​ពិការភាព​ទាំងស្រុង និងជា​អចិន្រ្តៃយ៍។ រីឯអត្ថប្រយោជន៍នៃចំណូលគ្រួសារវិញ (បើមាន) ចំនួនទឹកប្រាក់ធានារ៉ាប់រង​នៃលក្ខខណ្ឌបន្ថែម​នេះ នឹង​ត្រូវ​បាន​ទូទាត់​ជូនរហូត​ដល់កាលបរិច្ឆេទ​ផុតកំណត់​នៃ​បណ្ណសន្យា​រ៉ាប់រង ដែល​ការទូទាត់​នេះ នឹង​ធ្វើឡើង​ជាប្រចាំឆ្នាំ ក្នុង​ករណី​ដែលបុគ្គល​ដែលជាកម្មវត្ថុ​នៃការធានានៃលក្ខខណ្ឌបន្ថែម ទទួល​មរណភាព ឬ​ពិការភាព​ទាំងស្រុង និងជាអចិន្រ្តៃយ៍។  សម្រាប់​អត្ថប្រយោជន៍​នៃផលិតផលបំពេញបន្ថែម Long-Term Savings Builder (បើមាន) វិញ ដូចមានបញ្ជាក់ក្នុងតារាងលេខ 4 ចំនួនទឹកប្រាក់ធានារ៉ាប់រងនឹងត្រូវបានទូទាត់ជូនអាស្រ័យ​ទៅតាមឆ្នាំដែលបុគ្គលដែលជាកម្មវត្ថុ នៃការធានានៃផលិតផលបំពេញបន្ថែមនេះ ទទួលមរណភាព ឬពិការភាពទាំងស្រុង និងជាអចិន្រ្តៃយ៍។											
	        </td>   
	        </tr>
	        <tr>        
    	<td style="width:812px;text-align:left;">
        11.​  សម្រាប់ផលិតផលបំពេញបន្ថែម Long-Term Savings Builder  (បើមាន)​ GCV នៃផលិតផលបំពេញបន្ថែមនេះដូចមានបង្ហាញជូនក្នុងតារាងលេខ 4 នឹងត្រូវបានទូទាត់ជូនក្នុងករណីផលិតផលបំពេញបន្ថែមនេះ​ត្រូវ​បាន​បញ្ចប់ ចំនួនទឹកប្រាក់​ដែលបាន​បង្ហាញក្រោមជួរឈរ GCV ​ក្នុងតារាងលេខ 4 ខាង​លើត្រូវ បាន​គណនា​ លើមូល​ដ្ឋាន​ដែល​ថាការ​ទូទាត់​នឹង​ត្រូវ​បាន​ធ្វើ​ឡើង​នៅកាលបរិចេ្ឆទខួប​បណ្ណសន្យារ៉ាប់រងនេះ ដោយ​មិន​រាប់​បញ្ចូល​បុព្វលាភ​រ៉ាប់រង​ដែល​មិនទាន់​បង់នោះទេ។ GCV នឹង​​ខុស​ពី​​តម្លៃ​ខាង​លើ​ប្រសិន​​បើការទូទាត់​​សាច់​ប្រាក់​​នេះ​ត្រូវ​បាន​​​ធ្វើឡើង នៅថ្ងៃ​ណាមួយផ្សេង​​ពីកាល​បរិច្ឆេទខួប​​បណ្ណ​សន្យា​រ៉ាប់រង​។ ទោះ​បីជាអ្នកអាច បោះបង់ផលិតផលបំពេញបន្ថែម Long-Term Savings Builder នៅពេលណា​ក៏បានក៏ដោយ តែការទូទាត់ GCV មាន​ចាប់ពីខួបឆ្នាំទីបីទៅតែ​ប៉ុណ្ណោះ ។											
	        </td>
	        </tr>
	        <tr>           
    	<td style="width:812px;text-align:left;">
        12. ប្រសិនបើអ្នកធ្វើការសម្រេចចិត្តថាមិនបន្តជាមួយនឹងបណ្ណសន្យារ៉ាប់រងនេះទៀតទេនោះ អ្នកអាចធ្វើការលុបចោលបណ្ណសន្យារ៉ាប់រងនេះវិញក្នុងរយៈពេល ម្ភៃមួយ (21) ថ្ងៃ គិត​ចាប់ពី​កាលបរិច្ឆេទនៃ​ការចេញ​វិញ្ញាបនបត្រ​ធានារ៉ាប់រង​អាយុជីវិត។ រយៈពេលនេះ ហៅថារយៈពេល​សាកល្បង ឬជា​រយៈពេល​ពិចារណា។ ក្នុងករណីនេះ​ក្រុមហ៊ុន​នឹងធ្វើការ​បង្វិលប្រាក់ជូនអ្នកត្រូវ​បានធានា​រ៉ាប់រងវិញ ដូចខាងក្រោម៖​​ (1) បុព្វលាភ​រ៉ាប់រងទាំងអស់​ ដែលក្រុមហ៊ុន​បានទទួល ដកមកវិញនូវ​ (2) ថ្លៃពិនិត្យសុខភាព (បើមាន) ដកមកវិញនូវ (3) បំណុលដែល​មិនទាន់បាន​ទូទាត់ផ្សេងទៀត (បើមាន) ។										
	        </td>
	        </tr>    
	        <tr>       
    	<td style="width:812px;text-align:left;">
        13. សូមអានតារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនេះ រួមជាមួយនឹងឯកសារស្តីពី ខ និងលក្ខខណ្ឌនៃបណ្ណសន្យារ៉ាប់រង។									
	        </td>           
    	</tr>
    	</table>
</td>
</tr >
    <tr><td style="text-align:left;">&nbsp;</td></tr>
    <tr>
<td>
    <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">
        <tr>
        <td style="width:350px;text-align:left;vertical-align:top;">
            ខ្ញុំបាទ-នាងខ្ញុំបានពន្យល់អតិថិជនទាំងស្រុងអំពីអត្ថប្រយោជន៍ រួមជាមួយ ខ​ និងលក្ខខណ្ឌនៃគម្រោងមូលដ្ឋាន និងគម្រោងបន្ថែមនានា។
        </td>         
        <td style="width:60px;text-align:left;">&nbsp;</td>         
       <td style="width:350px;text-align:left;vertical-align:top;">
           ខ្ញុំបាទ-នាងខ្ញុំបានអាន និងទទួលការប្រឹក្សាយោបល់យ៉ាងច្បាស់លាស់ពីទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត អំពីតារាងលម្អិតបង្ហាញពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនេះ ព្រមទាំង ខ និងលក្ខខណ្ឌទាំងឡាយនៃផលិតផលទាំងនេះ។
        </td>        
    </tr>         
    </table>
</td>
</tr>
<tr>
<td>
    <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid ;" border="0">
        <tr>
        <td style="width:350px;text-align:left;">
            <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1 solid black;" border="1">
            <tr>
                <td style="text-align:left;">
                <br /><br /><br />
            		ហត្ថលេខារបស់ទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត:
                </td>
                </tr>
            </table>
        </td>         
        <td style="width:60px;text-align:left;">&nbsp;</td>         
        <td style="width:350px;text-align:left;">
            <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1 solid black;" border="1">
            <tr>
                <td style="text-align:left;">
                <br /><br /><br />
                	ហត្ថលេខារបស់អ្នកត្រូវបានធានារ៉ាប់រង:
                </td>
                </tr>
            </table>

        </td>        
        </tr>  
        <tr>
        <td style="text-align:left;" colspan=3>&nbsp;</td>
        </tr>
        <!-- <tr th:switch="${#authorization.expression('hasRole(''BLANK_AGNT_INFO'')')}">
	   		<th:block th:case="${true}">
	   			<td style="width:350px;text-align:left;" colspan=1><b>b>រៀបចំដោយ: ___________________________________________</td>
	            <td style="width:60px;text-align:left;"colspan=1></td>
	            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
	   		</th:block>
	   		<th:block th:case="${false}">
	   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ____<u th:text="${name}"></u>_____________</td>
	            <td style="width:60px;text-align:left;"colspan=1></td>
	            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
	   		</th:block>
	   </tr> -->
	   <tr>
		   	<th:block th:switch="${isonbehalf}">
		   		<th:block th:case="${'15'}">
		   			<td style="width:350px;text-align:left;" colspan=1><b>b>រៀបចំដោយ: ___________________________________________</td>
		            <td style="width:60px;text-align:left;"colspan=1></td>
		            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
		   		</th:block>
		   		<th:block th:case="${'16'}">
		   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ____<u th:text="${name}"></u>_____________</td>
		            <td style="width:60px;text-align:left;"colspan=1></td>
		            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
		   		</th:block>
		   		<th:block th:case="*">
		   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ____<u th:text="${name}"></u>_____________</td>
		            <td style="width:60px;text-align:left;"colspan=1></td>
		            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
		   		</th:block>
		   	</th:block>
	   </tr>
        <tr>
        	<!-- <td style="text-align:left;" colspan=3><b>ទីប្រឹក្សាហិរញ្ញវត្ថុ/ប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត: <th:block sec:authorize="!hasRole('BLANK_AGNT_INFO')"><span th:text="${code}"></span></th:block></td> -->
        	<td style="text-align:left;" colspan=3>
        		<b>ទីប្រឹក្សាហិរញ្ញវត្ថុ/ប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត: 
        			<th:block th:if="${isonbehalf == null || isonbehalf == '16'}">
        				<span th:text="${code}"></span>
        			</th:block>
        		</b>
        	</td>
        </tr>
        <tr>
        	<td style="text-align:left;" colspan=3><b/>កាលបរិច្ឆេទ: <span th:text="${#dates.format(#dates.createNow(),'dd MMM yyyy hh:mm:ss aa')}"></span></td>
        </tr>              
    </table>       
</td>
</tr>  
</table>

<div class="divFooter">

        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">         
				<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍  ម.ក ។ រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>            
            <td style="text-align:right;font-size:7.5px;">
				V<span class="serial" th:text="${version} + '-' + ${serialno} + '3'"></span>                
            </td>
            </tr>                    
        </table>
</div>
</div>

</form>


</body>
	<script type="text/javascript" th:src="@{/resources/js/report.js}"></script>
</html>