<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/report.css}"  />
<script th:src="@{/resources/jquery/jquery-1.11.2.min.js}" type="text/javascript"></script>
<title>Pru Quote Online</title>
   	<style type="text/css">
   	   
   	    /*.serial{
	   		counter-increment: page;
	   	}
	   	.serial:after {    	
	   		content: counter(page);
		}*/	

   	@page {  
   		size: A4; 		  				  
		margin: 0.2in 0.4in 0.2in 0.4in;  		 
	}
		
    @media screen {
        div.divFooter {
            //display: none;
        }
    }
    @media print {
    	.page-section { height:12.8in;position:relative;  }
        div.divFooter {
            position: absolute;
            bottom: 0;
            display:block;
        }
       
        div.divHeader {
            position: absolute;
            top: 0;
        }
        body{
        
    		margin-top:0px;
    		padding-top:0px;     	
			//margin-left:200px;			
		}
		
    }
</style>
    <style>
        
        @font-face {
       font-family: "KhmerOS";
       src: url(KhmerOS.ttf);
        }      
        th { 
		        font-family: Khmer OS, Helvetica, sans-serif; 
		        font-size: 9px ;
		        text-align:center;				        
		        /*background-color:#DEEDFF;*/
        }
        td { 
		        font-family: Khmer OS, Helvetica, sans-serif; 
		        font-size: 9px ;
		        text-align:center;			        		        
        }
        .Border2
        {	        
	        border-left:1px solid #000033;
	        border-right:1px solid #000033;
	        border-bottom:1px solid #000033;
        }                 
        
    </style>

    <script type="text/javascript">

        function printpage() {
            //Get the print button and put it into a variable
            var printButton = document.getElementById("btnPrint");
            var printClose = document.getElementById("btnClose");
            //Set the print button visibility to 'hidden' 
            printButton.style.visibility = 'hidden';
            
            //Print the page content
            window.print()
            //Set the print button to 'visible' again 
            //[Delete this line if you want it to stay hidden after printing]
            printButton.style.visibility = 'visible';

        }
        function closepage() {
            //Close the page content
            window.close();
        }
    </script>
   
</head>

<body style="height:100%; width:812px;text-align:left;">

<form method="post" action="" id="Form1">
<div class="page-section">
    <!-- content here -->
    <table border="0" cellpadding="0" cellspacing="0" style="width:812px;background-color:white;border-collapse:collapse;">

<tr>
    	<td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
            <th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                <span style="font-size:17px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល<br />
                </span>
                <img th:src="@{/resources/images/easylife.png}" style="height:35px;vertical-align:middle;" />
            </th>
             <th:block th:if="${quoteOcc != null && quoteOcc.size() > 0}" > 
				<th style="width: 200px; text-align: center;" >
					<th:block th:each="qo : ${quoteOcc}" >
						<button id="btnoccla1" th:if="${qo.remark == 'occla1' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
							LA1
						</button>
					</th:block>
				</th>
			</th:block>
            <th style="width:120px;text-align:center;">
                <img alt="Click here to Print Pruquote" class="style1" th:src="@{/resources/images/Print.jpg}" id="btnPrint" onclick="printpage()" />
            </th>

            <th style="width:137px;text-align:center;">
            	<img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" />
            </th>
        </tr>
        </table>
    </td>            
</tr> 
<tr><td style="text-align:left;height:20px;">&nbsp;</td></tr>
   <tr style="padding-top:10px;">
<td th:utext="${header1}">
    <!-- <asp:Label ID="lblHeader1" runat="server" Text="lblHeader1"></asp:Label> -->
    
</td>
</tr>

<tr style="height:50px;"><td style="text-align:left;margin-bottom:10px;"><u><b>1.តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រង<br/></b></u> 

<tr>
<td th:utext="${body2}">
    <!-- <asp:Label ID="lblBody2" runat="server" Text="lblBody2"></asp:Label> -->
    
</td>
</tr>
<th:block th:if="${body3} != ''">
	<tr>
	    <td style="text-align:left;"><u><b>2. អត្ថប្រយោជន៍នៃលក្ខខណ្ឌបន្ថែម</b></u></td>
	</tr>
</th:block>

<tr style="padding-top:5px;">
<td th:utext="${body3}">
    <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
   
</td>
</tr>     
</table>

<div class="divFooter">

        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">         
            	<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍  ម.ក ។ រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>
           	<td style="text-align:right;font-size:7.5px;">
				V<span class="serial" th:text="${version} + '-' + ${serialno} + '1'"></span>                
            </td>
            </tr>                    
        </table>
		</div>
</div>

<div style="page-break-before: always;"></div>	
<div class="page-section">
<table border="0" cellpadding="0" cellspacing="0" style="width:812px;background-color:white;border-collapse:collapse;">
	<tr>
    	<td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
            <th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                    <span style="font-size:17px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល<br />
                </span>
                <img th:src="@{/resources/images/easylife.png}" style="height:35px;vertical-align:middle;" />            
            </th>

            <th style="width:137px;text-align:center;">
            	<img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" />
            </th>
        </tr>
        </table>
    </td>            
</tr> 
<tr><td style="text-align:left;height:20px;">&nbsp;</td></tr>
<tr><td style="text-align:left;"><b><u>កំណត់សម្គាល់បន្ថែម</u></b></td></tr>
<tr>
<td>
	<table style="width:100%;background-color:white;border-collapse:collapse; border:0px solid red;" border="0">
		<tr>
        	<td style="width:812px;text-align:left;">           
        	1. បុព្វលាភរ៉ាប់រងដែលបានបរិយាយខាងលើ នឹងត្រូវបានធានាថាមិនផ្លាស់ប្តូរ នៅ​ក្នុងអំឡុងនៃរយ:ពេលកំណត់នៃបណ្ណសន្យារ៉ាប់រង។	
        	</td>
        </tr>
        <!-- <tr style="page-break-before: always;"></tr> -->
        <tr>
        	<td style="width:812px;text-align:left;">								
        	2. បុព្វលាភរ៉ាប់រងជាដំណាក់កាលដែលត្រូវបង់​របស់លោកអ្នកនឹងអាស្រ័យលើរបៀបនិងចំនួនដងនៃការទូទាត់បុព្វលាភរ៉ាប់រងដែលអ្នកជ្រើសរើស។ ដើម្បីជាការបង្ហាញ បុព្វលាភរ៉ាប់រងរាល់ឆ្នាំ ក្នុងតារាងខាងលើ ត្រូវបានគណនាលើមូលដ្ឋាន នៃការទូ​ទាត់​ប្រចាំ​ឆ្នាំ​ដោយ​មិនគិតពីជម្រើសលើរបៀបនិងចំនួនដងនៃការបង់ក្នុងមួយឆ្នាំរបស់អ្នក ហើយដោយមិនបានគិតបញ្ចូលពន្ធឡើយ។											
        	</td>
        </tr>
        <tr>										
        	<td style="width:812px;text-align:left;">
        	3. ពន្ធអាករលើបុព្វលាភរ៉ាប់រង នឹងអាស្រ័យទៅលើ​អត្រានៃពន្ធអាករលើបុព្វលាភរ៉ាប់រងដែលត្រូវបានកំណត់ដោយច្បាប់/បទប្បញ្ញត្តិជាធរមាន។    												
        	</td>
        </tr>
        <tr>										
        	<td style="width:812px;text-align:left;">        								
        	4. ក្នុងករណីមានគ្រោះអកុសលកើតឡើងដែលបណ្តាលឲ្យបុគ្គលដែលជាកម្មវត្ថុនៃការធានាទទួលមរណភាព​ ឫពិការភាពទាំងស្រុង និងជាអចិន្ត្រៃយ៍ បណ្ណសន្យារ៉ាប់រងនឹងត្រូវបានបញ្ចប់ បន្ទាប់ពីអត្ថប្រយោជន៍ធានា រ៉ាប់រង ករណីមរណភាព​ ឫពិការភាពទាំងស្រុង និងជាអចិន្ត្រៃយ៍ត្រូវបានទូទាត់រួច។   													
        	</td>
        </tr>			
        <tr>										
        	<td style="width:812px;text-align:left;">
        	5.​ អត្ថប្រយោជន៍ពេលមិនមានការទាមទារសំណង នឹងត្រូវបានទូទាត់ជូន ក្នុងករណីតែបណ្ណសន្យារ៉ាប់រងនៅមានសុពលភាព រហូតដល់កាលបរិច្ឆេទផុតកំណត់នៃបណ្ណសន្យារ៉ាប់រង។								
        	</td>
        </tr>											
        <tr>										
        	<td style="width:812px;text-align:left;">
        6. ការបង្ហាញនេះសន្មតថា រាល់បុព្វលាភរ៉ាប់រងដែលត្រូវបង់ទាំងអស់ ត្រូវបានទូទាត់នៅមុន ឬនៅកាលបរិចេ្ឆទដល់កំណត់បង់បុព្វលាភរ៉ាប់រងទាំងនោះ។											
        	</td>
        </tr>	
        <tr>										
        	<td style="width:812px;text-align:left;">
        7. តម្លៃទឹកប្រាក់ដែលមានការធានានៅពេលបោះបង់បណ្ណសន្យារ៉ាប់រង (ឬហៅកាត់ថា GCV) នឹងត្រូវទូទាត់ជូន ក្នុងករណីដែលអ្នកសម្រេច​​ចិត្ត​បញ្ចប់​បណ្ណសន្យា​រ៉ាប់រងនេះមុនពេលកំណត់នៃបណ្ណស​ន្យារ៉ាប់រង។ អ្នក​ត្រូវ​ដាក់​សំណើទៅ​ក្រុមហ៊ុន ក្នុង​ករណី​ដែល​អ្នក​ចង់​បញ្ចប់​បណ្ណស​ន្យារ៉ាប់រង។ ពេលដែល GCV ត្រូវ​បាន​ទូទាត់ជូន បណ្ណ​ស​ន្យា​រ៉ាប់រង និង​អត្ថ​ប្រយោជន៍​ទាំង​ឡាយនឹងត្រូវបាន​បញ្ចប់។​ ចំនួនទឹកប្រាក់​ដែលបាន​បង្ហាញក្រោមជួរឈរ GCV ​ក្នុងតារាងខាង​លើត្រូវបាន​គណនា​លើមូល​ដ្ឋានដែល​ថា​ការទូទាត់​នឹង​ត្រូវ​បាន​ធ្វើ​ឡើង​នៅកាលបរិចេ្ឆទខួប​បណ្ណសន្យារ៉ាប់រងនេះដោយមិនរាប់បញ្ចូលបុព្វលាភរ៉ាប់រងដែលមិនទាន់ បង់នោះទេ។  GCV នឹងខុស​ពី​តម្លៃខាង​លើប្រសិន​បើការទូទាត់​ទឹក​ប្រាក់​នេះ​ត្រូវ​បាន​​ធ្វើឡើងនៅថ្ងៃណាមួយផ្សេង​ពី កាលបរិច្ឆេទខួប​បណ្ណ​សន្យា​រ៉ាប់រងនៅឆ្នាំបន្ទាប់​។ ទោះ​បីជាអ្នកអាចបញ្ចប់បណ្ណសន្យារ៉ាប់រង​នៅពេលណាមួយ​ក៏បានក៏ដោយ តែការទូទាត់ GCV មាន​ចាប់ពីខួបឆ្នាំទីពីរទៅតែ​ប៉ុណ្ណោះ ។
	        </td>
        </tr>										
        <tr>										
        	<td style="width:812px;text-align:left;">
        8.  ប្រសិនបើអ្នកធ្វើការសម្រេចចិត្តថាមិនបន្តជាមួយនឹងបណ្ណសន្យារ៉ាប់រងនេះទៀតទេនោះ អ្នកអាចធ្វើការលុបចោលបណ្ណសន្យារ៉ាប់រងនេះវិញក្នុងរយៈពេល ម្ភៃមួយ (21) ថ្ងៃ គិតចាប់ពីកាលបរិច្ឆេទនៃការចេញ​​ វិញ្ញាបនបត្រធានារ៉ាប់រងអាយុជីវិត។ រយៈពេលនេះ ហៅថារយៈពេលសាកល្បង ឬជារយៈពេលពិចារណា។ ក្នុងករណីនេះក្រុមហ៊ុននឹងធ្វើការបង្វិលប្រាក់ជូនអ្នកត្រូវបានធានារ៉ាប់រងវិញនូវ បុព្វលាភរ៉ាប់រងទាំងអស់ ដែលក្រុមហ៊ុនបានទទួល ដកមកវិញនូវ​ ចំនួនទឹកប្រាក់ណាមួយដែលនៅជំពាក់ក្រុមហ៊ុន ។											
	        </td> 
	    </tr>   
	    <tr>       
    	<td style="width:812px;text-align:left;">
    	9. សូមអានតារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនេះ រួមជាមួយនឹងឯកសារស្តីពី ខ និងលក្ខខណ្ឌនៃបណ្ណសន្យារ៉ាប់រង។											
	        </td>
	        </tr>
	    </table>	
</td>
</tr>
    <tr><td style="text-align:left;">&nbsp;</td></tr>
    <tr>
<td>
    <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">
        <tr>
        <td style="width:350px;text-align:left;vertical-align:top;">
           ខ្ញុំបាទ-នាងខ្ញុំបានពន្យល់អតិថិជនទាំងស្រុងអំពីអត្ថប្រយោជន៍ រួមជាមួយ ខ​ និងលក្ខខណ្ឌទាំងឡាយនៃផលិតផលនេះ។
        </td>         
        <td style="width:60px;text-align:left;">&nbsp;</td>         
        <td style="width:350px;text-align:left;vertical-align:top;">
           ខ្ញុំបាទ-នាងខ្ញុំបានអាន និងទទួលការប្រឹក្សាយោបល់យ៉ាងច្បាស់លាស់ពីទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត អំពីតារាងលម្អិតបង្ហាញពីអត្ថប្រយោជន៍ ធានារ៉ាប់រងនេះ ព្រមទាំង ខនិងលក្ខខណ្ឌទាំងឡាយនៃផលិតផលនេះ។ 
        </td>        
    </tr>         
    </table>
</td>
</tr>
<tr>
<td>
    <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid ;" border="0">
        <tr>
        <td style="width:350px;text-align:left;">
            <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1 solid black;" border="1">
            <tr>
                <td style="text-align:left;">
                <br /><br /><br />
                  ហត្ថលេខារបស់ទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត:
                </td>
                </tr>
            </table>
        </td>         
        <td style="width:60px;text-align:left;">&nbsp;</td>         
        <td style="width:350px;text-align:left;">
            <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1 solid black;" border="1">
            <tr>
                <td style="text-align:left;">
                <br /><br /><br />
                 ហត្ថលេខារបស់អ្នកត្រូវបានធានារ៉ាប់រង:
                </td>
                </tr>
            </table>

        </td>        
        </tr>  
        <tr>
        <td style="text-align:left;" colspan=3>&nbsp;</td>
        </tr>            
        <tr style="padding-top:10px;">
<!-- 	   		<th:block th:case="${true}"> -->
<!-- 	   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ___________________________________________</td> -->
<!-- 	            <td style="width:60px;text-align:left;"colspan=1></td> -->
<!-- 	            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td> -->
<!-- 	   		</th:block> -->
<!-- 	   		<th:block th:case="${false}"> -->
<!-- 	   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ____<u th:text="${name}"></u>_____________</td> -->
<!-- 	            <td style="width:60px;text-align:left;"colspan=1></td> -->
<!-- 	            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td> -->
<!-- 	   		</th:block> -->
				<th:block th:switch="${isonbehalf}">
					<th:block th:case="${'15'}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ___________________________________________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
			   		</th:block>
			   		<th:block th:case="${'16'}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ____<u th:text="${name}"></u>_____________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
			   		</th:block>
			   		<th:block th:case="${*}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>រៀបចំដោយ: ____<u th:text="${name}"></u>_____________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>ឈ្មោះរបស់អ្នកត្រូវបានធានារ៉ាប់រង: ___________________________________________</td>
			   		</th:block>
				</th:block>
   		</tr>
        <tr>
<!--         	<td style="text-align:left;" colspan=3><b>ទីប្រឹក្សាហិរញ្ញវត្ថុ/ប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត: <th:block sec:authorize="!hasRole('BLANK_AGNT_INFO')"><span th:text="${code}"></span></th:block></td> -->
			<td style="text-align:left;" colspan=3>
				<b>ទីប្រឹក្សាហិរញ្ញវត្ថុ/ប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត: 
					<th:block th:if="${isonbehalf == null || isonbehalf == '16'}">
						<span th:text="${code}"></span>
					</th:block>
				</b>
			</td>
        </tr>
        <tr>
        	<td style="text-align:left;" colspan=3><b/>កាលបរិច្ឆេទ: <span th:text="${#dates.format(#dates.createNow(),'dd MMM yyyy hh:mm:ss aa')}"></span></td>
        </tr>              
    </table>       
</td>
</tr>  
</table>

<div class="divFooter">

        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">         
            	<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍  ម.ក ។ រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>            
            <td style="text-align:right;font-size:7.5px;">
				V<span class="serial" th:text="${version} + '-' + ${serialno} + '2'"></span>                
            </td>
            </tr>                    
        </table>
</div>
</div>

</form>


</body>
	<script type="text/javascript" th:src="@{/resources/js/report.js}"></script>
</html>