<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}"
	type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/report.css}" />
<title>Pru Quote Online</title>
<style type="text/css">

/*.serial{
	   		counter-increment: page;
	   	}
	   	.serial:after {    	
	   		content: counter(page);
		}*/
@page {
	size: A4;
	margin: 0.2in 0.4in 0.1in 0.4in;
}

@media screen {
	div.divFooter { //
		display: none;
	}
}

@media print {
	.page-section {
		height: 12.9in;
		position: relative;
	}
	div.divFooter {
		position: absolute;
		bottom: 0;
		display: block;
	}
	div.divHeader {
		position: absolute;
		top: 0;
	}
	body {
		margin-top: 0px;
		padding-top: 0px; //
		margin-left: 200px;
	}
}
</style>
<style>
@font-face {
	font-family: "KhmerOS";
	src: url(KhmerOS.ttf);
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	/*background-color:#DEEDFF;*/
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}

.Border2 {
	border-left: 1px solid #000033;
	border-right: 1px solid #000033;
	border-bottom: 1px solid #000033;
}

.h1 {
	font-size: 15px;
	font-weight: bold
}

.h2 {
	font-size: 12px;
	font-weight: bold
}
</style>

<script type="text/javascript">	
        function printpage() {
            //Get the print button and put it into a variable
            var printButton = document.getElementById("btnPrint");
            var printClose = document.getElementById("btnClose");
            //Set the print button visibility to 'hidden' 
            printButton.style.visibility = 'hidden';
            
            //Print the page content
            window.print()
            //Set the print button to 'visible' again 
            //[Delete this line if you want it to stay hidden after printing]
            printButton.style.visibility = 'visible';

        }
        function closepage() {
            //Close the page content
            window.close();
        }
    </script>


</head>

<body style="height: 100%; width: 812px; text-align: left;">

	<form method="post" action="" id="Form1">
		<div class="page-section">
			<!-- content here -->
			<table border="0" cellpadding="0" cellspacing="0"
				style="width: 812px; background-color: white; border-collapse: collapse;">

				<tr>
					<td colspan="8" style="height: 70px; text-align: left;">
						<table
							style="width: 100%; background-color: white; border-collapse: collapse; border: 0 solid black;"
							border="0">
							<tr>
								<th colspan="2"
									style="text-align: left; vertical-align: middle; margin-top: 20px;">
									<span style="font-size: 15px;">ILLUSTRATION OF POLICY
										BENEFIT WITH <br />
								</span> <th:block th:if="${Product == 'BTR1'}">
										<img
											th:src="@{/resources/images/{img_name}(img_name=(${'PRUmy_family.png'}))}"
											style="height: 35px; vertical-align: middle;" />
									</th:block> <th:block th:if="${Product == 'BTR2'}">
										<img
											th:src="@{/resources/images/{img_name}(img_name=(${'edusave_log_small.jpg'}))}"
											style="height: 35px; vertical-align: middle;" />
									</th:block> <th:block th:if="${Product == 'MTR1' or Product == 'MTR2'}">
										<img
											th:src="@{/resources/images/{img_name}(img_name=(${'mortgage.png'}))}"
											style="height: 35px; vertical-align: middle;" />
									</th:block> <th:block th:if="${Product == 'BTR4'}">
										<img
											th:src="@{/resources/images/{img_name}(img_name=(${'edusmart_logo.png'}))}"
											style="height: 35px; vertical-align: middle;" />
									</th:block> <th:block th:if="${Product == 'BTR5'}">
										<img
											th:src="@{/resources/images/{img_name}(img_name=(${'PureProtect-Logo.png'}))}"
											style="height: 35px; vertical-align: middle;" />
									</th:block>
								</th>

								<th style="width: 120px; text-align: center;"><img
									alt="Click here to Print Pruquote" class="style1"
									th:src="@{/resources/images/Print.jpg}" id="btnPrint"
									onclick="printpage()" /></th>

								<th style="width: 137px; text-align: center;"><img
									th:src="@{/resources/images/pru_logo_2.png}"
									style="height: 70px; vertical-align: middle;" /></th>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="height: 20px;" class="h1"><u>MEDICAL
							REQUIREMENT NOTE</u></td>
				</tr>
				<tr>
					<td style="height: 10px;"></td>
				<tr>
					<td style="text-align: left;" class="h2"><u>1. MAIN LIFE
							ASSURED’S INFORMATION</u></td>
				</tr>
				<tr>
					<td style="height: 10px;"></td>
				<tr style="padding-top: 10px;">
					<td>
						<table
							style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
							border='0'>
							<tr style='background-color: #bfc8cf;'>
								<th class='Border2' style='width: 300px'>Name</th>
								<th class='Border2' style='width: 100px'>Age</th>
								<th class='Border2' style='width: 100px'>Gender</th>
								<th class='Border2'>Underwriting Amount Basis (US$)</th>
							</tr>
							<tr>
								<td class='Border2'
									th:text="${#strings.toUpperCase(L1Info[0][0])}"></td>
								<td class='Border2'
									th:text="${#numbers.formatInteger(L1Info[0][1], 0, 'NONE')}"></td>
								<td class='Border2'
									th:text="${L1Info[0][2] == 'M' ? 'Male' : 'Female'}"></td>
								<td class='Border2' style='font-weight: bold'
									th:text="${#numbers.formatDecimal(L1Info[0][3], 0, 'COMMA', 2, 'POINT')}">
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="height: 10px;"></td>
				<tr>
					<td style="text-align: left" class="h2"><u>MEDICAL
							REQUIREMENT</u></td>
				</tr>
				<tr>
					<td style="height: 10px;"></td>
				<tr style="padding-top: 10px;">
					<td>
						<table
							style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
							border='0'>
							<tr style='background-color: #bfc8cf;'>
								<th class='Border2' style='width: 150px'>Medical
									Examination</th>
								<th class='Border2' style='text-align: left;'>&nbsp;Description</th>
							</tr>

							<th:block th:each="L1Ex : ${L1Exam}">
								<tr style="height: 10px;">
									<td class='Border2' style="height: 10px;" th:text="${L1Ex[0]}"></td>
									<td class='Border2'
										style='text-align: left; padding-left: 5px; height: 10px;'
										th:text="${L1Ex[1]}"></td>
								</tr>
							</th:block>

						</table>
					</td>
				</tr>

				<th:block th:if="${L2Exam.size() <= 10 && L2Exam.size() >= 1}">
					<tr>
						<td style="height: 10px;"></td>
					</tr>
					<tr>
						<td style="text-align: left" class="h2"><u>2. ADDITIONAL
								LIFE ASSURED’S INFORMATION</u></td>
					</tr>
					<tr>
						<td style="height: 10px;"></td>
					<tr style="padding-top: 10px;">
						<td>
							<table
								style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
								border='0'>
								<tr style='background-color: #bfc8cf;'>
									<th class='Border2' style='width: 300px'>Name</th>
									<th class='Border2' style='width: 100px'>Age</th>
									<th class='Border2' style='width: 100px'>Gender</th>
									<th class='Border2'>Underwriting Amount Basis (US$)</th>
								</tr>
								<tr>
									<td class='Border2'
										th:text="${#strings.toUpperCase(L2Info[0][0])}"></td>
									<td class='Border2'
										th:text="${#numbers.formatInteger(L2Info[0][1], 0, 'NONE')}"></td>
									<td class='Border2'
										th:text="${L2Info[0][2]=='M'?'Male':'Female'}"></td>
									<td class='Border2' style='font-weight: bold'
										th:text="${#numbers.formatDecimal(L2Info[0][3], 0, 'COMMA', 2, 'POINT')}"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="height: 10px;"></td>
					<tr>
						<td style="text-align: left" class="h2"><u>MEDICAL
								REQUIREMENT</u></td>
					</tr>
					<tr>
						<td style="height: 10px;"></td>
					<tr style="padding-top: 10px;">
						<td>
							<table
								style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
								border='0'>
								<tr style='background-color: #bfc8cf;'>
									<th class='Border2' style='width: 150px'>Medical
										Examination</th>
									<th class='Border2' style=''>Description</th>
								</tr>
								<th:block th:each="L2Ex : ${L2Exam}">
									<tr>
										<td class='Border2' th:text="${L2Ex[0]}"></td>
										<td class='Border2'
											style='text-align: left; padding-left: 5px'
											th:text="${L2Ex[1]}"></td>
									</tr>
								</th:block>
							</table>
						</td>
					</tr>
				</th:block>

				<tr>
					<td style="height: 10px"></td>
				</tr>
				<th:block
					th:if="${nome != 'No ME'  && L1Exam.size() <= 10 && L2Exam.size() <= 10}">
					<tr>
						<td style="text-align: left">Please note that the above
							medical requirements, if any, are standard for a given age and
							UAB of this application only. The Company may call for further
							test or medical evidence, depending on the special circumstance
							of each case.</td>
					</tr>
					<tr>
						<td style="text-align: left">
							<center>
								<b class="h1"><u><br /> <br />TIPS FOR MEDICAL
										EXAMINATION</u></b>
							</center> <br /> <br /> The medical examiner will do some physical
							examinations, measure your height, weight, blood pressure, pulse
							rate, etc., and collect your blood and urine samples as well as
							record your answers to the questions in our Health Questionnaire
							Form and Medical Report. <br /> <br /> To obtain the best
							possible results from your insurance medical examinations, and to
							minimize the need to do repeat tests, we strongly suggest you to
							read the tips below: <br />
							<div style="padding-left: 30px;">
								1) For female applicants, please do not go for the medical exam
								when you are menstruating.<br /> 2) It is very important to
								obtain confirmation in advance from your FC/LC for an
								appointment with the clinic/hospital.<br /> 3) You should sleep
								well the night before doing the medical exam.<br /> 4) You
								should fast for a period of at least 6 to 8 hours before the
								exam. If you have to take medication, please seek your doctor’s
								advice. Drinking plain water is
								&nbsp;&nbsp;&nbsp;&nbsp;perfectly fine.<br /> 5) <b><u>12
										hours before the medical exam</u>:</b> Not to do too much exercise or
								take too much alcohol.<br /> 6) <b><u>1 hour before the
										medical exam</u>:</b> Avoid taking in any substance containing
								caffeine or nicotine. Drink some water could help.<br /> 7) <b><u>Just
										before leaving home for the medical exam</u>:</b><br />
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp; Ensure you
								know the name of any medications you are taking.<br />
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp; Bring an
								official identification document (ID card or passport) with your
								photo on it.
							</div>
						</td>
					</tr>
				</th:block>
			</table>

			<div class="divFooter">

				<table width="100%">
					<tr>
						<td style="text-align: left; vertical-align: bottom;">
							<p class="MsoNormal">
								<span lang="KHM"
									style="font-size: 5.0pt; font-family: &amp; amp; amp; amp; amp; amp; quot; Khmer OS Metal Chrieng&amp;amp; amp; amp; amp; amp; quot;; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM">©
									<span th:text="${#dates.year(#dates.createNow())}"></span>
									Prudential (Cambodia) Life Assurance PLC. All rights reserved.
									This material shall not be reproduced, modified, displayed, or
									distributed, in part or whole, without the prior written
									consent of the Company.
								</span><span
									style="font-size: 5.0pt; font-family: &amp; amp; amp; amp; amp; amp; quot; Khmer OS Metal Chrieng&amp;amp; amp; amp; amp; amp; quot;; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM"></span>
							</p>
						</td>
						<td style="text-align: right; font-size: 7.5px;">V<span
							class="serial" th:text="${version} + '-' + ${serialno}"></span>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<th:block th:if="${L2Exam.size() > 10 || L1Exam.size() > 10}">
			<div class="page-section">
				<!-- content here -->
				<table border="0" cellpadding="0" cellspacing="0"
					style="width: 812px; background-color: white; border-collapse: collapse;">

					<th:block th:if="${L2Exam.size() > 10}">
						<tr>
							<td style="height: 10px;"></td>
						</tr>
						<tr>
							<td style="text-align: left" class="h2"><u>2. ADDITIONAL
									LIFE ASSURED’S INFORMATION</u></td>
						</tr>
						<tr>
							<td style="height: 10px;"></td>
						<tr style="padding-top: 10px;">
							<td>
								<table
									style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
									border='0'>
									<tr style='background-color: #bfc8cf;'>
										<th class='Border2' style='width: 300px'>Name</th>
										<th class='Border2' style='width: 100px'>Age</th>
										<th class='Border2' style='width: 100px'>Gender</th>
										<th class='Border2'>Underwriting Amount Basis (US$)</th>
									</tr>
									<tr>
										<td class='Border2'
											th:text="${#strings.toUpperCase(L2Info[0][0])}"></td>
										<td class='Border2'
											th:text="${#numbers.formatInteger(L2Info[0][1], 0, 'NONE')}"></td>
										<td class='Border2'
											th:text="${L2Info[0][2]=='M'?'Male':'Female'}"></td>
										<td class='Border2' style='font-weight: bold'
											th:text="${#numbers.formatDecimal(L2Info[0][3], 0, 'COMMA', 2, 'POINT')}"></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="height: 10px;"></td>
						<tr>
							<td style="text-align: left" class="h2"><u>MEDICAL
									REQUIREMENT</u></td>
						</tr>
						<tr>
							<td style="height: 10px;"></td>
						<tr style="padding-top: 10px;">
							<td>
								<table
									style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
									border='0'>
									<tr style='background-color: #bfc8cf;'>
										<th class='Border2' style='width: 150px'>Medical
											Examination</th>
										<th class='Border2' style=''>Description</th>
									</tr>
									<th:block th:each="L2Ex : ${L2Exam}">
										<tr>
											<td class='Border2' th:text="${L2Ex[0]}"></td>
											<td class='Border2'
												style='text-align: left; padding-left: 5px'
												th:text="${L2Ex[1]}"></td>
										</tr>
									</th:block>
								</table>
							</td>
						</tr>
					</th:block>

					<tr>
						<td style="height: 10px"></td>
					</tr>
					<!-- Top Page have more height -->
					<th:block th:if="${nome != 'No ME'&& L2Exam.size() <=  5}">
						<tr>
							<td style="height: 50px"></td>
						</tr>
					</th:block>
					<th:block th:if="${nome != 'No ME'&& L1Exam.size() > 5}">
						<tr>
							<td style="text-align: left">Please note that the above
								medical requirements, if any, are standard for a given age and
								UAB of this application only. The Company may call for further
								test or medical evidence, depending on the special circumstance
								of each case.</td>
						</tr>
						<tr>
							<td style="text-align: left">
								<center>
									<b class="h1"><u><br /> <br />TIPS FOR MEDICAL
											EXAMINATION</u></b>
								</center> <br /> <br /> The medical examiner will do some physical
								examinations, measure your height, weight, blood pressure, pulse
								rate, etc., and collect your blood and urine samples as well as
								record your answers to the questions in our Health Questionnaire
								Form and Medical Report. <br /> <br /> To obtain the best
								possible results from your insurance medical examinations, and
								to minimize the need to do repeat tests, we strongly suggest you
								to read the tips below: <br />
								<div style="padding-left: 30px;">
									1) For female applicants, please do not go for the medical exam
									when you are menstruating.<br /> 2) It is very important to
									obtain confirmation in advance from your FC/LIC for an
									appointment with the clinic/hospital.<br /> 3) You should
									sleep well the night before doing the medical exam.<br /> 4)
									You should fast for a period of at least 6 to 8 hours before
									the exam. If you have to take medication, please seek your
									doctor’s advice. Drinking plain water is
									&nbsp;&nbsp;&nbsp;&nbsp;perfectly fine.<br /> 5) <b><u>12
											hours before the medical exam</u>:</b> Not to do too much exercise or
									take too much alcohol.<br /> 6) <b><u>1 hour before
											the medical exam</u>:</b> Avoid taking in any substance containing
									caffeine or nicotine. Drink some water could help.<br /> 7) <b><u>Just
											before leaving home for the medical exam</u>:</b><br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp; Ensure you
									know the name of any medications you are taking.<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp; Bring an
									official identification document (ID card or passport) with
									your photo on it.
								</div>
							</td>
						</tr>
					</th:block>
				</table>

				<div class="divFooter">

					<table width="100%">
						<tr>
							<td style="text-align: left; vertical-align: bottom;">
								<p class="MsoNormal">
									<span lang="KHM"
										style="font-size: 5.0pt; font-family: &amp; amp; amp; amp; amp; amp; quot; Khmer OS Metal Chrieng&amp;amp; amp; amp; amp; amp; quot;; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM">©
										<span th:text="${#dates.year(#dates.createNow())}"></span>
										Prudential (Cambodia) Life Assurance PLC. All rights reserved.
										This material shall not be reproduced, modified, displayed, or
										distributed, in part or whole, without the prior written
										consent of the Company.
									</span><span
										style="font-size: 5.0pt; font-family: &amp; amp; amp; amp; amp; amp; quot; Khmer OS Metal Chrieng&amp;amp; amp; amp; amp; amp; quot;; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM"></span>
								</p>
							</td>
							<td style="text-align: right; font-size: 7.5px;">V<span
								class="serial" th:text="${version} + '-' + ${serialno}"></span>
							</td>
						</tr>
					</table>
				</div>
			</div>

		</th:block>
	</form>


</body>
</html>