<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}"
	type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/report.css}" />
<script th:src="@{/resources/jquery/jquery-1.11.2.min.js}"
	type="text/javascript"></script>
<title>Pru Quote Online</title>
<style type="text/css">
</style>
<style>
@font-face {
	font-family: "KhmerOS";
	src: url(KhmerOS.ttf);
}

.front {
	width: 210mm;
	height: 297mm;
	-webkit-print-color-adjust: exact;
	position: absolute;
    z-index: -1;
}

.back {
	width: 210mm;
    height: 297mm;
    -webkit-print-color-adjust: exact;
    position: absolute;
    /* z-index: -1; */
    margin-top: 1065px;
}

#btnPrint {
	margin-top: 38px;
	margin-left: 375px;
}

@page {
	size: A4;
	margin: 0;
}
.checkForm {
	position: absolute;
    margin-top: 44px;
}
.checkDD {
    margin-left: 565px;
    position: absolute;
}

.checkSO {
	margin-left: 355px;
    position: absolute;

}

.checkAccNumber {
	position: absolute;
    margin-top: 8px;
}

.checkFC {
	margin-top: 572px;
	margin-left: 593px;
	position: absolute;
}

.checkLC {
	float: right;
	margin-top: 572px;
	margin-left: 427px;
}

.rowAppNum {
	margin-top: 577px;
	margin-left: 205px;
	padding-right: 60px;
	font-size: 14px;
	position: absolute;
}

.periodAsYear {
	margin-top: 612px;
    margin-left: 578px;
    padding-right: 60px;
    font-size: 14px;
    position: absolute;
}

.initAmount {
	margin-top: 638px;
    margin-left: 243px;
    padding-right: 60px;
    font-size: 14px;
    position: absolute;
}

.paymentDate {
	margin-top: 636px;
    margin-left: 579px;
    font-size: 14px;
    position: absolute;
}

.nextPremiumAmount {
	margin-top: 668px;
    margin-left: 243px;
    padding-right: 60px;
    font-size: 14px;
    position: absolute;
}

.isAMonth {
    float: right;
    margin-top: 665px;
    margin-right: -130px;
}

.isSixMonth {
    float: right;
    margin-top: 665px;
    margin-right: -202px;
}

.isAYear {
    float: right;
    margin-top: 665px;
    margin-right: -274px;
}

.alignDivDate {
	margin-top: 696px;
    font-size: 14px;
    position: absolute;
}

#marginFrDateLeft {
	margin-left: 243px;
}

#marginToDateLeft {
	margin-left: 545px;
}

.marginMonth {
	margin-left: 28px;
}

.marginYear {
	margin-left: 19px;
}

.checkFrequence {
    position: absolute;
    margin-left: 427px;
}

</style>
</head>

<body>
	<div class="DDFormFront">
		<img th:src = "@{/resources/images/DD_Form_Front.jpg}" class="front">
		<img alt="Click here to Print Pruquote"
			th:src="@{/resources/images/Print.jpg}" id="btnPrint"
			onclick="printpage()" />
			<div class="container">

			<div class="checkForm">
				<div th:if="${isDD} == true" class="checkDD">
					<span>&#10004</span>
				</div>
				<div th:unless="${isDD}" class="checkSO">
					<span>&#10004</span>
				</div>
			</div>

			<div class="rowAppNum">
				<span th:text="${appNumber}"></span>
			</div>

			<div class="checkAccNumber">
				<div th:if="${isLC} == true" class="checkLC">
					<span>&#10004</span>
				</div>
				<div th:if="${isFC} == true" class="checkFC">
					<span>&#10004</span>
				</div>
			</div>

			<div class="periodAsYear">
				<span th:text="${periodAsYear}"></span>
			</div>

			<div class="initAmount">
				<span th:text="${initPremiumAmount}"></span>
			</div>

			<div class="paymentDate">
				<span th:text="${paymentDay}"></span> <span
					th:text="${paymentMonth}" class="marginMonth"></span> <span
					th:text="${paymentYear}" class="marginYear"></span>
			</div>

			<div class="nextPremiumAmount">
				<span th:text="${nextPremiumAmount}"></span>
			</div>

			<div class="checkFrequence">
				<div th:if="${isAmonth} == true" class="isAMonth">
					<span>&#10004</span>
				</div>
				<div th:if="${isSixMonth} == true" class="isSixMonth">
					<span>&#10004</span>
				</div>
				<div th:if="${isAYear} == true" class="isAYear">
					<span>&#10004</span>
				</div>
			</div>

			<div class="alignDivDate" id="marginFrDateLeft">
				<span th:text="${fromDay}"></span> <span th:text="${fromMonth}"
					class="marginMonth"></span> <span th:text="${fromYear}"
					class="marginYear"></span>
			</div>

			<div class="alignDivDate" id="marginToDateLeft">
				<span th:text="${toDay}"></span> <span th:text="${toMonth}"
					class="marginMonth"></span> <span th:text="${toYear}"
					class="marginYear"></span>
			</div>

		</div>
	</div>
	<div class="DDFormBack">
		<img th:src = "@{/resources/images/DD_Form_Back.jpg}" class="back">
	</div>

</body>
<script type="text/javascript">
	function printpage() {
		//Get the print button and put it into a variable
		var printButton = document.getElementById("btnPrint");
		var printClose = document.getElementById("btnClose");
		//Set the print button visibility to 'hidden' during printing
		printButton.style.visibility = 'hidden';

		//Print the page content
		window.print()
		//Set the print button to 'visible' again 
		//[Delete this line if you want it to stay hidden after printing]
		printButton.style.visibility = 'visible';

	}
</script>
</html>