<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}"
	type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/report.css}" />
<script th:src="@{/resources/jquery/jquery-1.11.2.min.js}"
	type="text/javascript"></script>
<title>Pru Quote Online</title>
<style>
body {
	margin-top: 0px;
	padding-top: 0px;
}

@page {
	size: A4;
	margin: 0.2in 0.4in 0in 0.4in; /* width height */
}

@media screen {
	div.divFooter { //
		display: none;
	}
}

@media print {
	.page-section {
		height: 13in;
		position: relative;
	}
	div.divFooter {
		position: absolute;
		bottom: 0;
		display: block;
	}
	div.divHeader {
		position: fixed;
		top: 0;
	}
	body { //
		margin-left: 200px;
	}
	.test-print{
		font-size: 9px;
	}
	
	.test-print th{
		font-size: 9px;		
	}
	
	.test-print td{
		font-size: 8px;
	}
}

@font-face {
	font-family: "KhmerOS";
	src: url(KhmerOS.ttf);
}

th {
	font-family: Khmer OS, Helvetica, sans-serif;
	font-size: 9px;
	text-align: center;
	/*background-color:#DEEDFF;*/
}

td {
	font-family: Khmer OS, Helvetica, sans-serif;
	font-size: 9px;
	text-align: center;
}

.Border2 {
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}

.Border3 {
	border-left: 1px dotted #000033;
	border-right: 1px dotted #000033;
	border-bottom: 1px dotted #000033;
}

p.MsoNormal {
	margin-bottom: .0001pt;
	punctuation-wrap: simple;
	text-autospace: none;
	font-size: 10.0pt;
	font-family: "Times New Roman", "serif";
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0in;
}
</style>
<script type="text/javascript">
	function printpage() {
		//Get the print button and put it into a variable
		var printButton = document.getElementById("btnPrint");
		//Set the print button visibility to 'hidden' 
		printButton.style.visibility = 'collapse';
		//Print the page content
		window.print()
		//Set the print button to 'visible' again 
		//[Delete this line if you want it to stay hidden after printing]
		printButton.style.visibility = 'visible';
	}
	function closepage() {
		//Close the page content
		window.close();
	}
</script>
</head>
<body style="height: 100%; width: 812px; text-align: left;">
	<form method="post" action="" id="Form1">
		<div class="page-section test-print">
			<table border="0" cellpadding="0" cellspacing="0"
				style="margin-top: 0px; width: 812px; background-color: white; border-collapse: collapse;">
				<tr>
					<td colspan="8" style="height: 70px; text-align: left;">
						<table
							style="width: 100%; background-color: white; border-collapse: collapse; border: 0 solid black;"
							border="0">
							<tr>
								<th colspan="2"
									style="text-align: left; vertical-align: middle;">
									<span style="font-size: 15px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល<br/>
								</span> <img th:src="@{/resources/images/edusmart_logo.png}"
									style="height: 30px; vertical-align: middle;" />
								</th>
								<th:block th:if="${quoteOcc != null && quoteOcc.size() > 0}" > 
									<th style="width: 200px; text-align: center;" >
										<th:block th:each="qo : ${quoteOcc}" >
											<button id="btnoccla1" th:if="${qo.remark == 'occla1' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
												LA1
											</button>
											<button id="btnoccpo" th:if="${qo.remark == 'occpo' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
												PO
											</button>
											<button id="btnoccla2" th:if="${qo.remark == 'occla2' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
												LA2
											</button>
										</th:block>
									</th>
								</th:block>
								<th style="width: 50px; text-align: center;"><img
									alt="Click here to Print Pruquote" class="style1"
									th:src="@{/resources/images/Print.jpg}" id="btnPrint"
									onclick="printpage()" />
									<button class="button" id="btnUAB" th:value="@{/pruquote_uabnote_repkhmer/{quoteId}(quoteId=${quoteId})}">
										ME Note
									</button>
								</th>
								<th style="width: 137px; text-align: center;"><img
									th:src="@{/resources/images/pru_logo_2.png}"
									style="height: 70px; vertical-align: middle;" /></th>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="padding-top: 10px;">
					<td th:utext="${header1}">
						<!-- <asp:Label ID="lblHeader1" runat="server" Text="lblHeader1"></asp:Label> -->

					</td>
				</tr>

				<tr style="padding-top: 10px;">
					<td style="text-align: left; padding-top: 5px;"><b><u>តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រង</u></b></td>
				</tr>

				<tr style="padding-top: 10px;">
					<td style="text-align: left;">
					<label style="font-family: Khmer OS;"><u><b>១.​ អត្ថប្រយោជន៏ធានារ៉ាប់រង​របស់​</b></u>
					<img th:src="@{/resources/images/edusmart_logo.png}"
									style="height: 20px; vertical-align: middle;" />
					</label>
<!-- 						<img -->
<!-- 						th:src="@{/resources/images/edusmart_logo.png}" -->
<!-- 						style="width: 42px; height: 10.5px" /> -->
						</td>
				</tr>
				<tr style="padding-top: 10px;">
					<td th:utext="${body2}">
						<!-- <asp:Label ID="lblBody2" runat="server" Text="lblBody2"></asp:Label> -->
					</td>
				</tr>

				<th:block th:if="${body4} != ''">
					<tr style="padding-top: 10px;">
						<td style="text-align: left;">
							<label style="font-family: Khmer OS;"><b><u>២.​ អត្ថប្រយោជន៏ធានារ៉ាប់រងសម្រាប់​រយៈពេលធានា​រ៉ាប់រង​អាយុ​ជីវិត​បន្ថែម​​របស់​</u></b>
							<img th:src="@{/resources/images/edusmart_logo.png}"
									style="height: 20px; vertical-align: middle;" />
							</label>
						</td>
					</tr>
				</th:block>
				
				<tr style="padding-top: 10px;">
					<td th:utext="${body4}">
					</td>
				</tr>

			</table>
			<div class="divFooter">

				<table width="100%">
					<tr>
						<td style="text-align: left; vertical-align: bottom;">
							<p class="MsoNormal">
								<span lang="KHM"
									style="font-size: 5.0pt; font-family: Khmer OS; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM">©
									<span th:text="${#dates.year(#dates.createNow())}"></span>
									ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍ ម.ក ។
									រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ
									ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង
									ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។
								</span><span
									style="font-size: 5.0pt; font-family: Khmer OS; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM"></span>
							</p>
						</td>

						<td style="text-align: right; font-size: 7.5px;">V<span
							th:text="${version} + '-' + ${serialno1} + '1'"></span>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div style="page-break-before: always;"></div>
		<div class="page-section">
			<table border="0" cellpadding="0" cellspacing="0"
				style="margin-top: 0px; width: 812px; background-color: white; border-collapse: collapse;">
				<tr>
					<td colspan="8" style="height: 70px; text-align: left;">
						<table
							style="width: 100%; background-color: white; border-collapse: collapse; border: 0 solid black;"
							border="0">
							<tr>
								<th colspan="2"
									style="text-align: left; vertical-align: middle; margin-top: 20px;">
									<span style="font-size: 15px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល<br/>
								</span> <img th:src="@{/resources/images/edusmart_logo.png}"
									style="height: 30px; vertical-align: middle;" />
								</th>


								<th style="width: 137px; text-align: center;"><img
									th:src="@{/resources/images/pru_logo_2.png}"
									style="height: 70px; vertical-align: middle;" /></th>
							</tr>
						</table>
					</td>
				</tr>
				<th:block th:if="${body3A} != ''">
					<tr style="padding-top: 15px;">
						<td style="text-align: left;"><u><b>៣. អត្ថប្រយោជន៍នៃលក្ខខណ្ឌបន្ថែម</b></u></td>
					</tr>
				</th:block>

				<tr style="padding-top: 10px;">
					<td th:utext="${body3A}">
						<!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->

					</td>
				</tr>
				<th:block th:if="${body3B != ''}">
					<tr style="padding-top: 15px;">
						<td style="text-align: left;"><u><b>៣. អត្ថប្រយោជន៍នៃលក្ខខណ្ឌបន្ថែម</b></u></td>
					</tr>
				</th:block>

				<tr style="padding-top: 10px;">
					<td th:utext="${body3B}">
						<!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->

					</td>
				</tr>
				<tr style="padding-top: 10px;">
					<td style="text-align: left;"><b><u><br/>កំណត់សម្គាល់បន្ថែម<br/></u></b></td>
				</tr>
				<tr style="padding-top: 10px;">
					<td>
						<table
							style="width: 100%; background-color: white; border-collapse: collapse; border: 0 solid red;"
							border="0">
							<tr>
								<td style="width: 812px; text-align: left;font-size:10px;">
<span style="font-weight: 600;">១.</span> បុព្វលាភធានា​រ៉ាប់រង និង​អត្ថ​ប្រយោជន៍​ធានា​រ៉ាប់រង​ ​សំរាប់គម្រោង​មូលដ្ឋាន ​និងលក្ខខណ្ឌបន្ថែម នឹងត្រូវ​បាន​ធានាថា​មិនមាន​ការ​​ផ្លាស់ប្តូរ​នៅ​ក្នុង​អំឡុងនៃ​រយៈពេល​កំណត់​នៃ​បណ្ណសន្យារ៉ាប់រង​​ លើក​លែង​តែ​ក្នុង​ករណី​ពិសេស​ ដូចជា​ ការ​ផ្លាស់​ប្តូរ​​មុខ​របរ​ ដែល​អាច​នឹង​​ធ្វើ​ឲ្យ​មាន​ការ​កើនឡើង​នូវ​​កម្រិត​ហានិភ័យ​​នៃ​ការ​ផ្តល់ការ​​ធានារ៉ាប់រង​។ លក្ខខណ្ឌ​ទាំង​នេះ​ គឺ​​យោង​ទៅ​តាម​ ខ និង​លក្ខខណ្ឌ​នៃ​ផលិតផល​នេះ។											 												
<br/><span style="font-weight: 600;">២.</span> បុព្វលាភធានា​រ៉ាប់រង​ដែល​បាន​បង្ហាញ​ខាងលើ​ គឺ​អនុវត្ត​ចំពោះ​អ្នក​ត្រូវ​បាន​ធានារ៉ាប់រង​បទដ្ឋាន​​ទូទៅ​ប៉ុណ្ណោះ ដែល​មាន​ន័យ​ថា​បណ្ណសន្យារ៉ាប់រង​នោះត្រូវ​បាន​អនុម័ត​ដោយ​ក្រុមហ៊ុន​​ព្រូដិនសលកម្ពុជា​ យោង​លើ​កម្រិត​​អត្រា​ធម្មតា​។ លោក​អ្នក​អាច​នឹង​ត្រូវ​បង់​បុព្វលាភធានា​រ៉ាប់រង​បន្ថែម​ បន្ទាប់​ពីផ្នែកចេញបណ្ណសន្យារ៉ាប់រង​​ធ្វើការ​វាយតម្លៃ​លើ​ហានិភ័យ​​នៃ​ការ​ធានារ៉ាប់រង​របស់​លោក​អ្នក​ ដោយយោង​តាម​គោលការណ៍​របស់​ក្រុមហ៊ុន​​។
<br/><span style="font-weight: 600;">៣.</span> បុព្វលាភធានា​រ៉ាប់រង​ជា​ដំណាក់កាល​ដែល​ត្រូវ​បង់​របស់លោកអ្នក​នឹង​អាស្រ័យ​លើ​ចំនួន​ដង​ និង​របៀប​​​នៃ​ការបង់​​បុព្វលាភធានា​រ៉ាប់រង​ដែល​លោក​អ្នក​ជ្រើសរើស។ ដើម្បី​ជា​ការ​បង្ហាញ​ បុព្វលាភធានារ៉ាប់រង​ប្រចាំ​ឆ្នាំ​ក្នុង​តារាង​លេខ​ ១ ខាងលើ​ ត្រូវ​បាន​គណនា​លើ​មូលដ្ឋាន​នៃ​ការ​ទូទាត់​ប្រចាំ​ឆ្នាំ​​ ដោយ​មិន​គិត​ពី​​ចំនួន​ដង​នៃ​ការ​បង់​ក្នុង​មួយ​ឆ្នាំ​របស់​លោក​អ្នក​ ហើយ​ដោយ​មិន​គិត​បញ្ចូល​​ការ​បញ្ចុះតម្លៃ​ និង​ពន្ធ​ឡើយ។
<br/><span style="font-weight: 600;">៤.</span> ពន្ធអាករពាក់ព័ន្ធ​នឹង​ការធានារ៉ាប់រង​ (បើមាន) នឹង​ត្រូវ​បាន​គិត​បញ្ចូល​ អាស្រ័យ​ទៅ​តាម​អត្រា​នៃ​ពន្ធ​អាករ​ដែល​ត្រូវ​បាន​កំណត់​ដោយ​ច្បាប់/បទប្បញ្ញត្តិ​ជាធរមាន។
<br/><span style="font-weight: 600;">៥.</span> អត្ថប្រយោជន៍​នៅពេល​ដល់​កាលកំណត់​នៃ​បណ្ណ​ស​ន្យា​​រ៉ាប់រងជាកញ្ចប់សរុប ដែល​លោក​អ្នក​បាន​ជ្រើសរើសនៅ​គ្រា​ដំបូង​នៃ​បណ្ណ​សន្យារ៉ាប់រង​​ នឹងត្រូវ​ទូទាត់​ជូន​ក្នុង​ករណី​តែ បណ្ណ​ស​ន្យា​រ៉ាប់រង​នៅ​បន្តមានសុពលភាព​រហូតដល់កាលបរិច្ឆេទ​ផុតកំណត់​នៃ​បណ្ណ​ស​ន្យា​​រ៉ាប់រង។
<br/><span style="font-weight: 600;">៦.</span> ការបង្ហាញ​ខាងលើ​នេះ​​សន្មត​ថា​ រាល់​បុព្វលាភធានារ៉ាប់រង​ដែល​ត្រូវ​បង់​ទាំងអស់​ត្រូវ​បាន​ទូទាត់​មុន​ ឬ​នៅ​កាល​បរិច្ឆេទ​ដល់​កំណត់​បង់​​បុព្វលាភធានា​រ៉ាប់រង​ទាំង​នោះ។
<br/><span style="font-weight: 600;">៧.</span> ​ទឹក​ប្រាក់​ត្រូវ​បាន​​ធានា​​​សម្រាប់​ការ​​បោះបង់​បណ្ណ​សន្យារ៉ាប់រង​ (ឬហៅកាត់ថា GSV) នឹង​ត្រូវ​ទូទាត់​ជូន​​ ក្នុង​ករណី​ដែល​​លោក​អ្នក​សម្រេច​ចិត្ត​បញ្ចប់​​បណ្ណ​សន្យារ៉ាប់រង​នេះ​មុន​ពេល​កំណត់​​នៃ​បណ្ណ​សន្យារ៉ាប់រង​។ លោក​អ្នក​ត្រូវ​ដាក់​សំណើទៅ​ក្រុមហ៊ុន​​​​ ក្នុង​ករណី​ដែល​លោក​អ្នក​ចង់​បញ្ចប់​បណ្ណ​សន្យារ៉ាប់រង។ អត្ថប្រយោជន៍​ប្រសើរ​បំផុត​នៃ​ផលិតផល​ធានារ៉ាប់រង​អាយុជីវិត​ គឺ​ត្រូវ​ទទួល​បាន​នៅពេល​ដែល​ផលិតផល​ត្រូវ​បាន​កាន់កាប់​​ពេញ​គ្រប់​រយៈពេល​កំណត់​នៃ​បណ្ណ​សន្យា​រ៉ាប់រង​។ ការ​បញ្ចប់​បណ្ណ​សន្យារ៉ាប់រង​​នៅ​មុន​ពេល​ផុត​កំណត់​ ជាទូទៅ​ នឹង​​បណ្តាល​ឲ្យ​មាន​ការ​ខាត​បង់​ ហើយ​ GSV ដែល​ត្រូវ​ផ្តល់​ជូនវិញ​​នឹង​មាន​កម្រិត​ទាប​ជាង​បុព្វលាភធានា​​រ៉ាប់រង​ទាំង​អស់​ដែល​លោក​អ្នក​បាន​បង់​រួច​។ ពេលដែល​ GSV ត្រូវ​បាន​ទូទាត់​ជូន បណ្ណ​សន្យារ៉ាប់​រង​ និង​អត្ថប្រយោជន៍​ទាំងឡាយ​នឹង​ត្រូវ​បាន​បញ្ចប់។ ចំនួន​ទឹកប្រាក់​ដែល​បាន​បង្ហាញ​ក្នុង​ជួរឈរ​ GSV ក្នុង​តារាង​លេខ ១ ខាងលើ ត្រូវ​បាន​គណនា​លើ​មូលដ្ឋាន​ដែល​ថា ការទូទាត់​ត្រូវ​បាន​ធ្វើឡើង​នៅ​កាលបរិច្ឆេទ​ខួប​បណ្ណសន្យារ៉ាប់រង​នេះ ដោយ​មិន​រាប់​បញ្ចូល​បុព្វលាភធានា​​រ៉ាប់រង​​ដែល​មិន​ទាន់​បាន​បង់​នោះទេ។ GSV នឹង​ខុស​ពី​តម្លៃ​ខាងលើ​ ប្រសិន​បើ​ការទូទាត់​ទឹកប្រាក់​នេះ​ត្រូវ​បាន​ធ្វើឡើង​នៅ​ថ្ងៃ​ណាមួយ​ផ្សេង​ពី​កាល​បរិច្ឆេទ​​ខួប​បណ្ណ​សន្យារ៉ាប់រង​​នៅ​ឆ្នាំ​បន្ទាប់។ ទោះបី​ជា​លោក​អ្នក​អាច​បោះបង់​បណ្ណ​សន្យារ៉ាប់រង​​នៅ​ពេល​​ណាមួយ​ក៏​បាន​ក៏​ដោយ​ តែការទូទាត់ ​GSV មាន​​​​បន្ទាប់​​ពីខួប​ទី​ពីរ​ និង​មុន​ពេល​ការ​ទូទាត់​​អត្ថ​ប្រយោជន៍​នៅ​ពេល​ដល់​កាល​​កំណត់​នៃ​បណ្ណ​សន្យារ៉ាប់រង​​តែ​​ប៉ុណ្ណោះ។
<br/><span style="font-weight: 600;">៨.</span> សម្រាប់​គម្រោង​មូលដ្ឋាន អត្ថប្រយោជន៍​ធានារ៉ាប់រង​ជា​កញ្ចប់​សរុប​នឹង​ត្រូវ​បាន​ទូទាត់​ជូន​​ ក្នុង​ករណី​មរណភាព ឬ​ពិការភាពទាំង​ស្រុង​ និង​ជា​អចិន្ត្រៃយ៍​របស់​អ្នក​ត្រូវ​បាន​ធានា​រ៉ាប់រង​​​​ ចម្បង។ អត្ថប្រយោជន៍​ចំណូល​គ្រួសារ​នៃ​គម្រោងមូលដ្ឋាន ដូច​មាន​បង្ហាញ​ក្នុង​តារាង​លេខ ១ នឹង​ត្រូវ​បាន​ទូទាត់​ជូន​​ជារៀងរាល់​​ខួប​​ប្រចាំ​ឆ្នាំ​នៃ​បណ្ណសន្យារ៉ាប់រង​ រហូត​ដល់​​កាល​បរិច្ឆេទផុត​​កំណត់​នៃ​​បណ្ណ​សន្យារ៉ាប់រង​។
<br/><span style="font-weight: 600;">៩.</span> ក្នុង​ករណី​ដែល​បណ្ណ​សន្យារ៉ាប់រង​នៅបន្ត​មាន​​សុពល​ភាព​​​រហូត​ដល់​កាល​បរិច្ឆេទផុត​​កំណត់​នៃ​​បណ្ណ​សន្យារ៉ាប់រង​​ ​អ្នក​ត្រូវ​បាន​ធានា​រ៉ាប់រង​​ចម្បង​នឹង​​​ទទួល​បាន​ការ​​ការពារ​បន្ថែម​​​សម្រាប់​​រយៈពេល​​ប្រាំ​ (៥) ឆ្នាំ ហើយ​នឹងមាន​សុពលភាព​ចាប់​ពី​​ថ្ងៃ​ផុត​កំណត់​នៃ​​រយៈពេល​កំណត់​នៃ​​បណ្ណ​សន្យារ៉ាប់រង​។ ពុំមាន​តម្រូវ​ឲ្យ​បង់​បុព្វលាភធានា​រ៉ាប់រង​ជា​បន្ត​ទៀត​ទេ ក្នុង​អំឡុង​ពេល​នៃ​​​​​រយៈ​​ពេល​​ធានា​​រ៉ាប់រង​អាយុ​ជីវិត​​​បន្ថែម​នេះ។ ចំនួន​​ទឹកប្រាក់ត្រូវបាន​​ធានារ៉ាប់រង​ដែល​ស្មើ​នឹង​ចំនួន​ទឹកប្រាក់​ត្រូវបាន​ធានារ៉ាប់រង​​នៃ​គម្រោង​មូលដ្ឋាន ដែល​​លោក​អ្នក​បាន​ជ្រើស​រើស​នៅ​គ្រា​ដំបូង​នៃ​បណ្ណ​សន្យារ៉ាប់រង​ នឹង​ត្រូវបាន​​ទូទាត់​ជូន​ ក្នុង​ករណី​មរណភាព ឬ​ពិការភាពទាំងស្រុង​ និង​ជា​អចិន្ត្រៃយ៍​កើតឡើង​ចំពោះ​​អ្នក​ត្រូវ​បាន​ធានារ៉ាប់រង​​ចម្បង​ក្នុង​រយៈ​ពេល​ធានា​រ៉ាប់រង​អាយុ​ជីវិត​​​បន្ថែម​នេះ។ អត្ថប្រយោជន៍ចំណូលគ្រួសារមិន​មានផ្តល់​ជូន​ទេ​​ សម្រាប់រយៈ​​ពេល​ធានា​រ៉ាប់រង​អាយុ​ជីវិត​​​បន្ថែមនេះ។
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<div class="divFooter">

				<table width="100%">
					<tr>
						<td style="text-align: left; vertical-align: bottom;">
							<p class="MsoNormal">
								<span lang="KHM"
									style="font-size: 5.0pt; font-family: Khmer OS; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM">©
									<span th:text="${#dates.year(#dates.createNow())}"></span>
									ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍ ម.ក ។
									រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ
									ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង
									ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។
								</span><span
									style="font-size: 5.0pt; font-family: Khmer OS; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM"></span>
							</p>
						</td>

						<td style="text-align: right; font-size: 7.5px;">V<span
							th:text="${version} + '-' + ${serialno1} + '2'"></span>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div style="page-break-before: always;"></div>
		<div class="page-section">
			<table border="0" cellpadding="0" cellspacing="0"
				style="margin-top: 0px; width: 812px; background-color: white; border-collapse: collapse;">
				<tr>
					<td colspan="8" style="height: 70px; text-align: left;">
						<table
							style="width: 100%; background-color: white; border-collapse: collapse; border: 0 solid black;"
							border="0">
							<tr>
								<th colspan="2"
									style="text-align: left; vertical-align: middle; margin-top: 20px;">
									<span style="font-size: 15px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល<br/>
								</span> <img th:src="@{/resources/images/edusmart_logo.png}"
									style="height: 30px; vertical-align: middle;" />
								</th>


								<th style="width: 137px; text-align: center;"><img
									th:src="@{/resources/images/pru_logo_2.png}"
									style="height: 70px; vertical-align: middle;" /></th>
							</tr>
						</table>
					</td>
				</tr>

				<tr style="padding-top: 10px;">
					<td>
						<table
							style="width: 100%; background-color: white; border-collapse: collapse; border: 0 solid red;"
							border="0">
							<tr>
								<td style="width: 812px; text-align: left;font-size:10px;">
<span style="font-weight: 600;">១០.</span> <th:block sec:authorize="hasAnyAuthority('ACCESS_PRUTECT')">សម្រាប់​អត្ថប្រយោជន៍​បន្ថែម Safety+ (បើមាន) ចំនួន​ទឹកប្រាក់​ត្រូវបាន​ធានារ៉ាប់រងសរុប​នៃ​លក្ខខណ្ឌ​បន្ថែម​នេះ​ នឹង​ត្រូវ​ទូទាត់​ជូន​ ក្នុង​ករណី​ដែល​អ្នក​ត្រូវ​បាន​ធានារ៉ាប់រង​នៃ​លក្ខខណ្ឌ​បន្ថែម​នេះ​ទទួល​មរណភាព ឬពិការភាព​ទាំងស្រុង​ និង​ជាអចិន្ត្រៃយ៍​​ ដែល​បណ្តាល​មក​ពី​គ្រោះថ្នាក់​ចៃនដ្យ។</th:block>សម្រាប់​អត្ថ​ប្រយោជន៍​ធានារ៉ាប់រង​មាតា​បិតា​ (បើមាន) ចំនួន​ទឹកប្រាក់​ត្រូវ​បាន​ធានារ៉ាប់រង​សរុប​នៃ​លក្ខខណ្ឌ​បន្ថែម​នេះ នឹង​ត្រូវ​បាន​ទូទាត់​ជូន​​លោក​អ្នក​ ក្នុង​ករណី​ដែល​អ្នក​ត្រូវ​បាន​ធានា​រ៉ាប់រង​​នៃ​លក្ខខណ្ឌ​បន្ថែម​នេះ​ទទួល​មរណភាព ឬ​ពិការភាពទាំងស្រុង និង​ជា​អចិន្ត្រៃយ៍​។ រីឯ​អត្ថ​ប្រយោជន៍​ចំណូល​គ្រួសារ​វិញ (បើមាន) ​ចំនួន​ទឹកប្រាក់ត្រូវបាន​​ធានារ៉ាប់រង​នៃ​លក្ខខណ្ឌ​បន្ថែម​នេះ​ នឹង​ត្រូវ​បាន​ទូទាត់​ជូនជារៀងរាល់​ខួប​ប្រចាំ​ឆ្នាំ​នៃ​បណ្ណសន្យារ៉ាប់រង​​ ​រហូត​ដល់​កាល​បរិច្ឆេទ​ផុត​កំណត់​នៃ​បណ្ណ​សន្យារ៉ាប់រង​ ដែល​ការ​ទូទាត់​នេះ​​នឹង​ត្រូវ​ធ្វើ​ឡើង​ជា​ប្រចាំ​ឆ្នាំ​ ក្នុង​ករណី​​អ្នក​ត្រូវ​បាន​ធានា​រ៉ាប់រង​នៃ​លក្ខខណ្ឌ​បន្ថែម​នេះទទួល​មរណភាព ឬ​ពិការភាពទាំងស្រុង និង​ជា​អចិន្ត្រៃយ៍​។​ អត្ថប្រយោជន៍​ធានារ៉ាប់រង​មាតាបិតា និង​អត្ថប្រយោជន៍​ចំណូល​គ្រួសារ​ មិន​មាន​ផ្តល់​ជូន​នោះទេ សម្រាប់​រយៈពេល​ធានារ៉ាប់រង​អាយុជីវិត​បន្ថែម។
<br/><span style="font-weight: 600;">១១.</span> ប្រសិន​បើ​លោក​អ្នក​ធ្វើការ​សម្រេច​ចិត្ត​ថា​មិន​បន្ត​បណ្ណ​សន្យារ៉ាប់រង​នេះ​ទៀត​ទេ​ លោក​អ្នក​អាច​ធ្វើ​ការ​លុប​ចោល​បណ្ណ​សន្យារ៉ាប់រង​នេះ​វិញ​ក្នុង​រយៈ​ពេល​ម្ភៃ​មួយ​ (២១) ថ្ងៃ​ គិត​ចាប់​ពី​កាលបរិច្ឆេទ​នៃ​ការចេញ​វិញ្ញា​បនបត្រ​​ធានារ៉ាប់រង​អាយុ​ជីវិត​។ រយៈពេល​នេះហៅ​ថា​រយៈពេល​​សាកល្បង​ ឬ​រយៈពេល​ពិចារណា​។ ក្នុង​ករណី​នេះ ក្រុមហ៊ុន​នឹង​ធ្វើ​ការ​បង្វិល​ប្រាក់​ជូន​​ម្ចាស់​បណ្ណ​សន្យា​រ៉ាប់រង​​វិញ ដូច​ខាងក្រោម៖ (១) បុព្វលាភធានារ៉ាប់រង​​ទាំង​អស់​ដែល​ក្រុមហ៊ុន​បាន​ទទួល​ ដក​មកវិញ​នូវ​ (២) ​ថ្លៃ​ពិនិត្យ​សុខភាព (បើមាន) ដកមកវិញ​នូវ (៣)​ បំណុល​មិន​ទាន់​ទូទាត់​ផ្សេងទៀត (បើមាន)។
<br/><span style="font-weight: 600;">១២.</span> ក្រុមហ៊ុនរក្សាសិទ្ធិក្នុងការបដិសេធ ចំពោះការទាមទារសំណងលើការទទួលមរណភាព ឬ ពិការភាពទាំងស្រុងនិងជាអចិន្ត្រៃយ៍ ដែលមិនមែនបណ្តាលមកពីគ្រោះថ្នាក់ចៃដន្យ ប្រសិនបើការទទួលមរណភាព ឬ ពិការភាពទាំងស្រុងនិងជាអចិន្ត្រៃយ៍នោះ បណ្តាលមកពីមូលហេតុណាមួយដូចមានរៀបរាប់ខាងក្រោម ទោះដោយផ្ទាល់ ឬប្រយោលក្តី៖
<br/><span style="font-size: 10px; padding-left: 10px;">(១).</span> ការធ្វើអត្តឃាត ឬការប៉ុនប៉ងធ្វើអត្តឃាត ឬធ្វើឲ្យរបួសខ្លួនឯង ទោះបីជាស្ថិតក្នុងស្ថានភាពផ្លូវចិត្តប្រក្រតី ឬមិនប្រក្រតីក៏ដោយ ក្នុងរយៈពេលពីរ (២) ឆ្នាំ ដោយគិតចាប់ពីកាលបរិច្ឆេទមានសុពលភាពនៃបណ្ណសន្យារ៉ាប់រង ឬដោយគិតចាប់ពីកាលបរិច្ឆេទមានសុពលភាពនៃការបន្តសុពលភាពបណ្ណសន្យារ៉ាប់រងឡើងវិញ ដោយយកកាលបរិច្ឆេទចុងក្រោយគេ ឬ
<br/><span style="font-size: 10px; padding-left: 10px;">(២).</span> មេរោគអេដស៍ និង/ឬ ជម្ងឺណាមួយដែលជាប់ទាក់ទងនឹងមេរោគអេដស៍ រួមទាំង ជម្ងឺអេដស៍ និង/ឬការផ្លាស់ប្តូរ ការវិវត្តន៍ ឬការប្រែប្រួលនៃមេរោគអេដស៍ និង/ឬ ជម្ងឺដែលជាប់ទាក់ទងនឹងមេរោគអេដស៍ រួមទាំងជម្ងឺអេដស៍ ឬ
<br/><span style="font-size: 10px; padding-left: 10px;">(៣).</span> ការប្រព្រឹត្ត ឬការប៉ុនប៉ងប្រព្រឹត្តនូវបទល្មើសព្រហ្មទណ្ឌ ដោយម្ចាស់បណ្ណសន្យារ៉ាប់រង អ្នកត្រូវបានធានារ៉ាប់រង ឬអ្នកទទួលផលម្នាក់ ឬច្រើននាក់ ឬ
<br/><span style="font-size: 10px; padding-left: 10px;">(៤).</span> ការប្រើគ្រឿងញៀន ឬថ្នាំសប្បាយ ការសេពគ្រឿងស្រវឹងហួសកម្រិត ឬបើកបរយានជំនិះក្រោមឥទ្ធិពលនៃគ្រឿងស្រវឹង ដូចមានចែងនៅក្នុងច្បាប់ និងបទប្បញ្ញត្តិជាធរមាន។
<br/>
ក្នុងករណីនេះ ប្រសិនបើក្រុមហ៊ុនធ្វើការបដិសេធចំពោះសំណើទាមទារសំណង ក្រុមហ៊ុននឹងធ្វើការទូទាត់ឱ្យវិញនូវចំនួនទឹកប្រាក់ ដូចខាងក្រោម៖ (១). បុព្វលាភធានារ៉ាប់រងសរុបដែលបានបង់ ដោយដកយកមកវិញនូវ (២). ថ្លៃពិនិត្យសុខភាពណាមួយដែលបានចំណាយ (ប្រសិនបើមាន) ដោយដកយកមកវិញនូវ (៣). ចំនួនទឹកប្រាក់ណាមួយដែលនៅជំពាក់ក្រុមហ៊ុន (ប្រសិនបើមាន)។
<br/><span style="font-weight: 600;">១៣.</span> រាល់លក្ខខណ្ឌនៃករណីមិនធានា ដែលមានកំណត់នៅក្នុង​ចំនុច​ទី១២ ខាងលើក៏ត្រូវបានអនុវត្តផងដែរចំពោះការទាមទារសំណងក្នុងករណីដែលមានការទទួលមរណភាព ឬ ពិការ​ភាព​ទាំងស្រុង និងជាអចិន្ត្រៃយ៍ ដែលបណ្តាលមកពីគ្រោះថ្នាក់ចៃដន្យ។ លើសពីនេះទៅទៀត ក្រុមហ៊ុនរក្សាសិទ្ធិក្នុងការបដិសេធការទាមទារសំណងចំពោះការទទួលមរណភាព ឬ ពិការភាពទាំងស្រុងនិងជាអចិន្ត្រៃយ៍ ដោយគ្រោះថ្នាក់ចៃដន្យ ប្រសិនបើការទទួលមរណភាព ឬ ពិការភាពទាំងស្រុងនិងជាអចិន្ត្រៃយ៍នោះ បណ្តាលមកពីមូលហេតុណាមួយដូចមានរៀបរាប់ខាងក្រោម ទោះដោយផ្ទាល់ ឬប្រយោលក្តី៖
<br/><span style="font-size: 10px; padding-left: 10px;">(១).</span> ការចូលរួមនៅក្នុងសកម្មភាពកីឡាដែលងាយមានគ្រោះថ្នាក់ មានដូចជា ការមុជក្រោមទឹកដែលចាំបាច់ត្រូវប្រើបំពង់អុកស៊ីសែន ការឡើងភ្នំ ការលោតឆ័ត្រយោង ឬការប្រណាំងយក​ល្បឿនលឿន ឬសកម្មភាពកីឡាអាជីពផ្សេងៗ ឬសកម្មភាពអាជីពនានាដែលពាក់ព័ន្ធនឹងការដោះសំអាតគ្រឿងមិនទាន់ផ្ទុះ ឬ
<br/><span style="font-size: 10px; padding-left: 10px;">(២).</span> ការចូលរួមក្នុងសកម្មភាពអាកាសចរណ៍នានា លើកលែងតែជាអ្នកដំណើរដែលត្រូវបង់ប្រាក់ថ្លៃធ្វើដំណើរ តាមយន្តហោះពហុម៉ាស៊ីន យន្តហោះមានកាលវិភាគធ្វើដំណើរត្រឹមត្រូវ និងយន្តហោះមានអាជ្ញាបណ្ណធ្វើពាណិជ្ជកម្មត្រឹមត្រូវ ឬ
<br/><span style="font-size: 10px; padding-left: 10px;">(៣).</span> សកម្មភាពសង្រ្គាម ឬអំពើហិង្សា រួមមានដូចជា ការឈ្លានពាន សកម្មភាពបង្កហេតុដោយប្រទេសបរទេសណាមួយ សកម្មភាពបង្កហេតុដោយសត្រូវណាម្នាក់ (ទោះបីជាមាន ឬគ្មានការប្រកាសសង្រ្គាមក៏ដោយ) សង្រ្គាមស៊ីវិល អំពើបះបោរ បដិវត្តន៍ កុប្បកម្ម ការជ្រៀតជ្រែករបស់អាជ្ញាធរយោធា ឬការដណ្តើមអំណាច ឬ
<br/><span style="font-size: 10px; padding-left: 10px;">(៤).</span> រាល់​ជម្ងឺ​ដែល​បណ្តាល​មក​ពី​ការ​ខាំ ឬទិច​ ដោយសត្វ​ល្អិត រួម​ទាំង​មូសខាំ និង​ដង្កូវ ឬ​សត្វ​ល្អិត​​រាតត្បាត​ក្នុង​រាងកាយ។
<br/>
ក្នុងករណីនេះ ប្រសិនបើក្រុមហ៊ុនធ្វើការបដិសេធចំពោះសំណើទាមទារសំណង ដោយយោងតាមប្រការ​ខាងលើ​នេះ ប៉ុន្តែការទាមទារសំណងនោះបែរជាអាចទទួលយកបានស្របតាមចំនុច​ទី ១២ វិញ នោះក្រុមហ៊ុននឹងធ្វើការទូទាត់ឱ្យវិញនូវចំនួនទឹកប្រាក់ ដូចខាងក្រោម៖ (១). ចំនួនទឹកប្រាក់ត្រូវបានធានារ៉ាប់រង ដូចមានចែងនៅក្នុងវិញ្ញាបនបត្រធានារ៉ាប់រងអាយុជីវិត ឬលិខិតបញ្ជាក់ពីការផ្លាស់ប្តូរចុងក្រោយបំផុត (ប្រសិនបើមាន) ដោយដកយកមកវិញនូវ (២). ចំនួនទឹកប្រាក់ណាមួយដែលនៅជំពាក់ក្រុមហ៊ុន (ប្រសិនបើមាន)។
<br/>
ក្នុងករណីដែលក្រុមហ៊ុនធ្វើការបដិសេធចំពោះសំណើទាមទារសំណង ដោយយោងតាមចំនុចទី ១២ និង ១៣ ដូចខាងលើ  នោះក្រុមហ៊ុននឹងធ្វើការទូទាត់ឱ្យវិញនូវចំនួនទឹកប្រាក់ ដូចខាងក្រោម៖ (១). បុព្វលាភធានារ៉ាប់រងសរុបដែលបានបង់ ដោយដកយកមកវិញនូវ  (២). ថ្លៃពិនិត្យសុខភាពណាមួយដែលបានចំណាយ ដោយដកយកមកវិញនូវ (៣). ចំនួនទឹកប្រាក់ណាមួយដែលនៅជំពាក់ក្រុមហ៊ុន (ប្រសិនបើមាន)។
<br/><span style="font-weight:600;">១៤.</span> ការ​បង្ហាញ​នេះ​ជា​ផ្នែក​មួយ​នៃ​​កិច្ច​សន្យា​ធានា​រ៉ាប់រង​ ហើយ​សូម​អាន​តារាង​លម្អិត​បង្ហាញ​​អំពី​អត្ថ​ប្រយោជន៍​ធានារ៉ាប់រង​នេះ រួម​ជាមួយ​នឹង​ឯកសារ​ស្តីពី​ ខ និង​លក្ខខណ្ឌ​នៃផលិតផល​នេះ​។
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="padding-top: 10px;">
					<td style="padding-top: 10px;">
						<table
							style="width: 100%; background-color: white; border-collapse: collapse; border: 0 solid black;"
							border="0">
							<tr>
								<td style="width: 360px; text-align: left; vertical-align: top; font-size: 10px;">
									ខ្ញុំបាទ-នាងខ្ញុំបានពន្យល់អតិថិជនទាំងស្រុងអំពីអត្ថប្រយោជន៍
									រួមជាមួយ ខ​ និង​​​​​លក្ខខណ្ឌនៃគម្រោងមូលដ្ឋាន និងលក្ខខណ្ឌបន្ថែមនានា។
								</td>
								<td style="width: 40px; text-align: left;">&nbsp;</td>
								<td style="width: 360px; text-align: left; vertical-align: top; font-size: 10px;">
									ខ្ញុំបាទ-នាងខ្ញុំបានអាន
									និងទទួលការប្រឹក្សាយោបល់យ៉ាងច្បាស់លាស់ពី​​​​​​​​​​​​​​ទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត
									អំពីតារាងលម្អិតបង្ហាញពីអត្ថប្រយោជន៍​ធានារ៉ាប់រងនេះ ព្រមទាំង ខ
									និងលក្ខខណ្ឌទាំងឡាយនៃផលិតផលទាំងនេះ។</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
						<table
							style="width: 100%; background-color: white; border-collapse: collapse; border: 0 solid;"
							border="0">
							<tr>
								<td style="width: 360px; text-align: left;">
									<table
										style="width: 100%; height: 50px; background-color: white; border-collapse: collapse; border: 1px solid black;"
										border="1">
										<tr>
											<td style="text-align: left; font-size: 10px;"><br />
											<br />
											<br />
												ហត្ថលេខារបស់ទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត:
											</td>
										</tr>
									</table>
								</td>
								<td style="width: 40px; text-align: left;">&nbsp;</td>
								<td style="width: 360px; text-align: left;">
									<table
										style="width: 100%; height: 50px; background-color: white; border-collapse: collapse; border: 1px solid black;"
										border="1">
										<tr>
											<td style="text-align: left; font-size: 10px;"><br />
											<br />
											<br /> ហត្ថលេខារបស់ម្ចាស់​បណ្ណ​សន្យា​រ៉ាប់រង:</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr style="padding-top: 10px;">
								<td>&nbsp;</td>
							</tr>
							<tr>
								<!-- <th:block th:switch="${#authorization.expression('hasRole(''BLANK_AGNT_INFO'')')}">
									<th:block th:case="${true}">
									<td style="width: 350px; text-align: left; font-size: 10px;" colspan=1><b>រៀបចំដោយ:
											___________________________________________</td>
									<td style="width: 60px; text-align: left;" colspan=1></td>
									<td style="width: 350px; text-align: left; font-size: 10px;" colspan=1><b>ឈ្មោះរបស់ម្ចាស់​បណ្ណ​សន្យា​រ៉ាប់រង:
											___________________________________________</td>
									</th:block>
									<th:block th:case="${false}">
										<td style="width: 350px; text-align: left; font-size: 10px;" colspan=1><b>រៀបចំដោយ:
												____<u th:text="${name}"></u>_____________</td>
										<td style="width: 60px; text-align: left;" colspan=1></td>
										<td style="width: 350px; text-align: left; font-size: 10px;" colspan=1><b>ឈ្មោះរបស់ម្ចាស់​បណ្ណ​សន្យា​រ៉ាប់រង:
												____________________________________</td>
									</th:block>	
								</th:block> -->
								<th:block  th:switch="${isonbehalf}">
									<th:block th:case="${'15'}">
										<td style="width: 360px; text-align: left; font-size: 10px;" colspan=1><b>រៀបចំដោយ:
												___________________________________________</td>
										<td style="width: 40px; text-align: left;" colspan=1></td>
										<td style="width: 360px; text-align: left; font-size: 10px;" colspan=1><b>ឈ្មោះរបស់ម្ចាស់​បណ្ណ​សន្យា​រ៉ាប់រង:
											___________________________________________</td>
									</th:block>
									<th:block th:case="${'16'}">
										<td style="width: 360px; text-align: left; font-size: 10px;" colspan=1><b>រៀបចំដោយ:
												____<u th:text="${name}"></u>_____________</td>
										<td style="width: 40px; text-align: left;" colspan=1></td>
										<td style="width: 360px; text-align: left; font-size: 10px;" colspan=1><b>ឈ្មោះរបស់ម្ចាស់​បណ្ណ​សន្យា​រ៉ាប់រង:
												____________________________________</td>
									</th:block>
									<th:block th:case="*">
										<td style="width: 360px; text-align: left; font-size: 10px;" colspan=1><b>រៀបចំដោយ:
												____<u th:text="${name}"></u>_____________</td>
										<td style="width: 40px; text-align: left;" colspan=1></td>
										<td style="width: 360px; text-align: left; font-size: 10px;" colspan=1><b>ឈ្មោះរបស់ម្ចាស់​បណ្ណ​សន្យា​រ៉ាប់រង:
												____________________________________</td>
									</th:block>
								</th:block>
							</tr>
							<tr>
								<!-- <td style="text-align: left; font-size: 10px;" colspan=3><b>ទីប្រឹក្សាហិរញ្ញវត្ថុ/ប្រឹក្សា​សន្យារ៉ាប់រងអាយុជីវិត:
										<th:block sec:authorize="!hasRole('BLANK_AGNT_INFO')">
											<span th:text="${code}"></span>
										</th:block>
								</td> -->
								<td style="text-align: left; font-size: 10px;" colspan=3><b>ទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សា​ធានារ៉ាប់រងអាយុជីវិត:
									<th:block th:if="${isonbehalf == null || isonbehalf == '16'}">
										<span th:text="${code}"></span>
									</th:block>
								</td>
							</tr>
							<tr>
								<td style="text-align: left; font-size: 10px;" colspan=3><b />កាលបរិច្ឆេទ: <span
									th:text="${#dates.format(#dates.createNow(),'dd MMM yyyy hh:mm:ss aa')}"></span></td>
							</tr>
						</table>
					</td>
				</tr>

			</table>
			<div class="divFooter">

				<table width="100%">
					<tr>
						<td style="text-align: left; vertical-align: bottom;">
							<p class="MsoNormal">
								<span lang="KHM"
									style="font-size: 5.0pt; font-family: Khmer OS; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM">©
									<span th:text="${#dates.year(#dates.createNow())}"></span>
									ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍ ម.ក ។
									រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ
									ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង
									ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។
								</span><span
									style="font-size: 5.0pt; font-family: Khmer OS; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM"></span>
							</p>
						</td>

						<td style="text-align: right; font-size: 7.5px;">V<span
							th:text="${version} + '-' + ${serialno1} + '3'"></span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>
</body>
<script type="text/javascript" th:src="@{/resources/js/report.js}"></script>
</html>