<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/report.css}"  />
<script th:src="@{/resources/jquery/jquery-1.11.2.min.js}" type="text/javascript"></script>
<title>Pru Quote Online</title>
<style>
			body{margin:0px;}
			@font-face {
				font-family: 'Kh-Metal-Chrieng';
				src: url(Kh-Metal-Chrieng.eot);
				src: url(Kh-Metal-Chrieng.eot?#iefix) format('embedded-opentype'),
					url(Kh-Metal-Chrieng.woff2) format('woff2'),
					url(Kh-Metal-Chrieng.woff) format('woff'),
					url(Kh-Metal-Chrieng.ttf) format('truetype'),
					url(Kh-Metal-Chrieng.svg) format('svg');
					font-weight: normal;
					font-style: normal;
			}
			#t1{
				background-image:url("top1.jpg");
				height:110px;
			}
			input{border:none;background:#F8F8F8;padding-left:5px;}
			checkbox{border:1px solid red;border-radius:2px;}
			.label{font-size:11px;font-family:Kh-Metal-Chrieng;}
			.label p{line-height:15px;border:1px solid #999;}
			.ln15{line-height:15px;}
			.ln90{height:90px;}
			.ln70{height:70px;}
			input{height:25px;width:174px;}
			tr{margin:0px; height:20px;}
			td{height:20px;}
			table{border-spacing: 0;
			border-collapse: collapse;}	
			.bggray{background:#F0F0F0;width:153px;}
			.bgred{background:#F20024;color:white}
			#boxred{padding:0px 20px 0px 20px;background:#F40006;width:758px;color:#FFF;border-radius:30px;}
			#boxred:after{padding:0px 20px 0px 20px;background:#F40006;width:758px;color:#FFF;border-radius:30px;}
			
			.page1 { height:1125px; position:relative;border:1px solid #ccc;width:855px;float:left;}
			.page1 .bottom1{float:left;margin-left:0px; }
			.page1 .bottom1 img{width:855px; }
			.page1 .top1 img {width:855px;}
			
			.page2 { height:1125px; position:relative;border:1px solid #ccc;width:855px;float:left;}
			.page2 .bottom2{float:left;margin-left:0px;z-index:1000;margin-top:-28px; }
			.page2 .bottom2 img{width:855px; }
			.page2 .top2 img {width:855px;}
			
			.page3 { height:1125px; position:relative;border:1px solid #ccc;width:855px;float:left;}
			.page3 .bottom3{float:left;margin-left:0px;z-index:1000;margin-top:-28px; }
			.page3 .bottom3 img{width:855px; }
			.page3 .top3 img {width:855px;}
			
			.page4 { height:1125px; position:relative;border:1px solid #ccc;width:855px;float:left;margin-top:70px;}
			.page4 .bottom4{float:left;margin-left:0px;z-index:1000;margin-top:-28px; }
			.page4 .bottom4 img{width:855px; }
			.page4 .top4{float:left;}
			.page4 .top4 img {width:855px;}
			
			.page5 { height:1125px; position:relative;border:0px solid #ccc;width:855px;float:left;margin-top:70px;display:none;}
			.page5 .bottom5{float:left;margin-left:0px;z-index:1000;margin-top:-28px; }
			.page5 .bottom5 img{width:855px; }
			.page5 .top5{float:left;}
			.page5 .top5 img {width:855px;}
			
			br{style="line-height:10px;"}
</style>
<style type="text/css">
			   
				/*.serial{
					counter-increment: page;
				}
				.serial:after {    	
					content: counter(page);
				}*/	
		
			@page {  
				size: A4; 		  				  
				margin: 0.0in 0.0in 0.0in 0.1in;  		 
			}
				
			@media screen {
				div.divFooter {
					//display: none;
				}
			}
			@media print {
				@page page1 {  
					size: A4; 		  				  
					margin: 0.0in 0.0in 0.0in 0.1in;  		 
				}
				@page page2 {  
					size: A4; 		  				  
					margin: 0.0in 0.0in 0.0in 0.1in;  		 
				}
				@page page3 {  
					size: A4; 		  				  
					margin: 0.0in 0.0in 0.0in 0.1in;  		 
				}
				@page page4 {  
					size: A4; 		  				  
					margin: 0.0in 0.0in 0.0in 0.1in;  		 
				}
				tr{margin:0px; height:35px;}
				.ln15{line-height:20px;}
				.ln90{height:105px;}
				.ln70{height:80px;}
				.note{display:none;}
				.page1 {height:12.8in; position:relative;display:block;float:left;}
				.page1 .bottom1{float:left;margin-left:0px;position:relative;}
				.page1 .bottom1 img{width:855px; }
				.page1 .top1 img {width:855px;}
				
				.page2 {height:12in; position:relative;width:855px;float:left;border:none;}
				.page2 .bottom2{float:left;margin-left:0px;z-index:1000;margin-top:-28px; }
				.page2 .bottom2 img{width:855px; }
				.page2 .top2 img {width:855px;}
				
				.page3 {height:12in; position:relative;width:855px;float:left;border:none}
				.page3 .bottom3{float:left;margin-left:0px; }
				.page3 .bottom3 img{width:855px; }
				.page3 .top3 img {width:855px;}	
				
				.page4 {height:12in; position:relative;width:855px;float:left;border:none;padding-top:100px;}
				.page4 .bottom4{float:left;margin-left:0px;padding-top:160px; }
				.page4 .bottom4 img{width:855px; }
				.page4 .top4 img {width:855px;}	
				
				.page5 {height:1125px; position:relative;border:0px solid #ccc;width:855px;float:left;margin-top:70px;display:inline;}
				.page5 .bottom5{float:left;margin-left:0px;z-index:1000;margin-top:-28px; }
				.page5 .bottom5 img{width:855px; }
				.page5 .top5{float:left;}
				.page5 .top5 img {width:855px;}
			}
</style>
<script type="text/javascript">
        function printpage() {
            //Get the print button and put it into a variable
            var printButton = document.getElementById("btnPrint");
            var printClose = document.getElementById("btnClose");
            //Set the print button visibility to 'hidden' 
            printButton.style.visibility = 'hidden';
            
            //Print the page content
            window.print()
            //Set the print button to 'visible' again 
            //[Delete this line if you want it to stay hidden after printing]
            printButton.style.visibility = 'visible';
        }
        function closepage() {
            //Close the page content
            window.close();
        }
</script>
</head>
<body>
<form th:object="${pruquoteparm}" onsubmit="return checkSubmit();">
<th:block th:each="lstEasyLifeForm : ${lstEasyLifeBlankForm}">
<div class="page1">
            <div class="top1">
                <img th:src="@{/resources/images/top1.jpg}"/>
            </div>
            <div class="content1" style="padding-left:25px;float:left;">
                <div>
                    <table width="800">
                        <tr><td colspan="4" style="font-family:Kh-Metal-Chrieng;color:red;font-size:14px;"><img alt="Click here to Print Pruquote" class="style1" th:src="@{/resources/images/Print.jpg}" id="btnPrint" onclick="printpage()" /><span class="note">* សូមចុចព្រីនមួយសន្លឹកម្តងៗ ដើម្បីជៀសវៀងលេខកូដរបស់ពាក្យស្នើសុំជាន់គ្នា!</span></td>
                        	<td class="label" colspan="2" style="text-align:right;" >លេខពាក្យស្នើសុំ : <input type="text" readonly id="txtappnum" name="txtappnum" th:value="${lstEasyLifeForm[1]}" style="background:white;border-bottom:1px solid black;width:80px;text-align:center;"/></td>
                        </tr>
                        <tr>
                            <td class="label">កាលបរិច្ឆេទ</td>
                            <td>:</td>
                            <td><input type="text" id="txtoccdate" name="txtoccdate"  readonly  style="border:1px solid #999;border-radius:5px;"/></td>
                            <td class="label">&nbsp;&nbsp;ឈ្មោះទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិត</td>
                            <td>:</td>
                            <td><input type="text" style="width:170px; border:1px solid #999;border-radius:5px;" id="txtagntname" name="txtagntname" readonly  /></td>
                        </tr>
                        <tr>
                            <td class="label">លេខបណ្ណសន្យារ៉ាប់រង </td>
                            <td>:</td>
                            <td><input type="text" id="txtchdrnum" name="txtchdrnum" readonly style="border:1px solid #999;border-radius:5px;"/></td>
                            <td class="label">&nbsp;&nbsp;លេខកូដទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិត</td>
                            <td>:</td>
                            <td><input type="text" style="width:170px; border:1px solid #999;border-radius:5px;" id="txtagntnum" name="txtagntnum" readonly   /></td>
                        </tr>
                        <tr>
                            <td class="label">កាលបរិច្ឆេទបង្កាន់ដៃ</td>
                            <td>:</td>
                            <td><input type="text" readonly id="txttrndate" name="txttrndate"   style="border:1px solid #999;border-radius:5px;"/></td>
                            <td class="label" style="width:500px;">&nbsp;&nbsp;លេខទូរស័ព្ទទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិត</td>
                            <td>:</td>
                            <td><input type="text" style="width:170px; border:1px solid #999;border-radius:5px;" id="txtagntphone" name="txtagntphone" readonly /></td>
                        </tr>
                    </table>
                </div>
                <div id="boxred">
                    <table>
	                    <tr><td class="label ln22" style="font-size:10px;color:white;">&nbsp;&nbsp;&nbsp;&nbsp;សូមអានព័ត៌មានទាំងនេះឲ្យបានច្បាស់លាស់មុនពេលបំពេញពាក្យស្នើសុំនេះ៖<br/>
	                    		ក)  សូមបំពេញឲ្យបានច្បាស់លាស់ដោយទឹកប៊ិចពណ៌ខ្មៅ/ពណ៌ខៀវតែប៉ុណ្ណោះ។<br style="margin-top:1px;"/>
	                    		ខ)  សូមលោកអ្នកផ្តល់នូវរាល់ព័ត៌មានទាំងអស់ឲ្យបានគ្រប់គ្រាន់ ត្រឹមត្រូវ និងជាក់លាក់។  ការមិនផ្តល់ព័ត៌មាន ឬ ការផ្តល់ព័ត៌មានមិនពិតនឹងនាំឲ្យមោឃភាព ដល់បណ្ណសន្យារ៉ាប់រងរបស់លោកអ្នក។<br style="margin-top:1px;"/>
	                    		<span style="height:15px;">គ)  សូមសាកសួរទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិតក្នុងករណីដែលលោកអ្នកត្រូវការបញ្ជាក់បន្ថែមលើពាក្យស្នើសុំនេះ។</span>
	                    </td></tr>
                    </table>
                </div>
                <div>
                    <table width="800">
                        <tr><td class="label" style="font-size:12px;color:#2F97FF">1.ព័ត៌មានលំអិតអំពីអ្នកត្រូវបានធានារ៉ាប់រង និង បុគ្គលដែលជាកម្មវត្ថុនៃការធានា</td></tr>
                        <tr><td class="label">ឈ្មោះពេញតាមអត្តសញ្ញាណប័ណ្ណ/លិខិតឆ្លងដែន (ជាអក្សរខ្មែរ) <input type="text" readonly style="width:181px;border:1px solid #999;border-radius:5px;" id="txtponamekh" name="txtponamekh"  /> (ជាអក្សរឡាតាំង) <input type="text" id="txtponameen" name="txtponameen" readonly style="width:190px;border:1px solid #999;border-radius:5px;" /></td></tr>
                        <tr><td class="label">លេខអត្តសញ្ញាណប័ណ្ណ/លិខិតឆ្លងដែន <input type="text" id="txtponid" readonly name="txtponid" style="width:262px;border:1px solid #999;border-radius:5px;"/> ថ្ងៃខែឆ្នាំកំណើត(ថ្ងៃ/ខែ/ឆ្នាំ) <input type="text" id="txtpodob" name="txtpodob" readonly style="width:189px;border:1px solid #999;border-radius:5px;"/></td></tr>
                        <tr><td class="label">ទីកន្លែងកំណើត(ប្រទេស) <input type="text" id="txtpopob" readonly name="txtpopob"  style="width:249px;border:1px solid #999;border-radius:5px;"/> សញ្ជាតិ <input type="text" id="txtponat" name="txtponat" readonly  style="width:214px;border:1px solid #999;border-radius:5px;" /> ភេទ : <input type="checkbox"​​ disabled="disabled" style="width:15px; height:15px;vertical-align:bottom" /> ប្រុស ​ <input type="checkbox"​​ disabled="disabled" style="width:15px; height:15px;vertical-align:bottom" /> ស្រី</td></tr>
                        <tr><td class="label">ស្ថានភាពគ្រួសារ <input type="text" id="txtpostatus"  readonly name="txtpostatus" style="width:324px;border:1px solid #999;border-radius:5px;"/> មុខរបរ <input type="text" id="txtpoocc" name="txtpoocc" readonly  style="width:334px;border:1px solid #999;border-radius:5px;"/></td></tr>
                       <tr><td class="label">ភារកិច្ចពិតប្រាកដ <input type="text" id="txtpocurocc" readonly name="txtpocurocc" style="width:247px;border:1px solid #999;border-radius:5px;"/> ចំណូលផ្ទាល់ខ្លួនប្រចាំខែជាមធ្យមក្នុងរយៈពេល12ខែចុងក្រោយ <input type="text" id="txtposal" name="txtposal" readonly value="USD" style="width:130px;border:1px solid #999;border-radius:5px;"/></td></tr>
                        <tr><td class="label">អាសយដ្ឋានទំនាក់ទំនង <input type="text" readonly style="width:672px; height:30px;border:1px solid #999;border-radius:5px;"/></td></tr>
                        <tr><td class="label">ប្រទេស <input type="text"  style="width:250px;border:1px solid #999;border-radius:5px;"/> លេខទូរស័ព្ទ<input type="text" id="txtpophone" value="(+855)" name="txtpophone" style="width:428px;border:1px solid #999;border-radius:5px;"/></td></tr>
                        <tr><td class="label">ប្រទេសរបស់លេខទូរស័ទ្ទ <input type="text"  style="width:250px;border:1px solid #999;border-radius:5px;"/> <input type="text" id="txtpoemail" name="txtpoemail" readonly th:value="${lstEasyLifeForm[2]}"  style="width:367px;background:white;border:0px solid #999;width:40px;font-size:11px;"/><input type="text" id="txtpoemail" name="txtpoemail" readonly  style="width:320px;border:1px solid #999;border-radius:5px;"/></td></tr>
                    </table>
                </div>
                <div>
                    <table width="800">
                        <tr><td class="label" style="font-size:12px;color:#2F97FF">2. ព័ត៌មានអំពីផលិតផល</td></tr>
                        <tr style="height:20px;border-bottom:1px solid white;">
                            <td class="label" style="width:304px;background:#CEE7FF;border-top-left-radius:10px;border-bottom-left-radius:10px;border:1px solid #999;">&nbsp;&nbsp;កញ្ចប់ <img th:src="@{/resources/images/easylife.png}" style="height:35px;vertical-align:middle;width: 53px; height: 16px" /></td>
                            <td class="label" style="width:153px;background:#CEE7FF;border-left:1px solid white;text-align:center;border:1px solid #999;" colspan="2">កញ្ចប់ល្អ<input type="checkbox"​​ style="width:15px; height:15px; vertical-align:bottom " disabled="disabled" /></td>
                            <td class="label" style="width:153px;background:#CEE7FF;border-left:1px solid white;text-align:center;border:1px solid #999;" colspan="2">កញ្ចប់បង្គួរ <input type="checkbox"​​ style="width:15px; height:15px; vertical-align:bottom " disabled="disabled"  /></td>
                            <td class="label" style="width:153px;background:#CEE7FF;border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;border:1px solid #999;" colspan="2">កញ្ចប់មធ្យម<input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" readonly="true"/></td>
                        </tr>
                        <tr style="height:10px;border-bottom:1px solid white;">
                            <td class="label bggray" style="border-top-left-radius:10px;border-bottom-left-radius:10px;border:1px solid #999;">&nbsp;&nbsp;រយៈពេលកំណត់នៃបណ្ណសន្យារ៉ាប់រង</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;" colspan="2">15ឆ្នាំ</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;" colspan="2">15ឆ្នាំ</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;border:1px solid #999;" colspan="2">15ឆ្នាំ</td>
                        </tr>
                        <tr style="height:10px;border-bottom:1px solid white;">
                            <td class="label bggray" style="border-top-left-radius:10px;border-bottom-left-radius:10px;border:1px solid #999;">&nbsp;&nbsp;អាយុនៅថ្ងៃខួបកំណើតចុងក្រោយ</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">18-35<input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" /></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">36-40<input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" /></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">18-35<input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" /></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">36-40<input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" /></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">18-35<input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" /></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;border:1px solid #999;">36-40<input type="checkbox"​​ disabled="disabled" style="width:15px; height:15px;vertical-align:bottom" /></td>
                        </tr>
                        <tr style="height:10px;">
                            <td class="label bggray" style="border-top-left-radius:10px;border-bottom-left-radius:10px;border:1px solid #999;">&nbsp;&nbsp;ទឹកប្រាក់ធានារ៉ាប់រង</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$6,000</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$6,000</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$4,500</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$4,500</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$3,000</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;border:1px solid #999;">$3,000</td>
                        </tr>
                        <tr>
                            <td class="label" style="border-top-left-radius:10px;border-bottom-left-radius:10px;" colspan="7">&nbsp;&nbsp;បុព្វលាភរ៉ាប់រង *</td>
                        </tr>
                         <tr style="height:10px;border-bottom:1px solid white;">
                            <td class="label bggray" style="border-top-left-radius:10px;border-bottom-left-radius:10px;border:1px solid #999;">&nbsp;&nbsp;ទូទាត់ប្រចាំឆ្នាំ <input type="checkbox"​​ disabled="disabled" style="width:15px; height:15px;vertical-align:bottom"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$250.00</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$300.00</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$200.00</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$225.00</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$135.00</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;border:1px solid #999;">$160.00</td>
                        </tr>
                         <tr style="height:10px;">
                            <td class="label bggray" style="border-top-left-radius:10px;border-bottom-left-radius:10px;border:1px solid #999;">&nbsp;&nbsp;ទូទាត់ប្រចាំឆមាស  <input type="checkbox"​​ disabled="disabled" style="width:15px; height:15px;vertical-align:bottom"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$131.00</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$158.00</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$105.00</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$118.00</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;border:1px solid #999;">$71.00</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;border:1px solid #999;">$84.00</td>
                        </tr>
                        <tr  style="height:8px;">
                        	<td class="label" style="border-top-left-radius:10px;border-bottom-left-radius:10px;font-size:9px;height:8px;" colspan="7">&nbsp;&nbsp;*បុព្វលាភរ៉ាប់រងដែលត្រូវបានបង្ហាញក្នុងតារាងខាងលើមិនរួមបញ្ចូលពន្ធអាករឡើយ។ ពន្ធអាករលើបុព្វលាភរ៉ាប់រង (ប្រសិនបើមាន) នឹងត្រូវគិតបញ្ចូលទៅតាមអត្រាដែលកំណត់ដោយច្បាប់ជាធរមាន។</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table width="800">
                       <tr style="height:8px;"><td class="label ln10" style="font-size:12px;color:#2F97FF;height:12px;"colspan="3">3. សេចក្តីប្រកាសរបស់បុគ្គលដែលជាកម្មវត្ថុនៃការធានា</td></tr>
                        <tr style="height:8px;"><td class="label ln10" style="color:#F00;height:12px;" colspan="3">សូមបំពេញផ្នែកនេះឲ្យបានពេញលេញនិងឲ្យអស់ពីសមត្ថភាពដែលលោកអ្នកបានដឹង</td></tr>
                        <tr><td class="label" colspan="3">កំពស់(ម) <input type="text" id="txtpoheight" name="txtpoheight"  style="width:162px;border:1px solid #999;border-radius:5px;"/> ទំងន់(គ.ក) <input type="text" id="txtpoweight" name="txtpoweight" style="width:163px;border:1px solid #999;border-radius:5px;"/>​ ជក់បារីប៉ុន្មានដើមក្នុងមួយថ្ងៃ <input type="text" id="txtpocig" name="txtpocig" style="width:163px;border:1px solid #999;border-radius:5px;"/>
                        <tr>
                            <td class="label" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;border:1px solid #999;"> 1) </td>
                            <td class="label ln15" style="border-left:2px solid white;text-align:justify; width:620px;padding:5px; font-size:10px;background:#F2FDFF;border:1px solid #999;">តើលោកអ្នកធ្លាប់មាន ត្រូវបានប្រាប់ថាមាន ឬពិគ្រោះយោបល់អំពី៖ ជម្ងឺលើសឈាម ដាច់សរសៃឈាមខួរក្បាល ឈឺទ្រូង ស្លេកស្លាំង ដកដង្ហើមថប់ៗ ប្រើសបេះដូង និងជម្ងឺបេះដូងផ្សេងទៀត  ជម្ងឺរបេង  ជម្ងឺហឺត  ឬជម្ងឺមហារីកគ្រប់ប្រភេទ  ជម្ងឺរលាកតម្រងនោមរ៉ាំរ៉ៃ និងជម្ងឺតម្រងនោមផ្សេងទៀត  ជម្ងឺទឹកនោមផ្អែម  ជម្ងឺក្រពេញទីរ៉ូអ៊ីត ឬជម្ងឺក្រពេញអង់ដូគ្រីន  ជម្ងឺថ្លើមប្រភេទB ឬC ជម្ងឺរលាកថ្លើមធ្ងន់ធ្ងរ ឬ ជម្ងឺថ្លើមផ្សេងៗ ជម្ងឺអេដស៍ និងកាមរោគ   ជម្ងឺឈឺក្បាលធ្ងន់ធ្ងរ ជម្ងឺឆ្កួតជ្រូក  ជម្ងឺពាក់ព័ន្ធនឹងប្រព័ន្ធសរសៃប្រសាទ ខួរក្បាល ប្រព័ន្ធប្រសាទឆ្អឹងខ្នង ឬ ប្រព័ន្ធប្រសាទផ្សេងៗទៀត ឬជម្ងឺឈាមដែរឬទេ?</td>
                            <td class="label" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;vertical-align:top;border:1px solid #999;"><input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom;border:2px solid black;"/>មិនធ្លាប់  <input type="checkbox"​​ style="width:15px; height:15px;vertical-align:bottom;border:3px solid black;" disabled="disabled"/>ធ្លាប់</td>
                        </tr>
                    </table>
                </div>
              </div>
              <div class="bottom1" style="float:left;">
                <img th:src="@{/resources/images/bottom1.jpg}"/>
              </div>
        </div>
        <div class="page2">
            <div class="top2">
                <img th:src="@{/resources/images/top2.jpg}"/>
            </div>
            <div class="content2" style="padding-left:25px;float:left;">
                <div>
                    <table width="800">
                    	<tr><td class="label" colspan="3" style="text-align:right;">លេខពាក្យស្នើសុំ  :<input type="text" readonly th:value="${lstEasyLifeForm[1]}" style="background:white;border-bottom:1px solid black;width:70px;text-align:center;"/></td></tr>
                        <tr>
                            <td class="label" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;border:1px solid #999;"> 2) </td>
                            <td class="label ln15" style="border-left:2px solid white;text-align:justify; width:620px;padding:5px; font-size:10px;background:#F2FDFF;border:1px solid #999;">រយៈពេល៥ឆ្នាំកន្លងទៅតើលោកអ្នកធ្លាប់ស្វែងរកការពិគ្រោះយោបល់ ឬធ្លាប់ត្រូវបានស្រាវជ្រាវអំពី ឬធ្លាប់ត្រូវបានប្រាប់ ឬទទួលការព្យាបាល ឬប្រើប្រាស់ថ្នាំ សម្រាប់ព្យាបាលជម្ងឺ ភាពមិនប្រក្រតី របួស ការវះកាត់ដែលមិនបានរៀបរាប់នៅចំណុចខាងលើ (លើកលែងផ្តាសាយ  និងជម្ងឺស្រាលៗ) ដែរឬទេ? </td>
                            <td class="label" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;vertical-align:top;border:1px solid #999;"><input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/>មិនធ្លាប់ <input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/> ធ្លាប់</td>
                        </tr>
                        <tr>
                            <td class="label" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;border:1px solid #999;"> 3) </td>
                            <td class="label ln15" style="border-left:2px solid white;text-align:justify; width:620px;padding:5px; font-size:10px;background:#F2FDFF;border:1px solid #999;">តើលោកអ្នកធ្លាប់ពិសារភេសជ្ជៈមានជាតិអាល់កុលលើសកម្រិត  ធ្លាប់ប្រើគ្រឿងញៀន ឬ  ធ្លាប់ស្វែងរកការពិគ្រោះយោបល់ ឬព្យាបាលការញៀន គ្រឿងស្រវឹង  ឬគ្រឿងញៀនផ្សេងទៀតដែរឬទេ?</td>
                            <td class="label" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;vertical-align:top;border:1px solid #999;"><input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/>មិនធ្លាប់ <input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/>ធ្លាប់</td>
                        </tr>
                        <tr>
                            <td class="label" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;border:1px solid #999;"> 4) </td>
                            <td class="label ln15" style="border-left:2px solid white;text-align:justify; width:620px;padding:5px; font-size:10px;background:#F2FDFF;border:1px solid #999;">តើលោកអ្នកកំពុងចូលរួម  មានបំណងចូលរួម  ឬមាន លេងកីឡា  ទម្លាប់  សកម្មភាព  ឬ មុខរបរណាមួយដែលប្រឈមនឹងគ្រោះថ្នាក់ដូចជា៖ ការមុជក្រោមទឹកដែលចាំបាច់ត្រូវប្រើបំពង់អុកស៊ីសែន  ការឡើងភ្នំ  ការលោតឆ័ត្រយោង  ការប្រណាំងយកល្បឿនលឿន  ការបរបាញ់  ការធ្វើដំណើតាមផ្លូវអាកាស (លើកលែងតែតាមយន្តហោះដឹកអ្នកដំណើរទូទៅ)  មន្រ្តីយោធា  សន្តិសុខដែលមានប្រើប្រាស់អាវុធ  អ្នកពន្លត់អគ្គីភ័យ  អ្នករុករករ៉ែ  កម្មករសំណង់  អ្នកកាប់ឈើ  អ្នកធ្វើការនៅទីខ្ពស់  អ្នកទុកដាក់ជាតិផ្ទុះ  អ្នកនេសាទេនៅសមុទ្រជ្រៅ ដែរឬទេ?  
</td>
                            <td class="label" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;vertical-align:top;border:1px solid #999;"><input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/>គ្មាន&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/>មាន</td>
                        </tr>
                        <tr>
                            <td class="label" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;border:1px solid #999;"> 5) </td>
                            <td class="label ln15" style="border-left:2px solid white;text-align:justify; width:620px;padding:5px; font-size:10px;background:#F2FDFF;border:1px solid #999;">សម្រាប់តែស្ត្រីប៉ុណ្ណោះ<br/>
ក)  តើលោកស្រីមានគភ៌ (7ខែឬលើសពី7ខែ) មែនទេ?<br/>
ខ)  តើលោកស្រីមានភាពមិនប្រក្រតីណាមួយលើ  ការមករដូវ  ការមានគភ៌  សុដន់  ឬ ប្រព័ន្ធបង្ករកំណើតដែរឬទេ?  
</td>
                            <td class="label" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;vertical-align:bottom;padding-top:15px;border:1px solid #999;">
                            <span><input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/>គ្មាន&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"​​ disabled="disabled" style="width:15px; height:15px;vertical-align:bottom"/>មាន<br/>
                            </span>
                            <span style=""><input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/>គ្មាន&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/>មាន
                            </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="label" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;border:1px solid #999;"> 6) </td>
                            <td class="label" style="border-left:2px solid white;text-align:justify; width:620px;padding:5px; font-size:10px;line-height:15px;background:#F2FDFF;border:1px solid #999;">តើលោកអ្នកមានបណ្ណសន្យារ៉ាប់រងដែលកំពុងមានសុពលភាព  ឬ ធ្លាប់ដាក់ពាក្យស្នើសុំជាមួយក្រុមហ៊ុនយើងខ្ញុំ ឬ ក្រុមហ៊ុនផ្សេងទៀតលើកលែងពាក្យស្នើសុំនេះដែរឬទេ? ប្រសិនបើមានសូមផ្តល់ព័ត៌មានលម្អិត (ថាតើជាតម្លៃធម្មតា  តម្លើងថ្លៃ  ពន្យាពេល  បដិសេធ)
</td>
                            <td class="label" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;vertical-align:top;border:1px solid #999;"><input type="checkbox"​​ disabled="disabled" style="width:15px; height:15px;vertical-align:bottom"/>គ្មាន&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/>មាន</td>
                        </tr>
                        <tr>
                        	<td class="label" colspan="7"><span style="font-size:14px;color:red;">សំគាល់:</span> ចំលើយ « <span style="font-size:14px;color:#007EFD;">ធ្លាប់ ឬ មាន</span>» ចំពោះសំណួរណាមួយខាងលើ សូមដាក់លេខសំណួរ ហើយផ្តល់ព័ត៌មានបន្ថែមព្រមទាំងកាលបរិចេ្ឆទ និងរយៈពេល។</td>
                        </tr>
                        <tr><td colspan="7" style="border-top:1px solid black;border-bottom:1px solid black;"></td></tr>
                    </table>
                </div>
                <div>
                	<table width="800">
                    	<tr><td class="label" style="font-size:14px;color:#2F97FF">4. សេចក្តីប្រកាសទូទៅ</td></tr>
                        <tr><td class="label" style="font-size:10px;text-align:justify;line-height:15px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">1)</span> ខ្ញុំបាទ-នាងខ្ញុំបានដឹងយ៉ាងច្បាស់ថា រាល់សំណើសុំការធានារ៉ាប់រងទាំងអស់ក្នុងពាក្យស្នើសុំនេះ ( "ពាក្យសុំ" ) នឹងចាប់ផ្តើមបានលុះត្រាតែពាក្យសុំត្រូវបាន ទទួល យក ជាផ្លូវការដោយក្រុមហ៊ុនព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍  ម.ក ( "ក្រុមហ៊ុន" ) ហើយវិញ្ញាបនបត្រធានារ៉ាប់រងអាយុជីវិត ( "វិញ្ញាបនបត្រ" ) ត្រូវបានចេញជូន។<td></tr>
                        <tr><td class="label" style="font-size:10px; text-align:justify;line-height:15px;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">2)</span> ប្រសិនបើមានអត្ថគាហកណាមួយមិនមែនជាអ្នកត្រូវបានធានារ៉ាប់រងនៃបណ្ណសន្យារ៉ាប់រងនេះ ខ្ញុំបាទ-នាងខ្ញុំនឹងផ្តល់ព័ត៌មានលម្អិតដូចជាឈ្មោះពេញ ឯកសារអត្តសញ្ញាណ និងលេខសម្គាល់ឯកសារ ទំនាក់ទំនង និងចំណែកផលប្រយោជន៍ នៃអត្ថគាហកនីមួយៗនៅក្នុងសេចក្តីប្រកាសអត្ថគាហកដាច់ដោយឡែក។<br/>
"អត្ថគាហក" ដូចមានឲ្យនិយមន័យក្នុងប្រកាសស្តីពីការប្រឆាំងការសម្អាតប្រាក់ និងហិរញ្ញប្បទានភេរវកម្មជាបុគ្គលដែលបាន កាន់កាប់ផ្តាច់មុខ ឬត្រួតពិនិត្យអតិថិជនណាម្នាក់ ឬជាបុគ្គលត្រូវបានធ្វើប្រតិបត្តិការជំនួស។ អត្ថគាហក ក៏រាប់បញ្ចូលនូវបុគ្គល ដែលកាន់កាប់ផ្តាច់មុខលើនីតិបុគ្គល ឬ ការរៀបចំចាត់ចែងណាមួយផងដែរ។</td></tr>
						<tr><td class="label" style="font-size:10px;line-height:15px; ">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">3)</span> ខ្ញុំបាទ-នាងខ្ញុំសូមអនុញ្ញាត និងព្រមព្រៀងថាព័ត៌មាន តួលេខ(នានា) និងទិន្នន័យទាំងស្រុងដែលត្រូវបានផ្តល់ នៅក្នុងពាក្យសុំ អាចត្រូវបានប្រើប្រាស់សម្រាប់គោលបំណង ស្របតាមច្បាប់ ដូចជាការផ្សព្វផ្សាយទីផ្សារ ការសិក្សាទីផ្សារ និង ការបម្រើអតិថិជនដោយក្រុមហ៊ុន សម្ព័ន្ធក្រុមហ៊ុន ឬ ជាដៃគូពាណិជ្ជកម្មរបស់ក្រុមហ៊ុនដោយមិនចាំបាច់មានការ យល់ព្រម និងជូនដំណឹងបន្ថែមពីខ្ញុំបាទ-នាងខ្ញុំឡើយ។ ក្រុមហ៊ុនមិនត្រូវបានអនុញ្ញាតឲ្យបញ្ចេញព័ត៌មានណាមួយទៅភាគីទីបីណាមួយ ឬប្រើប្រាស់ព័ត៌មាននោះសម្រាប់គោល បំណងផ្សេងទៀតដែល មិនទាក់ទងនឹងគោលបំណងស្របតាមច្បាប់ទាំងឡាយខាងលើឡើយ ប្រសិនបើគ្មានការព្រមព្រៀងជាលាយលក្ខណ៍អក្សរនោះឡើយ។</td></tr>
						<tr><td class="label" style="font-size:10px;line-height:15px;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">4)</span>	ខ្ញុំបាទ-នាងខ្ញុំសូមប្រកាសថា ខ្ញុំបាទ-នាងខ្ញុំបានអាននិងបានយល់ខ្លឹមសារសំណួរនានាទាំងស្រុងហើយសូមបញ្ជាក់ថា ព័ត៌មានដែលខ្ញុំបាទ-នាងខ្ញុំបានផ្តល់ឲ្យទាំងអស់មានភាព ពេញលេញត្រឹមត្រូវនិងពិតប្រាកដ ហើយខ្ញុំបាទ-នាងខ្ញុំមិនបានផ្តល់ ព័ត៌មានមិនពិតណាមួយអំពីស្ថានភាពសុខភាព ឬការប្រកាសផ្សេងៗឡើយ។ ខ្ញុំបាទ-នាងខ្ញុំយល់ព្រមថា ក្រុមហ៊ុនរក្សាសិទ្ធិមិនទូទាត់សំណង ក្នុងករណីរកឃើញថាមានការផ្តល់ព័ត៌មានមិនពិតនៅពេលធ្វើការវាយតម្លៃលើសំណង។ ខ្ញុំបាទ-នាងខ្ញុំក៏យល់ព្រមផងដែរថានៅក្នុងករណីបែប នេះមានតែបុព្វលាភរ៉ាប់រងដែលបានបង់រួចប៉ុណ្ណោះនឹងត្រូវផ្តល់ជូនវិញ។</td></tr>
                    </table>
                </div>
                <div>
                	<table width="800">
                    	<tr><td class="label" style="font-size:14px;color:#2F97FF" colspan="5">5. ព័ត៌មានលម្អិតអំពីអ្នកទទួលផល</td></tr>
                        <tr style="height:10px;">
                            <td class="label bgred" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:160px;">ឈ្មោះពេញ </td>
                            <td class="label bgred" style="border-left:1px solid white;width:150px;">ឈ្មោះជាអក្សរឡាតាំង</td>
                            <td class="label bgred" style="border-left:1px solid white;text-align:center;width:45px;">ភេទ</td>
                            <td class="label bgred" style="border-left:1px solid white;text-align:center;width:75px;">ថ្ងៃខែឆ្នាំកំណើត</td>
                            <td class="label bgred" style="border-left:1px solid white;text-align:center;width:280px;">ទំនាក់ទំនងជាមួយបុគ្គលដែលជាកម្មវត្ថុនៃការធានា</td>
                            <td class="label bgred" style="border-left:1px solid white;text-align:center; border-top-right-radius:5px;border-bottom-right-radius:5px;width:76px;">ចំណែក(%)</td>
                        </tr>
                        <tr style="height:10px;">
                            <td class="label bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:160px;"><input type="text" id="txtbenname1" name="txtbenname1" style="width:160px;border:1px solid #999;border-top-left-radius:5px;border-bottom-left-radius:5px;" readonly /></td>
                            <td class="label bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:150px;"><input type="text" id="txtbenname1" name="txtbenname1" style="width:150px;border:1px solid #999;" readonly /></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:45px;">
                            	<input type="text" style="width:45px;border:1px solid #999;text-align:center;" />
                            </td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:75px;"><input type="text" id="txtbendob1" name="txtbendob1" style="width:75px;border:1px solid #999;text-align:center" readonly ></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:250px;"><input type="text" id="txtbencon1" name="txtbencon1" style="width:250px;border:1px solid #999;" readonly /></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:5px;border-bottom-right-radius:5px;width:60px;"><input type="text"  id="txtbenper1" name="txtbenper1" style="width:60px;border:1px solid #999;text-align:center;" readonly /></td>
                        </tr>
                        <tr style="height:10px;">
                            <td class="label bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:160px;"><input type="text" id="txtbenname2" name="txtbenname2"  readonly style="width:160px;border:1px solid #999;border-top-left-radius:5px;border-bottom-left-radius:5px;"/></td>
                            <td class="label bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:150px;"><input type="text" id="txtbenname1" name="txtbenname1" readonly  style="width:150px;border:1px solid #999;"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:45px;">
                            	<input type="text" style="width:45px;border:1px solid #999;text-align:center;" readonly  />
                            </td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:75px;"><input type="text" id="txtbendob2" name="txtbendob2" readonly style="width:75px;border:1px solid #999;text-align:center"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:250px;"><input type="text" id="txtbencon2" name="txtbencon2" readonly style="width:250px;border:1px solid #999;"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:5px;border-bottom-right-radius:5px;width:60px;"><input type="text"  id="txtbenper2" name="txtbenper2"  readonly  style="width:60px;border:1px solid #999;text-align:center;"/></td>
                        </tr>
                        <tr style="height:10px;">
                            <td class="label bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:160px;"><input type="text" id="txtbenname3" name="txtbenname3" readonly style="width:160px;border:1px solid #999;border-top-left-radius:5px;border-bottom-left-radius:5px;"/></td>
                            <td class="label bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:150px;"><input type="text" id="txtbenname1" name="txtbenname1" readonly  style="width:150px;border:1px solid #999;"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:45px;">
                            	<input type="text" style="width:45px;border:1px solid #999;text-align:center;" readonly  />
                            </td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:75px;"><input type="text" id="txtbendob3" name="txtbendob3" readonly  style="width:75px;border:1px solid #999;text-align:center"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:250px;"><input type="text" id="txtbencon3" name="txtbencon3"  readonly  style="width:250px;border:1px solid #999;"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:5px;border-bottom-right-radius:5px;width:60px;"><input type="text"  id="txtbenper3" name="txtbenper3"  readonly  style="width:60px;border:1px solid #999;text-align:center;"/></td>
                        </tr>
                        <tr style="height:10px;">
                            <td class="label bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:160px;"><input type="text" id="txtbenname4" name="txtbenname4" readonly  style="width:160px;border:1px solid #999;border-top-left-radius:5px;border-bottom-left-radius:5px;"/></td>
                            <td class="label bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:150px;"><input type="text" id="txtbenname1" name="txtbenname1" readonly  style="width:150px;border:1px solid #999;"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:45px;">
                            	<input type="text" style="width:45px;border:1px solid #999;text-align:center;"  />
                            </td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:75px;"><input type="text" id="txtbendob4" name="txtbendob4"  readonly  style="width:75px;border:1px solid #999;text-align:center"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:250px;"><input type="text" id="txtbencon4" name="txtbencon4" readonly   style="width:250px;border:1px solid #999;"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:5px;border-bottom-right-radius:5px;width:60px;"><input type="text"  id="txtbenper4" name="txtbenper4" readonly  style="width:60px;border:1px solid #999;text-align:center;"/></td>
                        </tr>
                        <tr style="height:10px;">
                            <td class="label bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:160px;"><input type="text" readonly style="width:160px;border:1px solid #999;border-top-left-radius:5px;border-bottom-left-radius:5px;"/></td>
                            <td class="label bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:150px;"><input type="text" readonly style="width:150px;border:1px solid #999;"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:45px;"><input type="text" readonly style="width:45px;border:1px solid #999;text-align:justify;"/></td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center;width:75px;"><input type="text" readonly style="width:75px;border:1px solid #999;text-align:justify"/></td>
                            <td class="label bggray" style="border-left:1px solid white;width:280px;">សរុបចំណែក</td>
                            <td class="label bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:5px;border-bottom-right-radius:5px;width:60px;"><b>100%</b></td>
                        </tr>
                       </table>
                </div>
              </div> 
              <div style="margin-left:50px;float:left;">
                	<table>
                    	<tr>
                        	<td class="label" style="font-size:12px;color:#2F97FF">ហត្ថលេខាអ្នកត្រូវបានធានារ៉ាប់រង</td>
                            <td width="40"></td>
							<td class="label" style="font-size:12px;color:#2F97FF">ហត្ថលេខាទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិត</td>
                        </tr>
                        <tr>
                        	<td class="label ln70" style="font-size:12px;color:#2F97FF;"></td>
                            <td width="50"></td>
							<td class="label" style="font-size:12px;color:#2F97FF"></td>
                        </tr>
                        <tr>
                        	<td class="label" style="font-size:12px;color:#2F97FF;width:280px;"><input type="text" style="width:250px;border-bottom:1px solid black;text-align:center;background:white;" /> កាលបរិច្ឆេទ <input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;" /> / <input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;" /> / <input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;" /></td>
                            <td width="50"></td>
							<td class="label" style="font-size:12px;color:#2F97FF;width:320px;"><input type="text" style="width:250px;border-bottom:1px solid black;text-align:center;background:white;" /> <br/>កាលបរិច្ឆេទ<input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;" /> / <input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;"/> / <input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;"/></td>
                        </tr>
                    </table>
              </div>
              <div class="bottom2">
              	<img th:src="@{/resources/images/bottom2.png}"/>
              </div>
         </div>
         <div class="page3">
            <div class="top3">
                <img th:src="@{/resources/images/top2.jpg}"/>
            </div>
            <div class="content3" style="padding-left:25px;width:775px;"> 
                <div>
                	<table width="800">
                		<tr><td class="label" style="text-align:right;">លេខពាក្យស្នើសុំ  :<input type="text" readonly th:value="${lstEasyLifeForm[1]}" style="background:white;border-bottom:1px solid black;width:70px;"/></td></tr>
                    	<tr><td class="label" style="font-size:14px;color:#2F97FF"><center><h2> សេចក្តីប្រកាសកាតព្វកិច្ចបង់ពន្ធនៅសហរដ្ឋអាមេរិក (FATCA)</h2></center></td></tr>
                        <tr><td class="label" style="font-size:11px;line-height:22px; padding-bottom:0px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">1)</span> តើបច្ចុប្បន្នលោកអ្នកមានជាប់កាតព្វកិច្ចបង់ពន្ធនៅសហរដ្ឋអាមេរិកដែរឬទេ?  <input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/>គ្នាន <input type="checkbox"​​ disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom"/>មាន</tr>
                        <tr><td class="label" style="font-size:11px;line-height:22px; padding-bottom:0px; text-align:justify;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">2)</span>ខ្ញុំបាទ-នាងខ្ញុំទទួលស្គាល់ថា ក្រុមហ៊ុនអាចមានកាតព្វកិច្ចអនុវត្តតាម ឬតាមឆន្ទានុសិទ្ធិទាំងស្រុង និងផ្តាច់មុខរបស់ខ្លួន ជ្រើសរើសគោរពតាម អនុលោមតាម ឬបំពេញតាមលក្ខខណ្ឌតម្រូវ ឬការរំពឹងទុកនៃច្បាប់ បទប្បញ្ញតិ បទបញ្ជា គោលការណ៍ណែនាំ ក្រម ស្តង់ដារទីផ្សារ ទម្លាប់អនុវត្តន៍ល្អ និងសំណើសុំ ឬកិច្ចព្រមព្រៀង ជាមួយអាជ្ញាធរសាធារណ: អាជ្ញាធរតុលាការ អាជ្ញាធរពន្ធដារ អាជ្ញាធររដ្ឋាភិបាល និងអាជ្ញាធរនិយ័តកម្មផ្សេងទៀត ឬអង្គភាពស្វ័យនិយ័តកម្ម ("អាជ្ញាធរនានា ") និង ("អាជ្ញាធរមួយ ") នៅក្នុងយុត្តាធិការផ្សេងៗ ដែលត្រូវបានប្រកាសឲ្យប្រើនិងកែប្រែ ("លក្ខខណ្ឌតម្រូវពាក់ព័ន្ធ ")។ ទាក់ទងនឹងបញ្ហានេះ ខ្ញុំបាទ-នាងខ្ញុំយល់ព្រមថា ក្រុមហ៊ុនអាចចាត់វិធានការណាមួយ និងទាំងអស់ដើម្បីធានាឲ្យបាននូវអនុលោមភាព ឬការអនុវត្តតាមរបស់ខ្លួន (ទោះជាស្ម័គ្រចិត្ត ឬមិនស្ម័គ្រចិត្តក៏ដោយ) តាមលក្ខខណ្ឌតម្រូវពាក់ព័ន្ធ។<br/></td></tr>
						<tr><td class="label" style="font-size:11px;line-height:22px;padding-bottom:0px; text-align:justify; ">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">3)</span> ខ្ញុំបាទ-នាងខ្ញុំយល់ព្រមថា ក្រុមហ៊ុនអាចផ្តល់ព័ត៌មានលម្អិតរបស់ខ្ញុំបាទ-នាងខ្ញុំ ឬព័ត៌មានណាមួយ ដល់អាជ្ញាធរណាមួយទាក់ទងនឹង ឬអនុលោមតាម (ទោះជាស្ម័គ្រចិត្ត ឬមិនស្ម័គ្រចិត្តក៏ដោយ) លក្ខខណ្ឌតម្រូវពាក់ព័ន្ធ។ ការលាតត្រដាង បែបនេះអាចត្រូវបានធ្វើឡើងដោយផ្ទាល់ឬផ្ញើតាមរយៈទីស្នាក់ការ កណ្តាលណាមួយរបស់ក្រុមហ៊ុន ឬក្រុមហ៊ុនពាក់ព័ន្ធផ្សេងទៀត ឬតាមរបៀបណាមួយដែលក្រុមហ៊ុនយល់ឃើញថាសមស្រប។ សម្រាប់គោលបំណង ខាងលើនិងទោះជាមាន បញ្ញត្តិដទៃទៀតនៅក្នុងកិច្ចព្រមព្រៀងនេះ ឬ កិច្ចព្រមព្រៀងដទៃទៀតរវាងក្រុមហ៊ុនក៏ដោយ ក្រុមហ៊ុនអាចតម្រូវឲ្យខ្ញុំបាទ-នាងខ្ញុំ ផ្តល់ឲ្យក្រុមហ៊ុននូវព័ត៌មានបន្ថែម ដែលចាំបាច់សម្រាប់ការលាតត្រដាងដល់អាជ្ញាធរណាមួយ ហើយខ្ញុំបាទ-នាងខ្ញុំត្រូវផ្តល់ព័ត៌មាននោះដល់ក្រុមហ៊ុនក្នុងអំឡុងពេល មួយដែលត្រូវបានតម្រូវដោយសមហេតុផល។ ក្នុងកម្រិតពេញលេញបំផុត ដែលច្បាប់អនុញ្ញាត ខ្ញុំបាទ-នាងខ្ញុំយល់ព្រមបោះបង់សិទ្ធិរបស់ខ្ញុំបាទ-នាងខ្ញុំ យោងតាមច្បាប់នៃប្រទេសកម្ពុជា ស្តីពីការការពារព័ត៌មានឥណទាន ភាពជាឯកជន  និងទិន្នន័យ ឬច្បាប់ស្តីពីការការពារទិន្នន័យពាក់ព័ន្ធដែលមានជាធរមាន។ <br/></td></tr>
						<tr><td class="label" style="font-size:11px;line-height:22px;padding-bottom:0px;text-align:justify;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">4)</span>	ទោះជាមានបញ្ញត្តិដទៃទៀតនៅក្នុងកិច្ចព្រមព្រៀងនេះ ឬកិច្ចព្រមព្រៀងដទៃទៀតរវាងក្រុមហ៊ុនក៏ដោយ ខ្ញុំបាទ-នាងខ្ញុំយល់ ព្រមផ្តល់ដល់ក្រុមហ៊ុននូវជំនួយ ដែលចាំបាច់ ដើម្បីឲ្យក្រុមហ៊ុនអាចអនុវត្តតាមកាតព្វកិច្ចរបស់ខ្លួន បានយោងតាមលក្ខខណ្ឌ តម្រូវពាក់ព័ន្ធទាំងឡាយ ដែលទាក់ទិននឹងខ្ញុំបាទ-នាងខ្ញុំ ឬបណ្ណសន្យា រ៉ាប់រងរបស់ខ្ញុំបាទ-នាងខ្ញុំជាមួយក្រុមហ៊ុន។		
ខ្ញុំបាទ-នាងខ្ញុំយល់ព្រមផ្តល់ព័ត៌មានថ្មីៗបំផុតដល់ក្រុមហ៊ុនឲ្យបានទាន់ពេលវេលាទាក់ទងនឹងការផ្លាស់ប្តូរព័ត៌មានលម្អិត ណា មួយដែលផ្តល់ជូនក្រុមហ៊ុនកាលពីមុន ទោះជានៅពេលដាក់ពាក្យស្នើសុំឬនៅពេលណាមួយផ្សេងទៀតក៏ដោយ។ ជាពិសេស ជាការសំខាន់ណាស់ដែលខ្ញុំបាទ-នាងខ្ញុំត្រូវជូនដំណឹងដល់ក្រុមហ៊ុនភ្លាមៗ ប្រសិនបើខ្ញុំបាទ-នាងខ្ញុំជាបុគ្គល មានការផ្លាស់ប្តូរ សញ្ជាតិ លេខអត្តសញ្ញាណផ្ទាល់ខ្លួន អាសយដ្ឋាន លេខទូរស័ព្ទ ស្ថានភាពពន្ធ ឬការផ្លាស់ប្តូរនិវេសនដ្ឋានពន្ធ ឬប្រសិន បើខ្ញុំបាទ-នាងខ្ញុំក្លាយជានិវេសនជនជាប់ពន្ធនៅក្នុងប្រទេសច្រើនជាងមួយ ឬប្រសិនបើខ្ញុំបាទ-នាងខ្ញុំជា ក្រុមហ៊ុន ឬប្រភេទផ្សេងទៀតនៃអង្គភាព មានការផ្លាស់ប្តូរអាសយដ្ឋានចុះបញ្ជីររបស់ខ្ញុំបាទ-នាងខ្ញុំ អាសយដ្ឋានទីតាំងអាជីវកម្មរបស់ខ្ញុំបាទ-នាងខ្ញុំ ម្ចាស់ភាគហ៊ុន សំខាន់ៗ កម្មសិទ្ធិករ ឬអ្នកគ្រប់គ្រងស្របច្បាប់ និងទទួលផល (ដែលកាន់កាប់ ឬគ្រប់គ្រងភាគហ៊ុន ឬផលប្រយោជន៍កម្មសិទ្ធិ ឬការគ្រប់គ្រងរបស់ខ្ញុំបាទ-នាងខ្ញុំលើស ពី 10%)ស្ថានភាពពន្ធ ការផ្លាស់ប្តូរនិវេសនដ្ឋានពន្ធ ឬប្រសិនបើក្លាយជានិវេសនជនជាប់ពន្ធនៅក្នុងប្រទេសច្រើនជាងមួយ។ ប្រសិនបើការផ្លាស់ប្តូរទាំងនេះណាមួយ កើតមានឡើង ឬប្រសិនបើព័ត៌មានដទៃទៀតណាមួយលេចឡើងទាក់ទងនឹងការផ្លាស់ប្តូរទាំងនេះ ក្រុមហ៊ុនអាចចាំបាច់ត្រូវស្នើសុំឯកសារ ឬព័ត៌មានជាក់លាក់មួយ ចំនួនពីខ្ញុំបាទ-នាងខ្ញុំ។ ព័ត៌មាននិងឯកសារទាំងនេះ រួមមានជាអាទិ៍ តែមិនកំណត់ត្រឹមតែលិខិតប្រកាសពន្ធ ឬទម្រង់បែបបទពន្ធ ដែលបំពេញ និង/ឬចុះហត្ថលេខា រួចយ៉ាងត្រឹមត្រូវ (និងប្រសិនបើចាំបាច់ ត្រូវបានបញ្ជាក់ដោយសារការី)។ ប្រសិនបើខ្ញុំបាទ-នាងខ្ញុំមិនផ្តល់ឲ្យក្រុមហ៊ុននូវព័ត៌មាន ឬឯកសារដែលស្នើសុំឲ្យ បានទាន់ ពេលវេលា ឬប្រសិនបើព័ត៌មាន ឬឯកសារណាមួយ ដែលផ្តល់ជូនពុំមានបច្ចុប្បន្នភាព មិនត្រឹមត្រូវឬមិនពេញលេញទេនោះខ្ញុំបាទ-នាងខ្ញុំយល់ព្រមថា អត្ថប្រយោជន៍ មួយចំនួន ឬទាំងអស់ យោងតាមបណ្ណសន្យារ៉ាប់រងនេះអាចមិនមានសម្រាប់ខ្ញុំបាទ-នាងខ្ញុំឡើយ។ ជាពិសេស ខ្ញុំបាទ-នាងខ្ញុំយល់ព្រមថា ដើម្បីធានាអនុលោមភាព ឬការគោរពតាមជាបន្តរបស់ខ្លួនតាមលក្ខខណ្ឌតម្រូវពាក់ព័ន្ធក្រុមហ៊ុនអាច៖<br/>
			<span style="color:red;margin-left:20px;">(ក)</span> ក្រុមហ៊ុនអាចកាត់ទុកប្រាក់ក្នុងចំនួនណាមួយដែលត្រូវបង់ឲ្យខ្ញុំបាទ-នាងខ្ញុំ ឬអ្នកប្រតិបត្តិមរតកសាសន៍របស់ ខ្ញុំបាទ-នាងខ្ញុំ យោងតាមបណ្ណសន្យារ៉ាប់រង របស់ខ្ញុំបាទ-នាងខ្ញុំ អនុលោមតាមលក្ខខណ្ឌតម្រូវពាក់ព័ន្ធនិង/ឬទូទាត់ទឹកប្រាក់នេះដល់អាជ្ញាធរពាក់ព័ន្ធនិង/ឬ<br/>
			<span style="color:red;margin-left:20px;">(ខ)</span> ក្រុមហ៊ុនអាចចាត់វិធានការណាមួយ និងទាំងអស់ប្រសិនបើក្រុមហ៊ុនយល់ឃើញថាសមស្រប ដើម្បីធានាអនុលោមភាព ឬការគោរពតាមរបស់ខ្លួន (ទោះជាស្ម័គ្រចិត្ត ឬមិនស្ម័គ្រចិត្តក៏ដោយ) តាមលក្ខខណ្ឌតម្រូវពាក់ព័ន្ធ ឬដើម្បីការពារផលប្រយោជន៍ស្របច្បាប់ និង/ឬផលប្រយោជន៍ពាណិជ្ជកម្មរបស់ខ្លួន។<br/>
</td></tr>
				<tr><td class="label" style="font-size:11px;line-height:22px;padding-bottom:0px; text-align:justify;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">5)</span> បណ្ណសន្យារ៉ាប់រងនេះអាចត្រូវបានបញ្ចប់ដោយក្រុមហ៊ុន ដោយផ្តល់ឲ្យខ្ញុំបាទ-នាងខ្ញុំ ឬអ្នកប្រតិបត្តិមរតកសាសន៍របស់ខ្ញុំបាទ-នាងខ្ញុំក្នុងរយៈពេលសាមសិប (30) ថ្ងៃនៃប្រតិទិននូវការជូនដំណឹងជាលាយលក្ខណ៍អក្សរដោយមានបញ្ជាក់កាលបរិចេ្ឆទដែលការបញ្ចប់នេះនឹងមានសុពលភាព។ ក្នុងករណីបែបនេះ ប្រសិនបើ ពាក់ព័ន្ធ ក្រុមហ៊ុននឹងប្រគល់ជូនខ្ញុំបាទ-នាងខ្ញុំវិញតែបុព្វលាភរ៉ាប់រង ណាមួយ ដែលក្រុមហ៊ុនបានទទួលសម្រាប់ចំណែកដែលមិនទាន់ផុតកំណត់នៃការធានារ៉ាប់ រងប៉ុណ្ណោះ។ ទឹកប្រាក់នេះ គឺជាកម្រិតទូទាត់ ដែលបានព្រមព្រៀងគ្នាដែលត្រូវបង់ដោយក្រុមហ៊ុនក្នុងករណីមានការបញ្ចប់ស្របតាមប្រការនេះ។
</td></tr>
                    </table>
                </div>
             </div>
             <div style="margin-left:50px;float:left;z-index:1;margin-top:0px;">
                	<table>
                    	<tr>
                        	<td class="label" style="font-size:12px;color:#2F97FF">ហត្ថលេខាអ្នកត្រូវបានធានារ៉ាប់រង</td>
                            <td width="40"></td>
							<td class="label" style="font-size:12px;color:#2F97FF">ហត្ថលេខាទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិត</td>
                        </tr>
                        <tr>
                        	<td class="label" style="font-size:12px;color:#2F97FF;height:50px;"></td>
                            <td width="50"></td>
							<td class="label" style="font-size:12px;color:#2F97FF"></td>
                        </tr>
                        <tr>
                        	<td class="label" style="font-size:12px;color:#2F97FF;width:280px;"><input type="text" style="width:250px;border-bottom:1px solid black;text-align:center;background:white;" /> កាលបរិច្ឆេទ <input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;"/> / <input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;" /> / <input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;"/></td>
                            <td width="50"></td>
							<td class="label" style="font-size:12px;color:#2F97FF;width:320px;"><input type="text" style="width:250px;border-bottom:1px solid black;text-align:center;background:white;" /> <br/>កាលបរិច្ឆេទ<input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;" /> / <input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;" /> / <input type="text" style="width:50px;border:1px solid #999;border:none;text-align:center;"/></td>
                        </tr>
                    </table>
              </div>
              <div class="bottom3">
              	<img th:src="@{/resources/images/bottom2.png}"/>
              </div>
         </div>
         </div>
         <div class="page5">
         </div>
         <div class="page4">
            <div class="top4" style="float:left;">
                <img th:src="@{/resources/images/top2.jpg}"/>
            </div>
            
            <div class="content4" style="padding-left:25px;width:775px;margin-top:100px;"> 
                <div>
                	<table width="800">
                		<tr><td class="label" colspan="2" style="text-align:right;">លេខពាក្យស្នើសុំ  :<input type="text" readonly th:value="${lstEasyLifeForm[1]}" style="background:white;border-bottom:1px solid black;width:70px;"/></td></tr>
                    	<tr><td class="label" colspan="2" style="font-size:14px;color:#2F97FF"><center><h2>ការធានារ៉ាប់រងបណ្តោះអាសន្ន</h2></center></td></tr>
                        <tr><td class="label" colspan="2" style="">
                        លោកអ្នកនឹងទទួលបាននូវការធានារ៉ាប់រងបណ្តោះអាសន្នចាប់ពីថ្ងៃដែលក្រុមហ៊ុនបានទទួលពាក្យស្នើសុំនិងបុព្វលាភរ៉ាប់រងដំបូង។ រយៈពេលធានារ៉ាប់រងបណ្តោះ អាសន្ននឹងបញ្ចប់នៅពេលដែលក្រុមហ៊ុនចេញវិញ្ញាបនបត្រធានារ៉ាប់រងអាយុជីវិតជូន ឬនៅពេលដែលក្រុមហ៊ុនធ្វើការបដិសេធមិនទទួល ឬពន្យារពេល ឬលោកអ្នកស្នើ សុំបោះ បង់ពាក្យស្នើសុំរបស់អ្នកជាលាយលក្ខណ៍អក្សរ។<br/><br/>
យោងតាម”ខ និងលក្ខខណ្ឌ” នៃគម្រោងនេះ ប្រសិនបើបុគ្គលដែលជាកម្មវត្ថុនៃការធានាដែលស្នើសុំការ ធានារ៉ាប់រងក្រោមគម្រោងនេះ ទទួលមរណភាពដោយសារគ្រោះ ថ្នាក់ចៃដន្យដែលកើតឡើងក្នុងអំឡុង ពេលធានារ៉ាប់រងបណ្តោះអាសន្ននោះ (ដោយមិនគិតចំនួនបណ្ណសន្យារ៉ាប់រង ឬចំនួនទឹកប្រាក់ធានារ៉ាប់រងសរុបដែលបានស្នើសុំ ឡើយ) ក្រុមហ៊ុននឹងបង់ប្រាក់សំណង 1,000 ដុល្លារអាមេរិក។<br/><br/>
ខ្ញុំជាហត្ថលេខីទទួលសិទ្ធិ សូមទទួលស្គាល់លើការទទួលបានពាក្យស្នើសុំ ដោយក្រុមហ៊ុន។<br/><br/><br/>
                        </td></tr>
                        <tr>
                        	<td class="label" style="color:#2F97FF;font-size:12px;">បានទទួលស្គាល់ដោយ  <input type="text" style="background:white;border-bottom:1px solid black;width:200px;text-align:center" /></td>
                        	<td class="label" style="color:#2F97FF;font-size:12px;">កាលបរិច្ឆេទ  <input type="text" style="background:white;border-bottom:1px solid black;width:200px;text-align:center" ></input></td>
                        </tr>
                        <tr>
                        	<td class="label" colspan="2" style="padding-left:150px;color:#2F97FF;font-size:12px;">ហត្ថលេខានិង ឈ្មោះពេញ</td>
                        	<td></td>
                        </tr>
                        <tr>
                        	<td class="label" colspan="2" style="color:#2F97FF"><br/><br/><br/><h2>និយមន័យ</h2></td>
                        </tr>
                        <tr>
                        	<td class="label" colspan="2" style="color:#2F97FF;font-size:12px;"><h4>1.	មរណភាពដោយគ្រោះថ្នាក់ចៃដន្យ  </h4></td>
                        </tr>
                        <tr>
                        	<td class="label" colspan="2">
                        		សំដៅដល់ការទទួលមរណភាពដែលជាលទ្ធផលបណ្តាលមកពីព្រឹត្តិការណ៍ដែលមិនបានដឹងមុន និងដោយអចេតនាជាមូលហេតុដោយផ្ទាល់បណ្តាលទទួលមរណភាព ដែលព្រឹត្តិការណ៍នេះបណ្តាលមកពីអំពើហិង្សា កត្តាខាងក្រៅ និងមានលក្ខណៈរូបិយជាក់ស្តែង ដែលមិនពាក់ព័ន្ធជាមួយមូលហេតុផ្សេងនានា ដូចជា ជម្ងឺ ឬរោគារបស់ បុគ្គលដែលជាកម្មវត្ថុនៃការធានា។ មរណភាពដោយសារការធ្វើអត្តឃាត ឬប៉ុនប៉ងធ្វើអត្តឃាត ឬធ្វើឲ្យរបួសខ្លួនឯង ដោយបុគ្គលដែលជាកម្មវត្ថុនែការធានា ទោះបីជាស្ថិត ក្នុងស្ថានភាពផ្លូវចិត្តប្រក្រតី ឬមិនប្រក្រតីក៏ដោយ នៅពេលណាមួយក្នុងអំឡុងរយៈពេលធានារ៉ាប់រងបណ្តោះអាសន្ន នឹងមិនត្រូវបានចាត់ទុកថាជាមរណភាពដោយគ្រោះ ថ្នាក់ចៃដន្យនោះឡើយ ។
                        	</td>
                        </tr>
                        <tr>
                        	<td class="label" colspan="2" style="color:#2F97FF;font-size:12px;"><h4>2.	បុគ្គលដែលជាកម្មវត្ថុនៃការធានា </h4></td>
                        </tr>
                        <tr>
                        	<td class="label" style="height:70px;" colspan="2">សំដៅដល់បុគ្គលទាំងឡាយណាដែលទទួលការធានារ៉ាប់រងអាយុជីវិតស្របតាមបណ្ណសន្យារ៉ាប់រងនេះ។ ករណីបណ្ណសន្យារ៉ាប់រងសម្រាប់បុគ្គល បុគ្គលដែលជា កម្មវត្ថុនៃការធានា និង អ្នកត្រូវបានធានា រ៉ាប់រង ត្រូវតែជាបុគ្គលតែម្នាក់។</td>
                        </tr>
                    </table>
                </div>
             </div>
              <div class="bottom4">
              	<img th:src="@{/resources/images/bottom2.png}"/>
              </div>
              <div class="row space5">                 
		 </div>
         </div>
</th:block>     
</form>
</body>
<script th:src="@{/resources/js/easylifeappform.js}"></script>
</html>