<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}"
	type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/report.css}" />
<title>Pru Quote Online</title>
<style type="text/css">

/*.serial{
	   		counter-increment: page;
	   	}
	   	.serial:after {    	
	   		content: counter(page);
		}*/
@page {
	size: A4;
	/*  		margin: 1CM 1CM 0CM 1CM; */
	margin: 0.2in 0.4in 0.1in 0.4in;
}

@media screen {
	div.divFooter { //
		display: none;
	}
}

@media print {
	.page-section {
		height: 12.8in;
		position: relative;
	}
	div.divFooter {
		position: absolute;
		bottom: 0;
		display: block;
	}
	div.divHeader {
		position: absolute;
		top: 0;
	}
	body {
		margin-top: 0px;
		padding-top: 0px; //
		margin-left: 200px;
	}
}
</style>
<style>
@font-face {
	font-family: "KhmerOS";
	src: url(KhmerOS.ttf);
}

th {
	font-family: Khmer OS, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	/*background-color:#DEEDFF;*/
}

td {
	font-family: Khmer OS, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
}

.Border2 {
	border-left: 1px solid #000033;
	border-right: 1px solid #000033;
	border-bottom: 1px solid #000033;
}

.h1 {
	font-size: 15px;
	font-weight: bold
}

.h2 {
	font-size: 12px;
	font-weight: bold
}
</style>

<script type="text/javascript">	
        function printpage() {
            //Get the print button and put it into a variable
            var printButton = document.getElementById("btnPrint");
            var printClose = document.getElementById("btnClose");
            //Set the print button visibility to 'hidden' 
            printButton.style.visibility = 'hidden';
            
            //Print the page content
            window.print()
            //Set the print button to 'visible' again 
            //[Delete this line if you want it to stay hidden after printing]
            printButton.style.visibility = 'visible';

        }
        function closepage() {
            //Close the page content
            window.close();
        }
    </script>


</head>

<body style="height: 100%; width: 812px; text-align: left;">

	<form method="post" action="" id="Form1">
		<div class="page-section">
			<!-- content here -->
			<table border="0" cellpadding="0" cellspacing="0"
				style="width: 812px; background-color: white; border-collapse: collapse;">

				<tr>
					<td colspan="8" style="height: 70px; text-align: left;">
						<table
							style="width: 100%; background-color: white; border-collapse: collapse; border: 0 solid black;"
							border="0">
							<tr>
								<th colspan="2"
									style="text-align: left; vertical-align: middle; margin-top: 20px;">
									<span style="font-size: 15px;">តារាងលម្អិតបង្ហាញអំពីអត្ថប្រយោជន៍ធានារ៉ាប់រងនៃផលិតផល <br />
								<!-- 	<span th:text="${L2Exam.size()}"></span>
									<span th:text="${L1Exam.size()}"></span> -->
								</span> <th:block th:if="${Product == 'BTR1'}">
										<img
											th:src="@{/resources/images/{img_name}(img_name=(${'pruMyFamily.png'}))}"
											style="height: 35px; vertical-align: middle;" />
									</th:block> <th:block th:if="${Product == 'BTR2'}">
										<img
											th:src="@{/resources/images/{img_name}(img_name=(${'edusave_log_small.jpg'}))}"
											style="height: 35px; vertical-align: middle;" />
									</th:block> <th:block th:if="${Product == 'MTR1' or Product == 'MTR2'}">
										<img
											th:src="@{/resources/images/{img_name}(img_name=(${'mortgage.png'}))}"
											style="height: 35px; vertical-align: middle;" />
									</th:block> <th:block th:if="${Product == 'BTR4'}">
										<img
											th:src="@{/resources/images/{img_name}(img_name=(${'edusmart_logo.png'}))}"
											style="height: 35px; vertical-align: middle;" />
									</th:block> <th:block th:if="${Product == 'BTR5'}">
										<img
											th:src="@{/resources/images/{img_name}(img_name=(${'PureProtect-Logo.png'}))}"
											style="height: 35px; vertical-align: middle;" />
									</th:block>
								</th>

								<th style="width: 120px; text-align: center;"><img
									alt="Click here to Print Pruquote" class="style1"
									th:src="@{/resources/images/Print.jpg}" id="btnPrint"
									onclick="printpage()" /></th>

								<th style="width: 137px; text-align: center;"><img
									th:src="@{/resources/images/pru_logo_2.png}"
									style="height: 70px; vertical-align: middle;" /></th>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="height: 20px;" class="h1"><u>កំណត់ចំណាំអំពីការពិនិត្យសុខភាព</u></td>
				</tr>
				<tr>
					<td style="text-align: left;" class="h2"><u>1.
							អ្នកត្រូវបាន​ធានារ៉ាប់រង​ចម្បង</u></td>
				</tr>
				<tr style="padding-top: 10px;">
					<td>
						<table
							style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
							border='0'>
							<tr style='background-color: #bfc8cf;'>
								<th class='Border2' style='width: 300px'>ឈ្មោះ</th>
								<th class='Border2' style='width: 100px'>អាយុ</th>
								<th class='Border2' style='width: 100px'>ភេទ</th>
								<th class='Border2'>ទឹកប្រាក់​ត្រូវបាន​ធានារ៉ាប់រង​សរុប
									(US$)<br />(ប្រើសម្រាប់ការវិភាគហានិភ័យតែប៉ុណ្ណោះ)
								</th>
							</tr>
							<tr>
								<td class='Border2'
									th:text="${#strings.toUpperCase(L1Info[0][0])}"></td>
								<td class='Border2'
									th:text="${#numbers.formatInteger(L1Info[0][1], 0, 'NONE')}"></td>
								<td class='Border2'
									th:text="${L1Info[0][2] == 'M' ? 'ប្រុស' : 'ស្រី'}"></td>
								<td class='Border2' style='font-weight: bold'
									th:text="${#numbers.formatDecimal(L1Info[0][3], 0, 'COMMA', 2, 'POINT')}">
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="text-align: left; padding: 5px;" class="h2"><u>ការតម្រូវឲ្យពិនិត្យសុខភាព</u></td>
				</tr>
				<tr style="padding-top: 10px;">
					<td>
						<table
							style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
							border='0'>
							<tr style='background-color: #bfc8cf;'>
								<th class='Border2' style='width: 150px'>ការពិនិត្យសុខភាព</th>
								<th class='Border2' style='text-align: left;'>&nbsp;&nbsp;បរិយាយ</th>
							</tr>
							<th:block th:each="L1Ex : ${L1Exam}">
								<tr style="height: 10px;">
									<td class='Border2' style="height: 10px;" th:text="${L1Ex[0]}"></td>
									<td class='Border2'
										style='text-align: left; padding-left: 5px; height: 10px;'
										th:text="${L1Ex[2]}"></td>
								</tr>
							</th:block>
						</table>
					</td>
				</tr>

				<th:block th:if="${L2Exam.size() <= 10 && L2Exam.size() >= 1}">
					<!-- CASE ONLY ONE PAGE -->
					<tr>
					
						<td style="height: 10px;"></td>
					</tr>
					<tr>
						<td style="text-align: left" class="h2"><u>2.
								អ្នកត្រូវបាន​ធានារ៉ាប់រង​​បន្ថែម</u></td>
					</tr>
					<tr style="padding-top: 10px;">
						<td>
							<table
								style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
								border='0'>
								<tr style='background-color: #bfc8cf;'>
									<th class='Border2' style='width: 300px'>ឈ្មោះ</th>
									<th class='Border2' style='width: 100px'>អាយុ</th>
									<th class='Border2' style='width: 100px'>ភេទ</th>
									<th class='Border2'>ទឹកប្រាក់​ត្រូវបាន​ធានារ៉ាប់រង​សរុប
										(US$)<br />(ប្រើសម្រាប់ការវិភាគហានិភ័យតែប៉ុណ្ណោះ)
									</th>
								</tr>
								<tr>
									<td class='Border2'
										th:text="${#strings.toUpperCase(L2Info[0][0])}"></td>
									<td class='Border2'
										th:text="${#numbers.formatInteger(L2Info[0][1], 0, 'NONE')}"></td>
									<td class='Border2'
										th:text="${L2Info[0][2] == 'M' ? 'ប្រុស' : 'ស្រី'}"></td>
									<td class='Border2' style='font-weight: bold'
										th:text="${#numbers.formatDecimal(L2Info[0][3], 0, 'COMMA', 2, 'POINT')}"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="text-align: left; padding: 5px;" class="h2"><u>ការតម្រូវឲ្យពិនិត្យសុខភាព</u></td>
					</tr>
					<tr style="padding-top: 10px;">
						<td>
							<table
								style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
								border='0'>
								<tr style='background-color: #bfc8cf;'>
									<th class='Border2' style='width: 150px'>ការពិនិត្យសុខភាព</th>
									<th class='Border2' style=''>បរិយាយ</th>
								</tr>

								<th:block th:each="L2Ex : ${L2Exam}">
									<tr>
										<td class='Border2' th:text="${L2Ex[0]}"></td>
										<td class='Border2'
											style='text-align: left; padding-left: 5px'
											th:text="${L2Ex[2]}"></td>
									</tr>
								</th:block>
							</table>
						</td>
					</tr>
				</th:block>
					<th:block th:if="${nome != 'No ME'  && L1Exam.size() <= 10 && L2Exam.size() <= 10}">
						<tr>
							<td style="height: 10px"></td>
						</tr>
						<tr>
							<td style="text-align: left">សូមចំណាំថា
								ការពិនិត្យសុខភាពខាងលើ ប្រសិនបើ​មាន
								គឺ​ជា​លក្ខខណ្ឌពិនិត្យសុខភាពស្តង់ដារមួយដោយផ្អែកលើ​អាយុ​
								និងទឹកប្រាក់​ត្រូវបាន​ធានារ៉ាប់រង​សរុបនៅលើលិខិតស្នើសុំនេះតែ​ប៉ុណ្ណោះ។​
								​ក្រុម​ហ៊ុន​អាចតម្រូវឲ្យមានការពិនិត្យសុខភាព
								ឬតម្រូវឲ្យផ្តល់នូវលិខិតបញ្ជាក់សុខភាពបន្ថែម
								អាស្រ័យតាមលក្ខណៈពិសេសនៃករណីនីមួយៗ។</td>
						</tr>

						<tr>
							<td
								style="text-align: left; padding-top: 10px; padding-bottom: 20px;">
								<center style="height: 40px;">
									<b style="font-size: 17px;"><u>ព័ត៌មានសម្រាប់ការពិនិត្យសុខភាព</u></b>
								</center> វេជ្ជបណ្ឌិតនឹងធ្វើការពិនិត្យលើស្ថានភាពជាក់ស្តែងមួយចំនួនរបស់លោក
								លោកស្រីដូចជា វាស់កំពស់ ថ្លឹងទំងន់ វាស់សំពាធឈាម ស្ទង់ចង្វាក់ជីពចរ
								។ល។ និង ។ល។ និងប្រមូលឈាម និងសំណាកទឹកនោម
								ព្រមទាំងកត់ត្រារាល់ចំលើយទៅក្នុងទម្រង់សំនួរសុខភាព
								និងរបាយការណ៍វេជ្ជសាស្រ្ត ។ <br />
							<br /> ដើម្បីទទួលបានលទ្ធផលយ៉ាងល្អចំពោះការពិនិត្យសុខភាពធានារ៉ាប់រង
								និងកាត់បន្ថយនូវការពិនិត្យលើមុខជំងឺដដែលៗឡើងវិញ
								យើងខ្ញុំសូមស្នើសុំអោយលោក លោកស្រីមេត្តាអាននូវសេចក្តី
								ណែនាំដូចខាងក្រោម៖ <br />
								<div style="padding-left: 30px;">
									1) ប្រសិនបើជាស្រ្តី
									សូមមេត្តាកុំទៅធ្វើការពិនិត្យសុខភាពកំឡុងពេលដែលអ្នកកំពុងមករដូវ។<br />
									2) វាជាការសំខាន់ដែលលោក
									លោកស្រីត្រូវទទួលបានការបញ្ជាក់ជាមុនពីទីប្រឹក្សា​ហិរញ្ញ​វត្ថុ​/ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិតអំពីពេលវេលា
									កាលបរិច្ឆេទ និងគ្លីនិក/មន្ទីរពេទ្យដែលលោក លោកស្រីត្រូវទៅពិនិត្យ
									។<br /> 3) លោក
									លោកស្រីត្រូវគេងឲ្យបានគ្រប់គ្រាន់នៅយប់មុនពេលទៅពិនិត្យសុខភាព ។<br />
									4) លោក លោកស្រីមិនត្រូវបរិភោគ
									ឬផឹកគ្រឿងអ្វីទាំងអស់យ៉ាងហោចណាស់អោយបានពី 6 ទៅ 8 ម៉ោងមុនដែលលោក
									លោកស្រីត្រូវពិនិត្យសុខភាព ។ ប្រសិនបើលោក លោកស្រីមាន
									&nbsp;&nbsp;&nbsp;&nbsp;បញ្ហាត្រូវលេបថ្នាំ សូមលោក
									លោកស្រីគួរស្វែងរកដំបូន្មានពីវេជ្ជបណ្ឌិតជាព្យាបាល។ លោក
									លោកស្រីអាចពិសារទឹកបរិសុទ្ធជាការល្អបំផុត ។<br /> 5) <b><u>12
											ម៉ោងមុនពេលពិនិត្យសុខភាព</u>:</b> សូមកុំធ្វើលំហាត់ប្រាណច្រើនពេក
									ឬការសេពគ្រឿងស្រវឹងហួសកំរិត ។<br /> 6) <b><u>1
											ម៉ោងមុនពេលពិនិត្យសុខភាព</u>:</b>
									ត្រូវជៀសវាងការពិសារនូវសារធាតុដែលមានជាតិកាហ្វេអ៊ីន ឬនីកូទីន ។
									សូមពិសារទឹកបរិសុទ្ធជាការប្រសើរ ។ <br /> 7) <b><u>មុនពេលទៅពិនិត្យសុខភាពលោក
											លោកស្រីត្រូវដឹង ឬត្រៀមទុកជាមុននូវ</u>:</b><br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- លោក
									លោកស្រីត្រូវស្គាល់ពីឈ្មោះថ្នាំដែលលោក
									លោកស្រីបាននឹងកំពុងប្រើប្រាស់ ។<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
									សូមយកឯកសារអត្តសញ្ញាណសំគាល់ខ្លួនដែលមានបិទរូបថតផងដូចជា
									(អត្តសញ្ញាណប័ណ្ណ ឬលិខិតឆ្លងដែន) ។
								</div>
							</td>
						</tr>
					</th:block>
			</table>

			<div class="divFooter">

				<table width="100%">
					<tr>
						<td style="text-align: left; vertical-align: bottom;">
							<p class="MsoNormal">
								<span lang="KHM"
									style="font-size: 5.0pt; font-family: &amp; quot; Khmer OS Metal Chrieng&amp;quot;; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM">©
									<span th:text="${#dates.year(#dates.createNow())}"></span>
									ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍ ម.ក ។
									រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ
									ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង
									ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។
								</span><span
									style="font-size: 5.0pt; font-family: &amp; quot; Khmer OS Metal Chrieng&amp;quot;; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM"></span>
							</p>
						</td>
						<td
							style="text-align: right; font-size: 7.5px; vertical-align: middle;">
							<p>
								V<span class="serial" th:text="${version} + '-' + ${serialno}"></span>
							</p>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<th:block th:if="${L2Exam.size() + L1Exam.size() > 10}">
			<div class="page-section">
				<!-- content here -->
				<table border="0" cellpadding="0" cellspacing="0"
					style="width: 812px; background-color: white; border-collapse: collapse;">

					<th:block th:if="${L2Exam.size() > 10}">
						<tr>
							<td style="height: 10px;"></td>
						</tr>
						<tr>
							<td style="text-align: left" class="h2"><u>2.
									អ្នកត្រូវបាន​ធានារ៉ាប់រង​​បន្ថែម</u></td>
						</tr>
						<tr style="padding-top: 10px;">
							<td>
								<table
									style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
									border='0'>
									<tr style='background-color: #bfc8cf;'>
										<th class='Border2' style='width: 300px'>ឈ្មោះ</th>
										<th class='Border2' style='width: 100px'>អាយុ</th>
										<th class='Border2' style='width: 100px'>ភេទ</th>
										<th class='Border2'>ទឹកប្រាក់​ត្រូវបាន​ធានារ៉ាប់រង​សរុប
											(US$)<br />(ប្រើសម្រាប់ការវិភាគហានិភ័យតែប៉ុណ្ណោះ)
										</th>
									</tr>
									<tr>
										<td class='Border2'
											th:text="${#strings.toUpperCase(L2Info[0][0])}"></td>
										<td class='Border2'
											th:text="${#numbers.formatInteger(L2Info[0][1], 0, 'NONE')}"></td>
										<td class='Border2'
											th:text="${L2Info[0][2] == 'M' ? 'ប្រុស' : 'ស្រី'}"></td>
										<td class='Border2' style='font-weight: bold'
											th:text="${#numbers.formatDecimal(L2Info[0][3], 0, 'COMMA', 2, 'POINT')}"></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td style="text-align: left; padding: 5px;" class="h2"><u>ការតម្រូវឲ្យពិនិត្យសុខភាព</u></td>
						</tr>
						<tr style="padding-top: 10px;">
							<td>
								<table
									style='width: 100%; background-color: white; border-collapse: collapse; border: 1px solid black;'
									border='0'>
									<tr style='background-color: #bfc8cf;'>
										<th class='Border2' style='width: 150px'>ការពិនិត្យសុខភាព</th>
										<th class='Border2' style=''>បរិយាយ</th>
									</tr>

									<th:block th:each="L2Ex : ${L2Exam}">
										<tr>
											<td class='Border2' th:text="${L2Ex[0]}"></td>
											<td class='Border2'
												style='text-align: left; padding-left: 5px'
												th:text="${L2Ex[2]}"></td>
										</tr>
									</th:block>
								</table>
							</td>
						</tr>
					</th:block>
					<tr>
						<td style="height: 10px"></td>
					</tr>
					<!-- Top Page have more height -->
					<th:block th:if="${nome != 'No ME'&& L2Exam.size() <=  10}">
						<tr>
							<td style="height: 50px"></td>
						</tr>
					</th:block>
					<th:block th:if="${nome != 'No ME'&& L1Exam.size() > 10}">
						<tr>
							<td style="text-align: left">សូមចំណាំថា
								ការពិនិត្យសុខភាពខាងលើ ប្រសិនបើ​មាន
								គឺ​ជា​លក្ខខណ្ឌពិនិត្យសុខភាពស្តង់ដារមួយដោយផ្អែកលើ​អាយុ​
								និងទឹកប្រាក់​ត្រូវបាន​ធានារ៉ាប់រង​សរុបនៅលើលិខិតស្នើសុំនេះតែ​ប៉ុណ្ណោះ។​
								​ក្រុម​ហ៊ុន​អាចតម្រូវឲ្យមានការពិនិត្យសុខភាព
								ឬតម្រូវឲ្យផ្តល់នូវលិខិតបញ្ជាក់សុខភាពបន្ថែម
								អាស្រ័យតាមលក្ខណៈពិសេសនៃករណីនីមួយៗ។</td>
						</tr>

						<tr>
							<td
								style="text-align: left; padding-top: 10px; padding-bottom: 20px;">
								<center style="height: 40px;">
									<b style="font-size: 17px;"><u>ព័ត៌មានសម្រាប់ការពិនិត្យសុខភាព</u></b>
								</center> វេជ្ជបណ្ឌិតនឹងធ្វើការពិនិត្យលើស្ថានភាពជាក់ស្តែងមួយចំនួនរបស់លោក
								លោកស្រីដូចជា វាស់កំពស់ ថ្លឹងទំងន់ វាស់សំពាធឈាម ស្ទង់ចង្វាក់ជីពចរ
								។ល។ និង ។ល។ និងប្រមូលឈាម និងសំណាកទឹកនោម
								ព្រមទាំងកត់ត្រារាល់ចំលើយទៅក្នុងទម្រង់សំនួរសុខភាព
								និងរបាយការណ៍វេជ្ជសាស្រ្ត ។ <br />
							<br /> ដើម្បីទទួលបានលទ្ធផលយ៉ាងល្អចំពោះការពិនិត្យសុខភាពធានារ៉ាប់រង
								និងកាត់បន្ថយនូវការពិនិត្យលើមុខជំងឺដដែលៗឡើងវិញ
								យើងខ្ញុំសូមស្នើសុំអោយលោក លោកស្រីមេត្តាអាននូវសេចក្តី
								ណែនាំដូចខាងក្រោម៖ <br />
								<div style="padding-left: 30px;">
									1) ប្រសិនបើជាស្រ្តី
									សូមមេត្តាកុំទៅធ្វើការពិនិត្យសុខភាពកំឡុងពេលដែលអ្នកកំពុងមករដូវ។<br />
									2) វាជាការសំខាន់ដែលលោក
									លោកស្រីត្រូវទទួលបានការបញ្ជាក់ជាមុនពីទីប្រឹក្សា​ហិរញ្ញ​វត្ថុ​/ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិតអំពីពេលវេលា
									កាលបរិច្ឆេទ និងគ្លីនិក/មន្ទីរពេទ្យដែលលោក លោកស្រីត្រូវទៅពិនិត្យ
									។<br /> 3) លោក
									លោកស្រីត្រូវគេងឲ្យបានគ្រប់គ្រាន់នៅយប់មុនពេលទៅពិនិត្យសុខភាព ។<br />
									4) លោក លោកស្រីមិនត្រូវបរិភោគ
									ឬផឹកគ្រឿងអ្វីទាំងអស់យ៉ាងហោចណាស់អោយបានពី 6 ទៅ 8 ម៉ោងមុនដែលលោក
									លោកស្រីត្រូវពិនិត្យសុខភាព ។ ប្រសិនបើលោក លោកស្រីមាន
									&nbsp;&nbsp;&nbsp;&nbsp;បញ្ហាត្រូវលេបថ្នាំ សូមលោក
									លោកស្រីគួរស្វែងរកដំបូន្មានពីវេជ្ជបណ្ឌិតជាព្យាបាល។ លោក
									លោកស្រីអាចពិសារទឹកបរិសុទ្ធជាការល្អបំផុត ។<br /> 5) <b><u>12
											ម៉ោងមុនពេលពិនិត្យសុខភាព</u>:</b> សូមកុំធ្វើលំហាត់ប្រាណច្រើនពេក
									ឬការសេពគ្រឿងស្រវឹងហួសកំរិត ។<br /> 6) <b><u>1
											ម៉ោងមុនពេលពិនិត្យសុខភាព</u>:</b>
									ត្រូវជៀសវាងការពិសារនូវសារធាតុដែលមានជាតិកាហ្វេអ៊ីន ឬនីកូទីន ។
									សូមពិសារទឹកបរិសុទ្ធជាការប្រសើរ ។ <br /> 7) <b><u>មុនពេលទៅពិនិត្យសុខភាពលោក
											លោកស្រីត្រូវដឹង ឬត្រៀមទុកជាមុននូវ</u>:</b><br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- លោក
									លោកស្រីត្រូវស្គាល់ពីឈ្មោះថ្នាំដែលលោក
									លោកស្រីបាននឹងកំពុងប្រើប្រាស់ ។<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
									សូមយកឯកសារអត្តសញ្ញាណសំគាល់ខ្លួនដែលមានបិទរូបថតផងដូចជា
									(អត្តសញ្ញាណប័ណ្ណ ឬលិខិតឆ្លងដែន) ។
								</div>
							</td>
						</tr>
					</th:block>
				</table>

				<div class="divFooter">

					<table width="100%">
						<tr>
							<td style="text-align: left; vertical-align: bottom;">
								<p class="MsoNormal">
									<span lang="KHM"
										style="font-size: 5.0pt; font-family: &amp; quot; Khmer OS Metal Chrieng&amp;quot;; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM">©
										<span th:text="${#dates.year(#dates.createNow())}"></span>
										ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍ ម.ក ។
										រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ
										ឬ ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង
										ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។
									</span><span
										style="font-size: 5.0pt; font-family: &amp; quot; Khmer OS Metal Chrieng&amp;quot;; color: gray; mso-themecolor: background1; mso-themeshade: 128; mso-bidi-language: KHM"></span>
								</p>
							</td>
							<td
								style="text-align: right; font-size: 7.5px; vertical-align: middle;">
								<p>
									V<span class="serial" th:text="${version} + '-' + ${serialno}"></span>
								</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</th:block>
	</form>
</body>
</html>