<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/report.css}"  />
<script th:src="@{/resources/jquery/jquery-1.11.2.min.js}" type="text/javascript"></script>
<title>Pru Quote Online</title>
   <style type="text/css">
   	@page {   		  		
		  size: A4;
		  margin: 0.1in 0.25in 0in 0.25in;  /* width height */
	}
	@media screen {
        div.divFooter {
           // display: none;
        }
    }
    @media print {
        .page-section { height:12.1in;position:relative;  }
        div.divFooter {
            position: absolute;
            bottom: 0;
            display:block;
        }
        div.divHeader {
            position: fixed;
            top: 0;
        }
        body{
			//margin-top:0px;			
		}
    }
    <style>
        
        @font-face {
       font-family: "KhmerOS";
       src: url(KhmerOS.ttf);
        }      
        th { 
		        font-family: Arial, Helvetica, sans-serif; 
		        font-size: 10px ;
		        text-align:center;		
		        /*background-color:#DEEDFF;*/
        }
        td { 
		        font-family: Arial, Helvetica, sans-serif; 
		        font-size: 10px ;
		        text-align:center;				        
        }        
         .Border2
        {	        
	        border-left: 1px solid  gray !important;
	        border-right:1px solid  gray !important;
	        border-bottom:1px solid  gray !important;
        }   
         .Border3
        {	        
	        border-left: 1px solid  gray !important;
	        border-right:1px solid  gray !important;
	        border-bottom:1px solid  gray !important;
        }                
          .BorderNum
        {	        
	        border-left:1px dotted #000033;
	        border-right:1px dotted #000033;
	        border-bottom:1px dotted #000033;
        }       
           .BorderNum2
        {	        
	        border-left:1px dotted #000033;
	        border-right:1px dotted #000033;
	        border-bottom:1px dotted #000033;
        }       
    p.MsoNormal
	{margin-bottom:.0001pt;
	punctuation-wrap:simple;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";
	        margin-left: 0in;
            margin-right: 0in;
            margin-top: 0in;
        }
        .style1
        {
            width: 25px;
            height: 23px;
        }
    </style>
    
    <script type="text/javascript">         
     
        function printpage() {
             //Get the print button and put it into a variable
             var printButton = document.getElementById("btnPrint");
             var printButton1 = document.getElementById("btnPrint1");
             //Set the print button visibility to 'hidden' 
             printButton.style.visibility = 'hidden';
             printButton1.style.visibility = 'hidden';
             //Print the page content
             window.print()
             //Set the print button to 'visible' again 
             //[Delete this line if you want it to stay hidden after printing]
             printButton.style.visibility = 'visible';
             printButton1.style.visibility = 'visible';
         }
         function closepage() {
             //Close the page content
             window.close();
         }
    </script>
        
</head>

<body style="height:100%; width:812px;text-align:left;">
<form method="post" action="" id="Form1" runat="server">
<div class="page-section">
<table border="0" cellpadding="0" cellspacing="0" style="width:812px;background-color:white;border-collapse:collapse;">
    <tr>
        <td colspan="8" style="height:70px;text-align:left;">                
            <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
             <tr>
                <th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">
                	<span style="font-size:15px;">ILLUSTRATION OF POLICY BENEFIT WITH</span>
                	<th:block th:if="${PS != 'Yes'}">
                		<img th:src="@{/resources/images/edusmart_logo.png}" style="height:30px;vertical-align:middle;" />
                	</th:block>
                	<th:block th:if="${PS == 'Yes'}">
                		<img th:src="@{/resources/images/pruRetirement.jpg}" style="vertical-align:top;margin-top:1px;" />
	                    <span style="font-size:13px;">which is a package of edusave and Long-Term Savings Builder</span>
	                    <br/>
	                    <span style="font-size:13px;">eduCARE</span>
                	</th:block>
                </th>
                <th:block th:if="${quoteOcc != null && quoteOcc.size() > 0}" > 
					<th style="width: 200px; text-align: center;" >
						<th:block th:each="qo : ${quoteOcc}" >
							<button id="btnoccla1" th:if="${qo.remark == 'occla1' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
								LA1
							</button>
							<button id="btnoccpo" th:if="${qo.remark == 'occpo' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
								PO
							</button>
							<button id="btnoccla2" th:if="${qo.remark == 'occla2' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
								LA2
							</button>
						</th:block>
					</th>
				</th:block>
                <th style="width:120px;text-align:center;">
                    <img alt="Click here to Print Pruquote" class="style1" th:src="@{/resources/images/Print.jpg}" id="btnPrint" onclick="printpage()" />
                    <button class="button" id="btnUAB" th:value="@{/pruquote_uabnote_replatin/{quoteId}(quoteId=${quoteId})}">ME Note</button>
                </th>
                <th style="width:137px;text-align:center;">
                <img th:src="@{/resources/images/pru_logo_2.png}" style="height:70px;vertical-align:middle;" />
                </th>
            </tr>
            </table>
        </td>            
    </tr>
<tr><td style="height:20px;"></td></tr>
    <tr style="padding-top:12px;">
	    <td th:utext="${header1}">
	        <!-- <asp:Label ID="lblHeader1" runat="server" Text="lblHeader1"></asp:Label> -->
	         
	    </td>
    </tr>
	<tr><td style="height:10px;" /></tr>
    <tr style="padding-top:5px;">
        <td style="text-align:left;"><u><b>POLICY BENEFIT ILLUSTRATION</b></u></td>
    </tr>

<!--     <tr> -->
<!--         <td style="text-align:left;"> -->
<!--         	<span> -->
<!-- 	        	<b><u>1. Guaranteed Maturity Benefit with</u></b> -->
<!-- 	        	<th:block th:if="${PS != 'Yes'}"> -->
<!-- 	        		<img th:src="@{/resources/images/edusave_log_small.jpg}" style="width: 42px; height: 10.5px" /> -->
<!-- 	        	</th:block> -->
<!-- 	        	<th:block th:if="${PS == 'Yes'}"> -->
<!-- 	       	    	<b><u>edusave</u></b> -->
<!-- 	        	</th:block> -->
<!--         	</span> -->
<!-- 		</td> -->
<!--     </tr> <tr><td style="height:10px;" /></tr>     -->
<!--     <tr style="padding-top:5px;"> -->
<!--         <td th:utext="${body1}"> -->
<!--             <asp:Label ID="lblBody1" runat="server" Text="lblBody1"></asp:Label> -->
            
<!--         </td> -->
<!--     </tr> -->
	
	 <tr><td style="height:10px;" /></tr>
    <tr>
        <td style="text-align:left;">
        	<span>
	        	<u><b>1. Life Insurance Benefit with </b></u>
        		<img th:src="@{/resources/images/edusmart_logo.png}" style="height:20px;vertical-align:middle;" />
<!-- 	        	<th:block th:if="${PS != 'Yes'}"> -->
<!-- 	        		<img th:src="@{/resources/images/edusmart_logo.png}" style="width: 42px; height: 10.5px" /> -->
<!-- 	        	</th:block> -->
<!-- 	        	<th:block th:if="${PS == 'Yes'}"> -->
<!-- 	        		<u><b>edusmart</b></u> -->
<!-- 	        	</th:block> -->
        	</span>
		</td>
    </tr>    
     <tr><td style="height:10px;" /></tr>
    <tr style="padding-top:5px;">
        <td th:utext="${body2}">
            <!-- <asp:Label ID="lblBody2" runat="server" Text="lblBody2"></asp:Label> -->
            
        </td>
    </tr>
    <th:block th:if="${body4} != ''">
					<tr style="padding-top: 10px;">
						<td style="text-align: left;">
							<label style="font-family: Khmer OS;"><b><u>2.​ Extended Life Coverage Benefit with </u></b>
								<img th:src="@{/resources/images/edusmart_logo.png}" style="height:20px;vertical-align:middle;" />
							</label>
						</td>
					</tr>
				</th:block>
				
				<tr style="padding-top: 10px;">
					<td th:utext="${body4}">
					</td>
				</tr>
    <th:block th:if="${body3} != ''">
	    <tr><td style="height:10px;" /></tr>
	    <tr>
	        <td style="text-align:left;"><u><b>3. Benefits with Additional Riders</b></u></td>
	    </tr>    <tr><td style="height:10px;" /></tr>
    </th:block>
    <tr style="padding-top:5px;">
    <td th:utext="${body3}">
        <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
        
    </td>
    </tr>   
<!--     <th:block th:if="${body4} != ''"> -->
<!-- 	    <tr><td style="height:10px;" /></tr> -->
<!-- 	    <tr> -->
<!-- 	        <td style="text-align:left;"><u><b>4. Guaranteed Maturity Benefit with Long-Term Savings Builder</b></u></td> -->
<!-- 	    </tr>  <tr><td style="height:10px;" /></tr> -->
<!--     </th:block> -->
<!--     <tr style="padding-top:5px;"> -->
<!--     <td th:utext="${body4}"> -->
<!--         <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
        
<!--     </td> -->
<!--     </tr>   -->
    </table>
<div class="divFooter">
        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;margin-left:0px">         
            	<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> Prudential (Cambodia) Life Assurance PLC. All rights reserved. This material shall not be reproduced, modified, displayed, or distributed, in part or whole, without the prior written consent of the Company.</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>
 
            <td style="text-align:right;font-size:7.5px;">
               V<span th:text="${version} + '-' + ${serialno1} + '1'"></span>
            </td>
            </tr>                    
        </table>
</div>
</div>
<div style="page-break-before: always;"></div>
<div class="page-section">
<table border="0" cellpadding="0" cellspacing="0" style="width:812px;background-color:white;border-collapse:collapse;">
    <tr>
        <td colspan="8" style="height:70px;text-align:left;">                
            <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
             <tr>
                <th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">
                	<span style="font-size:15px;">ILLUSTRATION OF POLICY BENEFIT WITH</span>
                	<th:block th:if="${PS} != 'Yes'">
                		<img th:src="@{/resources/images/edusmart_logo.png}" style="height:30px;vertical-align:middle;" />
                	</th:block>
                </th>
                <th style="width:120px;text-align:center;">
                    <img alt="Click here to Print Pruquote" class="style1" th:src="@{/resources/images/Print.jpg}" id="btnPrint1" onclick="printpage()" />
                </th>
                <th style="width:137px;text-align:center;">
                <img th:src="@{/resources/images/pru_logo_2.png}" style="height:70px;vertical-align:middle;" />
                </th>
            </tr>
            </table>
        </td>
    </tr>
    <th:block th:if="${body5} != ''">
	    <tr>
	        <td style="text-align:left;"><u><b>5. Insurance Benefit with Long-Term Savings Builder </b></u></td>
	    </tr> <tr><td style="height:10px;" /></tr>
    </th:block>
    <tr style="padding-top:5px;">
    <td th:utext="${body5}">
        <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
        
    </td>
    </tr>  
     <tr><td style="height:10px;" /></tr>
    <tr style="padding-top:5px;">
        <td style="text-align:left;"><b><u>ADDITIONAL NOTES</u></b></td>
    </tr><tr><td style="height:10px;" /></tr>
    <tr>
         <td>
            <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid red;" border="0">
              <tr>
                <td style="width:812px;text-align:justify;font-size:10px">
1. The premiums and benefits for the basic plan and riders shall remain guaranteed during the Policy Term, except in certain special situations, such as a change in occupation, which may significantly increase the risk of providing the insurance coverage. This would be subject to the Terms and Conditions of this product.																								
<br/><br/>2. The premiums presented above are for a standard Life, which means that the Policy is accepted by the Company at the standard rate. You may have to pay additional/extra premium after the underwriting assessment of your Policy in accordance with Company guidelines.
<br/><br/>3. Installment premium payable by you will depend on the premium payment frequency and the premium payment method chosen by you. For illustration purpose, the annual premium in table 1 is calculated on the basis of annual payment frequency regardless of premium payment frequency chosen, and does not include any discount or tax.
<br/><br/>4. Tax, if applicable, will be charged as per prevailing tax rate.
<br/><br/>5. The lump sum Maturity Benefit chosen at the inception of the Policy is payable only if the Policy remains in-force at the time of maturity.
<br/><br/>6. This illustration assumes that all required premiums are paid on the due dates.
<br/><br/>7. Guaranteed Surrender Value (GSV) is payable in case you decide to terminate this Policy during the Policy Term. You will have to submit a written request to the Company in case you want to terminate the Policy. The optimal benefits of life insurance product are potentially realised when the product is held for the full term of the Policy. Terminating the Policy before the maturity date in general results in some loss and the amount of the GSV will be lower than the total Premium paid to date. Once the GSV is paid, the Policy is terminated and all benefits of this Policy cease to exist.​ The amounts mentioned in the GSV column in table 1 assume that the payment is made exactly on the Policy anniversary, without allowance for any premium that may be due on that anniversary. The GSV will be different from the above value if the cash payment is made on any date other than the Policy anniversary date of the respective Policy year. Though a Policy can be surrendered anytime by the Policy Owner, this Policy acquires a surrender value only after the second Policy anniversary and before Maturity Benefit is paid out.
<br/><br/>8. For base plan, Sum Assured is payable once, in case of death/TPD of the main Life Assured. Additionally, the Family Income Benefit for base plan, as stated in table 1, is payable annually at the Policy anniversary till the end of the Policy Term.
<br/><br/>9. In case the Policy is still in-force until the end of the Policy Term, the main Life Assured shall be covered for five (5) more years, effective from the end of the Policy Term. No Premium is payable during this Extented Life Coverage Term. An amount equal to base plan's Sum Assured chosen at inception is payable in case of the death/TPD of the main Life Assured during this Extended Life Coverage Term. The Family Income Benefit is not applicable during this Extended Life Coverage Term.
<br/><br/>10. <th:block sec:authorize="hasAnyAuthority('ACCESS_PRUTECT')">For Safety+ rider, if applicable, an amount equal to this rider Sum Assured is payable once, in case of death/TPD of Life Assured for this rider caused due to an accident. </th:block>For the Parent Coverage Benefit rider, if applicable, an amount equal to the rider Sum Assured is payable in case of the death/TPD of the Life Assured for the rider. For the Family Income Benefit rider, if applicable, an amount equal to rider Sum Assured is payable in case of the death/TPD of the Life Assured until maturity on an annual basis. Parent Coverage Benefit and Family Income Benefit rider are not applicable during the Extended Life Coverage Term.
<br/><br/>11. Should you decide not to continue with this Policy, you could cancel the Policy within twenty-one (21) days from the Issuance Date of the Life Insurance Certificate. This period is known as the Free-Look Period. In case the Policy in cancelled within the Free-Look Period, we shall refund to the Policy Owner: (i) all Premium received by the Company; minus (ii) medical examination fees, if any; minus (iii) outstanding debts, if any.
<br/><br/>12. The Company reserves the right to decline a Death or TPD claim not caused by an accident, if it is caused directly or indirectly by any of the following:
    <br/><span style="padding-left: 10px; display:inline-block;">(i) Suicide, attempted suicide or self-inflicted injury in the first  two years after the commencement of the Policy or the effective date of any reinstatement of the Policy, whichever 
        is later; or</span>
    <br/><span style="padding-left: 10px; display:inline-block;">(ii) Any Human Immunodeficiency Virus (HIV) and/or any HIV-related illnesses including Acquired Immune Deficiency Syndrome (AIDS) and/or any mutations, derivation or
         variations thereof; or</span>
    <br/><span style="padding-left: 10px; display:inline-block;">(iii) Committing or attempting to commit by the Policy Owner, the Life Assured, or the Beneficiary/Beneficiaries, a criminal offence; or</span>
    <br/><span style="padding-left: 10px; display:inline-block;">(iv) Drugs or stimulator abuse, abusively using alcohol or driving vehicles under the influence of alcohol as defined in current laws and regulations.</span>

<br/><br/>In such cases, the Company shall instead pay an amount equal to: (i) All Premium received by the Company; minus (ii) Any medical examination expenses incurred, if any; minus (iii) Any outstanding amount due to the Company if any.
<br/><br/>13. All exclusion conditions listed in point 12 above are also applicable to Accidental Death claim or Accidental Total and Permanent Disability Benefit claims. In addition, the Company reserves the right to decline a Death or TPD claim caused by an accident, if it is caused directly or indirectly by any of the following:
    <br/><span style="padding-left: 10px; display:inline-block;">(i) Participation in dangerous sports activities including but not limited to scuba diving, mountain climbing, parachuting, high speed races, professional sport  activities, or 
        professional activity of clearing unexploded ordnance; or</span>
    <br/><span style="padding-left: 10px; display:inline-block;">(ii) Participation in aviation activities except as a fare-paying passenger on a multi-engine, scheduled and licensed commercial aircraft; or</span> 
    <br/><span style="padding-left: 10px; display:inline-block;">(iii) War or aggressive acts, including invasions, acts of foreign countries, enemy's acts (whether with or without war declaration), civil wars, insurrections, revolutions, riots, 
         interference by military authorities or usurpation; or</span>
    <br/><span style="padding-left: 10px; display:inline-block;">(iv) Any illness caused by insect bite including mosquito bites and worm infestation.</span>
<br/><br/>
In such cases, where the Company declines the claim request as per this point, but the claim is admissible under point 12 above, the Company shall instead pay an amount equal to (i) Sum Assured as stated in the Life Insurance Certificate, or its latest Alteration Confirmation Letter if any; minus (ii) Any outstanding amount due to the Company if any. 
<br/><br/>
In cases, where the Company declines the claim request as per point 12 and 13 above, the Company shall instead pay an amount equal to: (i) Total Premium received by the Company; minus (ii) Any medical examination expenses incurred; minus (iii) Any outstanding amount due to the company if any.
<br/><br/>14. This illustration forms part of the Policy contract and must be read in the conjunction with the product brochure and Terms and Conditions of this product.
                   																	
                </td>           
              </tr>         
            </table>
         </td>
    </tr>
    <tr><td style="text-align:left;">&nbsp;</td></tr>
    <tr>
         <td>
            <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">
              <tr>
                    <td style="width:350px;text-align:left;">
                        I have fully explained to the client the benefits and <br />
                        Policy provisions of the basic and rider plans.
                    </td>         
                    <td style="width:60px;text-align:left;">&nbsp;</td>         
                    <td style="width:350px;text-align:left;">
                        I have read this and been consulted clearly by the Financial Consultant (FC)/<br />
                LIFE Consultant (LC) about the illustration as well as Terms and Conditions of this product.
                    </td>        
                </tr>         
            </table>
        </td>
    </tr>
    <tr>
    <td>
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid ;" border="0">
          <tr>
            <td style="width:350px;text-align:left;">
                <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1px solid black;" border="1">
                <tr>
                    <td style="text-align:left;">
                    <br /><br /><br />
                    FC/LC's code:
                    </td>
                 </tr>
                </table>
            </td>         
            <td style="width:60px;text-align:left;">&nbsp;</td>         
            <td style="width:350px;text-align:left;">
                <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1px solid black;" border="1">
                <tr>
                    <td style="text-align:left;">
                    <br /><br /><br />
                    Customer's signature:
                    </td>
                 </tr>
                </table>
            </td>
           </tr>
           <tr style="padding-top:10px;" th:switch="${#authorization.expression('hasRole(''BLANK_AGNT_INFO'')')}">
		   	<!-- 	<th:block th:case="${true}">
		   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by: ___________________________________________</td>
		            <td style="width:60px;text-align:left;"colspan=1></td>
		            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name: ___________________________________________</td>
		   		</th:block>
		   		<th:block th:case="${false}">
		   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by: ____<u th:text="${name}"></u>_____________</td>
		            <td style="width:60px;text-align:left;"colspan=1></td>
		            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name: ___________________________________________</td>
		   		</th:block> -->
		   		<th:block th:switch="${isonbehalf}">
		   			<th:block th:case="${'15'}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by: ___________________________________________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name: ___________________________________________</td>
			   		</th:block>
			   		<th:block th:case="${'16'}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by: ____<u th:text="${name}"></u>_____________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name: ___________________________________________</td>
			   		</th:block>
			   		<th:block th:case="*">
			   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by: ____<u th:text="${name}"></u>_____________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name: ___________________________________________</td>
			   		</th:block>
		   		</th:block>
	   		</tr>
           <tr>
            	<td style="text-align:left;" colspan=3>
            		<b>FC/LC Code: 
	            		<!--<th:block sec:authorize="!hasRole('BLANK_AGNT_INFO')">
	            			<span th:text="${code}"></span>
	            		</th:block> -->
	            		<th:block th:if="${isonbehalf == null || isonbehalf == '16'}">
							<span th:text="${code}"></span>
						</th:block>
            		</b>
            	</td>
           </tr>
           <tr>
           		<td style="text-align:left;" colspan=3><b>Date: <span th:text="${#dates.format(#dates.createNow(),'dd MMM yyyy hh:mm:ss aa')}"></span></td>
           </tr>              
        </table>       
    </td>
    </tr> 
</table>
<div class="divFooter">
        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;margin-left:0px">         
            	<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> Prudential (Cambodia) Life Assurance PLC. All rights reserved. This material shall not be reproduced, modified, displayed, or distributed, in part or whole, without the prior written consent of the Company.</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>
            <td style="text-align:right;font-size:7.5px;">
               V<span th:text="${version} + '-' + ${serialno1} + '2'"></span>
            </td>
            </tr>                    
        </table>
</div>
</div>
</form>

</body>
<script type="text/javascript" th:src="@{/resources/js/report.js}"></script>
</html>