<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/report.css}"  />
<script th:src="@{/resources/jquery/jquery-1.11.2.min.js}" type="text/javascript"></script>
<title th:text="${pageTitle}">Page Title Here</title>
	<style type="text/css">
	   	@page {   		  		
			  size: A4;
			  margin: 0.2in 0.4in 0.2in 0.4in;  /* width height */
		}
	    @media screen {
	        div.divFooter {
/* 	           display: none; */
	        }
	    }
	    @media print {
	    	.page-section { height:11.69in;position:relative;  }
	        div.divFooter {
	            position: absolute;
	            bottom: 0;
/* 	            display:block; */
	        }
	        div.divHeader {
	            position: fixed;
	            top: 0;
	        }
	        body{
/* 				margin-left:200px;			 */
			}
	    }
	</style>
    <style>
        
        @font-face {
	       font-family: "KhmerOS";
	       src: url(KhmerOS.ttf);
        }      
        th { 
		        font-family: Arial, Helvetica, sans-serif; 
		        font-size: 10px ;
		        text-align:center;		
		        /*background-color:#DEEDFF;*/
        }
        td { 
		        font-family: Arial, Helvetica, sans-serif; 
		        font-size: 10px ;
		        text-align:center;				        
        }        
         .Border2
        {	        
	        border-left:1px solid gray;
	        border-right:1px solid gray;
	        border-bottom:1px solid gray;
        }
    </style>
</head>
<body class="nav-md">
<form method="post" action="#" th:action="@{''}" id="Form1">
<div class="page-section">
<table border="0" cellpadding="0" cellspacing="0" style="width:812px;background-color:white;border-collapse:collapse;">
  
    <tr>
    	<td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
           	<th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                <span style="font-size:17px;">
                	ILLUSTRATION OF POLICY BENEFIT WITH
                	<br />
                </span>
                <img th:src="@{/resources/images/mortgage.png}" style="height:30px;vertical-align:middle;" />
            </th>
            <th:block th:if="${quoteOcc != null && quoteOcc.size() > 0}" > 
				<th style="width: 200px; text-align: center;" >
					<th:block th:each="qo : ${quoteOcc}" >
						<button id="btnoccla1" th:if="${qo.remark == 'occla1' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
							LA1
						</button>
					</th:block>
				</th>
			</th:block>
            <th style="width:120px;text-align:center;">
                <img alt="Click here to Print Pruquote" class="style1" th:src="@{/resources/images/Print.jpg}" id="btnPrint" onclick="printpage()" />
                <button class="button" id="btnUAB" th:value="@{/pruquote_uabnote_replatin/{quoteId}(quoteId=${quoteId})}">ME Note</button>
            </th>
            <th style="width:137px;text-align:center;">
            	<img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" /> 
            </th>
        </tr>
        </table>
    </td>            
	</tr> 
	<tr><td style="height:20px;" ></td></tr>
     <tr style="padding-top:10px;">
    <td>
        <!-- <asp:Label ID="lblHeader1" runat="server" Text="lblHeader1"></asp:Label> -->
        <span th:utext="${header1}"></span>
    </td>
    </tr>

    <tr><td style="text-align:left;">&nbsp;</td></tr>
    <tr><td style="text-align:left;"><u><b>1. POLICY BENEFIT ILLUSTRATION</b></u></td></tr>
    <tr><td style="text-align:left;height:10px;">&nbsp;</td></tr>
    <tr>
    <td>
        <span th:utext="${body2}"></span>
    </td>
    </tr>
    <tr><td style="text-align:left;"><br/><u>ADDITIONAL NOTES</u></td></tr>
    <tr>
    <td>
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid red;" border="0">
        <tr><td style="height:10px;" /></tr>
          <tr>
            <td style="width:812px;text-align:left;">
            1. The premiums presented above are for a standard life, which means that the policy is accepted by the Company at standard rate. You may have to pay additional/ extra premium after the underwriting assessment of your policy in accordance with the Company guidelines.<br/><br/>
            2. Total premium payable by you will depend on the premium payment method chosen by you. For illustration purpose, the single premium in the Policy Benefit Illustration table above does not include any discount or tax.<br/><br/>											
            3. Tax, if applicable, will be charged as per prevailing tax rate. <br /><br/>											
            4. Guaranteed Cash Values (GCV) are payable in case you decide to terminate this policy, during the policy term. You will have to submit a written request to the Company in case you want to terminate the policy. Once the GCV is paid, the policy is terminated and all benefits of this policy cease to exist. The amounts mentioned in the GCV column in table above assume that the payment is made exactly on the Policy anniversary. The GCV will be different from the above value if the cash payment is made on any date other than the policy anniversary date of the respective policy year. Though a policy can be surrendered anytime by the Policy Owner this policy acquires a cash value only from the first Policy anniversary onwards.<br/><br/>  											
            5. Should you decide not to continue with this Policy, you could cancel the Policy within twenty one (21) days from the Policy Issuance Date of the Life Insurance Certificate. This period is known as the Free-Look Period.  In case the Policy is cancelled within the Free-Look Period, the Company shall refund to the Policy Owner: i) all Premium received by the Company; minus ii) medical examination fees, if any; minus iii) outstanding debts, if any.<br /><br/>
            6. The amounts mentioned in the Death/TPD Benefit column in the table above assume that the Death/TPD occurs in the first policy month of each policy year. The amount will be different from the above if the Death/TPD occurs in any other policy month and will be as stated in Life Insurance Certificate.<br/><br/>
            7. The Company reserves the right to decline a Death or TPD claim, if it is caused directly or indirectly by any of the following:<br/>
			  	&nbsp;&nbsp;&nbsp;(i) Suicide, attempted suicide or self-inflicted injury in the first  two years after the commencement of the Policy;<br/>
			    &nbsp;&nbsp;&nbsp;(ii) Any Human Immunodeficiency Virus (HIV) and/or any HIV-related illnesses including Acquired Immune Deficiency Syndrome (AIDS) and/or any mutations, derivation or
			         variations thereof;<br/>
			    &nbsp;&nbsp;&nbsp;(iii) Committing or attempting to commit by the Policy Owner, the Life Assured, or the Beneficiary/Beneficiaries, a criminal offence;<br/>
			    &nbsp;&nbsp;&nbsp;(iv) Drugs or stimulator abuse, abusively using alcohol or driving vehicles under the influence of alcohol as defined in current laws and regulations.<br/><br/>
			
			In such cases, the Company shall instead pay an amount equal to: (i) All Premium received by the Company; minus (ii) Any medical examination expenses incurred, if any; minus (iii) Any outstanding amount due to the Company if any.<br/><br/>
			8. This illustration forms part of the policy contract and must be read in the conjunction with Terms and Conditions of this product.<br/><br/><br/>										
			</td>           
        </tr>         
        </table>
    </td>
    </tr>
     <tr><td style="text-align:left;">&nbsp;</td></tr>
     <tr>
    <td>
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">
          <tr>
            <td style="width:350px;text-align:left;">
                I have fully explained to the client the benefits and<br/>
				policy Terms and Conditions of this product.
            </td>         
            <td style="width:60px;text-align:left;">&nbsp;</td>         
            <td style="width:350px;text-align:left;">
	            I have read and been consulted clearly by the Financial Consultant (FC)/<br/>
				LIFE Consultant (LC) about the detail of this illustration as well<br/>
				as Terms and Conditions of this product.
            </td>        
        </tr>         
        </table>
    </td>
    </tr>
    <tr>
    <td>
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid ;" border="0">
          <tr>
            <td style="width:350px;text-align:left;">
                <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1 solid black;" border="1">
                <tr>
                    <td style="text-align:left;">
                    <br /><br /><br />
                    FC/LC's signature:
                    </td>
                 </tr>
                </table>
            </td>         
            <td style="width:60px;text-align:left;">&nbsp;</td>         
            <td style="width:350px;text-align:left;">
                <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1 solid black;" border="1">
                <tr>
                    <td style="text-align:left;">
                    <br /><br /><br />
                    Customer's signature:
                    </td>
                 </tr>
                </table>

            </td>        
           </tr>  
           <tr>
            <td style="text-align:left;" colspan=3>&nbsp;</td>
           </tr>
		   <tr>
<!-- 		   		<th:block th:case="${true}"> -->
<!-- 		   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by:</b> ___________________________________________</td> -->
<!-- 		            <td style="width:60px;text-align:left;"colspan=1></td> -->
<!-- 		            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name:</b> ___________________________________________</td> -->
<!-- 		   		</th:block> -->
<!-- 		   		<th:block th:case="${false}"> -->
<!-- 		   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by:</b> ____<u th:text="${name}"></u>_____________</td> -->
<!-- 		            <td style="width:60px;text-align:left;"colspan=1></td> -->
<!-- 		            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name:</b> ___________________________________________</td> -->
<!-- 		   		</th:block> -->
				<th:block th:switch="${isonbehalf}">
					<th:block th:case="${'15'}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by:</b> ___________________________________________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name:</b> ___________________________________________</td>
			   		</th:block>
			   		<th:block th:case="${'16'}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by:</b> ____<u th:text="${name}"></u>_____________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name:</b> ___________________________________________</td>
			   		</th:block>			
			   		<th:block th:case="${*}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by:</b> ____<u th:text="${name}"></u>_____________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name:</b> ___________________________________________</td>
			   		</th:block>			
				</th:block>
		   </tr>
           <tr>
<!--             <td style="text-align:left;" colspan=3><b>FC/LIC Code:</b> <th:block sec:authorize="!hasRole('BLANK_AGNT_INFO')"><span th:text="${code}"></span></th:block></td> -->
				<td style="text-align:left;" colspan=3>
					<b>FC/LC Code:</b>
					<th:block th:if="${isonbehalf == null || isonbehalf == '16'}">
						<span th:text="${code}"></span>
					</th:block>
				</td>
           </tr>
           <tr>
				<td style="text-align:left;" colspan=3><b>Date:</b> <span th:text="${#dates.format(#dates.createNow(),'dd MMM yyyy hh:mm:ss aa')}"></span></td>
           </tr>              
        </table>       
    </td>
    </tr>
</table>
<div class="divFooter">

        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">         
            	<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> Prudential (Cambodia) Life Assurance PLC. All rights reserved. This material shall not be reproduced, modified, displayed, or distributed, in part or whole, without the prior written consent of the Company.</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>
            <td style="text-align:right;font-size:7.5px;">
               V<span th:text="${version} + '-' + ${serialno}"></span>
            </td>
            </tr>                    
        </table>
</div>
</div>
</form>
	<script type="text/javascript" th:src="@{/resources/js/report.js}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('body').removeClass('nav-md');
	           $('body').addClass('nav-sm');
		});
		
		function printpage() {
		           //Get the print button and put it into a variable
		           var printButton = document.getElementById("btnPrint");
		           var printButton1 = document.getElementById("btnPrint1");
		           
		           //Set the print button visibility to 'hidden' 
		           printButton.style.visibility = 'hidden';
		           printButton1.style.visibility = 'hidden';
		           //Print the page content
		           window.print()
		           //Set the print button to 'visible' again 
		           //[Delete this line if you want it to stay hidden after printing]
		           printButton.style.visibility = 'visible';
		           printButton1.style.visibility = 'visible';
		           
		}
		function closepage() {
		    //Close the page content
		    window.close();
		}
	</script>
</body>
</html>