<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/report.css}"  />
<script th:src="@{/resources/jquery/jquery-1.11.2.min.js}" type="text/javascript"></script>
 <title>Pru Quote Online</title>
   <style type="text/css">
   	@page {  
   		size: A4; 		  				  
		margin: 0.2in 0.4in 0.2in 0.4in;  		 
	}
		
    @media screen {
        div.divFooter {
            //display: none;
        }
    }
    @media print {
    	.page-section { height:12.8in;position:relative;  }
        div.divFooter {
            position: absolute;
            bottom: 0;
            display:block;
        }
       
        div.divHeader {
            position: fixed;
            top: 0;
        }
        body{
        
    		margin-top:0px;
    		padding-top:0px;     	
			//margin-left:200px;			
		}
		
    }
</style>
    <style>
        
        @font-face {
       font-family: "KhmerOS";
       src: url(KhmerOS.ttf);
        }      
        th { 
		        font-family: Arial, Helvetica, sans-serif; 
		        font-size: 10px ;
		        text-align:center;		
		        /*background-color:#DEEDFF;*/
        }
        td { 
		        font-family: Arial, Helvetica, sans-serif; 
		        font-size: 10px ;
		        text-align:center;				        
        }        
         .Border2
        {	        
	        border-left:1px solid gray;
	        border-right:1px solid gray;
	        border-bottom:1px solid gray;
        }                 
         
        
    ​​​​​​​​</style>
     <script type="text/javascript">

         function printpage() {
             //Get the print button and put it into a variable
             var printButton = document.getElementById("btnPrint");
             var printButton1 = document.getElementById("btnPrint1");
             
             //Set the print button visibility to 'hidden' 
             printButton.style.visibility = 'hidden';
             printButton1.style.visibility = 'hidden';
             //Print the page content
             window.print()
             //Set the print button to 'visible' again 
             //[Delete this line if you want it to stay hidden after printing]
             printButton.style.visibility = 'visible';
             printButton1.style.visibility = 'visible';
             
         }
         function closepage() {
             //Close the page content
             window.close();
         }
    </script>

    
</head>

<body style="height:100%; width:812px;text-align:left;">
<form method="post" action="" id="Form1">
<div class="page-section">
<table border="0" cellpadding="0" cellspacing="0" style="width:812px;background-color:white;border-collapse:collapse;">
    <tr>
    	<td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
           	<th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                     <span style="font-size:17px;">ILLUSTRATION OF POLICY BENEFIT WITH<br />
                    </span>
                <img th:src="@{/resources/images/PRUmy_family.png}" style="height:35px;vertical-align:middle;" />            
            </th>
            <th:block th:if="${quoteOcc != null && quoteOcc.size() > 0}" > 
				<th style="width: 100px; text-align: center;" >
					<th:block th:each="qo : ${quoteOcc}" >
						<button id="btnoccla1" th:if="${qo.remark == 'occla1' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
							LA1
						</button>
						<button id="btnoccpo" th:if="${qo.remark == 'occpo' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
							PO
						</button>
						<button id="btnoccla2" th:if="${qo.remark == 'occla2' && qo.occId != 0 && qo.occId != occOtherId}" class="button" th:value="@{/files/{occid}(occid=${qo.occId})}">
							LA2
						</button>
					</th:block>
				</th>
			</th:block>
            <th style="width:120px;text-align:center;">
                <img alt="Click here to Print Pruquote" class="style1" th:src="@{/resources/images/Print.jpg}" id="btnPrint" onclick="printpage()" />
                <button class="button" id="btnUAB" th:value="@{/pruquote_uabnote_replatin/{quoteId}(quoteId=${quoteId})}">ME Note</button>
            </th>
		
            <th style="width:137px;text-align:center;">
            <img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" />
            </th>
        </tr>
        </table>
    </td>            
	</tr> 
	<tr><td style="height:20px;" ></td></tr>
     <tr style="padding-top:10px;">
    <td th:utext="${header1}">
        <!-- <asp:Label ID="lblHeader1" runat="server" Text="lblHeader1"></asp:Label> -->
        
    </td>
    </tr>

    <tr><td style="text-align:left;">&nbsp;</td></tr>
    <tr><td style="text-align:left;"><u><b>1. POLICY BENEFIT ILLUSTRATION - </b></u><img th:src="@{/resources/images/PRUmy_family.png}" style="vertical-align:middle;width: 72px; height: 18px" /></td></tr>
    <tr><td style="text-align:left;height:10px;">&nbsp;</td></tr>
    <tr>
    <td th:utext="${body2}">
        <!-- <asp:Label ID="lblBody2" runat="server" Text="lblBody2"></asp:Label> -->
        
    </td>
    </tr>
    <th:block th:if="${body3} != ''">
	    <tr><td style="height:10px;" /></tr>
	    <tr>
	        <td style="text-align:left;"><u><b>2. Benefits with Riders</b></u></td>
	    </tr>  <tr><td style="height:10px;" /></tr>
    </th:block>
    <tr style="padding-top:5px;">
    <td th:utext="${body3}">
        <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
        
    </td>
    </tr>
    <th:block th:if="${body4} != ''">
	    <tr><td style="height:10px;" /></tr>
	    <tr>
	        <td style="text-align:left;"><u><b>3. Guaranteed Maturity Benefit with </b>Long-Term Savings Builder</u></td>
	    </tr>  <tr><td style="height:10px;" /></tr>
    </th:block>
    <tr style="padding-top:5px;">
    <td th:utext="${body4}">
        <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
        
    </td>
    </tr>  
    
    </table>
<div class="divFooter">
        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">         
            	<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> Prudential (Cambodia) Life Assurance PLC. All rights reserved. This material shall not be reproduced, modified, displayed, or distributed, in part or whole, without the prior written consent of the Company.</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>
            <td style="text-align:right;font-size:7.5px;">
               V<span th:text="${version} + '-' + ${serialno1}"></span>
            </td>
            </tr>                    
        </table>
</div>
</div>
<div style="page-break-before: always;"></div>
<div class="page-section">
<table border="0" cellpadding="0" cellspacing="0" style="width:812px;background-color:white;border-collapse:collapse;">
    <tr>
    	<td colspan="8" style="height:85px;text-align:left;">                
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">         
            <tr>
           	<th colspan="2" style="text-align:left;vertical-align:middle;margin-top:20px;">                    
                     <span style="font-size:17px;">ILLUSTRATION OF POLICY BENEFIT WITH<br />
                    </span>
                <img th:src="@{/resources/images/PRUmy_family.png}" style="height:35px;vertical-align:middle;" />            
            </th>
                
            <th style="width:120px;text-align:center;">
                <img alt="Click here to Print Pruquote" class="style1" th:src="@{/resources/images/Print.jpg}" id="btnPrint1" onclick="printpage()" />
            </th>

            <th style="width:137px;text-align:center;">
            <img th:src="@{/resources/images/pru_logo_2.jpg}" style="height:70px;vertical-align:middle;" />
            </th>
        </tr>
        </table>
    </td>            
	</tr>
	<th:block th:if="${body5} != ''">
		<tr>
	        <td style="text-align:left;"><u><b>4. Insurance Benefit with </b>Long-Term Savings Builder</u></td>
	    </tr> <tr><td style="height:10px;" /></tr>
	</th:block>
    <tr style="padding-top:5px;">
    <td th:utext="${body5}">
        <!-- <asp:Label ID="lblBody3" runat="server" Text="lblBody3"></asp:Label> -->
        
    </td>
    </tr>  
     <tr><td style="height:10px;" /></tr>
    <tr><td style="text-align:left;height:20px;">&nbsp;</td></tr>
    <tr><td style="text-align:left;"><b><u>ADDITIONAL NOTES</u></b></td></tr>
    <tr>
    <td>
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid red;" border="0">
        <tr><td style="height:10px;" /></tr>
          <tr>
            <td style="width:812px;text-align:left;">
            1. The premiums as mentioned above for the basic plan and rider plans shall remain guaranteed during the policy term.<br />
            2. The premiums presented above are for a standard life, which means that the policy is accepted by the Company at standard rate. You may have to pay additional/ extra premium after the underwriting assessment of your policy in accordance with the Company guidelines.<br />											
            3. Installment premium payable by you will depend on the premium mode and the premium payment method chosen by you. For illustration purpose, the annual premium in tables 1 and 4, if applicable, is calculated on the basis of annual mode regardless of premium modes and payment methods chosen, and does not include any discount or tax.<br />											
            4. Tax, if applicable, will be charged as per prevailing tax rate. <br />  											
            5. The maturity benefit is payable only if the policy remains in force at the time of maturity. The calculation of the maturity value is based on the annual premiums of the basic plan and the  Long-Term Savings Builder rider (if any) only as illustrated in tables 1 and 4 respectively and excludes-i) any additional/extra premium charged for the policy; and ii) any service/premium taxes that are levied on the life insurance policies. The maturity benefit is calculated using premium in table 1 and 4, if applicable.<br />											
            6. For  Long-Term Savings Builder, the default option for the payment of maturity benefit is the lump sum payment. However, you can choose the settlement option for the payment of maturity benefit and receive the benefits in installments. You can choose the maturity settlement option at the inception of the policy. You may change the decision regarding the settlement option once during the rider coverage term, but no later than 5 years before the end of the rider coverage term.  Maturity benefit of the basic plan is only available in lump sum payment.<br /> 											
            7.  Once the installment under the settlement option has started, the payment shall continue as per the schedule and cannot be changed. In case of an unfortunate death/TPD of the life assured during that period, no life insurance benefits are payable but the payments shall be continued as scheduled.<br />									
			8. This illustration assumes that all required premiums are paid on the due dates.<br/>		
			9. Guaranteed Cash Values (GCV) are payable in case you decide to terminate this policy, during the policy term. You will have to submit a written request to the Company in case you want to terminate the policy. Once the GCV is paid, the policy is terminated and all benefits of this policy cease to exist. The amounts mentioned in the GCV column in table 1 and table 4, if applicable, assume that the payment is made exactly on the policy anniversary, without allowance for any premium that may be due on that anniversary. The GCV will be different from the above value if the cash payment is made on any date other than the policy anniversary date of the respective policy year. Though a policy can be surrendered anytime by the policy owner, this policy acquires a cash value only from the second policy anniversary onwards.<br/>
			10. For the Parent Coverage Benefit Rider, if applicable, an amount equal to the rider sum assured is payable in case of the death/TPD of the insured life for the rider. For the Family Income Benefit Rider, if applicable, an amount equal to rider sum assured is payable till maturity on an annual basis, in case of the death/TPD of the insured life. For the Long-Term Savings Builder Rider, if applicable, in case of death/TPD of the insured life under the rider, the amount as specified in table 4, for the policy year in which the death/TPD occurs, is payable.<br/>									                       
			11. For the Long-Term Savings Builder Rider,if applicable, a rider GCV is payable in the event of termination of the rider. This is as illustrated in table 4.  The amounts mentioned in the GCV column in table 4 assume that the payment is made exactly on the policy anniversary, without allowance for any premium that may be due on that anniversary. The GCV will be different from the above value if the cash payment is made on any date other than the policy anniversary date of the respective policy year. Though the Long-Term Savings Builder rider can be surrendered anytime by the policy owner, this rider acquires a cash value only from the third rider anniversary onwards.<br/>
			12. Should you decide not to continue with this Policy, you could cancel the Policy within twenty one (21) days from the Issuance Date of the Life Insurance Certificate. This period is known as the Free Look Period.  In case the Policy is cancelled within the Free-Look Period, we shall refund to the Policy Owner: i) all Premium received by the Company; minus ii) medical examination fees, if any; minus iii) outstanding debts, if any.<br/>
			13. This illustration forms part of the policy contract and must be read in the conjunction with Terms and Conditions of this product.	
            </td>           
        </tr>         
        </table>
    </td>
    </tr>
     <tr><td style="text-align:left;">&nbsp;</td></tr>
     <tr>
    <td>
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid black;" border="0">
          <tr>
            <td style="width:350px;text-align:left;">
                I have fully explained to the client the benefits and <br />
                policy provisions of the basic and rider plans.
            </td>         
            <td style="width:60px;text-align:left;">&nbsp;</td>         
            <td style="width:350px;text-align:left;">
               I have read this and been consulted clearly by Financial Consultant (FC)/<br />
               LIFE Consultant (LC) about the illustration as well as Terms and Conditions of this products.
            </td>        
        </tr>         
        </table>
    </td>
    </tr>
    <tr>
    <td>
        <table style="width:100%;background-color:white;border-collapse:collapse; border:0 solid ;" border="0">
          <tr>
            <td style="width:350px;text-align:left;">
                <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1 solid black;" border="1">
                <tr>
                    <td style="text-align:left;">
                    <br /><br /><br />
                    FC/LC's signature:
                    </td>
                 </tr>
                </table>
            </td>         
            <td style="width:60px;text-align:left;">&nbsp;</td>         
            <td style="width:350px;text-align:left;">
                <table style="width:100%;height:50px;background-color:white;border-collapse:collapse; border:1 solid black;" border="1">
                <tr>
                    <td style="text-align:left;">
                    <br /><br /><br />
                    Customer's signature:
                    </td>
                 </tr>
                </table>

            </td>
           </tr>  
           <tr>
            <td style="text-align:left;" colspan=3>&nbsp;</td>
           </tr>            
           <tr style="padding-top:10px;">
		   		<!-- <th:block th:case="${true}">
		   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by: ___________________________________________</td>
		            <td style="width:60px;text-align:left;"colspan=1></td>
		            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name: ___________________________________________</td>
		   		</th:block>
		   		<th:block th:case="${false}">
		   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by: ____<u th:text="${name}"></u>_____________</td>
		            <td style="width:60px;text-align:left;"colspan=1></td>
		            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name: ___________________________________________</td>
		   		</th:block> -->
		   		<th:block th:switch="${isonbehalf}">
		   			<th:block th:case="${'15'}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by: ___________________________________________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name: ___________________________________________</td>
			   		</th:block>
			   		<th:block th:case="${'16'}">
			   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by: ____<u th:text="${name}"></u>_____________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name: ___________________________________________</td>
			   		</th:block>
			   		<th:block th:case="*">
			   			<td style="width:350px;text-align:left;" colspan=1><b>Prepared by: ____<u th:text="${name}"></u>_____________</td>
			            <td style="width:60px;text-align:left;"colspan=1></td>
			            <td style="width:350px;text-align:left;" colspan=1><b>Customer's Name: ___________________________________________</td>
			   		</th:block>
		   		</th:block>
	   		</tr>
           <tr>
           		<!-- <td style="text-align:left;" colspan=3><b>FC/LC Code: <th:block sec:authorize="!hasRole('BLANK_AGNT_INFO')"><span th:text="${code}"></span></th:block></td> -->
           		<td style="text-align:left;" colspan=3>
           			<b>FC/LC Code: 
           				<th:block th:if="${isonbehalf == null || isonbehalf == '16'}">
           					<span th:text="${code}"></span>
           				</th:block>
           			</b>
           		</td>
           </tr>
           <tr>
	           	<td style="text-align:left;" colspan=3><b>Date: <span th:text="${#dates.format(#dates.createNow(),'dd MMM yyyy hh:mm:ss aa')}"></span></td>
           </tr>              
        </table>       
    </td>
    </tr>  
    
</table>

<div class="divFooter">

        <table width="100%">
            <tr>            
            <td style="text-align:left;vertical-align:bottom;">         
            	<p class="MsoNormal">
	                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
						color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
						KHM">© <span th:text="${#dates.year(#dates.createNow())}"></span> Prudential (Cambodia) Life Assurance PLC. All rights reserved. This material shall not be reproduced, modified, displayed, or distributed, in part or whole, without the prior written consent of the Company.</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
						mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span>
				</p>
            </td>
            <td style="text-align:right;font-size:7.5px;">
               V<span class="serial" th:text="${version} + '-' + ${serialno2}"></span>
            </td>
            </tr>                    
        </table>
</div>
</div>
</form>

</body>
<script type="text/javascript" th:src="@{/resources/js/report.js}"></script>
</html>