﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Pru Quote Online</title>        <style>                @font-face {       font-family: "KhmerOS";       src: url(KhmerOS.ttf);        }              th { 		        font-family: Khmer OS, Helvetica, sans-serif; 		        font-size: 9px ;		        text-align:center;				        		        /*background-color:#DEEDFF;*/        }        td { 		        font-family: Khmer OS, Helvetica, sans-serif; 		        font-size: 9px ;		        text-align:center;			        		                }        .Border2
        {	        
	        border-left:dotted 1 #000033;
	        border-right:dotted 1 #000033;
	        border-bottom:dotted 1 #000033;
        }                             p.MsoNormal	{margin-bottom:.0001pt;	punctuation-wrap:simple;	text-autospace:none;	font-size:10.0pt;	font-family:"Times New Roman","serif";	        margin-left: 0in;            margin-right: 0in;            margin-top: 0in;        }            </style>  </head><body style="margin:0px">
<p class="MsoNormal">
<!--  	<jsp:useBean id="now" class="java.util.Date" /> -->
<!--  	<fmt:formatDate var="year" value="${now}" pattern="yyyy" /> -->
                <span lang="KHM" style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;
color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
KHM">© <span th:text="${#dates.createNow()}"></span> ក្រុមហ៊ុន ព្រូដិនសល (ខេមបូឌា) ឡាយហ្វ៍ អឹសួរ៉ិនស៍  ម.ក ។ រក្សាសិទ្ធិគ្រប់យ៉ាង ។ ឯកសារនេះ មិនត្រូវថតចម្លង សម្រួល បង្ហាញ ឬ ចែកចាយ ដោយផ្នែក ឬ ទាំងស្រុង ដោយមិនមានការអនុញ្ញាតពីក្រុមហ៊ុននោះទេ ។</span><span style="font-size:5.0pt;font-family:&quot;Khmer OS Metal Chrieng&quot;;color:gray;
mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:KHM"></span></p>
</body>
</html>