﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Pru Quote Online</title>    
    <style>
    <title>Pru Quote Online</title>        <style>            
        @font-face {
       font-family: "KhmerOS";
       src: url(KhmerOS.ttf);
        }      
        th { 
		        font-family: Arial, Helvetica, sans-serif; 
		        font-size: 10px ;
		        text-align:center;		
		        /*background-color:#DEEDFF;*/
        }
        td { 
		        font-family: Arial, Helvetica, sans-serif; 
		        font-size: 10px ;
		        text-align:center;				        
        }                 .Border2
        {	        
	        border-left:dotted 1 #000033;
	        border-right:dotted 1 #000033;
	        border-bottom:dotted 1 #000033;
        }                           .BorderNum
        {	        
	        border-left:dotted 1 #000033;
	        border-right:dotted 1 #000033;
	        border-bottom:dotted 1 #000033;
        }                  .BorderNum2
        {	        
	        border-left:dotted 1 #000033;
	        border-right:dotted 1 #000033;
	        border-bottom:dotted 1 #000033;
        }           p.MsoNormal	{margin-bottom:.0001pt;	punctuation-wrap:simple;	text-autospace:none;	font-size:10.0pt;	font-family:"Times New Roman","serif";	        margin-left: 0in;            margin-right: 0in;            margin-top: 0in;        }        .style1        {            width: 25px;            height: 23px;        }    </style> </head><body style="margin:0px">
<!-- 	<jsp:useBean id="now" class="java.util.Date" /> -->
<!-- 	<fmt:formatDate var="year" value="${now}" pattern="yyyy" /> -->
				<p class="MsoNormal" style="line-height:150%">
					<span style="font-size:5.0pt;
    line-height:150%;font-family:Frutiger;mso-bidi-font-family:&quot;Khmer OS Metal Chrieng&quot;;
    color:gray;mso-themecolor:background1;mso-themeshade:128;mso-bidi-language:
    KHM">© <span th:text="${#dates.createNow()}"></span> Prudential (Cambodia) Life Assurance PLC. All rights reserved. This material shall not be reproduced, modified, displayed, or distributed, in part or whole, without the prior written consent of the Company.</span>
</p>
</body>
</html>