<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<style>
					.col-sm-5{ vertical-align: middle;  }
					label{ font-size:12px;}
					.headline hr{margin-top:-3px;}
					.control-label{margin:0px;}
					
				</style>								
                 <div class="content-panel" >                 	
                 	<div class="row">
                  	<div class="col-sm-6">

                  	</div> 
                  	</div>
                 	<div style="border:1px solid #ccc; padding:5px; padding-top:10px;border-radius:5px;">                     	                    	      				     	        	
	                  	 <form th:object="${pruquoteparm}" onsubmit="return checkSubmit();" th:action="${''}" method="post" name="form">
	                  	   <div th:if="${errors} != null" class="alert alert-warning" role="alert">
						
							</div>
	                  	  	<div class="row space4">
	                  	  		<div class="col-sm-12 form-group fixed-form-control" style="color:red;">
		                        	<p id="Err" style="font-size:12px;"></p>
		                        </div>  
		                    </div>               	  	
	                  	  	<div class="row space4">                  	  	
		                  	  	<div class="col-sm-4 form-group fixed-form-control"  style="display:none;">
		                        	<label for="id" class="col-sm-5 control-label">Auto No:</label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" readonly="true" Class="form-control"  th:field="*{id}" htmlEscape="true"/>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-8 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-4 control-label">Policy commencement date:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-3">
		                        		<input th:field="*{commDate}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
		                        	</div>
		                        	<label for="item" class="col-sm-3 control-label">PRUretirement</label>    
		                        	<div class="col-sm-2">
		                        		<select th:field="*{pruRetirement}" class="form-control">
		                        			<option th:each="pruRetirement : ${YesNo}"
		                        				th:value="${pruRetirement.id}" th:text="${pruRetirement.ItemLatin}" />
		                        		</select>
		                        	</div>
		                        </div>	
	                        </div>
	                        <div class="headline">
		                        <i><b>Particulars of the Main Life Assured</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Relationship of PO & LA<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<select th:field="*{coLa1relationship}" class="form-control">
			                     			<option th:each="coLa1relationship : ${RelationShip}" 
			                     				th:value="${coLa1relationship.id}" th:text="${coLa1relationship.itemLatin}" />
			                     		</select>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">Name of the Main Life Assured<span class="required-mark" >*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" class="form-control" th:field="*{la1name}" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Sex<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<select th:field="*{coLa1sex}" class="form-control">
			                     			<option th:each="coLa1sex : ${Sex}"
			                     				th:value="${coLa1sex.id}" th:text="${coLa1sex.Reserve2}" />
			                     		</select>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">Date of Birth<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control" th:field="*{la1dateOfBirth}"  htmlEscape="true"/>
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-4 form-group fixed-form-control" style="display:none;">
		                        	<label for="id" class="col-sm-5 control-label">Occupation class</label>    
		                        	<div class="col-sm-7">
		                        		<select th:field="*{coLa1occupationClass}" class="form-control">
			                     			<option th:each="coLa1occupationClass : ${occupationClass}"
			                     				th:value="${coLa1occupationClass.id}" th:text="${coLa1occupationClass.Reserve2}" />
			                     		</select>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-8">
		                        	<div class=" form-group fixed-form-control">
			                        	<label for="item" class="col-sm-3 control-label">Policy Term (Years)<span class="required-mark">*</span></label>    
			                        	<div class="col-sm-3">
			                        		<select th:field="*{coPolicyTerm}" class="form-control">
				                     			<option th:each="coPolicyTerm : ${PolicyTerm}"
				                     				th:value="${coPolicyTerm.id}" th:text="${coPolicyTerm.itemLatin}" />
				                     		</select>
			                        	</div>
			                        	<label for="item" class="col-sm-3 control-label">Premium Term (Years)<span class="required-mark">*</span></label>    
			                        	<div class="col-sm-3">
			                        		<select th:field="*{coPremiumTerm}" class="form-control">
				                     			<option th:each="coPremiumTerm : ${PremiumTerm}"
				                     				th:value="${coPremiumTerm.id}" th:text="${coPremiumTerm.Reserve2}" />
				                     		</select>
			                     	 	</div>
			                     	</div>	
	                        	</div>
	                        	<div class="col-sm-4 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Name of Policy Owner</label>    
		                        	<div class="col-sm-7">
		                        		<input th:field="*{poName}" type="text" Class="form-control"  readonly="true"  htmlEscape="true" style="text-transform: uppercase;"/>
		                        	</div>  
		                        </div> 
	                        	
	                        </div>
	                        <div class="headline">
	                        	<i><b>Particulars of the Additional Life Assured</b></i>
	                        	<hr/>
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label"> Name of the Additional Life Assured</label>    
		                        	<div class="col-sm-7">
		                        		<input th:field="*{la2name}" type="text" Class="form-control" htmlEscape="true" style="text-transform: uppercase;"/>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">Date of Birth</label>    
		                        	<div class="col-sm-7">
		                        		<input th:field="*{la2dateOfBirth}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Sex</label>    
		                        	<div class="col-sm-7">
		                        		<select th:field="*{coLa2sex}" class="form-control">
			                     			<option th:each="coLa2sex : ${Sex}"
			                     				th:value="${coLa2sex.id}" th:text="${coLa2sex.Reserve2}" />
			                     		</select>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control" style="display:none;">
		                        	<label for="item" class="col-sm-5 control-label">Occupation class</label>    
		                        	<div class="col-sm-7">
		                        		<select th:field="*{coLa2occupationClass}" class="form-control">
			                     			<option th:each="coLa2occupationClass : ${occupationClass}"
			                     				th:value="${coLa2occupationClass.id}" th:text="${coLa2occupationClass.Reserve2}" />
			                     		</select>
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="headline">
		                        <i><b>Particulars of payment mode</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control" >
		                        	<label for="id" class="col-sm-6 control-label">Cash or Non-cash payment</label>    
		                        	<div class="col-sm-6">
		                        		<select th:field="*{coPaymentType}" class="form-control">
			                     			<option th:each="coPaymentType : ${PaymentType}"
			                     				th:value="${coPaymentType.id}" th:text="${coPaymentType.Reserve2}" />
			                     		</select>
		                        	</div>
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">  
		                        	<label for="item" class="col-sm-5 control-label">Payment mode</label>    
		                        	<div class="col-sm-7">
		                        		<select th:field="*{coPaymentMode}" class="form-control">
			                     			<option th:each="coPaymentMode : ${PaymentMode}"
			                     				th:value="${coPaymentMode.id}" th:text="${coPaymentMode.Reserve2}" />
			                     		</select>
		                        	</div>
		                        </div>
		                    </div>
		                     <div class="headline">
		                        <i><b>Particulars of Basic Plan and My Option benefits</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row space4">
	                        	 <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-6 control-label">Maturity Benefit (Education Fund)<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-6">
		                        		<input id="MB" type="text" class="form-control"  htmlEscape="true" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>  
		                         </div>
		                         <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-6 control-label">Sum Assured<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" class="form-control" th:field="*{basicPlanSa}"  readonly="true"   htmlEscape="true" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>  
		                         </div>               	  	
		                  	</div>
	                        <div class="headline">
		                        <i><b>My Option Benefits (Also known as Riders)</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-12 control-label">Parent Coverage Benefit</label>    
		                        </div>  
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-2 control-label">life 1</label>    
		                        	<div class="col-sm-3">
		                        		<select th:field="*{coL1Rtr1}" class="form-control">
		                        			<option th:each="coL1Rtr1 : ${YesNo}"
		                        				th:value="${coL1Rtr1.id}" th:text="${coL1Rtr1.ItemLatin}" />
		                        		</select>
		                        	</div>
		                        	<div class="col-sm-5">
		                        		<input type="text" th:field="*{l1Rtr1}" class="form-control"  htmlEscape="true" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>
		                        	<div class="col-sm-2">
		                        		<input type="text" id="l1Rtr1Term" class="form-control" readonly="true" htmlEscape="true" value="10" />
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-12 control-label">Family Income Benefit</label>    
		                        </div>  
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-2 control-label">life 1</label>    
		                        	<div class="col-sm-3">
		                        		<select th:field="*{coL1Rsr1}" class="form-control">
		                        			<option th:each="coL1Rsr1 : ${YesNo}"
		                        				th:value="${coL1Rsr1.id}" th:text="${coL1Rsr1.ItemLatin}" />
		                        		</select>
		                        	</div>
		                        	<div class="col-sm-5">
		                        		<input type="text" th:field="*{l1Rsr1}" class="form-control" htmlEscape="true"/>
		                        	</div>
		                        	<div class="col-sm-2">
		                        		<input type="text" id="l1Rsr1Term" class="form-control" readonly="true" htmlEscape="true" value="0" />
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-12 control-label">Parent Coverage Benefit</label>    
		                        </div>  
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-2 control-label">life 2</label>    
		                        	<div class="col-sm-3">
		                        		<select th:field="*{coL2Rtr1}" class="form-control">
		                        			<option th:each="coL2Rtr1 : ${YesNo}"
		                        				th:value="${coL2Rtr1.id}" th:text="${coL2Rtr1.ItemLatin}" />
		                        		</select>
		                        	</div>
		                        	<div class="col-sm-5">
		                        		<input type="text" th:field="*{l2Rtr1}"  class="form-control"  htmlEscape="true" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>
		                        	<div class="col-sm-2">
		                        		<input type="text" id="l2Rtr1Term"  class="form-control" readonly="true" htmlEscape="true" value="0" />
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-12 control-label">Family Income Benefit</label>    
		                        </div>  
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-2 control-label">life 2</label>    
		                        	<div class="col-sm-3">
		                        		<select th:field="*{coL2Rsr1}" class="form-control">
		                        			<option th:each="coL2Rsr1 : ${YesNo}"
		                        				th:value="${coL2Rsr1.id}" th:text="${coL2Rsr1.ItemLatin}" />
		                        		</select>
		                        	</div>
		                        	<div class="col-sm-5">
		                        		<input type="text" th:field="*{l2Rsr1}" class="form-control" htmlEscape="true"/>
		                        	</div>
		                        	<div class="col-sm-2">
		                        		<input type="text" class="form-control" id="l2Rsr1Term" readonly="true"  htmlEscape="true" value="0" />
		                        	</div>  
		                        </div>	
	                        </div>
	                        <th:block th:if="${isAffectiveDate < 0}">
		                        <div class="row space4" style="">                  	  	
			                  	  	<div class="col-sm-5 form-group fixed-form-control">
			                        	<label for="id" class="col-sm-12 control-label">Long-Term Savings Builder</label>    
			                        </div>  
			                        <div class="col-sm-7 form-group fixed-form-control">
			                        	<label for="item" class="col-sm-2 control-label">life 1</label>    
			                        	<div class="col-sm-3">
			                        		<select th:field="*{coL1Rtr2}" class="form-control">
			                        			<option th:each="coL1Rtr2 : ${YesNo}"
			                        				th:value="${coL1Rtr2.id}" th:text="${coL1Rtr2.ItemLatin}" />
			                        		</select>
			                        	</div>
			                        	<div class="col-sm-5">
			                        		<input type="text" th:field="*{l1Rtr2}" class="form-control"  htmlEscape="true" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
			                        	</div>
			                        	<div class="col-sm-2">
			                        		<input type="text" class="form-control" id="l1Rtr2Term" readonly="true" htmlEscape="true" value="10" />
			                        	</div>  
			                        </div>	
		                        </div>
	                        </th:block>
	                        <hr/>
	                        <div class="row space4" style="">
	                        	<div class="col-sm-6 form-group fixed-form-control">
	                        		<p style="color: orange; padding-top: 19px;"> </p>
		                        	<label for="item" class="col-sm-2 control-label">Transfer Quote</label>    
		                        	<div class="col-sm-6">
		                        		<select th:field="*{transfer}" class="form-control">
		                        			<option th:each="transfer : ${YesNo}"
		                        				th:value="${transfer.id}" th:text="${transfer.ItemLatin}" />
		                        		</select>
		                        	</div>
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
	                        		<p style="color: orange">*Note: Please select ‘Yes’ if you generate quote on behalf of other FCs/LCs</p>
		                        	<label for="item" class="col-sm-2 control-label">Is on behalf ?</label>    
		                        	<div class="col-sm-2">
		                        		<select class="form-control" id="onbehalf" name="onbehalf">
											<option value="16">No</option>
											<option value="15">Yes</option>
										</select>
		                        	</div>
		                        </div>
	                        </div>
	                        <div class="row space4" style="display:none;">                  	  	
		                  	  	<div class="col-sm-4 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-6 control-label">ValidFlag</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" value="1"  Class="form-control"  id="validFlag" th:field="*{validFlag}" htmlEscape="true" onkeypress='return event.keyCode >= 48 && event.keyCode <= 49' maxlength="1"/>
		                        	</div>
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">  
		                        	<label for="item" class="col-sm-6 control-label">User</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" class="form-control" id="coUser" th:field="*{coUser}"  htmlEscape="true"/>
		                        	</div>
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">SynDate</label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" readonly="readonly" class="form-control" id="syndate" th:field="*{synDate}"  htmlEscape="true"/>
		                        	</div>  
		                        </div>
		                    </div>
	                        
	                        <div class="row space5">                 
	                        <div class="form-group fixed-form-control col-sm-12 btNotFixed" >
	                        	<div class="col-sm-12">
		                            <button  type="submit" class="btn btn-danger" name="save">Save</button>
		                            <button type="submit" class="btn btn-danger" name="previewkh">Preview in Khmer</button>
		                            <button type="submit" class="btn btn-danger" name="previewen" >Preview in English</button>
	                            </div>
							 </div>
							 </div>
<!-- 							 <div class="btFixed"> -->
<!-- 							 <div class="text-center"> -->
<!-- 								<button type="submit" name="save" class="btn btn-danger" > -->
<!-- 								    Save -->
<!-- 								</button> -->
<!-- 								<button type="submit" class="btn btn-danger" name="previewkh">Preview Khmer</button> -->
<!-- 								<button type="submit" class="btn btn-danger" name="previewen" >Preview English</button> -->
<!-- 							 </div> -->
<!-- 							 </div> -->
						  </form>
	                 </div>
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var url_getMBBySA = /*[[@{/getMBBySA}]]*/'';
			var url_getSAByMB = /*[[@{/getSAByMB}]]*/'';
			
			var isUnlimitedRider = 'false';
			var isUnlimitedSA = 'false';
			isAffectiveDate = [[${isAffectiveDate}]];

			/*[# th:if="${#authorization.expression('hasAuthority(''ACCESS_UNLIMITED_RIDER'')')}"]*/
			isUnlimitedRider = 'true';
			/*[/]*/
	
			/*[# th:if="${#authorization.expression('hasAuthority(''ACCESS_UNLIMITED_SA'')')}"]*/
			isUnlimitedSA = 'true';
			/*[/]*/
		</script>
		<script th:inline="javascript" th:src="@{/resources/js/validateform/pruedusave.js}"></script>
		<script th:inline="javascript">
			$(document).ready(function(){
				var url = /*[[@{{url}(url=${quoteUrl})}]]*/'';
				
				if(url)
				{
					var ctx = /*[[@{/}]]*/'';
					url = ctx.substring(0, ctx.length-1) + url;
					
					var winHeight="innerHeight" in window 
				             				? window.innerHeight
				                     : document.documentElement.offsetHeight; 	
				
				          if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				          	var popup=window.open(url,"_blank");
				          	if(!popup || popup.closed || typeof popup.closed=='undefined') 
				          	{ 
				          	    //POPUP BLOCKED
				         	     	alert('Please enable popup blocker in setting!');
				          	}
				          }	
				          else{													
						var popup=window.open(url ,'mywindow'+(new Date()).getTime(),'width=840,height='+winHeight+',scrollbars=yes');
						if(!popup || popup.closed || typeof popup.closed=='undefined') 
				          	{ 
				          	    //POPUP BLOCKED
				         	     	alert('Please enable popup blocker in broswer setting!');
				          	}
				          }
				}
			});
		</script>
		<th:block th:if="${errorPruSaver != null}">
   			<script th:inline="javascript">
   				var errorPruSaver = /*[[${errorPruSaver}]]*/'';
   				if(errorPruSaver){
   					$('#Err').html(errorPruSaver);
   	   				document.getElementById("l1Rtr2").style.background = "yellow";	
   				}
   			</script>
   		</th:block>
	</th:block>
</body>
</html>