<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
<style>
	.col-sm-5 {
		vertical-align: middle;
	}
	
	label {
		font-size: 12px;
	}
	
	.headline hr {
		margin-top: -3px;
	}
	
	.control-label {
		margin: 0px;
	}
</style>
</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!-- page content -->
			<div class="right_col" role="main" layout:fragment="pageContent">
				<div class="content-panel">
					<div class="row">
						<div class="col-sm-6"></div>
					</div>
					<div style="border: 1px solid #ccc; padding: 5px; padding-top: 10px; border-radius: 5px;">
						<form th:object="${pruquoteparm}" onsubmit="return checkSubmit();"
							  th:action="${''}" method="post" name="form">
							<div th:if="${errors} != null" class="alert alert-warning" role="alert"></div>
							<div class="page-title">
								<div class="title_left">
									<h3>Edit eduCARE</h3>
								</div>
								<div class="title_right">
									<div class="form-group pull-right top_search"></div>
								</div>
							</div>
							<div class="x_panel">
								<div class="x_content">
									<div class="row">
										<div class="col-sm-12 form-group fixed-form-control"
											style="color: red;">
											<p id="Err" style="font-size: 12px;"></p>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4 form-group fixed-form-control" style="display: none;">
											<label for="id" class="col-lg-6 col-md-6 col-sm-6 control-label">
												Auto No:</label>
											<div class="col-sm-7">
												<input type="text" readonly="true" Class="form-control" th:field="*{id}" htmlEscape="true" />
											</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
													Policy commencement date:<span class="required-mark">*</span>
												</label>
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
													<input th:field="*{commDate}" data-date-format="DD/MM/YYYY"
														   placeholder="DD/MM/YYYY" type="text" class="form-control"
														   htmlEscape="true" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="x_title">
									<h2>Particulars of the Main Life Assured</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<div class="row">
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
											<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
												<div class="form-group">
													<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
														Relationship of PO & LA<span class="required-mark">*</span>
													</label>
													<div class="col-md-6 col-sm-6 col-xs-12">
														<select th:field="*{coLa1relationship}" class="form-control">
															<option th:each="coLa1relationship : ${RelationShip}"
																	th:value="${coLa1relationship.id}"
																	th:text="${coLa1relationship.itemLatin}" />
														</select>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 form-group">
												<div class="form-group">
													<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
														Policy Term (Years)<span class="required-mark">*</span>
													</label>
													<div class="col-md-6 col-sm-6 col-xs-12">
														<select th:field="*{coPolicyTerm}" class="form-control">
															<option th:each="coPolicyTerm : ${PolicyTerm}"
																	th:value="${coPolicyTerm.id}"
																	th:text="${coPolicyTerm.Reserve2}" />
														</select>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 form-group">
												<div class="form-group">
													<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
														Premium Term (Years)<span class="required-mark">*</span>
													</label>
													<div class="col-md-6 col-sm-6 col-xs-12">
														<select th:field="*{coPremiumTerm}" class="form-control">
															<option th:each="coPremiumTerm : ${PremiumTerm}"
																	th:value="${coPremiumTerm.id}"
																	th:text="${coPremiumTerm.Reserve2}" />
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
											<div class="col-md-4 col-sm-6 col-xs-12 form-group">
												<div class="form-group">
													<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
														Name of the Main Life Assured<span class="required-mark">*</span>
													</label>
													<div class="col-md-6 col-sm-6 col-xs-12">
														<input type="text" class="form-control"
																th:field="*{la1name}" htmlEscape="true"
																style="text-transform: uppercase;" />
													</div>
												</div>
											</div>
											<div class="col-md-4 col-sm-6 col-xs-12 form-group">
												<div class="form-group">
													<label for="id"
														class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Sex<span
														class="required-mark">*</span></label>
													<div class="col-md-6 col-sm-6 col-xs-12">
														<select th:field="*{coLa1sex}" class="form-control">
															<option th:each="coLa1sex : ${Sex}"
																th:value="${coLa1sex.id}" th:text="${coLa1sex.Reserve2}" />
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
											<div class="col-md-4 col-sm-6 col-xs-12 form-group">
												<div class="form-group">
													<label for="item"
														class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Date
														of Birth<span class="required-mark">*</span>
													</label>
													<div class="col-md-6 col-sm-6 col-xs-12">
														<input type="text" data-date-format="DD/MM/YYYY"
															placeholder="DD/MM/YYYY" class="form-control"
															th:field="*{la1dateOfBirth}" htmlEscape="true" />
													</div>
												</div>
											</div>
<!-- 											<div class="col-md-4 col-sm-6 col-xs-12 form-group" -->
<!-- 												id="droccupationla"> -->
<!-- 												<div class="form-group"> -->
<!-- 													<label for="id" -->
<!-- 														class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label"> -->
<!-- 														Occupation LA<span class="required-mark">*</span> -->
<!-- 													</label> -->
<!-- 													<div class="col-md-6 col-sm-6 col-xs-12"> -->
<!-- 														<select class="form-control"> -->
<!-- 															<option value="0">Select occupation here...</option> -->
<!-- 															<option value="1">Body Guard អង្គរក្ស</option> -->
<!-- 															<option value="2">Security សន្តិសុខ</option> -->
<!-- 															<option value="3">Police ប៉ូលីស ឬ នគរបាល</option> -->
<!-- 															<option value="4">Army ទាហាន</option> -->
<!-- 														</select> -->
<!-- 													</div> -->
<!-- 												</div> -->
<!-- 											</div> -->
										</div>
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 form-group">
												<div class="form-group">
													<label for="id"
														class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Name
														of Policy Owner</label>
													<div class="col-md-6 col-sm-6 col-xs-12">
														<input th:field="*{poName}" type="text"
															Class="form-control" readonly="true" htmlEscape="true"
															style="text-transform: uppercase;" />
													</div>
												</div>
											</div>
<!-- 											<div class="col-md-4 col-sm-6 col-xs-12 form-group" id="droccupationpo"> -->
<!-- 												<div class="form-group"> -->
<!-- 													<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label"> -->
<!-- 														Occupation PO<span class="required-mark">*</span> -->
<!-- 													</label> -->
<!-- 													<div class="col-md-6 col-sm-6 col-xs-12"> -->
<!-- 														<select class="form-control"> -->
<!-- 															<option value="0">Select occupation here...</option> -->
<!-- 															<option value="1">Body Guard អង្គរក្ស</option> -->
<!-- 															<option value="2">Security សន្តិសុខ</option> -->
<!-- 															<option value="3">Police ប៉ូលីស ឬ នគរបាល</option> -->
<!-- 															<option value="4">Army ទាហាន</option> -->
<!-- 														</select> -->
<!-- 													</div> -->
<!-- 												</div> -->
<!-- 											</div> -->
										</div>
									</div>
								</div>
								<div class="x_title">
									<h2>Particulars of the Additional Life Assured</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
										<div class="col-md-4 col-sm-6 col-xs-12 form-group">
											<div class="form-group">
												<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
													Name of the Additional Life Assured</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<input th:field="*{la2name}" type="text"
														Class="form-control" htmlEscape="true"
														style="text-transform: uppercase;" />
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-6 col-xs-12 form-group">
											<div class="form-group">
												<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Sex</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<select th:field="*{coLa2sex}" class="form-control">
														<option th:each="coLa2sex : ${Sex}"
															th:value="${coLa2sex.id}" th:text="${coLa2sex.Reserve2}" />
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
										<div class="col-md-4 col-sm-4 col-xs-12 form-group">
											<div class="form-group">
												<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
													Date of Birth</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<input th:field="*{la2dateOfBirth}"
														   data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY"
														   type="text" class="form-control" htmlEscape="true" />
												</div>
											</div>
										</div>
<!-- 										<div class="col-md-4 col-sm-6 col-xs-12 form-group" id="droccupationla2"> -->
<!-- 											<div class="form-group"> -->
<!-- 												<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label"> -->
<!-- 													Occupation LA 2<span class="required-mark">*</span> -->
<!-- 												</label> -->
<!-- 												<div class="col-md-6 col-sm-6 col-xs-12"> -->
<!-- 													<select class="form-control"> -->
<!-- 														<option value="0">Select occupation here...</option> -->
<!-- 														<option value="1">Body Guard អង្គរក្ស</option> -->
<!-- 														<option value="2">Security សន្តិសុខ</option> -->
<!-- 														<option value="3">Police ប៉ូលីស ឬ នគរបាល</option> -->
<!-- 														<option value="4">Army ទាហាន</option> -->
<!-- 													</select> -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 										</div> -->
									</div>
								</div>
								<div class="x_title">
									<h2>Particulars of payment mode</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div
										class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 form-group">
										<div class="col-md-6 col-sm-6 col-xs-12 form-group">
											<div class="form-group">
												<label for="id"
													class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
													Cash or Non-cash payment</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<select th:field="*{coPaymentType}" class="form-control">
														<option th:each="coPaymentType : ${PaymentType}"
															th:value="${coPaymentType.id}"
															th:text="${coPaymentType.Reserve2}" />
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12 form-group">
											<div class="form-group">
												<label for="item"
													class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Payment
													mode</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<select th:field="*{coPaymentMode}" class="form-control">
														<option th:each="coPaymentMode : ${PaymentMode}"
															th:value="${coPaymentMode.id}"
															th:text="${coPaymentMode.Reserve2}" />
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="x_title">
									<h2>Particulars of Basic Plan and My Option benefits</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<div
										class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 form-group">
										<div class="col-md-6 col-sm-6 col-xs-12 form-group">
											<div class="form-group">
												<label for="item"
													class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Maturity
													Benefit (Education Fund)<span class="required-mark">*</span>
												</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<input id="MB" type="text" class="form-control"
														htmlEscape="true"
														onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
												</div>
											</div>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12 form-group">
											<div class="form-group">
												<label for="item"
													class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Sum
													Assured<span class="required-mark">*</span>
												</label>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<input type="text" class="form-control"
														th:field="*{basicPlanSa}" readonly="true"
														htmlEscape="true"
														onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="x_title">
									<h2>My Option Benefits (Also known as Riders)</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<div class="col-md-12 col-sm-12 col-xs-12 form-group">
										<!--Parent Coverage Benefit -->
										<div class="col-md-4 col-sm-4 col-xs-12 form-group">
											<div class="form-group">
												<label for="id" class="col-sm-12 col-xs-12 control-label">Parent
													Coverage Benefit</label>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<label for="item" class="control-label">life1</label>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<select th:field="*{coL1Rtr1}" class="form-control">
													<option th:each="coL1Rtr1 : ${YesNo}"
														th:value="${coL1Rtr1.id}" th:text="${coL1Rtr1.ItemLatin}" />
												</select>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<input type="text" th:field="*{l1Rtr1}" class="form-control"
													value="0" htmlEscape="true"
													onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<input type="text" id="l1Rtr1Term" class="form-control"
													readonly="true" htmlEscape="true" value="10" />
											</div>
										</div>
										<!-- End Parent Coverage Benefit -->
										<!--Family Income Benefit -->
										<div class="col-md-4 col-sm-4 col-xs-12 form-group">
											<div class="form-group">
												<label for="id" class="col-sm-12 col-xs-12 control-label">Family
													Income Benefit</label>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<label for="item" class="control-label">life 1</label>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<select th:field="*{coL1Rsr1}" class="form-control">
													<option th:each="coL1Rsr1 : ${YesNo}"
														th:value="${coL1Rsr1.id}" th:text="${coL1Rsr1.ItemLatin}" />
												</select>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<input type="text" th:field="*{l1Rsr1}" class="form-control"
													value="0" htmlEscape="true" />
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<input type="text" id="l1Rsr1Term" class="form-control"
												readonly="true" htmlEscape="true" value="10" />
										</div>
										<!-- End Family Income Benefit -->
										<!--Parent Coverage Benefit -->
										<div class="col-md-4 col-sm-4 col-xs-12 form-group">
											<div class="form-group">
												<label for="id" class="col-sm-12 control-label">Parent
													Coverage Benefit</label>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<label for="item" class="control-label">life 2</label>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<select th:field="*{coL2Rtr1}" class="form-control">
													<option th:each="coL2Rtr1 : ${YesNo}"
														th:value="${coL2Rtr1.id}" th:text="${coL2Rtr1.ItemLatin}" />
												</select>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<input type="text" th:field="*{l2Rtr1}" class="form-control"
													value="0" htmlEscape="true"
													onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<input type="text" id="l2Rtr1Term" class="form-control"
												readonly="true" htmlEscape="true" value="10" />
										</div>
										<!-- End Parent Coverage Benefit -->
										<!--Family Income Benefit -->
										<div class="col-md-4 col-sm-4 col-xs-12 form-group">
											<div class="form-group">
												<label for="id" class="col-sm-12 control-label">Family
													Income Benefit</label>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<label for="item" class="control-label">life 2</label>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<select th:field="*{coL2Rsr1}" class="form-control">
													<option th:each="coL2Rsr1 : ${YesNo}"
														th:value="${coL2Rsr1.id}" th:text="${coL2Rsr1.ItemLatin}" />
												</select>
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<div class="form-group">
												<input type="text" th:field="*{l2Rsr1}" class="form-control"
													value="0" htmlEscape="true" />
											</div>
										</div>
										<div class="col-md-2 col-sm-2 col-xs-12 form-group">
											<input type="text" class="form-control" id="l2Rsr1Term"
												readonly="true" htmlEscape="true" value="10" />
										</div>
										<!-- End Family Income Benefit -->
										<!--Long-Term Savings Builder -->
										<div style="display: none;">
											<div class="col-md-4 col-sm-4 col-xs-12 form-group">
												<div class="form-group">
													<label for="id" class="col-sm-12 control-label">Long-Term
														Savings Builder</label>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-12 form-group">
												<div class="form-group">
													<label for="item" class="control-label">life 1</label>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-12 form-group">
												<div class="form-group">
													<select th:field="*{coL1Rtr2}" class="form-control">
														<option th:each="coL1Rtr2 : ${YesNo}"
															th:value="${coL1Rtr2.id}" th:text="${coL1Rtr2.ItemLatin}" />
													</select>
												</div>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-12 form-group">
												<div class="form-group">
													<input type="text" th:field="*{l1Rtr2}"
														class="form-control" value="0" htmlEscape="true"
														onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
												</div>
											</div>
											<div class="col-md-2 col-sm-2 col-xs-12 form-group">
												<input type="text" class="form-control" id="l1Rtr2Term"
													readonly="true" htmlEscape="true" value="10" />
											</div>
										</div>
										<!-- End Long-Term Savings Builder -->
									</div>
								</div>

								<div class="x_content">
									<div class="row">
										<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
											<div class="form-group">
												<label for="item"
													class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Transfer
													Quote</label>
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
													<select th:field="*{transfer}" class="form-control">
														<option th:each="transfer : ${YesNo}"
															th:value="${transfer.id}" th:text="${transfer.ItemLatin}" />
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="x_content">
									<div class="row" style="display: none;">
										<div class="col-sm-4 form-group fixed-form-control">
											<label for="id" class="col-sm-6 control-label">ValidFlag</label>
											<div class="col-sm-6">
												<input type="text" value="1" Class="form-control"
													id="validFlag" name="validFlag" htmlEscape="true"
													onkeypress='return event.keyCode >= 48 && event.keyCode <= 49'
													maxlength="1" />
											</div>
										</div>
										<div class="col-sm-4 form-group fixed-form-control">
											<label for="item" class="col-sm-6 control-label">User</label>
											<div class="col-sm-6">
												<input type="text" class="form-control" id="coUser"
													name="coUser" htmlEscape="true" />
											</div>
										</div>
										<div class="col-sm-4 form-group fixed-form-control">
											<label for="item" class="col-sm-5 control-label">SynDate</label>
											<div class="col-sm-7">
												<input type="text" readonly="readonly" class="form-control"
													id="syndate" htmlEscape="true" />
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12">
											<button type="submit" class="btn btn-danger" name="save">Save</button>
											<button type="submit" class="btn btn-danger" name="previewkh">Preview
												in Khmer</button>
											<button type="submit" class="btn btn-danger" name="previewen">Preview
												in English</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4 form-group fixed-form-control"
								style="display: none;">
								<label for="id" class="col-sm-5 control-label">Occupation
									class</label>
								<div class="col-sm-7">
									<select th:field="*{coLa1occupationClass}" class="form-control">
										<option th:each="coLa1occupationClass : ${occupationClass}"
											th:value="${coLa1occupationClass.id}"
											th:text="${coLa1occupationClass.Reserve2}" />
									</select>
								</div>
							</div>
							<div class="col-sm-6 form-group fixed-form-control"
								style="display: none;">
								<label for="item" class="col-sm-5 control-label">Occupation
									class</label>
								<div class="col-sm-7">
									<select th:field="*{coLa2occupationClass}" class="form-control">
										<option th:each="coLa2occupationClass : ${occupationClass}"
											th:value="${coLa2occupationClass.id}"
											th:text="${coLa2occupationClass.Reserve2}" />
									</select>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /page content -->
		</div>
	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var url_getMBBySA = /*[[@{/getMBBySASmart}]]*/'';
			var url_getSAByMB = /*[[@{/getSAByMBSmart}]]*/'';

			var isUnlimitedRider = 'false';
			var isUnlimitedSA = 'false';

			/*[# th:if="${#authorization.expression('hasAuthority(''ACCESS_UNLIMITED_RIDER'')')}"]*/
			isUnlimitedRider = 'true';
			/*[/]*/

			/*[# th:if="${#authorization.expression('hasAuthority(''ACCESS_UNLIMITED_SA'')')}"]*/
			isUnlimitedSA = 'true';
			/*[/]*/
		</script>
		<script th:inline="javascript"
			th:src="@{/resources/js/validateform/pruedusmart.js}"></script>
		<script th:inline="javascript">
			$(document)
					.ready(
							function() {
								var url = /*[[@{{url}(url=${quoteUrl})}]]*/'';

								if (url) {
									var ctx = /*[[@{/}]]*/'';
									url = ctx.substring(0, ctx.length - 1)
											+ url;

									var winHeight = "innerHeight" in window ? window.innerHeight
											: document.documentElement.offsetHeight;

									if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i
											.test(navigator.userAgent)) {
										var popup = window.open(url, "_blank");
										if (!popup
												|| popup.closed
												|| typeof popup.closed == 'undefined') {
											//POPUP BLOCKED
											alert('Please enable popup blocker in setting!');
										}
									} else {
										var popup = window.open(url, 'mywindow'
												+ (new Date()).getTime(),
												'width=840,height=' + winHeight
														+ ',scrollbars=yes');
										if (!popup
												|| popup.closed
												|| typeof popup.closed == 'undefined') {
											//POPUP BLOCKED
											alert('Please enable popup blocker in broswer setting!');
										}
									}
								}
							});
		</script>
	</th:block>
</body>
</html>