<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
<style>
	.col-sm-5{ vertical-align: middle;  }
	label{ font-size:12px;}
	.headline hr{margin-top:-3px;}
	.control-label{margin:0px;}
	
</style>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
                 <div class="content-panel" >
                 	<div class="row">
                  	<div class="col-sm-6">
                  	</div> 
                  	</div>
                 	<div style="border:1px solid #ccc; padding:5px; padding-top:10px;border-radius:5px;">                              	      				     	        		
	                  	 <form th:object="${pruquoteparm}" onsubmit="return checkSubmit();" name="form" id="frmPruQuote" th:action="@{''}" method="post">
	                  	  	<div class="row space4">
	                  	  		<div class="col-sm-12 form-group fixed-form-control" style="color:red;">
		                        	<p id="Err" style="font-size:12px;"></p>
		                        </div>  
		                    </div>               	  	
	                  	  	<div class="row">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control" style="display:none">
		                        	<label for="id" class="col-sm-5 control-label">Auto No:</label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" readonly="true" Class="form-control"  th:field="*{id}" htmlEscape="true"/>
		                        	</div>  
		                        </div>
		                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Policy commencement date:<span class="required-mark">*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input th:field="*{commDate}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>		
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                        <div class="headline">
		                        <i><b>Particulars of the Main Life Assured</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Relationship of PO & LA<span class="required-mark">*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{coLa1relationship}" class="form-control">
					                     			<option th:each="coLa1relationship : ${RelationShip}" 
					                     				th:value="${coLa1relationship.id}" th:text="${coLa1relationship.itemLatin}" />
					                     		</select>				
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Policy Term (Years)<span class="required-mark">*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{coPolicyTerm}" class="form-control">
					                     			<option th:each="coPolicyTerm : ${PolicyTerm}"
					                     				th:value="${coPolicyTerm.id}" th:text="${coPolicyTerm.itemLatin}" />
					                     		</select>					
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Premium Term (Years)<span class="required-mark">*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{coPremiumTerm}" class="form-control">
					                     			<option th:each="coPremiumTerm : ${PremiumTerm}"
					                     				th:value="${coPremiumTerm.id}" th:text="${coPremiumTerm.Reserve2}" />
					                     		</select>					
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Name of the Main Life Assured<span class="required-mark" >*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" class="form-control" th:field="*{la1name}" htmlEscape="true" style="text-transform:uppercase;"/>							
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Sex<span class="required-mark">*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{coLa1sex}" class="form-control">
					                     			<option th:each="coLa1sex : ${Sex}"
					                     				th:value="${coLa1sex.id}" th:text="${coLa1sex.Reserve2}" />
					                     		</select>									
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Name of Policy Owner</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input th:field="*{poName}" type="text" Class="form-control"  readonly="true"  htmlEscape="true" style="text-transform: uppercase;"/>									
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Date of Birth<span class="required-mark">*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" class="form-control" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" th:field="*{la1dateOfBirth}"  htmlEscape="true"/>					
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
												Occupation LA<span class="required-mark">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select class="form-control" style="padding: 0 6px;" name="occla1" id="occla1">
													<th:block th:if="${occla1selected != null}">
														<option value="0">Select occupation here...</option>
														<option th:each="occla1 : ${occupations}"
															th:value="${occla1.id}" th:text="${occla1.khName + '/' + occla1.engName}"
															th:selected="${occla1.id == occla1selected}" />
													</th:block>
													<th:block th:if="${occla1selected == null}">
														<option value="0">Select occupation here...</option>
														<option th:each="occla1 : ${occupations}"
															th:value="${occla1.id}" th:text="${occla1.khName + '/' + occla1.engName}" />
													</th:block>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-4 form-group fixed-form-control"  style="display:none;">
			                        	<label for="id" class="col-sm-5 control-label">Occupation class</label>    
			                        	<div class="col-sm-7">
											<select th:field="*{coLa1occupationClass}" class="form-control">
				                     			<option th:each="coLa1occupationClass : ${occupationClass}"
				                     				th:value="${coLa1occupationClass.id}" th:text="${coLa1occupationClass.Reserve2}" />
				                     		</select>
			                        	</div>  
			                        </div> 
								</div>
	                        </div>
	                        <div class="headline" style="margin-top:10px;display:none">
	                        	<i><b>Particulars of the Additional Life Assured</b></i>
	                        	<hr/>
	                        </div>
	                        <div class="row space4" style="display: none;">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label"> Name of the Additional Life Assured</label>    
		                        	<div class="col-sm-7">
		                        		<input th:field="*{la2name}" type="text" Class="form-control" htmlEscape="true" style="text-transform: uppercase;"/>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">Date of Birth</label>    
		                        	<div class="col-sm-7">
		                        		<input th:field="*{la2dateOfBirth}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/>
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="row space4" style="display: none;">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Sex</label>    
		                        	<div class="col-sm-7">
		                        		<select th:field="*{coLa2sex}" class="form-control">
			                     			<option th:each="coLa2sex : ${Sex}"
			                     				th:value="${coLa2sex.id}" th:text="${coLa2sex.Reserve2}" />
			                     		</select>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control"  style="display:none;">
		                        	<label for="item" class="col-sm-5 control-label">Occupation class</label>    
		                        	<div class="col-sm-7">
		                        		<select th:field="*{coLa2occupationClass}" class="form-control">
			                     			<option th:each="coLa2occupationClass : ${occupationClass}"
			                     				th:value="${coLa2occupationClass.id}" th:text="${coLa2occupationClass.Reserve2}" />
			                     		</select>
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="headline">
		                        <i><b> Particulars of payment mode</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Cash or Non-cash payment</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{coPaymentType}" class="form-control">
					                     			<option th:each="coPaymentType : ${PaymentType}"
					                     				th:value="${coPaymentType.id}" th:text="${coPaymentType.Reserve2}" />
					                     		</select>						
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Payment mode</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{coPaymentMode}" class="form-control">
					                     			<option th:each="coPaymentMode : ${PaymentMode}"
					                     				th:value="${coPaymentMode.id}" th:text="${coPaymentMode.Reserve2}" />
					                     		</select>
											</div>
										</div>
									</div>
								</div>
		                    </div>
		                    <div class="headline">
		                        <i><b>Type of loan assure</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Type of loan assure</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{product}" class="form-control">
					                     			<option th:each="product : ${LoanAssureType}"
					                     				th:value="${product.id}" th:text="${product.Reserve2}" />
					                     		</select>
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                        <div class="headline">
		                        <i><b>Particulars of coverage amount</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Loan Amount<span class="required-mark">*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" class="form-control" th:field="*{loanAmount}"  htmlEscape="true" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Interest Rate p.a (%)</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" class="form-control" th:field="*{inRate}"  htmlEscape="true" onkeypress='return isNumberKey(event)'/>
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Premium funded by bank</label>  
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{isFundedByBank}" class="form-control" id="fundedByBank">
				                     				<option value="No">No</option>
				                     				<option value="Yes">Yes</option>
					                     		</select>
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Disbursed Loan Amount (Basic Plan)<span class="required-mark">*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" class="form-control" th:field="*{basicPlanSa}"  htmlEscape="true" readonly="true" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                        <hr/>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
									<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
										<div class="form-group">
											<p style="color: orange; padding-top: 19px;"> </p>
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Transfer Quote</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select class="form-control" id="transfer" name="transfer">
				                        				<option value="16">No</option>
				                        				<option value="15">Yes</option>
				                        		</select>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<p style="color: orange">*Note: Please select ‘Yes’ if you generate quote on behalf of other FCs/LCs</p>
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
												Is on behalf ?
											</label>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<select class="form-control" id="onbehalf" name="onbehalf">
													<option value="16">No</option>
													<option value="15">Yes</option>
												</select>
											</div>
										</div>
									</div>
								</div>
	                        </div>
	                        <hr/>
	                        <div class="row space4"  style="display:none;">                  	  	
		                  	  	<div class="col-sm-4 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-6 control-label">ValidFlag</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" value="1"  Class="form-control"  id="validFlag" th:field="*{validFlag}" htmlEscape="true" onkeypress='return event.keyCode >= 48 && event.keyCode <= 49' maxlength="1"/>
		                        	</div>
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">  
		                        	<label for="item" class="col-sm-6 control-label">User</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" class="form-control" id="coUser" th:field="*{coUser}"  htmlEscape="true"/>
		                        	</div>
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">SynDate</label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" readonly="readonly" class="form-control" id="syndate" th:field="*{synDate}"  htmlEscape="true"/>
		                        	</div>  
		                        </div>
		                        
	                        </div>
	                        <div class="row space5">                 
	                        <div class="form-group fixed-form-control col-sm-12 btNotFixed" >
	                        	<div class="col-sm-12">
		                            <button  type="submit" class="btn btn-danger" name="save">Save</button>
		                            <button type="submit" class="btn btn-danger" name="previewkh">Preview in Khmer</button>
		                            <button type="submit" class="btn btn-danger" name="previewen" >Preview in English</button>
	                            </div>
	                            
							 </div>
							 </div>
<!-- 							 <div class="btFixed"> -->
<!-- 							 <div class="text-center"> -->
<!-- 								<button type="submit" name="save" class="btn btn-danger" > -->
<!-- 								    Save -->
<!-- 								</button> -->
<!-- 								<button type="submit" class="btn btn-danger" name="previewkh">Preview Khmer</button> -->
<!-- 								<button type="submit" class="btn btn-danger" name="previewen" >Preview English</button> -->
<!-- 							 </div> -->
<!-- 							 </div> -->
						  </form>
	                 </div>
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var isUnlimitedRider = 'false';
			var isUnlimitedSA = 'false';
	
			/*[# th:if="${#authorization.expression('hasAuthority(''ACCESS_UNLIMITED_RIDER'')')}"]*/
			isUnlimitedRider = 'true';
			/*[/]*/
	
			/*[# th:if="${#authorization.expression('hasAuthority(''ACCESS_UNLIMITED_SA'')')}"]*/
			isUnlimitedSA = 'true';
			/*[/]*/
		</script>
		<script type="text/javascript" th:src="@{/resources/js/validateform/mrml.js}"></script>
		<script th:inline="javascript">
			$(document).ready(function(){
				var url = /*[[@{{url}(url=${quoteUrl})}]]*/'';
				
				if(url)
				{
					var ctx = /*[[@{/}]]*/'';
					url = ctx.substring(0, ctx.length-1) + url;
					
					var winHeight="innerHeight" in window 
				             				? window.innerHeight
				                     : document.documentElement.offsetHeight; 	
				
				          if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				          	var popup=window.open(url,"_blank");
				          	if(!popup || popup.closed || typeof popup.closed=='undefined') 
				          	{ 
				          	    //POPUP BLOCKED
				         	     	alert('Please enable popup blocker in setting!');
				          	}
				          }	
				          else{													
						var popup=window.open(url ,'mywindow'+(new Date()).getTime(),'width=840,height='+winHeight+',scrollbars=yes');
						if(!popup || popup.closed || typeof popup.closed=='undefined') 
				          	{ 
				          	    //POPUP BLOCKED
				         	     	alert('Please enable popup blocker in broswer setting!');
				          	}
				          }
				}
				
	           $('#fundedByBank').change(function(){
		   			var value = $(this).val();
		   			$('#isFundedByBank').val(value);
		   			
		   			setBasicPlanSA($('#loanAmount').val());
		   		});
		   		
		   		$('#commDate').change(function(){
		   			setBasicPlanSA($('#loanAmount').val());
		   		});
		   		
		   		$('#coLa1sex').change(function(){
		   			setBasicPlanSA($('#loanAmount').val());
		   		});
		   		
		   		$('#la1dateOfBirth').change(function(){
		   			setBasicPlanSA($('#loanAmount').val());
		   		});
		   		
		   		$('#coPolicyTerm').change(function(){
		   			setBasicPlanSA($('#loanAmount').val());
		   		});
		   		
		   		$('#coPaymentType').change(function(){
		   			setBasicPlanSA($('#loanAmount').val());
		   		});
		   		
		   		$('#product').change(function(){
		   			setBasicPlanSA($('#loanAmount').val());
		   		});
		   		
		   		$('.inRate').blur(function(){
		   			setBasicPlanSA($('#loanAmount').val());
		   		})
		   		
		   		$('#loanAmount').blur(function(){
		   			setBasicPlanSA($(this).val());
		   		});
		   		
		   		function setBasicPlanSA(loanAmount){
		   			var url = /*[[@{/loanassure/generateDisbursedAmount}]]*/'';
		   			
		   			if(loanAmount >= 10000){
		   				$.ajax({
		   					url: url,
		   					type: 'post',
		   					data: $('#frmPruQuote').serialize(),
		   					success: function(result){
		   						if(result*1 > 0){
		   							$('#basicPlanSa').val(result);
		   						}else{
		   							$('#basicPlanSa').val('0');
		   						}
		   					},
		   					error: function(){
		   						$('#basicPlanSa').val('0');
		   						console.log('error calculating SA');
		   					}
		   				});	
		   			}
		   		}
		   		
			});
			
			function isNumberKey(evt) {
	   	        var charCode = (evt.which) ? evt.which : event.keyCode
	   	        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46)
	   	            return false;
	   	        else {
	   	            var len = document.getElementById("inRate").value.length;
	   	            var index = document.getElementById("inRate").value.indexOf('.');
	   	            
	   	            if (index > 0 && charCode == 46) {
	   	                return false;
	   	            }
	   	            if (index > 0) {
	   	                var CharAfterdot = (len + 1) - index;
	   	                if (CharAfterdot > 3) {
	   	                    return false;
	   	                }
	   	            }

	   	        }
	   	        return true;
	   	     }
		</script>
	</th:block>
</body>
</html>