<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">

			<!-- page content -->
			<div class="right_col" role="main" layout:fragment="pageContent">
				<div class="content-panel">
					<div class="page-title">
						<div class="title_left">
							<h3>eduCARE</h3>
						</div>

						<div class="title_right">
							<div class="form-group pull-right top_search">
								<div class="input-group">
									<button type="submit" class="btn btn-danger"
										th:onclick="'javascript:window.location.href=\''+@{newedusmart}+'\';'">
										Add New <i class="fa fa-plus" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<hr>
						<table id="edusmart_grid"
							class="table table-striped table-advance table-hover">
							<!-- style="border:1px solid #ccc;" -->
							<thead>
								<tr>
									<th>No</th>
									<th>Date</th>
									<th>LA1 Name</th>
									<th>LA1 Age</th>
									<th>LA1 Sex</th>
									<th>Term</th>
									<th>Pay Type</th>
									<th>Pay Mode</th>
									<th>Sum Assured</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="edussmart : ${edusmartList}">
									<td th:text="${edussmart.id}">1</td>
									<td th:text="${edussmart.commDate}">2</td>
									<td th:text="${edussmart.la1name}">3</td>
									<td th:text="${edussmart.la1age}">4</td>
									<td th:text="${edussmart.la1sex2}">5</td>
									<td th:text="${edussmart.policyTerm}">6</td>
									<td th:text="${edussmart.paymentType2}">7</td>
									<td th:text="${edussmart.paymentMode2}">8</td>
									<td th:text="${edussmart.basicPlanSa}">9</td>
									<td><a th:href="@{edusmart/{id}/edit(id=${edussmart.id})}"
										class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
									</td>
								</tr>
							</tbody>
						</table>

				</div>
			</div>
			<!-- /page content -->
		</div>
	</div>

	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function() {
				$('#edusmart_grid').dataTable({
					responsive : true,
					stateSave : true,
					dom : 'TC<"clearfix">lfrtip',
					//	 					columnDefs: [
					//	 					    { visible: false, targets: [0,1] }
					//	 					],
					"fnDrawCallback" : function(oSettings, json) {
						//showLoading(false);
					}
				});
			});
		</script>
	</th:block>
</body>
</html>