<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<style>
			body{margin:0px;}
			#t1{
				background-image:url("top1.jpg");
				height:110px;
			}
			input{border:none;background:#F8F8F8;padding-left:5px;}
			checkbox{border:1px solid red;border-radius:2px;}
			.labeltable{font-size:11px;font-family:Kh-Metal-Chrieng;color:black;}
			.labeltable p{line-height:15px;border:1px solid #999;}
			.ln15{line-height:15px;}
			.ln90{height:90px;}
			.ln70{height:70px;}
			input{height:25px;width:174px;}
			tr{margin:0px; height:20px;}
			td{height:20px;}
			table{border-spacing: 0;
			border-collapse: collapse;}	
			.bggray{background:#F0F0F0;width:153px;}
			.bgred{background:#F20024;color:white}
			#boxred{padding:0px 20px 0px 20px;background:#F40006;width:758px;color:#FFF;border-radius:30px;}
			#boxred:after{padding:0px 20px 0px 20px;background:#F40006;width:758px;color:#FFF;border-radius:30px;}
			
			.page1 { height:1125px; position:relative;border:1px solid #ccc;width:855px;float:left;}
			.page1 .bottom1{float:left;margin-left:0px; }
			.page1 .bottom1 img{width:855px; }
			.page1 .top1 img {width:855px;}
			
			.page2 { height:1125px; position:relative;border:1px solid #ccc;width:855px;float:left;}
			.page2 .bottom2{float:left;margin-left:0px;z-index:1000;margin-top:-28px; }
			.page2 .bottom2 img{width:855px; }
			.page2 .top2 img {width:855px;}
			
			.page3 { height:1125px; position:relative;border:1px solid #ccc;width:855px;float:left;}
			.page3 .bottom3{float:left;margin-left:0px;z-index:1000;margin-top:-28px; }
			.page3 .bottom3 img{width:855px; }
			.page3 .top3 img {width:855px;}
			
			br{style="line-height:10px;"}
</style>
<style>
			.col-sm-5{ vertical-align: middle;  }
			label{ font-size:12px;font-family:Kh-Metal-Chrieng;}
			.headline hr{margin-top:-3px;}
			.control-label{margin:0px;}
</style>					
                 <div class="content-panel" >                 	
                 	<div class="row">
                  	<div class="col-sm-6">

                  	</div> 
                  	</div>
                 	<div style="border:1px solid #ccc; padding:5px; padding-top:10px;border-radius:5px;">                              	      				     	        		
	                  	 <form th:object="${pruquoteparm}" onsubmit="return checkSubmit();" name="form" th:action="@{''}" method="post">
	                  	 <th:block th:each="lstEasyLife : ${lstEasyLife}">
	                  	   <div th:if="${errors} != null" class="alert alert-warning" role="alert">
								<ul>
									<li th:each="error : ${errors}"
										th:text="${error.code}"></li>
								</ul>
					 		</div>   
	                  	  	<div class="row space4">
	                  	  		<div class="col-sm-12 form-group fixed-form-control" style="color:red;font-family:Kh-Metal-Chrieng;font-size:32px;">
		                        	<p id="Err" style="font-size:12px;"></p>
		                        </div>  
		                    </div>               	  	
	                  	  	<div class="row space4">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control" style="display:none">
		                        	<label for="id" class="col-sm-5 control-label">លេខពាក្យស្នើសុំ</label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" disabled="disabled" id="txtappnum" name="txtappnum" th:value="${lstEasyLife[15]}" />
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="row space4">     
		                        <div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">កាលបរិច្ឆេទ:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input id="txtoccdate" name="txtoccdate" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-7 control-label">ឈ្មោះទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិត:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-5">
		                        		<input type="text" id="txtagntname" name="txtagntname"  readonly  th:value="${lstEasyLife[11]}" class="form-control"/>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="row space4">     
		                        <div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">លេខបណ្ណសន្យារ៉ាប់រង:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" id="txtchdrnum" readonly  name="txtchdrnum" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-7 control-label">លេខកូដទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិត<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-5">
		                        		<input type="text" id="txtagntnum" name="txtagntnum" readonly th:value="${lstEasyLife[10]}" class="form-control"/>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="row space4">     
		                        <div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">កាលបរិច្ឆេទបង្កាន់ដៃ:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" readonly  type="text" class="form-control"  htmlEscape="true" id="txttrndate" name="txttrndate"  th:value="${lstEasyLife[14]}" />
		                        	</div>  
		                        </div>
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-7 control-label">លេខទូរស័ព្ទទីប្រឹក្សាហិរញ្ញវត្ថុ/ទីប្រឹក្សាធានារ៉ាប់រងអាយុជីវិត:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-5">
		                        		<input type="text"  id="txtagntphone" name="txtagntphone" Class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>  
		                        </div>
		                    </div>
	                        <div class="headline">
		                        <label for="item" class="col-sm-7 control-label" style="color:#2F97FF;">ព័ត៌មានលំអិតអំពីអ្នកត្រូវបានធានារ៉ាប់រង និង បុគ្គលដែលជាកម្មវត្ថុនៃការធានា</label>
		                        <br/>
	                        </div>
	                        <div class="row space4">     
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-8 control-label">ឈ្មោះពេញតាមអត្តសញ្ញាណប័ណ្ណ/លិខិតឆ្លងដែន (ជាអក្សរខ្មែរ):<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-4">
		                        		<input type="text" style="min-width:200px;font-family:Kh-Metal-Chrieng;" id="txtponamekh" name="txtponamekh"   class="form-control"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">(ជាអក្សរឡាតាំង)<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" id="txtponameen" name="txtponameen" readonly  style="border:1px solid #999;border-radius:5px;" th:value="${lstEasyLife[2]}" class="form-control"/>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="row space4">     
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-6 control-label">លេខអត្តសញ្ញាណប័ណ្ណ/លិខិតឆ្លងដែន:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" id="txtponid" name="txtponid" style="min-width:262px;border:1px solid #999;border-radius:5px;" class="form-control"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-6  control-label">ថ្ងៃខែឆ្នាំកំណើត(ថ្ងៃ/ខែ/ឆ្នាំ)<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" id="txtpodob" name="txtpodob" style="border:1px solid #999;border-radius:5px;" readonly th:value="${lstEasyLife[4]}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"/>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="row space4">     
		                        <div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-6 control-label">ទីកន្លែងកំណើត(ប្រទេស)<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" id="txtpopob" name="txtpopob" value="CAMBODIA" style="min-width:200px;" class="form-control"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-3 control-label">សញ្ជាតិ<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-9">
		                        		<input type="text" id="txtponat" name="txtponat" value="CAMBODIA" style="" class="form-control"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-3 form-group fixed-form-control" style="font-family:Kh-Metal-Chrieng">
		                        	<label for="item" class="col-sm-4  control-label">ភេទ :</label>    
		                        	<div class="col-sm-8" style="padding-top:5px;">
		                        		 <th:block th:utext="${lstEasyLife[3]}" escapeXml="false"></th:block>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="row space4">     
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-4 control-label">ស្ថានភាពគ្រួសារ <span class="required-mark">*</span></label>    
		                        	<div class="col-sm-8">
		                        		<!-- <input type="text" id="txtpostatus" name="txtpostatus" style="" class="form-control"/> -->
		                        		<select id="txtpostatus" name="txtpostatus" class="form-control">
		                        			<option value="Single">Single</option>
		                        			<option value="Married">Married</option>
		                        		</select>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-3 control-label">មុខរបរ<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-9">
		                        		<input type="text" id="txtpoocc" name="txtpoocc" style="" class="form-control"/>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="row space4">     
		                        <div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-4 control-label">ភារកិច្ចពិតប្រាកដ<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-8">
		                        		 <input type="text" id="txtpocurocc" name="txtpocurocc" style="min-width:280px;" class="form-control"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-8 control-label">ចំណូលផ្ទាល់ខ្លួនប្រចាំខែជាមធ្យមក្នុងរយៈពេល12ខែចុងក្រោយ(USD)<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-4">
		                        		<input type="text" id="txtposal" name="txtposal" style="" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="headline">
		                        <label for="item" class="col-sm-7 control-label" style="color:#2F97FF;">អាសយដ្ឋានទំនាក់ទំនង</label>
		                        <br/>
	                        </div>
		                    <div class="row space4">     
		                        <div class="col-sm-12 form-group fixed-form-control">
		                        	<div class="col-sm-12">
		                        		 <input type="text" id="txtaddr" name="txtaddr"  style="height:50px;" class="form-control"/>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="row space4">     
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-4 control-label">ប្រទេស  <span class="required-mark">*</span></label>    
		                        	<div class="col-sm-8">
		                        		 <input type="text" id="txtcontry" name="txtcontry" value="CAMBODIA" style="min-width:280px;" class="form-control"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-4 control-label">លេខទូរស័ព្ទ<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-8">
		                        		<input type="text" id="txtpophone" name="txtpophone" style="" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="row space4">     
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-4 control-label">ប្រទេសរបស់លេខទូរស័ទ្ទ <span class="required-mark">*</span></label>    
		                        	<div class="col-sm-8">
		                        		 <input type="text" id="txtcontryphone" name="txtcontryphone" style="min-width:280px;" class="form-control"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-4 control-label">អ៊ីម៉ែល<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-8">
		                        		<input type="text" id="txtpoemail" name="txtpoemail" style="" class="form-control"/>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="headline">
		                        <label for="item" class="col-sm-7 control-label">ព័ត៌មានអំពីផលិតផល</label>
		                        <br/>
	                        </div>
		                    <div class="row space4">
		                    	<div class="col-sm-12">
		                        	<div class="col-sm-12">
		                        		 <table>
					                        <tr><td class="label" style="font-size:14px;color:#2F97FF"></td></tr>
					                        <tr style="height:20px;border-bottom:1px solid white;">
					                            <td class="labeltable" style="width:304px;background:#CEE7FF;border-top-left-radius:10px;border-bottom-left-radius:10px;">&nbsp;&nbsp;កញ្ចប់ Easy Life</td>
					                            <td class="labeltable" style="width:153px;background:#CEE7FF;border-left:1px solid white;text-align:center;" colspan="2">កញ្ចប់ល្អ <input type="checkbox" style="width: 15px; height:15px; vertical-align:bottom " disabled="disabled"  th:checked="${lstEasyLife[8]} == 6000"/></td>
					                            <td class="labeltable" style="width:153px;background:#CEE7FF;border-left:1px solid white;text-align:center;" colspan="2">កញ្ចប់បង្គួរ <input type="checkbox" style="width: 15px; height:15px; vertical-align:bottom " disabled="disabled"  th:checked="${lstEasyLife[8]} == 4500"/></td>
					                            <td class="labeltable" style="width:153px;background:#CEE7FF;border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;" colspan="2">កញ្ចប់មធ្យម <input type="checkbox" disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" readonly th:checked="${lstEasyLife[8]} == 3000"/></td>
					                        </tr>
					                        <tr style="height:10px;border-bottom:1px solid white;">
					                            <td class="labeltable bggray" style="border-top-left-radius:10px;border-bottom-left-radius:10px;">&nbsp;&nbsp;រយៈពេលកំណត់នៃបណ្ណសន្យារ៉ាប់រង</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;" colspan="2">15ឆ្នាំ</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;" colspan="2">15ឆ្នាំ</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;" colspan="2">15ឆ្នាំ</td>
					                        </tr>
					                        <tr style="height:10px;border-bottom:1px solid white;">
					                            <td class="labeltable bggray" style="border-top-left-radius:10px;border-bottom-left-radius:10px;">&nbsp;&nbsp;អាយុនៅថ្ងៃខួបកំណើតចុងក្រោយ</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">18-35 <input type="checkbox" disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" th:checked="${lstEasyLife[8]} == 6000 and ${lstEasyLife[5]} <= 35"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">36-40 <input type="checkbox" disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" th:checked="${lstEasyLife[8]} == 6000 and ${lstEasyLife[5]} >= 36"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">18-35 <input type="checkbox" disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" th:checked="${lstEasyLife[8]} == 4500 and ${lstEasyLife[5]} <= 35"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">36-40 <input type="checkbox" disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" th:checked="${lstEasyLife[8]} == 4500 and ${lstEasyLife[5]} >= 36"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">18-35 <input type="checkbox" disabled="disabled"  style="width:15px; height:15px;vertical-align:bottom" th:checked="${lstEasyLife[8]} == 3000 and ${lstEasyLife[5]} <= 35"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;">36-40 <input type="checkbox" disabled="disabled" style="width:15px; height:15px;vertical-align:bottom" th:checked="${lstEasyLife[8]} == 3000 and ${lstEasyLife[5]} >= 36"/></td>
					                        </tr>
					                        <tr style="height:10px;">
					                            <td class="labeltable bggray" style="border-top-left-radius:10px;border-bottom-left-radius:10px;">&nbsp;&nbsp;ទឹកប្រាក់ធានារ៉ាប់រង</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$6,000</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$6,000</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$4,500</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$4,500</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$3,000</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;">$3,000</td>
					                        </tr>
					                        <tr>
					                            <td class="labeltable" style="border-top-left-radius:10px;border-bottom-left-radius:10px;" colspan="7">&nbsp;&nbsp;បុព្វលាភរ៉ាប់រង</td>
					                        </tr>
					                         <tr style="height:10px;border-bottom:1px solid white;">
					                            <td class="labeltable bggray" style="border-top-left-radius:10px;border-bottom-left-radius:10px;">&nbsp;&nbsp;ទូទាត់ប្រចាំឆ្នាំ <input type="checkbox" disabled="disabled" style="width:15px; height:15px;vertical-align:bottom" th:checked="${lstEasyLife[7]} == 'Annually'"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$250.00</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$300.00</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$200.00</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$225.00</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$135.00</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;">$160.00</td>
					                        </tr>
					                         <tr style="height:10px;">
					                            <td class="labeltable bggray" style="border-top-left-radius:10px;border-bottom-left-radius:10px;">&nbsp;&nbsp;ទូទាត់ប្រចាំឆមាស<input type="checkbox" disabled="disabled" style="width:15px; height:15px;vertical-align:bottom" th:checked="${lstEasyLife[7]} == 'Semi-annually'"/> </td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$131.00</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$158.00</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$105.00</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$118.00</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;">$71.00</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:10px;border-bottom-right-radius:10px;">$84.00</td>
					                        </tr>
					                    </table>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="headline">
		                        <label for="item" class="col-sm-7 control-label" style="color:#2F97FF;">សេចក្តីប្រកាសរបស់បុគ្គលដែលជាកម្មវត្ថុនៃការធានា</label><br/>
		                        <label for="item" class="col-sm-7 control-label" style="color:red;">សូមបំពេញផ្នែកនេះឲ្យបានពេញលេញនិងឲ្យអស់ពីសមត្ថភាពដែលលោកអ្នកបានដឹង</label>
		                        <br/>
	                        </div>
		                    <div class="row space4">     
		                        <div class="col-sm-4 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-6 control-label">កំពស់(ម) <span class="required-mark">*</span></label>    
		                        	<div class="col-sm-6">
		                        		 <input type="text" id="txtpoheight" name="txtpoheight" style="" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode == 46'/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-6 control-label">ទំងន់(គ.ក)<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" id="txtpoweight" name="txtpoweight" style="" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode == 46' />
		                        	</div>  
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-8 control-label">ជក់បារីប៉ុន្មានដើមក្នុងមួយថ្ងៃ<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-4">
		                        		<input type="text" id="txtpocig" name="txtpocig" style="" value="0" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="row space4">
		                    	<div class="col-sm-12">
		                        	<div class="col-sm-12">
		                        		 <table>
					                        <tr style="border-bottom:2px solid white;">
					                            <td class="labeltable" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;"> 1) </td>
					                            <td class="labeltable ln15" style="border-left:2px solid white;text-align:justify; padding:5px; font-size:10px;background:#F2FDFF">តើលោកអ្នកធ្លាប់មាន ត្រូវបានប្រាប់ថាមាន ឬពិគ្រោះយោបល់អំពី៖ ជម្ងឺលើសឈាម ដាច់សរសៃឈាមខួរក្បាល ឈឺទ្រូង ស្លេកស្លាំង ដកដង្ហើមថប់ៗ ប្រើសបេះដូង និងជម្ងឺបេះដូងផ្សេងទៀត  ជម្ងឺរបេង  ជម្ងឺហឺត  ឬជម្ងឺមហារីកគ្រប់ប្រភេទ  ជម្ងឺរលាកតម្រងនោមរ៉ាំរ៉ៃ និងជម្ងឺតម្រងនោមផ្សេងទៀត  ជម្ងឺទឹកនោមផ្អែម  ជម្ងឺក្រពេញទីរ៉ូអ៊ីត ឬជម្ងឺក្រពេញអង់ដូគ្រីន  ជម្ងឺថ្លើមប្រភេទB ឬC ជម្ងឺរលាកថ្លើមធ្ងន់ធ្ងរ ឬ ជម្ងឺថ្លើមផ្សេងៗ ជម្ងឺអេដស៍ និងកាមរោគ   ជម្ងឺឈឺក្បាលធ្ងន់ធ្ងរ ជម្ងឺឆ្កួតជ្រូក  ជម្ងឺពាក់ព័ន្ធនឹងប្រព័ន្ធសរសៃប្រសាទ ខួរក្បាល ប្រព័ន្ធប្រសាទឆ្អឹងខ្នង ឬ ប្រព័ន្ធប្រសាទផ្សេងៗទៀត ឬជម្ងឺឈាមដែរឬទេ?</td>
					                            <td class="labeltable" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;vertical-align:top;">មិនធ្លាប់ <input type="radio" checked="checked" id="txttrq1" name="txttrq1" value="False" style="width:15px; height:15px;vertical-align:bottom"/> ធ្លាប់ <input type="radio" id="txttrq1" name="txttrq1" value="True"style="width:15px; height:15px;vertical-align:bottom"/></td>
					                        </tr>
					                        <tr style="border-bottom:2px solid white;">
					                            <td class="labeltable" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;"> 2) </td>
					                            <td class="labeltable ln15" style="border-left:2px solid white;text-align:justify; padding:5px; font-size:10px;background:#F2FDFF">រយៈពេល៥ឆ្នាំកន្លងទៅតើលោកអ្នកធ្លាប់ស្វែងរកការពិគ្រោះយោបល់ ឬធ្លាប់ត្រូវបានស្រាវជ្រាវអំពី ឬធ្លាប់ត្រូវបានប្រាប់ ឬទទួលការព្យាបាល ឬប្រើប្រាស់ថ្នាំ សម្រាប់ព្យាបាលជម្ងឺ ភាពមិនប្រក្រតី របួស ការវះកាត់ដែលមិនបានរៀបរាប់នៅចំណុចខាងលើ (លើកលែងផ្តាសាយ  និងជម្ងឺស្រាលៗ) ដែរឬទេ? </td>
					                            <td class="labeltable" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;vertical-align:top;">មិនធ្លាប់ <input type="radio"​​ checked="checked" id="txttrq2" name="txttrq2" value="False" style="width:15px; height:15px;vertical-align:bottom"/>​ ធ្លាប់ <input type="radio"​​ id="txttrq2" name="txttrq2" value="True"style="width:15px; height:15px;vertical-align:bottom"/></td>
					                        </tr>
					                        <tr style="border-bottom:2px solid white;">
					                            <td class="labeltable" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;"> 3) </td>
					                            <td class="labeltable ln15" style="border-left:2px solid white;text-align:justify; padding:5px; font-size:10px;background:#F2FDFF">តើលោកអ្នកធ្លាប់ពិសារភេសជ្ជៈមានជាតិអាល់កុលលើសកម្រិត  ធ្លាប់ប្រើគ្រឿងញៀន ឬ  ធ្លាប់ស្វែងរកការពិគ្រោះយោបល់ ឬព្យាបាលការញៀន គ្រឿងស្រវឹង  ឬគ្រឿងញៀនផ្សេងទៀតដែរឬទេ?</td>
					                            <td class="labeltable" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;vertical-align:top;">មិនធ្លាប់ <input type="radio" checked="checked" id="txttrq3" name="txttrq3" value="False" style="width:15px; height:15px;vertical-align:bottom"/> ធ្លាប់ <input type="radio" id="txttrq3" name="txttrq3" value="True"style="width:15px; height:15px;vertical-align:bottom"/></td>
					                        </tr>
					                        <tr style="border-bottom:2px solid white;">
					                            <td class="labeltable" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;"> 4) </td>
					                            <td class="labeltable ln15" style="border-left:2px solid white;text-align:justify; padding:5px; font-size:10px;background:#F2FDFF">តើលោកអ្នកកំពុងចូលរួម  មានបំណងចូលរួម  ឬមាន លេងកីឡា  ទម្លាប់  សកម្មភាព  ឬ មុខរបរណាមួយដែលប្រឈមនឹងគ្រោះថ្នាក់ដូចជា៖ ការមុជក្រោមទឹកដែលចាំបាច់ត្រូវប្រើបំពុងអុកហ្ស៊ីហ្សែន  ការឡើងភ្នំ  ការលោតឆ័ត្រយោង  ការប្រណាំងយកល្បឿនលឿន  ការបរបាញ់  ការធ្វើដំណើតាមអាកាសចរណ៍ (លើកលែងតែតាមយន្តហោះដឹកអ្នកដំណើរទូទៅ)  មន្រ្តីយោធា  សន្តិសុខដែលមានប្រើប្រាស់អាវុធ  អ្នកពន្លត់អគ្គីភ័យ  អ្នករុករករ៉ែ  កម្មករសំណង់  អ្នកកាប់ឈើ  អ្នកធ្វើការនៅទីខ្ពស់  អ្នកទុកដាក់ជាតិផ្ទុះ  អ្នកនេសាទេនៅសមុទ្រជ្រៅ ដែរឬទេ?</td>
					                            <td class="labeltable" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;vertical-align:top;">គ្មាន <input type="radio" checked="checked" id="txttrq4" name="txttrq4" value="False" style="width:15px; height:15px;vertical-align:bottom"/> មាន <input type="radio" id="txttrq4" name="txttrq4" value="True"style="width:15px; height:15px;vertical-align:bottom"/></td>
					                        </tr>
					                        <tr style="border-bottom:2px solid white;">
					                            <td class="labeltable" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;"> 5) </td>
					                            <td class="labeltable ln15" style="border-left:2px solid white;text-align:justify; padding:5px; font-size:10px;background:#F2FDFF">សម្រាប់តែស្ត្រីប៉ុណ្ណោះ<br/>
					ក)  តើលោកស្រីមានគភ៌ (7ខែឬលើសពី7ខែ) មែនទេ?<br/>
					ខ)  តើលោកស្រីមានភាពមិនប្រក្រតីណាមួយលើ  ការមករដូវ  ការមានគភ៌  សុដន់  ឬ ប្រព័ន្ធបង្ករកំណើតដែរឬទេ?  
					</td>
					                            <td class="labeltable" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;">
					                            <span>គ្នាន <input type="radio"  checked="checked" name="txttrq51" id="txttrq51" value="False" style="width:15px; height:15px;vertical-align:top"/> មាន <input type="radio" id="txttrq51" name="txttrq51" value="True"style="width:15px; height:15px;vertical-align:top"/><br/>
					                            </span>
					                            <span style="">គ្មាន <input type="radio" checked="checked" name="txttrq52" id="txttrq52" value="False" style="width:15px; height:15px;vertical-align:top"/> មាន <input type="radio" id="txttrq52" name="txttrq52" value="True" style="width:15px; height:15px;vertical-align:top"/>
					                            </span>
					                            </td>
					                        </tr>
					                        <tr>
					                            <td class="labeltable" style="text-align:left; width:30px; font-size:10px;background:#F2FDFF;vertical-align:top;"> 6) </td>
					                            <td class="labeltable" style="border-left:2px solid white;text-align:justify; padding:5px; font-size:10px;line-height:15px;background:#F2FDFF">តើលោកអ្នកមានបណ្ណសន្យារ៉ាប់រងដែលកំពុងមានសុពលភាព  ឬ ធ្លាប់ដាក់ពាក្យស្នើសុំជាមួយក្រុមហ៊ុនយើងខ្ញុំ ឬ ក្រុមហ៊ុនផ្សេងទៀតលើកលែងពាក្យស្នើសុំនេះដែរឬទេ? ប្រសិនបើមានសូមផ្តល់ព័ត៌មានលម្អិត (ថាតើជាតម្លៃធម្មតា  តម្លើងថ្លៃ  ពន្យាពេល  បដិសេធ)
					</td>
					                            <td class="labeltable" style="border-left:2px solid white;text-align:center; width:120px; font-size:10px;background:#F2FDFF;vertical-align:top;">គ្មាន <input type="radio" checked="checked" id="txttrq6" name="txttrq6" value="False" style="width:15px; height:15px;vertical-align:bottom"/> មាន <input type="radio" id="txttrq6" name="txttrq6" value="True" style="width:15px; height:15px;vertical-align:bottom"/></td>
					                        </tr>
					                    </table>
		                        	</div>  
		                        </div>
		                    </div>
		                    <br/>
		                    <div class="headline"> 	
		                        <label for="item" class="col-sm-12 control-label" style="color:#2F97FF;"><span style="font-size:14px;color:red;">សំគាល់:</span> ចំលើយ « <span style="font-size:14px;color:#007EFD;">ធ្លាប់ ឬ មាន</span>» ចំពោះសំណួរណាមួយខាងលើ សូមដាក់លេខសំណួរ ហើយផ្តល់ព័ត៌មានបន្ថែមព្រមទាំងកាលបរិចេ្ឆទ និងរយៈពេល។</label><br/>
		                    </div>
		                    <div class="row space4">
		                    	<div class="col-sm-12">
		                        	<div class="col-sm-12">
		                        			<input type="text" id="txtnote" name="txtnote" class="form-control"/>
		                        	</div>
		                        </div>
		                    </div>
		                    <br/>
		                    <div class="headline"> 	
		                        <label for="item" class="col-sm-7 control-label" style="color:#2F97FF;">ព័ត៌មានលម្អិតអំពីអ្នកទទួលផល</label><br/>
		                    </div>
		                    <div class="row space4">
		                    	<div class="col-sm-12">
		                        	<div class="col-sm-12">
		                        		 <table>
					                        <tr style="height:20px;">
					                        	<td></td>
					                            <td class="labeltable bgred" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:180px;">ឈ្មោះពេញ</td>
					                            <td class="labeltable bgred" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:180px;">ឈ្មោះជាអក្សរឡាតាំង</td>
					                            <td class="labeltable bgred" style="border-left:1px solid white;text-align:center;width:70px;">ភេទ</td>
					                            <td class="labeltable bgred" style="border-left:1px solid white;text-align:center;width:120px;">ថ្ងៃខែឆ្នាំកំណើត</td>
					                            <td class="labeltable bgred" style="border-left:1px solid white;text-align:center;width:220px;">ទំនាក់ទំនងជាមួយបុគ្គលដែលជាកម្មវត្ថុនៃការធានា</td>
					                            <td class="labeltable bgred" style="border-left:1px solid white;text-align:center; border-top-right-radius:5px;border-bottom-right-radius:5px;width:89px;">ចំណែក(%)</td>
					                        </tr>
					                        <tr style="height:10px;">
					                        	<td><select style="width:50px;height:28px;" id="txtchk1" name="txtchk1">
					                            	  <option value="No">No</option>
													  <option value="Yes">Yes</option>
												</select></td>
					                            <td class="labeltable bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:180px;"><input type="text" id="txtbenname1" name="txtbenname1" style="width:203px;border:1px solid #999;border-top-left-radius:5px;border-bottom-left-radius:5px;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="width:180px;"><input type="text" id="txtbennamelatin1" name="txtbennamelatin1" style="width:203px;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:120px;">
					                            	<select style="width:70px;height:28px;" id="txtbensex1" name="txtbensex1">
					                            	  <option value=""></option>
					                            	  <option value="Male">Male</option>
													  <option value="Female">Female</option>
													</select>
					                            </td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:120px;"><input type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" id="txtbendob1" name="txtbendob1"  style="width:120px;border:1px solid #999;text-align:center" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:220px;"><input type="text" id="txtbencon1" name="txtbencon1" style="width:250px;border:1px solid #999;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:80px;"><input type="text"  id="txtbenper1" name="txtbenper1" style="width:80px;border:1px solid #999;" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode == 46'></td>
					                        </tr>
					                        <tr style="height:10px;">
					                           <td><select style="width:50px;height:28px;" id="txtchk2" name="txtchk2">
					                            	  <option value="No">No</option>
													  <option value="Yes">Yes</option>
												</select></td>
					                            <td class="labeltable bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:180px;"><input type="text" id="txtbenname2" name="txtbenname2" style="width:203px;border:1px solid #999;border-top-left-radius:5px;border-bottom-left-radius:5px;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="width:180px;"><input type="text" id="txtbennamelatin2" name="txtbennamelatin2" style="width:203px;border:1px solid #999;border-top-left-radius:5px;border-bottom-left-radius:5px;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:70px;">
					                            	<select style="width:70px;height:28px;" id="txtbensex2" name="txtbensex2">
					                            	  <option value=""></option>
					                            	  <option value="Male">Male</option>
													  <option value="Female">Female</option>
													</select>
					                            </td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:120px;"><input type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" id="txtbendob2" name="txtbendob2" style="width:120px;border:1px solid #999;text-align:center" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:220px;"><input type="text" id="txtbencon2" name="txtbencon2" style="width:250px;border:1px solid #999;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:80px;"><input type="text"  id="txtbenper2" name="txtbenper2" style="width:80px;border:1px solid #999;" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode == 46'></td>
					                        </tr>
					                        <tr style="height:10px;">
					                            <td><select style="width:50px;height:28px;" id="txtchk3" name="txtchk3">
					                            	  <option value="No">No</option>
													  <option value="Yes">Yes</option>
												</select></td>
					                            <td class="labeltable bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:180px;"><input type="text" id="txtbenname3" name="txtbenname3" style="width:203px;border:1px solid #999;border-top-left-radius:5px;border-bottom-left-radius:5px;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="width:180px;"><input type="text" id="txtbennamelatin3" name="txtbennamelatin3" style="width:203px;border:1px solid #999;border-top-left-radius:5px;border-bottom-left-radius:5px;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:70px;">
					                            	<select style="width:70px;height:28px;"id="txtbensex3" name="txtbensex3">
					                            	  <option value=""></option>
					                            	  <option value="Male">Male</option>
													  <option value="Female">Female</option>
													</select>
					                            </td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:120px;"><input type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" id="txtbendob3" name="txtbendob3" style="width:120px;border:1px solid #999;text-align:center" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:220px;"><input type="text" id="txtbencon3" name="txtbencon3" style="width:250px;border:1px solid #999;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:5px;border-bottom-right-radius:5px;width:80px;"><input type="text"  id="txtbenper3" name="txtbenper3" style="width:80px;border:1px solid #999;" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode == 46'/></td>
					                        </tr>
					                        <tr style="height:10px;">
					                            <td><select style="width:50px;height:28px;" id="txtchk4" name="txtchk4">
					                            	  <option value="No">No</option>
													  <option value="Yes">Yes</option>
												</select></td>
					                            <td class="labeltable bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:180px;"><input type="text" id="txtbenname4" name="txtbenname4" style="width:203px;border:1px solid #999;border-top-left-radius:5px;border-bottom-left-radius:5px;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="width:180px;"><input type="text" id="txtbennamelatin4" name="txtbennamelatin4" style="width:203px;border:1px solid #999;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:70px;">
					                            	<select style="width:70px;height:28px;" id="txtbensex4" name="txtbensex4">
					                            	  <option value=""></option>
					                            	  <option value="Male">Male</option>
													  <option value="Female">Female</option>
													</select>
					                            </td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:120px;"><input type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" id="txtbendob4" name="txtbendob4" style="width:120px;border:1px solid #999;text-align:center" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:220px;"><input type="text" id="txtbencon4" name="txtbencon4" style="width:250px;border:1px solid #999;" class="form-control"/></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:5px;border-bottom-right-radius:5px;width:80px;"><input type="text"  id="txtbenper4" name="txtbenper4" style="width:80px;border:1px solid #999;" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode == 46'/></td>
					                        </tr>
					                        <tr style="height:10px;">
					                        	<td></td>
					                            <td class="labeltable bggray" style="border-top-left-radius:5px;border-bottom-left-radius:5px; width:180px;"></td>
					                            <td class="labeltable bggray" style="width:180px;"></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:70px;"></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center;width:120px;"></td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;width:250px;">សរុបចំណែក</td>
					                            <td class="labeltable bggray" style="border-left:1px solid white;text-align:center; border-top-right-radius:5px;border-bottom-right-radius:5px;width:80px;">100%</td>
					                        </tr>
					                    </table>
		                        	</div>  
		                        </div>
		                    </div>
		                    <div class="headline"> 	
		                        <label for="item" class="col-sm-7 control-label" style="color:#2F97FF;">សេចក្តីប្រកាសកាតព្វកិច្ចបង់ពន្ធនៅសហរដ្ឋអាមេរិក (FATCA)</label><br/>
		                    </div>
		                    <div class="row space4">
		                    	<div class="col-sm-12">
		                    		<table>
		                    			<tr>
		                    				<td class="labeltable" style="width:400px;"><label for="item" class="col-sm-6 control-label"> តើបច្ចុប្បន្នលោកអ្នកមានជាប់កាតព្វកិច្ចបង់ពន្ធនៅសហរដ្ឋអាមេរិកដែរឬទេ? <span class="required-mark">*</span></label> </td>
		                    				<td class="labeltable"><span>មិនធ្លាប់  <input type="radio"  checked="checked" name="fatca" id="fatca" value="False" style="width:15px; height:15px;vertical-align:top"/> ធ្លាប់  <input type="radio" id="fatca" name="fatca" value="True"style="width:15px; height:15px;vertical-align:top"/><br/>
					                   			</span>
					                   		</td>
					                   </tr>
		                    		</table>
		                    		 
		                    	</div>
		                    </div>
	                        
	                        <div class="row space5">                 
	                        <div class="form-group fixed-form-control col-sm-12 btNotFixed" >
	                        	<div class="col-sm-12">
		                            <button  type="submit" class="btn btn-danger" name="save">Preview in Khmer</button>
		                        </div>
	                         </div>
							 </div>
<!-- 							 <div class="btFixed"> -->
<!-- 							 <div class="text-center"> -->
<!-- 								<button type="submit" name="save" class="btn btn-danger" > -->
<!-- 								    Save -->
<!-- 								</button> -->
<!-- 								<button type="submit" class="btn btn-danger" name="previewkh">Preview Khmer</button> -->
<!-- 								<button type="submit" class="btn btn-danger" name="previewen" >Preview English</button>								 -->
<!-- 							 </div> -->
<!-- 							 </div> -->
							 </th:block>
						  </form>
	                 </div>
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:src="@{/resources/js/validateform/prueasylifeform.js}"></script>
		<script th:inline="javascript">
			$(document).ready(function(){
				var url = /*[[@{{url}(url=${quoteUrl})}]]*/'';
				
				if(url)
				{
					var ctx = /*[[@{/}]]*/'';
					url = ctx.substring(0, ctx.length-1) + url;
					
					var winHeight="innerHeight" in window 
				             				? window.innerHeight
				                     : document.documentElement.offsetHeight; 	
				
				          if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				          	var popup=window.open(url,"_blank");
				          	if(!popup || popup.closed || typeof popup.closed=='undefined') 
				          	{ 
				          	    //POPUP BLOCKED
				         	     	alert('Please enable popup blocker in setting!');
				          	}
				          }	
				          else{													
						var popup=window.open(url ,'mywindow'+(new Date()).getTime(),'width=840,height='+winHeight+',scrollbars=yes');
						if(!popup || popup.closed || typeof popup.closed=='undefined') 
				          	{ 
				          	    //POPUP BLOCKED
				         	     	alert('Please enable popup blocker in broswer setting!');
				          	}
				          }
				}
			});
		</script>
	</th:block>
</body>
</html>