<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
<link th:href="@{/resources/css/prumyfamily.css}" rel="stylesheet" />
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
                 <div class="content-panel" >
                 	<div style="border:1px solid #ccc; padding:5px; padding-top:10px;border-radius:5px;">                              	      				     	        		
	                  	 <form th:object="${pruquoteparm}" onsubmit="return checkSubmit();" th:action="${''}" method="post" name="form">
	                  	   <div th:if="${errors} != null" class="alert alert-warning" role="alert">
							</div>
	                  	  	<div class="row space4">
	                  	  		<div class="col-sm-12 form-group fixed-form-control" style="color:red;">
		                        	<p id="Err" style="font-size:12px;"></p>
		                        </div>  
		                    </div>               	  	
	                  	  	<div class="row space4">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control" style="display:none">
		                        	<label for="id" class="col-sm-5 control-label">Auto No:</label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" readonly Class="form-control"  th:field="*{id}" />
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">Policy commencement date:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input th:field="*{commDate}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control" />
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="headline">
		                        <i><b>Particulars of the Main Life Assured</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
	                        		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
		                        		<div class="form-group">
											<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Relationship of PO &amp; LA<span class="required-mark">*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{coLa1relationship}" class="form-control">
					                     			<option th:each="coLa1relationship : ${RelationShip}" 
					                     				th:value="${coLa1relationship.id}" th:text="${coLa1relationship.itemLatin}" />
					                     		</select>
											</div>
										</div>
	                        		</div>
	                        		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
		                        		<div class="form-group">
		                        			<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Policy Term (Years)<span class="required-mark">*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{coPolicyTerm}" class="form-control">
					                     			<option th:each="coPolicyTerm : ${PolicyTerm}"
					                     				th:value="${coPolicyTerm.id}" th:text="${coPolicyTerm.itemLatin}" />
					                     		</select>
											</div>
										</div>
	                        		</div>
	                        		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
		                        		<div class="form-group">
		                        			<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Premium Term (Years)<span class="required-mark">*</span></label> 
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{coPremiumTerm}" class="form-control">
					                     			<option th:each="coPremiumTerm : ${PremiumTerm}"
					                     				th:value="${coPremiumTerm.id}" th:text="${coPremiumTerm.Reserve2}" />
					                     		</select>
											</div>
										</div>
	                        		</div>
	                        	</div>
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
	                        		<div class="col-md-4 col-sm-6 col-xs-12 form-group">
	                        			<div class="form-group">
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Name of the Main Life Assured<span class="required-mark" >*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" class="form-control" th:field="*{la1name}" style="text-transform:uppercase;"/>
											</div>
										</div>
	                        		</div>
	                        		<div class="col-md-4 col-sm-6 col-xs-12 form-group">
		                        		<div class="form-group">
		                        			<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Sex<span class="required-mark">*</span></label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select th:field="*{coLa1sex}" class="form-control">
					                     			<option th:each="coLa1sex : ${Sex}"
					                     				th:value="${coLa1sex.id}" th:text="${coLa1sex.Reserve2}" />
					                     		</select>
											</div>
										</div>
	                        		</div>
	                        	</div>
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
	                        		<div class="col-md-4 col-sm-6 col-xs-12 form-group">
		                        		<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Date of Birth<span class="required-mark">*</span></label> 
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" class="form-control" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" th:field="*{la1dateOfBirth}" />
										</div>
	                        		</div>
	                        		<div class="col-md-4 col-sm-6 col-xs-12 form-group">
	                        			<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Occupation of LA 1<span class="required-mark">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<select class="form-control" style="padding: 0 6px;" name="occla1" id="occla1">
												<option value="0">Select occupation here...</option>
												<option th:each="occla1 : ${OccupationDdl}" th:value="${occla1.id}" th:text="${occla1.khName + '/' + occla1.engName}"></option>
											</select>
										</div>
	                        		</div>
	                        	</div>
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
	                        		<div class="col-md-4 col-sm-6 col-xs-12 form-group">
	                        			<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Name of Policy Owner</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input th:field="*{poName}" type="text" Class="form-control"  readonly style="text-transform: uppercase;"/>
										</div>
	                        		</div>
	                        		<div class="col-md-4 col-sm-6 col-xs-12 form-group" id="droccupationpo">
	                        			<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Occupation PO<span class="required-mark">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<select class="form-control" style="padding: 0 6px;" name="occpo" id="occpo">
												<option value="0">Select occupation here...</option>
												<option th:each="occla1 : ${OccupationDdl}" th:value="${occla1.id}" th:text="${occla1.khName + '/' + occla1.engName}"></option>
											</select>
										</div>
	                        		</div>
	                        	</div>
	                        	<div class="col-sm-4 form-group fixed-form-control" style="display:none">
		                        	<label for="id" class="col-sm-5 control-label">Occupation class</label>    
		                        	<div class="col-sm-7">
		                        		<select th:field="*{coLa1occupationClass}" class="form-control">
			                     			<option th:each="coLa1occupationClass : ${occupationClass}"
			                     				th:value="${coLa1occupationClass.id}" th:text="${coLa1occupationClass.Reserve2}" />
			                     		</select>
		                        	</div>  
		                        </div>
	                        </div>
	                        <div class="headline"  style="margin-top:10px;">
	                        	<i><b>Particulars of the Additional Life Assured</b></i>
	                        	<hr/>
	                        </div>
	                        <div class="row">
	                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
		                        	<div class="col-md-4 col-sm-6 col-xs-12 form-group">
	                        			<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label"> Name of the Additional Life Assured</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input th:field="*{la2name}" type="text" Class="form-control" style="text-transform: uppercase;"/>
										</div>
	                        		</div>
	                        		<div class="col-md-4 col-sm-6 col-xs-12 form-group">
	                        			<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Sex</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<select th:field="*{coLa2sex}" class="form-control">
				                     			<option th:each="coLa2sex : ${Sex}"
				                     				th:value="${coLa2sex.id}" th:text="${coLa2sex.Reserve2}" />
				                     		</select>
										</div>
	                        		</div>
	                        	</div>
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
		                        	<div class="col-md-4 col-sm-6 col-xs-12 form-group">
	                        			<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Date of Birth</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input th:field="*{la2dateOfBirth}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control" />
										</div>
	                        		</div>
	                        		<div class="col-md-4 col-sm-6 col-xs-12 form-group">
	                        			<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Occupation PO<span class="required-mark">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<select class="form-control" style="padding: 0 6px;" name="occla2" id="occla2">
												<option value="0">Select occupation here...</option>
												<option th:each="occla1 : ${OccupationDdl}" th:value="${occla1.id}" th:text="${occla1.khName + '/' + occla1.engName}"></option>
											</select>
										</div>
	                        		</div>
	                        	</div>
	                        </div>           	  	
	                        </div>
	                        <div class="headline">
		                        <i><b>Particulars of payment mode</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
	                        		<div class="col-md-4 col-sm-6 col-xs-12 form-group">
		                        		<label for="id" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Cash or Non-cash payment</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<select th:field="*{coPaymentType}" class="form-control">
				                     			<option th:each="coPaymentType : ${PaymentType}"
				                     				th:value="${coPaymentType.id}" th:text="${coPaymentType.Reserve2}" />
				                     		</select>	
										</div>
										<div class="col-sm-6 form-group fixed-form-control" style="display:none;">
				                        	<label for="item" class="col-sm-5 control-label">Occupation class</label>    
				                        	<div class="col-sm-7">
				                        		<select th:field="*{coLa2occupationClass}" class="form-control">
					                     			<option th:each="coLa2occupationClass : ${occupationClass}"
					                     				th:value="${coLa2occupationClass.id}" th:text="${coLa2occupationClass.Reserve2}" />
					                     		</select>
				                        	</div>  
				                        </div>
	                        		</div>
	                        		<div class="col-md-4 col-sm-6 col-xs-12 form-group">
		                        		<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Payment mode</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<select th:field="*{coPaymentMode}" class="form-control">
				                     			<option th:each="coPaymentMode : ${PaymentMode}" th:value="${coPaymentMode.id}" th:text="${coPaymentMode.Reserve2}" />
				                     		</select>											
										</div>
	                        		</div>
	                        	</div>
		                    </div>
	                         <div class="headline">
		                        <i><b>Particulars of Basic Plan and My Option benefits</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row">
	                        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
		                        	<div class="col-md-4 col-sm-6 col-xs-12 form-group">
		                        		<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">PRU MYFamily (Basic Plan)<span class="required-mark">*</span></label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<input type="text" class="form-control" th:field="*{basicPlanSa}" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>	
										</div>
	                        		</div>
	                        	</div>
	                        </div>
	                        <div class="headline">
		                        <i><b>My Option Benefits (Also known as Riders)</b></i>
		                        <hr/>
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-12 control-label">Parent Coverage Benefit</label>    
		                        </div>  
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-2 control-label" id="life1">life 1</label>    
		                        	<div class="col-sm-3">
		                        		<select class="form-control" id="coL1Rtr1" name="coL1Rtr1">
		                        				<option value="16">No</option>
		                        				<option value="15">Yes</option>
		                        		</select>
		                        	</div>
		                        	<div class="col-sm-5">
		                        		<input type="text" th:field="*{l1Rtr1}"  class="form-control" value="0" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>
		                        	<div class="col-sm-2">
		                        		<input type="text" id="l1Rtr1Term" class="form-control"  readonly value="10" />
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-12 control-label">Family Income Benefit</label>    
		                        </div>  
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-2 control-label">life 1</label>    
		                        	<div class="col-sm-3">
		                        		<select class="form-control" id="coL1Rsr1" name="coL1Rsr1">
		                        				<option value="16">No</option>
		                        				<option value="15">Yes</option>
		                        		</select>
		                        	</div>
		                        	<div class="col-sm-5">
		                        		<input type="text" th:field="*{l1Rsr1}" class="form-control" value="0" />
		                        	</div>
		                        	<div class="col-sm-2">
		                        		<input type="text" id="l1Rsr1Term" class="form-control"  readonly value="10" />
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-12 control-label">Parent Coverage Benefit</label>    
		                        </div>  
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-2 control-label">life 2</label>    
		                        	<div class="col-sm-3">
		                        		<select class="form-control" id="coL2Rtr1" name="coL2Rtr1">
		                        				<option value="16">No</option>
		                        				<option value="15">Yes</option>
		                        		</select>
		                        	</div>
		                        	<div class="col-sm-5">
		                        		<input type="text" th:field="*{l2Rtr1}"  class="form-control" value="0" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>
		                        	<div class="col-sm-2">
		                        		<input type="text" id="l2Rtr1Term"  class="form-control" readonly value="10" />
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="row space4">                  	  	
		                  	  	<div class="col-sm-5 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-12 control-label">Family Income Benefit</label>    
		                        </div>  
		                        <div class="col-sm-7 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-2 control-label">life 2</label>    
		                        	<div class="col-sm-3">
		                        		<select class="form-control" id="coL2Rsr1" name="coL2Rsr1">
		                        				<option value="16">No</option>
		                        				<option value="15">Yes</option>
		                        		</select>
		                        	</div>
		                        	<div class="col-sm-5">
		                        		<input type="text" th:field="*{l2Rsr1}" class="form-control" value="0" />
		                        	</div>
		                        	<div class="col-sm-2">
		                        		<input type="text" class="form-control" id="l2Rsr1Term"  readonly value="10" />
		                        	</div>  
		                        </div>	
	                        </div>
	                        <th:block th:if="${isAffectiveDate < 0}">
		                        <div class="row space4" >                	  	
			                  	  	<div class="col-sm-5 form-group fixed-form-control">
			                        	<label for="id" class="col-sm-12 control-label">Long-Term Savings Builder</label>    
			                        </div>  
			                        <div class="col-sm-7 form-group fixed-form-control">
			                        	<label for="item" class="col-sm-2 control-label">life 1</label>    
			                        	<div class="col-sm-3">
			                        		<select class="form-control" id="coL1Rtr2" name="coL1Rtr2">
			                        				<option value="16">No</option>
			                        				<option value="15">Yes</option>
			                        		</select>
			                        	</div>
			                        	<div class="col-sm-5">
			                        		<input type="text" th:field="*{l1Rtr2}" class="form-control" value="0" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
			                        	</div>
			                        	<div class="col-sm-2">
			                        		<input type="text" class="form-control" id="l1Rtr2Term" readonly value="10" />
			                        	</div>  
			                        </div>	
		                        </div>
	                        </th:block>
	                        <hr/>
	                        <div class="row">
		                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
		                        	<div class="col-md-4 col-sm-6 col-xs-12 form-group">
		                        		<p style="color: orange; padding-top: 19px;"> </p>
		                        		<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Transfer Quote</label>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<select class="form-control" id="transfer" name="transfer">
		                        				<option value="16">No</option>
		                        				<option value="15">Yes</option>
			                        		</select>
										</div>
	                        		</div>
	                        		<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
	                        			<p style="color: orange">*Note: Please select ‘Yes’ if you generate quote on behalf of other FCs/LCs</p>
										<div class="form-group">
											<label for="item" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
												Is on behalf ?
											</label>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<select class="form-control" id="onbehalf" name="onbehalf">
													<option value="16">No</option>
													<option value="15">Yes</option>
												</select>
											</div>
										</div>
									</div>
	                        	</div>
	                        </div>
	                        <div class="row space4" style="display:none;">                  	  	
		                  	  	<div class="col-sm-4 form-group fixed-form-control" style="display:none;">
		                        	<label for="id" class="col-sm-6 control-label">ValidFlag</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" value="1"  Class="form-control"  id="validFlag" name="validFlag" onkeypress='return event.charCode >= 48 && event.charCode <= 49' maxlength="1"/>
		                        		
		                        	</div>
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">  
		                        	<label for="item" class="col-sm-6 control-label">User</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" class="form-control" id="coUser" name="coUser" />
		                        	</div>
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">SynDate</label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" readonly="readonly" class="form-control" id="syndate" />
		                        	</div>  
		                        </div>
		                        
	                        </div>
	                        <div class="row space5">                 
	                        <div class="form-group fixed-form-control col-sm-12 btNotFixed" >
	                        	<div class="col-sm-12">
		                            <button  type="submit" class="btn btn-danger" name="save">Save</button>
		                            <button type="submit" class="btn btn-danger" name="previewkh">Preview in Khmer</button>
		                            <button type="submit" class="btn btn-danger" name="previewen" >Preview in English</button>
                      			  	<button type="submit" class="btn btn-danger" id="btnDD" name="previewDD" >Direct Debit Form</button>
                         			<button type="submit" class="btn btn-danger" id="btnSO" name="previewSO" >Standing Order Form</button>
	                            </div>
							 </div>
							 </div>
						  </form>
	                 </div>
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var isUnlimitedRider = 'false';
	
			var isUnlimitedSA = 'false';
			/*[# th:if="${#authorization.expression('hasAuthority(''ACCESS_UNLIMITED_RIDER'')')}"]*/
			isUnlimitedRider = 'true';
			/*[/]*/
	
			/*[# th:if="${#authorization.expression('hasAuthority(''ACCESS_UNLIMITED_SA'')')}"]*/
			isUnlimitedSA = 'true';
			/*[/]*/
			
			var prumyfamilyMinBasicSA = 20000;
			var pcbPrumyfamily = 'Yes';
			var pcbPrumyfamilyMinSAMultiply = 5;

			prumyfamilyMinBasicSA = [[${prumyfamilyMinBasicSA}]]*1;
			pcbPrumyfamily = [[${pcbPrumyfamily}]];
			isAffectiveDate = [[${isAffectiveDate}]];
			pcbPrumyfamilyMinSAMultiply = [[${pcbPrumyfamilyMinSAMultiply}]]*1;
		</script>
		<script type="text/javascript" th:src="@{/resources/js/validateform/pruquote.js}"></script>
		<script th:inline="javascript">
			$(document).ready(function(){
				var url = /*[[@{{url}(url=${quoteUrl})}]]*/'';
				
				if(url)
				{
					var ctx = /*[[@{/}]]*/'';
					url = ctx.substring(0, ctx.length-1) + url;
					
					var winHeight="innerHeight" in window 
				             				? window.innerHeight
				                     : document.documentElement.offsetHeight; 	
				
				          if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				          	var popup=window.open(url,"_blank");
				          	if(!popup || popup.closed || typeof popup.closed=='undefined') 
				          	{ 
				          	    //POPUP BLOCKED
				         	     	alert('Please enable popup blocker in setting!');
				          	}
				          }	
				          else{													
						var popup=window.open(url ,'mywindow'+(new Date()).getTime(),'width=840,height='+winHeight+',scrollbars=yes');
						if(!popup || popup.closed || typeof popup.closed=='undefined') 
				          	{ 
				          	    //POPUP BLOCKED
				         	     	alert('Please enable popup blocker in broswer setting!');
				          	}
				          }
				}
			});
		</script>
		<th:block th:if="${errorPruSaver != null}">
   			<script th:inline="javascript">
   				var errorPruSaver = /*[[${errorPruSaver}]]*/'';
   				if(errorPruSaver){
   					$('#Err').html(errorPruSaver);
   	   				document.getElementById("l1Rtr2").style.background = "yellow";	
   				}
   			</script>
   		</th:block>
	</th:block>
</body>
</html>
