<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
<style>
.col-sm-5 {
	vertical-align: middle;
}

label {
	font-size: 12px;
}

.headline hr {
	margin-top: -3px;
}

.control-label {
	margin: 0px;
}
</style>
</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!-- page content -->
			<div class="right_col" role="main" layout:fragment="pageContent">
				<div class="content-panel">
					<form th:object="${pruquoteparm}" onsubmit="return checkSubmit();"
						th:action="${''}" method="post" name="form">
						<div th:if="${errors} != null" class="alert alert-warning"
							role="alert"></div>
						<div class="page-title">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-xs-12">
									<h3>Add New PureProtect</h3>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12">
								<div class="x_panel">
									<div class="x_content">
										<div class="row">
											<div class="col-sm-12 form-group fixed-form-control"
												style="color: red;">
												<p id="Err" style="font-size: 12px;"></p>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-4 form-group fixed-form-control"
												style="display: none;">
												<label for="id"
													class="col-lg-6 col-md-6 col-sm-6 control-label">
													Auto No:</label>
												<div class="col-sm-7">
													<input type="text" readonly Class="form-control"
														th:field="*{id}" />
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
												<div class="form-group">
													<label for="item"
														class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
														Policy commencement date:<span class="required-mark">*</span>
													</label>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
														<input th:field="*{commDate}"
															data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY"
															type="text" class="form-control" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="x_title">
										<h2>Particulars of the Main Life Assured</h2>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
										<br />
										<div class="row">
											<div
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
												<div
													class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
													<div class="form-group">
														<label for="id"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Relationship of PO & LA<span class="required-mark">*</span>
														</label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<select th:field="*{coLa1relationship}"
																class="form-control">
																<option th:each="coLa1relationship : ${RelationShip}"
																	th:value="${coLa1relationship.id}"
																	th:text="${coLa1relationship.itemLatin}" />
															</select>
														</div>
													</div>
												</div>
												<div
													class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
													<div class="form-group">
														<label for="item"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Policy Term (Years)<span class="required-mark">*</span>
														</label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<select th:field="*{coPolicyTerm}" class="form-control">
																<option th:each="coPolicyTerm : ${PolicyTerm}"
																	th:value="${coPolicyTerm.id}"
																	th:text="${coPolicyTerm.Reserve2}" />
															</select>
														</div>
													</div>
												</div>
												<div
													class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group">
													<div class="form-group">
														<label for="item"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Premium Term (Years)<span class="required-mark">*</span>
														</label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<select th:field="*{coPremiumTerm}" class="form-control">
																<option th:each="coPremiumTerm : ${PremiumTerm}"
																	th:value="${coPremiumTerm.id}"
																	th:text="${coPremiumTerm.Reserve2}" />
															</select>
														</div>
													</div>
												</div>
											</div>
											<div
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
												<div class="col-md-4 col-sm-6 col-xs-12 form-group">
													<div class="form-group">
														<label for="item"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Name of the Main Life Assured<span class="required-mark">*</span>
														</label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<input type="text" class="form-control"
																th:field="*{la1name}" style="text-transform: uppercase;" />
														</div>
													</div>
												</div>
												<div class="col-md-4 col-sm-6 col-xs-12 form-group">
													<div class="form-group">
														<label for="id"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Sex<span class="required-mark">*</span>
														</label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<select th:field="*{coLa1sex}" class="form-control">
																<option th:each="coLa1sex : ${Sex}"
																	th:value="${coLa1sex.id}"
																	th:text="${coLa1sex.Reserve2}" />
															</select>
														</div>
													</div>
												</div>
											</div>
											<div
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
												<div class="col-md-4 col-sm-6 col-xs-12 form-group">
													<div class="form-group">
														<label for="item"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Date of Birth<span class="required-mark">*</span>
														</label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<input type="text" data-date-format="DD/MM/YYYY"
																placeholder="DD/MM/YYYY" class="form-control"
																th:field="*{la1dateOfBirth}" />
														</div>
													</div>
												</div>
												<div class="col-md-4 col-sm-6 col-xs-12 form-group"
													id="droccupationla">
													<div class="form-group">
														<label for="id"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Occupation of LA 1<span class="required-mark">*</span>
														</label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<select class="form-control" style="padding: 0 6px;"
																name="occla1" id="occla1">
																<option value="0">Select occupation here...</option>
																<option th:each="occla1 : ${OccupationDdl}"
																	th:value="${occla1.id}"
																	th:text="${occla1.khName + '/' + occla1.engName}"></option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
												<div
													class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 form-group">
													<div class="form-group">
														<label for="id"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Name of Policy Owner </label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<input th:field="*{poName}" type="text"
																Class="form-control" readonly
																style="text-transform: uppercase;" />
														</div>
													</div>
												</div>
												<div
													class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 form-group"
													id="droccupationpo">
													<div class="form-group">
														<label for="id"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Occupation of PO<span class="required-mark">*</span>
														</label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<select class="form-control" style="padding: 0 6px;"
																name="occpo" id="occpo">
																<option value="0">Select occupation here...</option>
																<option th:each="occla1 : ${OccupationDdl}"
																	th:value="${occla1.id}"
																	th:text="${occla1.khName + '/' + occla1.engName}"></option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<th:block
										sec:authorize="hasAnyAuthority('ACCESS_PRUCARE_PCB') || hasAnyAuthority('ACCESS_PRUCARE_FIB')">
										<div class="x_title">
											<h2>Particulars of the Additional Life Assured</h2>
											<div class="clearfix"></div>
										</div>
										<div class="x_content">
											<br />
											<div
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
												<div class="col-md-4 col-sm-6 col-xs-12 form-group">
													<div class="form-group">
														<label for="id"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Name of the Additional Life Assured<span
															class="required-mark">*</span>
														</label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<input th:field="*{la2name}" type="text"
																Class="form-control" style="text-transform: uppercase;" />
														</div>
													</div>
												</div>
												<div class="col-md-4 col-sm-6 col-xs-12 form-group">
													<div class="form-group">
														<label for="id"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Sex<span
															class="required-mark">*</span></label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<select th:field="*{coLa2sex}" class="form-control">
																<option th:each="coLa2sex : ${Sex}"
																	th:value="${coLa2sex.id}"
																	th:text="${coLa2sex.Reserve2}" />
															</select>
														</div>
													</div>
												</div>
											</div>
											<div
												class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
												<div class="col-md-4 col-sm-6 col-xs-12 form-group">
													<div class="form-group">
														<label for="item"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Date of Birth<span class="required-mark">*</span>
														</label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<input th:field="*{la2dateOfBirth}"
																data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY"
																type="text" class="form-control" />
														</div>
													</div>
												</div>
												<div class="col-md-4 col-sm-6 col-xs-12 form-group">
													<div class="form-group">
														<label for="id"
															class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
															Occupation of LA 2<span class="required-mark">*</span>
														</label>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<select class="form-control" style="padding: 0 6px;"
																name="occla2" id="occla2">
																<option value="0">Select occupation here...</option>
																<option th:each="occla1 : ${OccupationDdl}"
																	th:value="${occla1.id}"
																	th:text="${occla1.khName + '/' + occla1.engName}"></option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</th:block>
									<div class="x_title">
										<h2>Particulars of payment mode</h2>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
										<div
											class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 form-group">
												<div class="form-group">
													<label for="id"
														class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
														Cash or Non-cash payment</label>
													<div class="col-md-6 col-sm-6 col-xs-12">
														<select th:field="*{coPaymentType}" class="form-control">
															<option th:each="coPaymentType : ${PaymentType}"
																th:value="${coPaymentType.id}"
																th:text="${coPaymentType.Reserve2}" />
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 form-group">
												<div class="form-group">
													<label for="item"
														class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Payment
														mode</label>
													<div class="col-md-6 col-sm-6 col-xs-12">
														<select th:field="*{coPaymentMode}" class="form-control">
															<option th:each="coPaymentMode : ${PaymentMode}"
																th:value="${coPaymentMode.id}"
																th:text="${coPaymentMode.Reserve2}" />
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="x_title">
										<h2>Particulars of Basic Plan and My Option benefits</h2>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
										<br />
										<div
											class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 form-group">
												<div class="form-group">
													<label for="item"
														class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Sum
														Assured<span class="required-mark">*</span>
													</label>
													<div class="col-md-6 col-sm-6 col-xs-12">
														<input type="text" class="form-control"
															th:field="*{basicPlanSa}"
															onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
													</div>
												</div>
											</div>
										</div>
									</div>

									<th:block
										sec:authorize="hasAnyAuthority('ACCESS_PRUCARE_PCB') || hasAnyAuthority('ACCESS_PRUCARE_FIB')">
										<div class="x_title">
											<h2>My Option Benefits (Also known as Riders)</h2>
											<div class="clearfix"></div>
										</div>
										<div class="x_content">
											<br />
											<div class="col-md-12 col-sm-12 col-xs-12 form-group">
												<!--Family Income Benefit -->
												<th:block
													sec:authorize="hasAnyAuthority('ACCESS_PRUCARE_FIB')">
													<div class="col-md-4 col-sm-4 col-xs-12 form-group">
														<div class="form-group">
															<label for="id" class="col-sm-12 col-xs-12 control-label">Family
																Income Benefit</label>
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<div class="form-group">
															<label for="item" class="control-label">life 1</label>
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<div class="form-group">
															<select class="form-control" id="coL1Rsr1"
																name="coL1Rsr1">
																<option value="16">No</option>
																<option value="15">Yes</option>
															</select>
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<div class="form-group">
															<input type="text" th:field="*{l1Rsr1}"
																class="form-control" value="0" />
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<input type="text" id="l1Rsr1Term" class="form-control"
															readonly value="10" />
													</div>
												</th:block>
												<!-- End Family Income Benefit -->
												<!--Parent Coverage Benefit -->
												<th:block
													sec:authorize="hasAnyAuthority('ACCESS_PRUCARE_PCB')">
													<div class="col-md-4 col-sm-4 col-xs-12 form-group">
														<div class="form-group">
															<label for="id" class="col-sm-12 control-label">Parent
																Coverage Benefit</label>
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<div class="form-group">
															<label for="item" class="control-label">life 2</label>
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<div class="form-group">
															<select class="form-control" id="coL2Rtr1"
																name="coL2Rtr1">
																<option value="16">No</option>
																<option value="15">Yes</option>
															</select>
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<div class="form-group">
															<input type="text" th:field="*{l2Rtr1}"
																class="form-control" value="0"
																onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<input type="text" id="l2Rtr1Term" class="form-control"
															readonly value="10" />
													</div>

												</th:block>
												<!-- End Parent Coverage Benefit -->
												<!--Family Income Benefit -->

												<th:block
													sec:authorize="hasAnyAuthority('ACCESS_PRUCARE_FIB')">
													<div class="col-md-4 col-sm-4 col-xs-12 form-group">
														<div class="form-group">
															<label for="id" class="col-sm-12 control-label">Family
																Income Benefit</label>
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<div class="form-group">
															<label for="item" class="control-label">life 2</label>
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<div class="form-group">
															<select class="form-control" id="coL2Rsr1"
																name="coL2Rsr1">
																<option value="16">No</option>
																<option value="15">Yes</option>
															</select>
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<div class="form-group">
															<input type="text" th:field="*{l2Rsr1}"
																class="form-control" value="0" />
														</div>
													</div>
													<div class="col-md-2 col-sm-2 col-xs-12 form-group">
														<input type="text" class="form-control" id="l2Rsr1Term"
															readonly value="10" />
													</div>
												</th:block>
												<!-- End Family Income Benefit -->
											</div>
										</div>
									</th:block>
									<div class="x_content">
										<div class="row">
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
												<p style="color: orange; padding-top: 19px;"></p>
												<div class="form-group">
													<label for="item"
														class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">Transfer
														Quote</label>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
														<select class="form-control" id="transfer" name="transfer">
															<option value="16">No</option>
															<option value="15">Yes</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
												<p style="color: orange">*Note: Please select ‘Yes’ if
													you generate quote on behalf of other FCs/LCs</p>
												<div class="form-group">
													<label for="item"
														class="col-lg-6 col-md-6 col-sm-6 col-xs-12 control-label">
														Is on behalf ? </label>
													<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
														<select class="form-control" id="onbehalf" name="onbehalf">
															<option value="16">No</option>
															<option value="15">Yes</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="x_content">
										<div class="row" style="display: none;">
											<div class="col-sm-4 form-group fixed-form-control">
												<label for="id" class="col-sm-6 control-label">ValidFlag</label>
												<div class="col-sm-6">
													<input type="text" value="1" Class="form-control"
														id="validFlag" name="validFlag"
														onkeypress='return event.keyCode >= 48 && event.keyCode <= 49'
														maxlength="1" />
												</div>
											</div>
											<div class="col-sm-4 form-group fixed-form-control">
												<label for="item" class="col-sm-6 control-label">User</label>
												<div class="col-sm-6">
													<input type="text" class="form-control" id="coUser"
														name="coUser" />
												</div>
											</div>
											<div class="col-sm-4 form-group fixed-form-control">
												<label for="item" class="col-sm-5 control-label">SynDate</label>
												<div class="col-sm-7">
													<input type="text" readonly="readonly" class="form-control"
														id="syndate" />
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-lg-12 col-md-12">
												<button type="submit" class="btn btn-danger" name="save">Save</button>
												<button type="submit" class="btn btn-danger"
													name="previewkh">Preview in Khmer</button>
												<button type="submit" class="btn btn-danger"
													name="previewen">Preview in English</button>

												<button type="submit" class="btn btn-danger" id="btnDD"
													name="previewDD">Direct Debit Form</button>
												<button type="submit" class="btn btn-danger" id="btnSO"
													name="previewSO">Standing Order Form</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 form-group fixed-form-control"
							style="display: none;">
							<label for="id" class="col-sm-5 control-label">
								Occupation class</label>
							<div class="col-sm-7">
								<select th:field="*{coLa1occupationClass}" class="form-control">
									<option th:each="coLa1occupationClass : ${occupationClass}"
										th:value="${coLa1occupationClass.id}"
										th:text="${coLa1occupationClass.Reserve2}" />
								</select>
							</div>
						</div>
						<div class="col-sm-6 form-group fixed-form-control"
							style="display: none;">
							<label for="item" class="col-sm-5 control-label">
								Occupation class</label>
							<div class="col-sm-7">
								<select th:field="*{coLa2occupationClass}" class="form-control">
									<option th:each="coLa2occupationClass : ${occupationClass}"
										th:value="${coLa2occupationClass.id}"
										th:text="${coLa2occupationClass.Reserve2}" />
								</select>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- /page content -->
		</div>
	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript">

			var isUnlimitedRider = 'false';
			var isUnlimitedSA = 'false';
			var hasRTR1 = [[${#authorization.expression('hasAnyAuthority(''ACCESS_PRUCARE_PCB'')')}]];
			var hasRSR1 = [[${#authorization.expression('hasAnyAuthority(''ACCESS_PRUCARE_FIB'')')}]];

		</script>
		<script th:src="@{/resources/js/validateform/prucare.js}"></script>
		<script th:inline="javascript">
			$(document)
					.ready(
							function() {
								var url = /*[[@{{url}(url=${quoteUrl})}]]*/'';

								if (url) {
									var ctx = /*[[@{/}]]*/'';
									url = ctx.substring(0, ctx.length - 1)
											+ url;

									var winHeight = "innerHeight" in window ? window.innerHeight
											: document.documentElement.offsetHeight;

									if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i
											.test(navigator.userAgent)) {
										var popup = window.open(url, "_blank");
										if (!popup
												|| popup.closed
												|| typeof popup.closed == 'undefined') {
											//POPUP BLOCKED
											alert('Please enable popup blocker in setting!');
										}
									} else {
										var popup = window.open(url, 'mywindow'
												+ (new Date()).getTime(),
												'width=840,height=' + winHeight
														+ ',scrollbars=yes');
										if (!popup
												|| popup.closed
												|| typeof popup.closed == 'undefined') {
											//POPUP BLOCKED
											alert('Please enable popup blocker in broswer setting!');
										}
									}
								}
							});
		</script>
		<th:block th:if="${errorPruSaver != null}">
			<script th:inline="javascript">
				var errorPruSaver = /*[[${errorPruSaver}]]*/'';
				if (errorPruSaver) {
					$('#Err').html(errorPruSaver);
				}
			</script>
		</th:block>
	</th:block>
</body>
</html>