<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel" >                 	
                 	<div class="row">
                  	<div class="col-sm-6">
                  	</div> 
                  	<div class="col-sm-6">                      	
                  		<button type="submit" class="pull-right btn btn-danger" th:onclick="'javascript:window.location.href=\''+@{newprumyfamily}+'\';'">New PRUquote</button>
                  	</div>
                 	</div>
                 	
                 	<hr>
                 	                                          
                    <table id="prumyfamily_grid" class="table table-striped table-advance table-hover"> <!-- style="border:1px solid #ccc;" -->                            
              	  	  <thead>
                           <tr>                          	  
							  <th>No</th>
                              <th>Date</th>
                              <th>LA1 Name</th>
                              <th>LA1 Age</th>
                              <th>LA1 Sex</th>
                              <th>Term</th>
                              <th>Pay Type</th>
                              <th>Pay Mode</th>
                              <th>Sum Assured</th>
							  <th>Action</th>
                           </tr>
                      </thead>
                         <tbody>
	                         <tr th:each="pruMyFamily : ${pruMyFamilyList}">
	                         	<td th:text="${pruMyFamily.id}">1</td>
	                         	<td th:text="${pruMyFamily.commDate}">2</td>
	                         	<td th:text="${pruMyFamily.la1name}">3</td>
	                         	<td th:text="${pruMyFamily.la1age}">4</td>
	                         	<td th:text="${pruMyFamily.la1sex2}">5</td>
	                         	<td th:text="${pruMyFamily.policyTerm}">6</td>
	                         	<td th:text="${pruMyFamily.paymentType2}">7</td>
	                         	<td th:text="${pruMyFamily.paymentMode2}">8</td>
	                         	<td th:text="${pruMyFamily.basicPlanSa}">9</td>
	                         	<td>
	                         		<a th:href="@{prumyfamily/{id}/edit(id=${pruMyFamily.id})}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
	                         	</td>
	                         </tr>
                        </tbody>
                     </table> 
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function(){
				$('#prumyfamily_grid').dataTable({
					responsive: true,
					stateSave: true,
					dom: 'TC<"clearfix">lfrtip',
// 					columnDefs: [
// 					    { visible: false, targets: [0,1] }
// 					],
					"fnDrawCallback": function (oSettings, json) {
					    //showLoading(false);
					}
				});
			});
		</script>
	</th:block>
</body>
</html>