<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="shared/layout_main">

<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
<link th:href="@{/resources/css/mypending.css}" rel="stylesheet" />
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!--page content -->
			<div class="right_col" role="main" layout:fragment="pageContent">
				<div class="">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-ms-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2><i class="fa fa-bars"></i>List of Pending Cases</h2>
									<ul class="nav navbar-right">
										<!-- <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
										</li> -->
										<li><a data-toggle="modal"
											data-target=".bs-example-modal-sm" class="btn-search" style="cursor: pointer">Advance Search</a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="modal fade bs-example-modal-sm" tabindex="-1"
									role="dialog" aria-hidden="true" id="advance-search">
									<form id="frmMyPendingSearch">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">×</span>
													</button>
													<h4 class="modal-title" id="myModalLabel2"> Filter Criteria</h4>
												</div>
												<div class="modal-body">
													<div class="row">
													<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="chdrkeydate">Submission Date :</label> <input
																	type="text" id="chdrkeydate"
																	data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY"
																	class="form-control" />
															</div>
															<div
																class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12"
																id="colchdrkeydateto">
																<label for="chdrkeydateto">To :</label> <input
																	type="text" id="chdrkeydateto"
																	data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY"
																	class="form-control" />
															</div>
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="chdrkeydateoperator">Operator</label> <select
																	class="form-control" name="chdrkeydateoperator"
																	id="chdrkeydateoperator">
																	<option value="1">=</option>
																	<option value="2">&gt;</option>
																	<option value="3">&lt;</option>
																	<option value="4">&lt;=</option>
																	<option value="5">&gt;=</option>
																	<option value="6">between</option>
																</select>
															</div>
														</div>
														<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="ntudate">Not-token-up(NTU) Date :</label> <input
																	type="text" id="ntudate" data-date-format="DD/MM/YYYY"
																	placeholder="DD/MM/YYYY" class="form-control" />
															</div>
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12" id="colntudateto">
																<label for="ntudateto">To :</label> <input type="text"
																	id="ntudateto" data-date-format="DD/MM/YYYY"
																	placeholder="DD/MM/YYYY" class="form-control" />
															</div>
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="ntudateoperator">Operator</label>
																<select class="form-control" name="ntudateoperator" id="ntudateoperator">
																	<option value="1">=</option>
																	<option value="2">&gt;</option>
																	<option value="3">&lt;</option>
																	<option value="4">&lt;=</option>
																	<option value="5">&gt;=</option>
																	<option value="6">between</option>
																</select>
															</div>
														</div>
														<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="status">Pending Status :</label> <input type="text"
																	id="status" class="form-control" name="status" required />
															</div>
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="agentnumber">Agent Number :</label>
																	<select name="agentnumber" id="agentnumber"  class="select2_single form-control">
																		<option></option>
											                            <option th:each="agnt : ${getAgent}" th:value="${agnt[0]}" th:text="${agnt[0] +' - '+  agnt[1]}">
											                            </option>
											                          </select>
																</div>
															<div style="display:none;" class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="agentname">Agent Number :</label>
																	<input type="text" id="agentname" class="form-control" name="agentname"
																	onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
															</div>
														</div>
														<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="policynumber">Policy Number :</label> <input
																	type="text" id="policynumber" class="form-control"
																	name="policynumber"
																	onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
															</div>
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="applicationnumber">
																	Application Number :</label> <input type="text" id="applicationnumber" class="form-control" name="applicationnumber" />
															</div>
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="clientname">Policy Owner :</label>
																	<input type="text" id="clientname" class="form-control" name="clientname" required />
															</div>
														</div>
														<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
															<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="ape">APE :</label> <input type="text"
																	id="ape" class="form-control" name="ape"
																	onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
															</div>
															<div
																class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12"
																id="colapeto">
																<label for="ape">To</label> <input type="text"
																	id="apeto" class="form-control" name="apeto"
																	onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
															</div>
															<div
																class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="apeoperator">Operator</label> <select
																	class="form-control" name="apeoperator"
																	id="apeoperator">
																	<option value="1">=</option>
																	<option value="2">&gt;</option>
																	<option value="3">&lt;</option>
																	<option value="4">&lt;=</option>
																	<option value="5">&gt;=</option>
																	<option value="6">between</option>
																</select>
															</div>
														</div>
														<div
															class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
															<div style="display:none;"
																class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="policyphonenumber">Customer Phone
																	Number :</label> <input type="text" id="policyphonenumber"
																	class="form-control" name="policyphonenumber"
																	onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
															</div>
															<div style="display:none;"
																class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="agentphone">Agent Phone :</label> <input
																	type="text" id="agentphone" class="form-control"
																	name="agentphone"
																	onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
															</div>
															<div style="display:none;"
																class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="paneldoctor">Panel Doctor :</label> <input
																	type="text" id="paneldoctor" class="form-control"
																	name="paneldoctor" required />
															</div>
														</div>
														<div
															class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
															<div
																class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="pendingperiod">Pending Period :</label> <input
																	type="text" id="pendingperiod" class="form-control"
																	name="pendingperiod"
																	onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
															</div>
															<div
																class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12"
																id="colpendingperiodto">
																<label for="pendingperiodto">To :</label> <input
																	type="text" id="pendingperiodto" class="form-control"
																	name="pendingperiodto"
																	onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
															</div>
															<div
																class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
																<label for="pendingperiodoperator">Operator</label> <select
																	class="form-control" name="pendingperiodoperator"
																	id="pendingperiodoperator">
																	<option value="1">=</option>
																	<option value="2">&gt;</option>
																	<option value="3">&lt;</option>
																	<option value="4">&lt;=</option>
																	<option value="5">&gt;=</option>
																	<option value="6">between</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<a id="btnSearch" data-toggle="tab" href="#close"
														data-dismiss="modal"
														style="background-color: #ED1B2E; color: #FFF;"
														class="btn"> Search </a>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="x_content" style="font-size: 12px;">
									<div class="row">
										<div class="col-md-4 col-ms-12 col-xs-12">
											<h4>Summary by Status</h4>
											<div class="table-responsive disable-over">
												<table id="status_grid"
													class="table table-striped table-advance table-hover">
													<thead>
														<tr class="pending-tr">
															<th style="width:25%;">Status</th>
															<th style="width:25%;">Number of Cases</th>
															<th style="width:25%;">Total APE($USD)</th>
															<th style="width:25%;">Category</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-4 col-ms-12 col-xs-12">
										<h4>Summary by Branch</h4>
											<div class="table-responsive disable-over">
												<table id="branch_grid"
													class="table table-striped table-advance table-hover">
													<thead>
														<tr class="pending-tr">
															<th style="width:25%;">Branch Code</th>
															<th style="width:25%;">Branch Name</th>
															<th style="width:25%;">Number of Cases</th>
															<th style="width:25%;">Total APE($USD)</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-4 col-ms-12 col-xs-12">
										<h4>Summary by Individual agent</h4>
											<div class="table-responsive disable-over">
												<table id="agent_grid"
													class="table table-striped table-advance table-hover">
													<thead>
														<tr class="pending-tr">
															<th style="width:25%;">Agent Code</th>
															<th style="width:25%;">Agent Name</th>
															<th style="width:25%;">Number of Cases</th>
															<th style="width:25%;">Total APE($USD)</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div id="tags_search_box" class="x_content">
									<input id="tags_search" type="text" class="tags form-control" />
								</div>
								<div class="x_content" id="move-filter">
									<div class="table-responsive">
										<table id="mypending_grid"
											class="table table-striped table-advance table-hover">
											<thead>
												<tr class="pending-tr">
													<th>Policy Number</th>
													<th>Application Number</th>
													<th>APE ($USD)</th>
													<th>Reason of Pending</th>
													<th>Pending Status</th>
													<th>Pending Period</th>
													<th>NTU Date</th>
													<th style="display: none;">foNum</th>
													<th>Action</th>
													<th>Detail</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
										<div class="modal fade bs-pending-detail-sm" tabindex="-1"
											role="dialog" aria-hidden="true">
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">
															<span aria-hidden="true">×</span>
														</button>
														<h4 class="modal-title" id="myModalLabel2">Proposal Detail Information</h4>
													</div>
													<div class="modal-body">
														<div class="table-responsive">
															<table id="detail_grid" class="table table-striped">
																<thead>
																	<tr>
																		<th>Title</th>
																		<th>Description</th>
																	</tr>
																</thead>
																<tbody>
																</tbody>
															</table>
														</div>
													</div>
													<div class="modal-footer">
														<a id="btnCloseDetail" data-toggle="tab" href="#close"
															data-dismiss="modal"
															style="background-color: #ED1B2E; color: #FFF;"
															class="btn"> Close </a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>Note</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li style="float: right;"><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div class="table-responsive">
										<table id="codedesc_grid" class="table table-striped">
											<thead>
												<tr>
													<th>Code</th>
													<th>Code Stand For</th>
													<th>Explanation When Code is used and it's meaning</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page content -->
		</div>
	</div>

	<th:block layout:fragment="script">
		<script th:src="@{/resources/js/jquery.loading.min.js}"></script>
		<script th:src="@{/resources/js/select2.full.js}"></script>
		<script th:inline="javascript">
			var isprocess = false;
			var height = screen.height;
			var height1 = $('#welcomeText').height();
			var status = [[${status}]];
			var days = [[${days}]];
			
			var urlpending = [[@{/getAllCodeDesc}]];
			var urlallpending = [[@{/MyPendingCase}]];
			$('#welcomeText').css({
				paddingTop: (height - 70 - (height1 / 2)) / 2 + 'px'
			});
			$('#welcomeText').css({
				minHeight: height / 2 + 'px'
			});

			var pwdExpired = /*[[${isExpiredSoon}]]*/ '';
			var ctx = /*[[@{/}]]*/ '';

			if (pwdExpired) {
				showModalDialog.show(pwdExpired, ctx);
			}
			$(document).ready(function () {
				SelectCodeDesc();
				$(".select2_single").select2({
						dropdownParent: $('#advance-search'),
						placeholder: "Select Agent Number",
			         	allowClear: true
			     });
				// Table Status
				$.ajax({
					url: /*[[@{/getAllPendingSummary}]]*/,
					type: 'get',
					data: { summaryby: 'code'},
					success: function(result) {
						var totalape = 0;
						var dataSet = JSON.parse(result);
						var dataSetTmp = [];
						$.each(dataSet, function( key, value) {
							if(value[0] == "refreshtime" || value[0] == "totalpending") {
								
							} else {
								dataSetTmp.push({"0": value[0], "1": value[1], "2": value[2], "3": value[3]})
							}
						});
						var table = $('#status_grid').DataTable();
						table.destroy();
						table = $('#status_grid').DataTable({
							data: dataSetTmp,
							dom: 'TC<"clearfix"><"left"f>rt<"bottom"ip>',
							"columns": [{
									data: '0'
								},
								{
									data: '1'
								},
								{
									data: '2',
									render: $.fn.dataTable.render.number( ',', '.', 2 )
								},
								{
									data: '3'
								}
							],
							"columnDefs": [
							               {
							            	   "targets": 0,
							            	   	createdCell: function (td, cellData, rowData, row, col) {
							            	   		var btnDetail = $(td);
							            	   		$(td).css('cursor', 'pointer');
							            	   		$(btnDetail).click(function (e) {
							            	   			var status = $(this).text().trim();
							            	   		  	var tablapsed = $('#mypending_grid').dataTable();
								            	  	    if(status != null) {
								            	  	    	tablapsed.fnFilter(status);
								            	  	    } else {
								            	  	    	tablapsed.fnFilter('');
								            	  	    }
								            	  	  	$('html, body').animate({
								            	        	scrollTop: $("#move-filter").offset().top
								            	      	}, 500);
							            	   		});
												} 
							               },
							               { 
							            	   className: "currency", 
							            	   "targets": 2,
							            	   createdCell: function (td, cellData, rowData, row, col) {
													totalape += cellData * 1;
												} 
							               },
							               { className: "middle-algin", "targets": [1] }
							             ],
							"fnDrawCallback": function (oSettings, json) {
								//showLoading(false);
							}
						});
						$('#status_grid').on( 'draw.dt', function () {
						    var info = table.page.info();
						    var arr = $('#status_grid_info').text().trim().split('-');
						    $('#status_grid_info').html(arr[0] + "- (APE = $ "+ (totalape * 1).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+")");
						} );
						var arr = $('#status_grid_info').text().trim().split('-');
						$('#status_grid_info').html(arr[0] +" - (APE = $ "+ (totalape * 1).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+")");
					}
				});
				//End Table Status
				// Table Branch
				$.ajax({
					url: [[@{/getAllPendingSummary}]],
					type: 'get',
					data: { summaryby: 'branch'},
					success: function(result) {
						var totalape = 0;
						var dataSet = JSON.parse(result);
						var table = $('#branch_grid').DataTable();
						table.destroy();
						table = $('#branch_grid').DataTable({
							data: dataSet,
							dom: 'TC<"clearfix"><"left"f>rt<"bottom"ip>',
							"columns": [{
									data: '0'
								},
								{
									data: '1'
								},
								{
									data: '2'
								},
								{
									data: '3',
									render: $.fn.dataTable.render.number( ',', '.', 2 )
								}
							],
							"columnDefs": [
							               { 
							            	   className: "currency",
							            	   "targets": [3] ,
							            	   createdCell: function (td, cellData, rowData, row, col) {
													totalape += cellData * 1;
												} 
							               },
							               { className: "middle-algin", "targets": [2] }
							             ],
							"fnDrawCallback": function (oSettings, json) {
								//showLoading(false);
							}
						});
						$('#branch_grid').on( 'draw.dt', function () {
						    var info = table.page.info();
						    var arr = $('#branch_grid_info').text().trim().split('-');
						    $('#branch_grid_info').html(arr[0] + "- (APE = $ "+ (totalape * 1).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+")");
						} );
						var arr = $('#branch_grid_info').text().trim().split('-');
						$('#branch_grid_info').html(arr[0] +" - (APE = $ "+ (totalape * 1).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+")");
					}
				});
				// End Table Branch
				// Table Agent
				$.ajax({
					url: [[@{/getAllPendingSummary}]],
					type: 'get',
					data: { summaryby: 'agent'},
					success: function(result) {
						var totalape = 0;
						var dataSet = JSON.parse(result);
						var table = $('#agent_grid').DataTable();
						table.destroy();
						table = $('#agent_grid').DataTable({
							data: dataSet,
							dom: 'TC<"clearfix"><"left"f>rt<"bottom"ip>',
							"columns": [{
									data: '0'
								},
								{
									data: '1'
								},
								{
									data: '2'
								},
								{
									data: '3',
									render: $.fn.dataTable.render.number( ',', '.', 2 )
								}
							],
							"columnDefs": [
							               { 
							            	   className: "currency",
							            	   "targets": [3] ,
							            	   createdCell: function (td, cellData, rowData, row, col) {
													totalape += cellData * 1;
												} 
							               },
							               { className: "middle-algin", "targets": [2] }
							             ],
							"fnDrawCallback": function (oSettings, json) {
								//showLoading(false);
							}
						});
						$('#agent_grid').on( 'draw.dt', function () {
						    var info = table.page.info();
						    var arr = $('#agent_grid_info').text().trim().split('-');
						    $('#agent_grid_info').html(arr[0] + "- (APE = $ "+ (totalape * 1).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+")");
						} );
						var arr = $('#agent_grid_info').text().trim().split('-');
						$('#agent_grid_info').html(arr[0] +" - (APE = $ "+ (totalape * 1).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+")");
					}
				});
				// End Table Agent
			});

			$('#btnSearch').click(function () {
				SelectListPending();
			});

			function SelectCodeDesc() {
				$.ajax({
					url: urlpending,
					type: 'get',
					success: function (result) {
						var dataSet = JSON.parse(result);
						var tabcodedecs = "";
						$.each(dataSet, function (key, value) {
							tabcodedecs += '<tr><td>' + value.code + '</td><td>' + value.codeDesc + '</td><td>' + value.codeDetail +
								'</td></tr>';
						});
						$('#codedesc_grid>tbody').append(tabcodedecs);
					}
				});
			}

			function SelectPendingDetail(detail) {
				$.ajax({
					url: urlallpending,
					type: 'get',
					data: detail,
					success: function (result) {
						var dataSet = JSON.parse(result);
						var tabdetail = "";
						$.each(dataSet, function (key, value) {
							tabdetail += '<tr><td>Policy Number</td><td>' + value.chdrNum + '</td></tr>' +
								'<tr><td>Application Number</td><td>' + value.appNum + '</td></tr>' +
								'<tr><td>Policy Owner</td><td>' + value.poName + '</td></tr>' +
								'<tr><td>APE ($USD)</td><td>' + value.chdrApe + '</td></tr>' +
								'<tr><td>Pending Status</td><td>' + value.pendingStatus + '</td></tr>' +
								'<tr><td>Pending Reason</td><td>' + value.pendingReason + '</td></tr>' +
								'<tr><td>Pending Period</td><td>' + value.pendingPeriod + '</td></tr>' +
								'<tr><td>Not-token-up(NTU) Date:</td><td>' + value.ntuDate + '</td></tr>' +
								'<tr><td>Agent Number</td><td>' + value.agntNum + '</td></tr>' +
								'<tr><td>Agent Name</td><td>' + value.agntName + '</td></tr>' +
								'<tr><td>Submission Date</td><td>' + value.chdrKeyDate + '</td></tr>' +
								'<tr><td>Penal Doctor</td><td>' + value.penalDoctor + '</td></tr>' +
								'<tr><td>Agent Phone</td><td>' + value.agntPhone + '</td></tr>';
						});
						$('#detail_grid>tbody').html(tabdetail);
					}
				});
			}
			
			function SelectListPending() {
				if (isprocess == true) {
					return;
				}
				$('.right_col').loading({
					message: 'Loading Please wait...'
				});
				isprocess = true;
				var obj = {
					chdrnum: $('#policynumber').val(),
					appnum: $('#applicationnumber').val(),
					po_name: $('#clientname').val(),
					chdr_ape: $('#ape').val(),
					chdr_apeto: $('#apeto').val(),
					chdr_apeoperator: $('#apeoperator option:selected').text(),
					status: $('#status').val(),
					po_phonenumber: $('#policyphonenumber').val(),
					agnt_num: $('#agentnumber').val(),
					agent_name: $('#agentname').val(),
					agnt_phone: $('#agentphone').val(),
					penal_doctor: $('#paneldoctor').val(),
					chdr_key_date: $('#chdrkeydate').val(),
					chdr_key_dateto: $('#chdrkeydateto').val(),
					chdr_key_dateoperator: $('#chdrkeydateoperator option:selected').text(),
					ntu_date: $('#ntudate').val(),
					ntu_dateto: $('#ntudateto').val(),
					ntu_dateoperator: $('#ntudateoperator option:selected').text(),
					pending_period: $('#pendingperiod').val(),
					pending_periodto: $('#pendingperiodto').val(),
					pending_periodoperator: $('#pendingperiodoperator option:selected').text(),
					fonum: ""
				};
				var downloadurl = [[@{/MyPendingCase/download}]];
				$.ajax({
					url: urlallpending,
					type: 'get',
					data: obj,
					success: function (result) {
						var totalape = 0;
						var dataSet = JSON.parse(result);
						var table = $('#mypending_grid').DataTable();
						table.destroy();
						table = $('#mypending_grid').DataTable({
// 							dom: 'TC<"clearfix">rtip',
							data: dataSet,
							"columns": [{
									data: 'chdrNum'
								},
								{
									data: 'appNum'
								},
								{
									data: 'chdrApe',
									render: $.fn.dataTable.render.number(",", ".", 2)
								},
								{
									data: 'pendingReason'
								},
								{
									data: 'pendingStatus'
								},
								{
									data: 'pendingPeriod'
								},
								{
									data: 'ntuDate'
								},
								{
									data: 'fupNo'
								},
								{
									data: '',
									defaultContent: '<a target="_blank" class="download-link"><span style="cursor:pointer;" class="label label-warning">Download</span></a>'
								},
								{
									data: '',
									defaultContent: '<a data-toggle="modal" id="pending-detail" style="cursor:pointer;" data-target=".bs-pending-detail-sm" ><span class="label label-danger">Detail</span></a>'
								}
							],
							columnDefs: [{
									targets: -1,
									createdCell: function (td, cellData, rowData, row, col) {
										var btnDetail = $(td).children().first();

										$(btnDetail).click(function (e) {
											var chdrnum = $(this).parent().parent().find('.chdrnum').text().trim();
											var fonum = $(this).parent().parent().find('.fonum').text().trim();
											var status = $(this).parent().parent().find('.status').text().trim();

											var detail = {
												chdrnum: chdrnum,
												appnum: $('#applicationnumber').val(),
												po_name: "",
												chdr_ape: "",
												chdr_apeto: "",
												chdr_apeoperator: "",
												status: status,
												po_phonenumber: "",
												agnt_num: "",
												agent_name: "",
												agnt_phone: "",
												penal_doctor: "",
												chdr_key_date: "",
												chdr_key_dateto: "",
												chdr_key_dateoperator: "",
												ntu_date: "",
												ntu_dateto: "",
												ntu_dateoperator: "",
												pending_period: "",
												pending_periodto: "",
												pending_periodoperator: "",
												fonum: ""
											};
											SelectPendingDetail(detail);
										});
									}
								},
								{
									targets: -2,
									createdCell: function (td, cellData, rowData, row, col) {
										var parent = $(td).parent();
										var status = $(parent.children("td")[4]).text();
										if(status.substr(0,2) !== 'ME' && status.substr(0,3) !== 'CAL' && status.substr(0,2) !== 'IS') {
											$(td).html("");
										}
										
										var btnDownload = $(td).children().first();
										$(btnDownload).click(function (e) { 
											var chdrnum = $(this).parent().parent().find('.chdrnum').text().trim();
											var fonum = $(this).parent().parent().find('.foNum').text().trim();
											var status = $(this).parent().parent().find('.status').text().trim();
											$('.download-link').attr('href', downloadurl+'?PolicyNumber='+chdrnum +'&StatusCode=' +status+'&FollowUpNumber=' +fonum);
										});
										
									}
								},
								{
									targets: 0,
									createdCell: function (td, cellData, rowData, row, col) {
										$(td).addClass('chdrnum');
									}
								},
								{
									targets: 2,
									className: "currency",
									createdCell: function (td, cellData, rowData, row, col) {
										totalape += cellData * 1;
									}
								},
								{
									targets: -3,
									createdCell: function (td, cellData, rowData, row, col) {
										$(td).css('display', 'none');
										$(td).addClass('foNum');
									}
								},
								{
									targets: 4,
									createdCell: function (td, cellData, rowData, row, col) {
										$(td).addClass('status');
									}
								},
								{ 
								            	   	targets: 6,
													createdCell: function (td, cellData, rowData, row, col) {
														var minDate = new Date('1901-01-01Z00:00:00:000');
														var cellData = new Date(cellData);
														if(cellData > minDate)
														{
															$(td).html(new Date(cellData).toLocaleDateString("en-GB"));
														}
														else
														{
															$(td).html('');
														}
													}
								               }
							],
							"fnDrawCallback": function (oSettings, json) {
								//showLoading(false);
							}
						});
						table.order([5, 'desc']).draw();
						$('#mypending_grid').on( 'draw.dt', function () {
						    var info = table.page.info();
						    var arr = $('#mypending_grid_info').text().trim().split('-');
						    $('#mypending_grid_info').html(arr[0] + "- (APE = $ "+ (totalape * 1).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+")");
						} );
						isprocess = false;
						var arr = $('#mypending_grid_info').text().trim().split('-');
						$('#mypending_grid_info').html(arr[0] +" - (APE = $ "+ (totalape * 1).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+")");
						$('.right_col').loading('stop');
					},
					error: function () {
						isprocess = false;
						$('.right_col').loading('stop');
						console.log("Error");
					}
				});
			}
		</script>
		<script th:src="@{/resources/js/validateform/mypending.js}"></script>
		<script th:src="@{/resources/js/jquery.tagsinput.js}"></script>
	</th:block>
</body>

</html>