.x_title {
	background-color: #ed1b2e;
	color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
}
.comment-text {
	background-color: #f1f1f1;
	padding: 15px 30px;
}
.lgi-heading {
	color: #000;
	font-weight: bold;
}
.currency {
	text-align: right !important;
}

.middle-algin {
	text-align: center !important;
}
.advance-search {
	width: 100%;
	margin-top: 20px;
}
.lbl-advance-search {
	width: 80%;
	float: left;
}
.label-tag {
	margin-right: 10px;
	padding: 7px;
	font-size: 12px;
	cursor: pointer;
}
.txt-advance-search {
	width: 20%;
	float: right;
}
	.btn-advance-search {
		/* float: right; */
	}
.advance-search::after, .lbl-advance-search::after, .txt-advance-search::after {
	clear: both;
	content: '';
	display: block;
}
.tagsinput {
	height: 100% !important;
	min-height: 100% !important;
	border: 0px;
}

.tag:after {
	display: none;
}
.tag:hover {
	cursor: pointer;
}
.panel-advance-search {
	padding: 0px;
}
.select2-container {
	width: 100% !important;	
}