.lbl-color {
	background-color: rgba(63, 81, 181, 0.75);
}
.modal-header, .table-header {
	background-color: #ed1b2e;
	color: #FFFFFF;
}

.x_title, .x_title a, .x_title a ul i {
	background-color: #ed1b2e;
	color: #FFFFFF;
	margin-bottom: 0;
}

.pending-dashboard {
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background-clip: padding-box;
}
.pending-dashboard:hover {
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.14);
	transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.pending-icon-left-pendingcase {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	background-color: rgba(238, 110, 115, 0.75);
	border: 6px solid rgba(238, 110, 115, 0.3);
}

.pending-icon-left-ape {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	background-color: rgba(63, 81, 181, 0.75);
    border: 6px solid rgba(63, 81, 181, 0.3);
}

.pending-icon {
	font-size: 32px;
	color: #ffffff !important;
	line-height: 68px;
}

.chart, .chart-persistency {
	width: 80px !important;
	height: 80px !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.percent {
	line-height: 84px !important;
}
.table-striped > tbody > tr:nth-of-type(odd) {	
	background-color: #D9EDF7 !important;
}
.span-cursor {
	cursor: pointer;
}
.showIssuePolicyDetail , .showSubmissionPolicyDetail {
	cursor: pointer;
}

#tbl-pending-case th, #tbl-pending-case tr td,
#table-submissionandissue th, #table-submissionandissue tr td,
#table-submission th, #table-submission tr td,
#table-netissue th, #table-netissue tr td{
	text-align: center;
	vertical-align: top;
}
.currency {
	text-align: right !important;
}
.pru-percent {
	text-align: center !important;
}

.font-mypending {
  		font-size: 24px;
}

.x_content {
	padding: 10px;
	margin:0;
}

.margin-table {
	margin: 0px 10px;
}

.list-subandissue {
	background-color: #FFF; color: #000;
}
.list-subandissue:hover {
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.14);
	transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ul-persisten {
	text-align: right; 
	float: right;
}
.ul-persisten li {
	padding-right: 60px;
}

.title-sub-and-issuance {
	padding-top: 14px;
    font-size: 15px;	
}
.x_panel {
	padding: 0px;
}

/* ==============ibox============== */
.ibox-title {
	background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 0 10px 0;
    min-height: 48px;
}
.ibox-title h5 {
	display: inline-block;
    font-size: 14px;
    padding: 0;
    text-overflow: ellipsis;
    padding: 5px 10px;
}
.ibox-content {
	background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 10px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-content-detail-left {
	display: inline-block;
    width: 49%;
    border-right: 1px solid #f1f1f1;
    text-align: right;
    padding-right: 20px;
}
	.ibox-content-detail-left p {
		font-size: 14px;
	}
	.ibox-content-detail-left h1 {
		font-size: 22px;
		font-weight: bold;
	}
.ibox-content-detail-right {
	display: inline-block;
    width: 49%;
    text-align: right;
}
	.ibox-content-detail-right p {
		font-size: 14px;
	}
	.ibox-content-detail-right h1 {
		font-size: 22px;
		font-weight: bold;
	}
	.x_content_remove_padding {
		padding: 10px;
	}
	.ibox-content-detail-4-chart {
		display: inline-block;
	    width: 24%;
	    text-align: center;
	    padding-right: 20px;
	}
	.ibox-content-detail-4-left {
		display: inline-block;
	    width: 24%;
	    border-right: 1px solid #f1f1f1;
	    text-align: right;
	    padding-right: 20px;
	}
		.ibox-content-detail-4-left p {
			font-size: 14px;
		}
		.ibox-content-detail-4-left h1 {
			font-size: 22px;
			font-weight: bold;
		}
	.ibox-content-detail-4-right {
		display: inline-block;
	    width: 24%;
	    text-align: right
	}
	.ibox-content-detail-4-right p {
		font-size: 14px;
	}
	.ibox-content-detail-4-right h1 {
		font-size: 22px;
		font-weight: bold;
	}
	canvas {
		height: 70px !important;
		width: 70px !important;
	}
	.chart canvas {
	    position: absolute;
	    top: 5px;
	    left: 2px;
	}
	
	.ibox-content-detail-3-chart {
		display: inline-block;
	    width: 33%;
	    text-align: center;
	}
	.ibox-content-detail-3-left {
		display: inline-block;
	    width: 33%;
	    border-right: 1px solid #f1f1f1;
	    text-align: right;
	    padding-right: 20px;
	}
		.ibox-content-detail-3-left p {
			font-size: 14px;
		}
		.ibox-content-detail-3-left h1 {
			font-size: 22px;
			font-weight: bold;
		}
	.ibox-content-detail-3-right {
		display: inline-block;
	    width: 33%;
	    text-align: right
	}
	.ibox-content-detail-3-right p {
		font-size: 14px;
	}
	.ibox-content-detail-3-right h1 {
		font-size: 22px;
		font-weight: bold;
	}
	.label-pending {
		margin-right: 8px;
	}
@media (max-width: 1366px) {
    .font-mypending {
  		font-size: 20px;
	}
	.ibox-title {
	background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 0 10px 0;
    min-height: 42px;
	}
	.ibox-title h5 {
		display: inline-block;
	    font-size: 12px;
	    padding: 0;
	    text-overflow: ellipsis;
	    padding: 4px 7px;
	}
	.ibox-content {
		background-color: #ffffff;
	    color: inherit;
	    padding: 15px 20px 10px 20px;
	    border-color: #e7eaec;
	    border-image: none;
	    border-style: solid solid none;
	    border-width: 1px 0;
	}
	
	.ibox-content-detail-left {
		display: inline-block;
	    width: 49%;
	    border-right: 1px solid #f1f1f1;
	    text-align: right;
	    padding-right: 20px;
	}
		.ibox-content-detail-left p {
			font-size: 12px;
		}
		.ibox-content-detail-left h1 {
			font-size: 15px;
			font-weight: bold;
		}
	.ibox-content-detail-right {
		display: inline-block;
	    width: 49%;
	    text-align: right;
	}
		.ibox-content-detail-right p {
			font-size: 12px;
		}
		.ibox-content-detail-right h1 {
			font-size: 15px;
			font-weight: bold;
		}
		.x_content_remove_padding {
			padding: 0px;
		}
	.ibox-content-detail-4-chart {
		display: inline-block;
	    width: 24%;
	    text-align: center;
	    padding-right: 20px;
	}
	.ibox-content-detail-4-left {
		display: inline-block;
	    width: 24%;
	    border-right: 1px solid #f1f1f1;
	    text-align: right;
	    padding-right: 20px;
	}
		.ibox-content-detail-4-left p {
			font-size: 12px;
		}
		.ibox-content-detail-4-left h1 {
			font-size: 14px;
			font-weight: bold;
		}
	.ibox-content-detail-4-right {
		display: inline-block;
	    width: 24%;
	    text-align: right
	}
		.ibox-content-detail-4-right p {
			font-size: 12px;
		}
		.ibox-content-detail-4-right h1 {
			font-size: 14px;
			font-weight: bold;
		}
		
	canvas {
		height: 60px !important;
		width: 60px !important;
	}
	.chart canvas {
	       position: absolute;
		    top: 10px;
		    left: 10px;
	}
	.percent {
	    font-size: 14px;
	}
	
	.ibox-content-detail-3-chart {
		display: inline-block;
	    width: 32%;
	    text-align: center;
	    padding-right: 20px;
	}
	.ibox-content-detail-3-left {
		display: inline-block;
	    width: 33%;
	    border-right: 1px solid #f1f1f1;
	    text-align: right;
	    padding-right: 20px;
	}
		.ibox-content-detail-3-left p {
			font-size: 14px;
		}
		.ibox-content-detail-3-left h1 {
			font-size: 20px;
			font-weight: bold;
		}
	.ibox-content-detail-3-right {
		display: inline-block;
	    width: 33%;
	    text-align: right
	}
		.ibox-content-detail-3-right p {
			font-size: 14px;
		}
		.ibox-content-detail-3-right h1 {
			font-size: 20px;
			font-weight: bold;
		}
}

@media (max-width: 1200px) {
    .font-mypending {
  		font-size: 24px;
	}
	.ibox-title {
	background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 0 10px 0;
    min-height: 48px;
}
.ibox-title h5 {
	display: inline-block;
    font-size: 14px;
    padding: 0;
    text-overflow: ellipsis;
    padding: 5px 10px;
}
.ibox-content {
	background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 10px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-content-detail-left {
	display: inline-block;
    width: 49%;
    border-right: 1px solid #f1f1f1;
    text-align: right;
    padding-right: 20px;
}
	.ibox-content-detail-left p {
		font-size: 14px;
	}
	.ibox-content-detail-left h1 {
		font-size: 22px;
		font-weight: bold;
	}
.ibox-content-detail-right {
	display: inline-block;
    width: 49%;
    text-align: right;
}
	.ibox-content-detail-right p {
		font-size: 14px;
	}
	.ibox-content-detail-right h1 {
		font-size: 22px;
		font-weight: bold;
	}
	.x_content_remove_padding {
	padding: 10px;
	}
}

