.col-sm-5{ vertical-align: middle;  }

label{ font-size:12px;}

.headline hr{margin-top:-3px;}

.control-label{margin:0px;}

.required-mark{color:red;}
	
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background: #ED1B2E;
	color: #FFFFFF;
}
.referral-approach {
	padding-top:10px;
	padding-bottom:5px;
	background:#EEEEEE;
	border-radius:5px;
}
.customer-info {
	padding-top:10px;
	padding-bottom:10px;
	background:#F0F0F0;
	border-radius:5px;
}
.error-form {
	border:1px solid #ccc; 
	padding:5px; 
	padding-top:10px;
	border-radius:5px;
}
.error-layout {
	font-size:12px;
	font-weight: bold;
}
.edit-title {
	height:20px;
	background:#ED1D2E;
	border-radius:5px;
}
.red {
	color:red;
}
.white {
	color:white;
}
.upercase {
	text-transform:uppercase;
}
.pruden-color {
	background-color: #ED1B2E;
}
.pruden-color-font {
	color: #ED1B2E;
}