.tagsinput {
	height: 100% !important;
	min-height: 100% !important;
	border: 0px;
}

.tag:after {
	display: none;
}

.x_title {
	background-color: #ed1b2e;
	color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
}

.pending-tr {
	background-color: #ed1b2e;
	color: #FFFFFF;
}

.btn-search {
	background-color: #FFFFFF;
	color: #ed1b2e;
	border: 1px solid #ed1b2e;
	padding: 6px 12px !important;
}

.btn-search:hover {
	background-color: #ed1b2e;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.modal-header {
	background-color: #ed1b2e;
	color: #FFFFFF;
}

.tag:hover {
	cursor: pointer;
}
.select2-container {
	width: 100% !important;
}

#mypending_grid th, #mypending_grid tr td {
	text-align: center;
	vertical-align: top;
}

.currency {
	text-align: right !important;
}

.middle-algin {
	text-align: center !important;
}
.dataTables_filter {
	width: auto !important;
}

/* .disable-over { */
/*     overflow-x: visible !important; */
/* } */