.col-sm-5 {
		vertical-align: middle;
	}
label {
	font-size: 12px;
}
.headline hr {
	margin-top: -3px;
}
.control-label {
	margin: 0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	background: #ED1B2E;
	color: #FFFFFF;
}
.layout-form {
	border: 1px solid #ccc; padding: 5px; padding-top: 10px; border-radius: 5px;
}
.error-font {
	font-size: 12px;
	font-weight: bold;
}
.dishidden {
	display:none;
}
.pru-color {
	background-color: #ED1B2E;
}
.tab-disable {
	pointer-events: none;	
}
