		 @media print {
		 	.button{
		 		display:none;
		 	}
		 }
		
		.Pru{
        	font-family: 'Open Sans' Helvetica, sans-serif;
        	letter-spacing:-0.5px;color:#EE1B2E;
        	font-size:10px;text-transform: uppercase;
        }
        .product{
        	font-family: Times New Roman, Helvetica, sans-serif;
        	text-transform: lowercase; 
        	font-size:15px;color:black;
        }
        
@font-face {
    font-family: 'Kh-Metal-Chrieng';
    src: url(../fonts/Kh-Metal-Chrieng.eot);
	src: url(../fonts/Kh-Metal-Chrieng.eot?#iefix) format('embedded-opentype'),
		url(../fonts/Kh-Metal-Chrieng.woff2) format('woff2'),
		url(../fonts/Kh-Metal-Chrieng.woff) format('woff'),
		url(../fonts/Kh-Metal-Chrieng.ttf) format('truetype'),
		url(../fonts/Kh-Metal-Chrieng.svg) format('svg');
		font-weight: normal;
		font-style: normal;
}