<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!-- page content -->
			<div class="right_col" role="main" layout:fragment="pageContent">
				<style>
					.nomargin {
					padding-left: 0 !important;
					}

					.no-gutter>[class*='col-'] {
					padding-right: 0;
					padding-left: 0;
					}
				</style>
				<div class="content-panel">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>Upselling and Cross Selling Information</h2>
						
									<div class="clearfix"></div>
								</div>
			
								<div style="overflow-x:auto;">
									<table id="upselling_crossselling_grid"
									class="table table-striped table-advance table-hover">
									<thead>
										<tr>
											<th style="display: none;">objKey</th>
											<th>Agent Code</th>
											<th>Agent Name</th>
											<th>Policy Number</th>
											<th>Customer Name</th>
											<th>Gender</th>
											<th>Phone Number-1</th>
											<th>Phone Number-2</th>
											<th>Marital Status</th>
											<th>No of Children</th>
											<th>Occupation</th>
											<th>Monthly Income</th>
											<th>Issued date</th>
											<th>BDM Code</th>
											<th>BDM Name</th>
											<th>Branch Sold Code</th>
											<th>APE</th>
											<th>SA</th>
											<th>UAB</th>
											<th>Policy Transfer Status</th>
											<th>Approach Status</th>
											<th style="display: none;">chdrStatus</th>
											<th style="display: none;">Customer Age</th>
											<th style="display: none;">Income Rank</th>
											<th style="display: none;">rId</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- /page content -->
		</div>
	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
		var urlgetupsellingandcrossselling = [[@{/getallupsellingandcrossselling}]];
		var urlreferral = [[@{/newapproach}]]; 
		var pwdExpired = /*[[${isExpiredSoon}]]*/ '';
		var ctx = /*[[@{/}]]*/ '';
		if (pwdExpired) {
			showModalDialog.show(pwdExpired, ctx);
		}
	</script>
		<script th:src="@{/resources/js/jquery.loading.min.js}"></script>
		<script th:src="@{/resources/js/validateform/upsellingandcrossselling.js}"></script>
		<script th:src="@{/resources/js/pruDialog.js}"></script>
	</th:block>
</body>
</html>