<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<style>
					.col-sm-5{ vertical-align: middle;  }
					label{ font-size:12px;}
					.headline hr{margin-top:-3px;}
					.control-label{margin:0px;}
					
				</style>
				<th:block th:each="lstRef : ${listReferral}">
					<div class="content-panel" >                 	
	                 	<div class="row">
	                  	<div class="col-sm-6">
	                  	</div> 
	                  	</div>
	                 	<div style="border:1px solid #ccc; padding:5px; padding-top:10px;border-radius:5px;">                              	      				     	        		
		                  	 <form th:object="${pruquoteparm}" onsubmit="return checkSubmit();">
		                  	   <div th:if="${errors} != null" class="alert alert-warning" role="alert">
									<ul>
										<li th:each="error : ${errors}"
											th:text="${error.code}"></li>
									</ul>
						 		</div>
		                  	  	<div class="row space4">
		                  	  		<div class="col-sm-12 form-group fixed-form-control" style="color:red;">
			                        	<p id="Err" style="font-size:12px;"></p>
			                        </div>  
			                    </div>               	  	
		                  	  	<div class="row space4">                  	  	
			                  	  	<div class="col-sm-6 form-group fixed-form-control" style="display:none">
			                        	<label for="id" class="col-sm-5 control-label">Auto No:</label>    
			                        	<div class="col-sm-7">
			                        		<input type="text" readonly="true" class="form-control"  th:field="*{id}" htmlEscape="true"/>
			                        	</div>  
			                        </div>  
			                        <div class="col-sm-6 form-group fixed-form-control">
			                        	<label for="item" class="col-sm-5 control-label">Referral Create date:<span class="required-mark">*</span></label>    
			                        	<div class="col-sm-7">
			                        		<input id="trndatetime" name="trndatetime" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true" th:value="${lstRef[13]}"/>
			                        	</div>  
			                        </div>	
		                        </div>
		                        <div class="headline">
			                        <i><b>Customer Information</b></i>
			                        <hr/>
		                        </div>
		                        <div class="row space4">                  	  	
			                  	  	<div class="col-sm-6 form-group fixed-form-control">
			                        	<label for="id" class="col-sm-5 control-label">Customer Name<span class="required-mark">*</span></label>    
			                        	<div class="col-sm-7">
			                        		<input type="text" class="form-control" id="cusname" name="cusname" htmlEscape="true" style="text-transform:uppercase;" th:value="${lstRef[1]}"/>
			                        	</div>  
			                        </div>  
			                        <div class="col-sm-6 form-group fixed-form-control">
			                        	<label for="item" class="col-sm-5 control-label">Phone Number<span class="required-mark" >*</span></label>    
			                        	<div class="col-sm-7">
			                        		<input type="text" class="form-control" id="cusphone" name="cusphone" htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' th:value="${lstRef[2]}"/>
			                        	</div>  
			                        </div>	
		                        </div>
		                        
		                        <div class="headline"  style="margin-top:10px;">
		                        	<i><b>Referrals/Approaches</b></i>
		                        	<hr/>
		                        </div>
		                        <div class="row space4">                  	  	
			                  	  	<div class="col-sm-6 form-group fixed-form-control">
			                        	<label for="id" class="col-sm-5 control-label"> Referral Type</label>    
			                        	<div class="col-sm-7">
			                        		<select class="form-control" id="rtype" name="rtype">
			                        			<option value="0"><i>Select Referral Type</i></option>
			                        			<th:block th:each="rType : ${rType}">
			                        				<option th:value="${rType[0]}" th:text="${rType[1]}" th:selected="${rType[0]} == ${lstRef[3]}"></option>
			                        			</th:block>
			                        		</select>
			                        	</div>  
			                        </div>  
			                        <div class="col-sm-6 form-group fixed-form-control">
			                        	<label for="item" class="col-sm-5 control-label">Date</label>    
			                        	<div class="col-sm-7">
			                        		<input id="rdate" name="rdate" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true" th:value="${lstRef[5]}"/>
			                        	</div>  
			                        </div>	
		                        </div>
		                        <div class="headline">
			                        <i><b>Sales Presentation</b></i>
			                        <hr/>
		                        </div>
		                        <div class="row space4">                  	  	
			                  	  	<div class="col-sm-6 form-group fixed-form-control">
			                        	<label for="id" class="col-sm-5 control-label">Successful Appointment</label>    
			                        	<div class="col-sm-7">
			                        		<select class="form-control" id="sucappstatus" name="sucappstatus">
		                        				<option value="No" th:selected="${lstRef[6]} == 'No'">No</option>
		                        				<option value="Yes" th:selected="${lstRef[6]} == 'Yes'">Yes</option>
			                        		</select>
			                        	</div>  
			                        </div>  
			                        <div class="col-sm-6 form-group fixed-form-control">
			                        	<label for="item" class="col-sm-5 control-label">Date</label>    
			                        	<div class="col-sm-7">
			                        		<input id="sucappdate" name="sucappdate" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true" th:value="${lstRef[7]}"/>
			                        	</div>  
			                        </div>
			                    </div>
		                        <div class="headline">
			                        <i><b>Closed Sales</b></i>
			                        <hr/>
		                        </div>
		                        <div class="row space4">                  	  	
			                  	  	<div class="col-sm-6 form-group fixed-form-control">
			                        	<label for="id" class="col-sm-5 control-label">Successful Sales</label>    
			                        	<div class="col-sm-7">
			                        		<select class="form-control" id="sucsalestatus" name="sucsalestatus">
			                        				<option value="No" th:selected="${lstRef[8]} == 'No'">No</option>
			                        				<option value="Yes" th:selected="${lstRef[8]} == 'Yes'">Yes</option>
			                        		</select>
			                        	</div>  
			                        </div>  
			                        <div class="col-sm-6 form-group fixed-form-control">
			                        	<label for="item" class="col-sm-5 control-label">Date</label>    
			                        	<div class="col-sm-7">
			                        		<input id="sucsaledate" name="sucsaledate" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true" th:value="${lstRef[9]}"/>
			                        	</div>  
			                        </div>
			                    </div>
		                        <hr/>
		                        <div class="row space4">                  	  	
			                  	  	 
			                        <div class="col-sm-6 form-group fixed-form-control">
			                        	<label for="item" class="col-sm-5 control-label">APE</label>    
			                        	<div class="col-sm-7">
			                        		<input type="text" class="form-control" id="ape" name="ape" htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' th:value="${lstRef[10]}"/>
			                        	</div>  
			                        </div>
			                        <div class="col-sm-6 form-group fixed-form-control">
			                        	<label for="id" class="col-sm-5 control-label">Existing Customer</label>    
			                        	<div class="col-sm-7">
			                        		<select class="form-control" id="exiscusstatus" name="exiscusstatus">
			                        				<option value="No" th:selected="${lstRef[11]} == 'No'">No</option>
			                        				<option value="Yes" th:selected="${lstRef[11]} == 'Yes'">Yes</option>
			                        		</select>
			                        	</div>  
			                        </div> 
			                    </div>
		                        <div class="row space4" style="display:none;">                  	  	
			                  	  	<div class="col-sm-4 form-group fixed-form-control" style="display:none;">
			                        	<label for="id" class="col-sm-6 control-label">ValidFlag</label>    
			                        	<div class="col-sm-6">
			                        		<input type="text" value="1"  Class="form-control"  id="validFlag" name="validFlag" htmlEscape="true"  maxlength="1"/>
			                        		
			                        	</div>
			                        </div>
			                        <div class="col-sm-4 form-group fixed-form-control">  
			                        	<label for="item" class="col-sm-6 control-label">User</label>    
			                        	<div class="col-sm-6">
			                        		<input type="text" class="form-control" id="coUser" name="coUser"  htmlEscape="true"/>
			                        	</div>
			                        </div>
			                    </div>

		                        <div class="row space5">                 
		                        <div class="form-group fixed-form-control col-sm-12 btNotFixed" >
		                        	<div class="col-sm-12">
			                            <button  type="submit" class="btn btn-danger" name="btnsave">Save</button>
			                        </div>
		                         </div>
								 </div>
							 </form>
		                 </div>
	  				</div>
				</th:block>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript" th:src="@{/resources/js/validateform/referral.js}"></script>
		<script th:inline="javascript">
			$(document).ready(function(){
				var url=/*[[@{{url}(url=${session.previewurl})}]]*/'';
				
				if(url)
				{
// 					<c:url value="${ sessionScope.previewurl }" var="urlFinal" />							
					var winHeight="innerHeight" in window 
		               				? window.innerHeight
		                       : document.documentElement.offsetHeight; 	
// 		            <c:set value="" scope="session" var="previewurl" />																	
		            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
		            	var popup=window.open(url,"_blank");
		            	if(!popup || popup.closed || typeof popup.closed=='undefined') 
		            	{ 
		            	    //POPUP BLOCKED
		           	     	alert('Please enable popup blocker in setting!');
		            	}
		            }	
		            else{													
						var popup=window.open(url ,'mywindow'+(new Date()).getTime(),'width=840,height='+winHeight+',scrollbars=yes');
						if(!popup || popup.closed || typeof popup.closed=='undefined') 
		            	{ 
		            	    //POPUP BLOCKED
		           	     	alert('Please enable popup blocker in broswer setting!');
		            	}
		            }
				}
			});
		</script>
	</th:block>
</body>
</html>