<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<style>
					.col-sm-5{ vertical-align: middle;  }
					label{ font-size:12px;}
					.headline hr{margin-top:-3px;}
					.control-label{margin:0px;}
					.required-mark{color:red;}	
					.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background: #ED1B2E;
	color: #FFFFFF;
}
				</style>
							
                 	<div class="content-panel" >                 	
                 	<div class="row">
                  	<div class="col-sm-6">
                  	</div> 
                  	</div>
                 	<div style="border:1px solid #ccc; padding:5px; padding-top:10px;border-radius:5px;">  	      				     	        		
	                  	 <form class="form-horizontal form-label-left" th:object="${referralparam}" onsubmit="return checkSubmit();" th:action="@{''}" method="post" name="form">
	                  	    <div th:if="${errors} != null" class="alert alert-warning" role="alert">
								<ul>
									<li th:each="error : ${errors}"
										th:text="${error.code}"></li>
								</ul>
					 		</div>
	                  	  	<div class="row space4">
	                  	  		<div class="col-sm-12 form-group fixed-form-control" style="color:red;">
		                        	<b><p id="Err" style="font-size:12px;"></p></b>
		                        </div>  
		                    </div>
		                    <div class="col-md-12 col-sm-12 col-xs-12" style="height:20px;background:#ED1D2E;border-radius:5px;">
                 				<i style="color:white;"><b>Edit Referral</b></i>
                 			</div>
		                    <ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" id="linkClickInfo" href="#info">Information</a></li>
								<li id="clickSale"><a data-toggle="tab" id="linkClickSale" href="#sale">Sale Activity</a></li>
 								<li><a data-toggle="tab" id="linkClickFollowup" href="#followup">Follow Up</a></li>
								<li id="clickCloseSale"><a data-toggle="tab" style="pointer-events:none;" id="linkClickCloseSale" href="#close">Close Sale</a></li>
							</ul>
							<div class="tab-content" style="margin-top: 10px;">
								<div id="info" class="tab-pane fade in active">
									<div class="form-group">                  	  	
				                  	  		<div style="display:none;">
				                  	  			<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Auto No:</label>    
					                        	<div class="col-md-6 col-sm-12 col-xs-12">
					                        		<input type="text" readonly="readonly" Class="form-control"   th:field="*{rID}" htmlEscape="true"/>
					                        	</div>
				                  	  		</div>
<!-- 				                        	<label for="item" class="control-label col-md-2 col-sm-12 col-xs-12"><b>Referral create date:</b><span class="required-mark">*</span></label>     -->
<!-- 				                        	<div class="col-md-2 col-sm-12 col-xs-12"> -->
<!-- 				                        		<input id="cdate" th:field="*{cdate}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control col-md-7 col-xs-12"  htmlEscape="true"/> -->
				                        	    
<!-- 				                        	</div>   -->
				                        	<label for="id" class="control-label col-md-2 col-sm-3 col-xs-12">Existing Customer</label>    
				                        	<div class="col-md-2 col-sm-12 col-xs-12">
				                        		<select class="form-control col-md-7 col-xs-12" id="exisCusStatus" th:field="*{exisCusStatus}" >
			                        				<option value="No">No</option>
			                        				<option value="Yes">Yes</option>
				                        		</select>
				                        	</div>  
				                    </div>
				                    <div class="headline">
			                        	<i><b style="color:#ED1B2E;">&nbsp;Referrals& Approaches</b></i>
			                        </div>
			                        <div style="padding-top:10px;padding-bottom:5px;background:#EEEEEE;border-radius:5px;">                  	  	
				                  	  	<div class="form-group">
				                  	  		<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label"> Referral Type <span class="required-mark">*</span></label>    
				                        	<div class="col-md-2 col-sm-12 col-xs-12">
				                        		<select class="form-control col-md-12 col-sm-12 col-xs-12" id="rType" th:field="*{rType}">
				                        			<option value="0">Select Referral Type</option>
				                        			<th:block th:each="rType : ${rType}">
				                        				<option th:value="${rType[0]}" th:text="${rType[1]}"></option>
				                        			</th:block>
				                        		</select>
				                        	</div>
				                        	<label for="item" class="col-md-1 col-sm-12 col-xs-12 control-label">Date</label>    
				                        	<div class="col-md-1 col-sm-12 col-xs-12">
				                        		<input id="rDate" th:field="*{rDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control col-md-12 col-sm-12 col-xs-12" readonly  htmlEscape="true"/>
				                        	</div>
				                        	<label for="item" class="col-md-1 col-sm-12 col-xs-12 control-label">Branch<span class="required-mark">*</span></label>
											<div class="col-md-2 col-sm-12 col-xs-12">
												<select class="select2_single form-control col-md-12 col-sm-12 col-xs-12" tabindex="-1" id="branch">
													<option value="0">Branch Code - Name</option>
													<option th:each="branch : ${branchs}" th:value="${branch.branchCode}" th:text="${branch.branchCode + ' - ' + branch.branchDesc}"  th:selected="${branch.branchCode == agntBranchCode}"></option>
												</select>
											</div>
				                        	<label for="item" class="col-md-1 col-sm-12 col-xs-12 control-label">Introducer <span class="required-mark">*</span></label>    
				                        	<div class="col-md-2 col-sm-12 col-xs-12">
				                        	<!-- 	<select class="form-control col-md-12 col-sm-12 col-xs-12" id="referralBy" th:field="*{referralBy}">
				                        			<option value="0">Select Referrer</option>
				                        			<th:block th:each="referrer : ${referrer}">
				                        				<option th:value="${referrer[0]}" th:text="${referrer[1]}"></option>
				                        			</th:block>
				                        		</select> -->
				                        		<!-- <select disabled class="form-control col-md-12 col-sm-12 col-xs-12" id="referralBy" th:field="*{referralBy}">
				                        			<option value="0">Select Referrer</option>
				                        			<th:block th:each="referrer : ${referrer}">
				                        				<option th:value="${referrer[0]}" th:text="${referrer[1]}"></option>
				                        			</th:block>
				                        		</select> -->
				                        		<input type="hidden" id="referralByHidden" name="referralByHidden" th:field="*{referralBy}" />
				                        		<select class="select2-referrer form-control col-md-12 col-sm-12 col-xs-12" tabindex="-1" id="referralBy">
													<option value="0">Select Referrer</option>
												</select>
				                        	</div>
				                  	  	</div>
				                  	  	<div class="form-group">
				                  	  		<label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label">Remark/Referral Serial Number</label>    
				                        	<div class="col-md-10 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control" id="rRemark" th:field="*{rRemark}" htmlEscape="true" style="text-transform:uppercase;"/>
				                        	</div>
				                  	  	</div>
				                  	</div>
			                        <div class="headline">
				                        <i><b style="color:#ED1B2E;">&nbsp;Customer Information</b></i>
			                        </div>
			                        <div style="padding-top:10px;padding-bottom:10px;background:#F0F0F0;border-radius:5px;">
			                           <div class="form-group">
				                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Customer Full Name<span class="required-mark">*</span></label>    
				                        	<div class="col-md-2 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control col-md-7 col-xs-12" id="cusName" th:field="*{cusName}" htmlEscape="true" style="text-transform:uppercase;"/>
				                        	</div>  
			                       			<label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Sex<span class="required-mark" >*</span></label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12" >
						                        <select class="form-control col-md-7 col-xs-12" id="cusSex" th:field="*{cusSex}">
					                        		<option value="Male">Male</option>
					                        		<option value="Female">Female</option>
					                        	</select>
					                        </div>
					                        <label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Estimate Age<span class="required-mark" >*</span></label>    
					                        <div class="col-md-1 col-sm-12 col-xs-12">
					                        	<input type="text" class="form-control col-md-7 col-xs-12" id="cusAge" th:field="*{cusAge}"  htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
					                        </div>
					                        <div class="col-md-3 col-sm-12 col-xs-12" style="padding:0px;">
						                        <label for="id" class="control-label col-md-6 col-sm-12 col-xs-12">Marital Status<span class="required-mark">*</span></label>    
					                        	<div class="col-md-6 col-sm-12 col-xs-12" >
					                        		<select class="form-control col-md-7 col-xs-12" id="cusMStatus" th:field="*{cusMStatus}">
					                        				<option value="Married">Married</option>
					                        				<option value="Single">Single</option>
					                        				<option value="Divorce">Divorce</option>
					                        				<option value="Widow">Widow</option>
					                        				<option value="Widower">Widower</option>
					                        		</select>
					                        	</div>
				                        	</div>   
				                        </div>
				                    	<div class="form-group">
				                    		<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">#of Children <span class="required-mark">*</span></label>    
				                        	<div class="col-sm-1 col-sm-12 col-xs-12">
				                        		<select class="form-control col-md-12 col-sm-12 col-xs-12" id="cusNochd" th:field="*{cusNochd}">
					                        			<option value="0">0</option>
					                        			<option value="1">1</option>
					                        			<option value="2">2</option>
					                        			<option value="3">3</option>
					                        			<option value="4">4</option>
					                        			<option value="5">5</option>
					                        			<option value="6">6</option>
					                        			<option value="7">7</option>
					                        			<option value="8">8</option>
					                        			<option value="9">9</option>
					                        			<option value="10">10</option>
					                        	</select>
<!-- 				                        		<input type="text" class="form-control col-md-12 col-sm-12 col-xs-12" id="cusNochd"  th:field="*{cusNochd}" htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/> -->
				                        	</div>
				                        	<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label" style="display:none;">Child age > 8 years old<span class="required-mark">*</span></label>    
				                        	<div class="col-md-1 col-sm-12 col-xs-12" style="display:none;">
				                        		<select class="form-control col-md-12 col-sm-12 col-xs-12" id="cusAgeChd" th:field="*{cusAgeChd}">
					                        			<option value="0">0</option>
					                        			<option value="1">1</option>
					                        			<option value="2">2</option>
					                        			<option value="3">3</option>
					                        			<option value="4">4</option>
					                        			<option value="5">5</option>
					                        			<option value="6">6</option>
					                        			<option value="7">7</option>
					                        			<option value="8">8</option>
					                        			<option value="9">9</option>
					                        			<option value="10">10</option>
					                        	</select>
<!-- 				                        		<input type="text" class="form-control col-md-12 col-sm-12 col-xs-12" id="cusAgeChd"  th:field="*{cusAgeChd}" htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/> -->
				                        	</div>
			                        		<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Mobile Number Line(1)<span class="required-mark">*</span></label>    
				                        	<div class="col-md-2 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control" id="cusPhone" th:field="*{cusPhone}" htmlEscape="true" style="text-transform:uppercase;"/>
				                        	</div>
				                        	<label for="id" class="col-md-1 col-sm-12 col-xs-12 control-label">Occupation<span class="required-mark">*</span></label>    
				                        	<div class="col-md-2 col-sm-12 col-xs-12" >
				                        		<select class="form-control col-md-12 col-sm-12 col-xs-12" id="cusOcc" th:field="*{cusOcc}">
				                        			<option value="0">Select Occupation</option>
				                        			<th:block th:each="occupation : ${occupation}">
				                        				<option th:value="${occupation[0]}" th:text="${occupation[1]}"></option>
				                        			</th:block>
				                        		</select>
				                        	</div>   
				                        	<label class="col-md-3 col-sm-12 col-xs-12 control-label" style="display:none;">Mobile Number Line(2)</label> 
				                        	<div class="col-md-3 col-sm-12 col-xs-12" style="display:none;">
				                        		<input type="text" class="form-control" id="cusPhone2" th:field="*{cusPhone2}" htmlEscape="true" style="text-transform:uppercase;"/>
				                        	</div>
				                        </div>
				                    	<div class="form-group">
				                    		<label for="id" class="col-md-1 col-sm-12 col-xs-12 control-label" style="display:none;">Facebook</label>    
				                        	<div class="col-md-2 col-sm-12 col-xs-12" style="display:none;">
				                        		<input type="text" class="form-control" id="cusFacebook" th:field="*{cusFacebook}" htmlEscape="true" style="text-transform:uppercase;"/>
				                        	</div> 
				                        	<label for="id" class="col-md-1 col-sm-12 col-xs-12 control-label" style="display:none;">E-mail</label>    
				                        	<div class="col-md-3 col-sm-12 col-xs-12" style="display:none;">
				                        		<input type="text" class="form-control" id="cusEmail" th:field="*{cusEmail}" htmlEscape="true" style="text-transform:uppercase;"/>
				                        	</div>
				                    	</div>
				                    </div>
				                    <br/>
				                    <div style="padding-top:10px;padding-bottom:10px;background:#F0F0F0;border-radius:5px; display:none;">
				                    	<div class="form-group"> 
				                    		<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Customer Approach</label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12">
					                        	<select disabled class="form-control" id="cusAprStatus" th:field="*{cusAprStatus}">
					                        			<option value="No">No</option>
				                        				<option value="Yes">Yes</option>
					                        	</select>
					                        </div>
					                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Date of Approach</label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12">
					                        	<input readonly id="cusAprDate" th:field="*{cusAprDate}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control col-md-7 col-xs-12"  htmlEscape="true"/>
					                        </div>
					                    </div>
				                    </div>
			                        <div class="headline">
										<i><b style="color: #ED1B2E;">&nbsp; Other Service</b></i>
									</div>
									<div style="padding-top: 10px; padding-bottom: 10px; background: #F0F0F0; border-radius: 5px;">
										<div class="row">
											<div class="col-md-offset-1 col-md-10">
												<table class="table">
													<thead>
														<tr>
															<th colspan="2">Bank Product Introduced by FC</th>
															<th>Comment</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="acbproduct : ${acbProducts}">
															<td>
																<span th:text="${acbproduct.shortDesc}"></span>
																<input type="hidden" th:value="${acbproduct.id}" th:id="${#strings.replace('productname-' +acbproduct.shortDesc,' ','')}"  />
															</td>
															<td>
																<select class="form-control col-md-12 col-sm-12 col-xs-12" th:id="${#strings.replace('cusappby-' +acbproduct.shortDesc,' ','')}">
																	<option value=""></option>
																	<option value="Yes" th:selected="${acbproduct.cusApproach.equalsIgnoreCase('Yes')}">Yes</option>
																	<option value="No" th:selected="${acbproduct.cusApproach.equalsIgnoreCase('No')}">No</option>
																</select>
															</td>
															<td>
																<select class="form-control col-md-12 col-sm-12 col-xs-12" th:id="${#strings.replace('comment-' + acbproduct.shortDesc,' ','')}">
																	<option value="0"></option>
																	<th:block th:each="acbproductcomment : ${acbProductComments}">
																		<option th:value="${acbproductcomment.id}"
																			th:text="${acbproductcomment.comment}" th:selected="${acbproductcomment.id == acbproduct.commentid}"></option>
																	</th:block>
																</select>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div id="sale" class="tab-pane fade">
									<div class="headline" >
				                        <i><b style="color:#ED1B2E;">&nbsp;Sales Presentation</b></i>
				                    </div>
			                        <div style="padding-top:5px;padding-bottom:5px;background:#F0F0F0;border-radius:5px;">                  	  	
				                  	  	<div class="form-group">
				                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Successful Appointment</label>    
				                        	<div class="col-md-2 col-sm-12 col-xs-12">
				                        		<select class="form-control" id="sucAppStatus" th:field="*{sucAppStatus}">
				                        				<option value="No">No</option>
				                        				<option value="Yes">Yes</option>
				                        		</select>
				                        	</div>  
				                        	<label style="display:none;" for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Date</label>    
				                        	<div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
				                        		<input readonly id="sucAppDate" th:field="*{sucAppDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/>
				                        	</div>
				                       </div>
				                    </div>
				                    <div style="padding-top:5px;padding-bottom:5px;margin-top:5px;background:#F0F0F0;border-radius:5px;">
				                        <div class="form-group">
				                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Successful Presentation</label>    
				                        	<div class="col-md-1 col-sm-12 col-xs-12">
				                        		<select class="form-control" id="salSucSalPreStatus" th:field="*{salSucSalPreStatus}">
				                        				<option value="No">No</option>
				                        				<option value="Yes">Yes</option>
				                        		</select>
				                        	</div>  
				                        	<label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Date</label>
				                        	<div class="col-md-2 col-sm-12 col-xs-12">
				                        		<input readonly id="salSucSalPreDate" th:field="*{salSucSalPreDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/>
				                        	</div>
				                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Monthly Average Income<span class="required-mark">*</span></label>    
					                        <div class="col-md-1 col-sm-12 col-xs-12">
					                        		<input type="text" class="form-control" id="cusSalaryMonthly" th:field="*{cusSalaryMonthly}" value="0" htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
					                        </div>
					                         <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Annually Average Income<span class="required-mark">*</span></label>    
					                        <div class="col-md-1 col-sm-12 col-xs-12">
					                        		<input type="text" class="form-control" id="cusSalaryYearly" th:field="*{cusSalaryYearly}"  htmlEscape="true" style="text-transform:uppercase;" readonly/>
					                        </div>
				                        	<label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended Product <span class="required-mark">*</span></label>    
				                        	<div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
				                        		<select class="form-control" id="salTypRecPrd" th:field="*{salTypRecPrd}">
				                        			<option value="0">Select Product</option>
				                        			<th:block th:each="listProduct : ${listProduct}">
				                        				<option th:value="${listProduct[0].trim()}" th:text="${listProduct[1].trim()}"></option>
				                        			</th:block>
				                        		</select>
				                        	</div>
				                        	<label style="display:none;" for="salDurPre" class="control-label col-md-1 col-sm-12 col-xs-12">Duration (minutes) <span class="required-mark">*</span></label>    
				                        	<div style="display:none;" class="col-md-1 col-sm-12 col-xs-12">
				                        		<input id="salDurPre" th:field="*{salDurPre}" type="text" placeholder="#Minute" class="form-control"  htmlEscape="true" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
				                        	</div>    
				                        </div>
				                        <div class="form-group">
					                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Estimate Affordable Premium<span class="required-mark">*</span></label>    
					                        <div class="col-md-1 col-sm-12 col-xs-12">
					                        		<input type="text" class="form-control" id="salRecAffApe" th:field="*{salRecAffApe}" value="0"  htmlEscape="true" style="text-transform:uppercase;" readonly/>
					                        </div>
					                        <label for="id" class="control-label col-md-1 col-sm-12 col-xs-12">Monthly Basic Expense<span class="required-mark">*</span></label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12">
					                        		<input type="text" class="form-control" id="salMthBasExp" th:field="*{salMthBasExp}" htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
					                        </div>
					                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended Product Package<span class="required-mark">*</span></label>    
					                        <div class="col-md-1 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control" id="salRecPrdPkgUsd" th:field="*{salRecPrdPkgUsd}" htmlEscape="true" style="text-transform:uppercase;" placeholder="USD" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
					                        </div>
					                    </div>
					                    <div class="form-group">
					                        <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended SA<span class="required-mark">*</span></label>    
					                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
					                        		<input type="text" class="form-control" id="salRecSA" th:field="*{salRecSA}"  htmlEscape="true" style="text-transform:uppercase;" readonly/>
					                        </div>
					                        <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended Policy Term<span class="required-mark">*</span></label>    
					                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
					                        	<select class="form-control" id="salRecPolTerm" th:field="*{salRecPolTerm}">
				                        			<th:block th:each="listPolicyTerm : ${listPolicyTerm}">
				                        				<option th:value="${listPolicyTerm[0]}" th:text="${listPolicyTerm[1]}"></option>
				                        			</th:block>
				                        		</select>
					                        </div>
					                    </div>
					                    <div class="form-group">
					                        <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Policy Term<span class="required-mark">*</span></label>    
					                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
					                        	<select class="form-control" id="salPolTerm" th:field="*{salPolTerm}">
				                        			<th:block th:each="listPolicyTerm : ${listPolicyTerm}">
				                        				<option th:value="${listPolicyTerm[0]}" th:text="${listPolicyTerm[1]}"></option>
				                        				</th:block>
				                        		</select>
					                       </div>
					                       <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Expected Close Sale(%)<span class="required-mark">*</span></label>    
					                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
					                        	<input type="text" class="form-control" id="salEpcClsSal" th:field="*{salEpcClsSal}" htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
					                       </div> 	
					                    </div>
					                    <div class="form-group">
					                    	<label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Payment Mode<span class="required-mark">*</span></label>    
					                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
					                        		<select class="form-control" id="salPolMode" th:field="*{salPolMode}">
					                        			<option value="0">Select Mode</option>
				                        				<th:block th:each="listPolicyMode : ${listPolicyMode}">
				                        					<option th:value="${listPolicyMode[0]}" th:text="${listPolicyMode[1]}"></option>
				                        				</th:block>
				                        			</select>
					                        </div>
					                        <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Expected Close Period(day)<span class="required-mark">*</span></label>    
					                        <div style="display:none;" class="col-md-1 col-sm-12 col-xs-12">
					                        		<input type="text" class="form-control" id="salEpcClsPeriod" th:field="*{salEpcClsPeriod}" htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
					                        </div>
					                        <label style="display:none;" for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Remark</label>    
				                        	<div style="display:none;" class="col-md-4 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control" id="sucAppRemark" th:field="*{sucAppRemark}" htmlEscape="true" style="text-transform:uppercase;"/>
				                        	</div> 	
					                    </div>
				                       
				                    </div>
								</div>
								<div id="followup" class="tab-pane fade">
									<div class="row" style="padding:10px;background:#F0F0F0;border-radius:5px;padding-bottom:40px; margin: 0px;">
										<div class="col-md-12">
											<table id="followup_grid" class="table table-striped table-advance table-hover">                             
						              	  	  <thead>
						                           <tr>
						                           	  <th>No</th>                          	  
													  <th>Comment Type</th>
						                              <th>Comment Detail</th>
						                              <th>Comment Date</th>
						                              <th>Next Follow Up Date</th>
						                              <th>Comment By</th>
						                           </tr>
						                      </thead>
						                      <tbody>
						                      		<th:block th:each="folup : ${listReferralFollowup}">
						                        	<tr >
								                       	<td th:text="${folup[0]}">1</td>
								                        <td th:text="${folup[4]}">2</td>
								                        <td th:text="${folup[5]}">3</td>
								                        <td th:text="${folup[6]}">4</td>
								                        <td></td>
								                        <td th:text="${folup[8]}">5</td>
							                        </tr>			
						                        	</th:block>
						                       </tbody>
						                     </table>
										</div>
					                </div>
								</div>
								<div id="close" class="tab-pane fade">
									<div style="padding-top:5px;padding-bottom:5px;background:#F0F0F0;border-radius:5px;">
										<div class="form-group">
											<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Product type</label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12">
					                        		<select class="form-control" id="clsPrdType" th:field="*{clsPrdType}">
					                        			<option value="0">Select Product</option>
					                        			<th:block th:each="listProduct : ${listProduct}">
					                        				<option th:value="${listProduct[0].trim()}" th:text="${listProduct[1].trim()}"></option>
					                        			</th:block>
					                        		</select>
					                        </div>
					                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Policy Term<span class="required-mark">*</span></label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12">
					                        	<select class="form-control" id="clsPolTerm" th:field="*{clsPolTerm}">
				                        			<th:block th:each="listPolicyTerm : ${listPolicyTerm}">
				                        				<option th:value="${listPolicyTerm[0]}" th:text="${listPolicyTerm[1]}"></option>
				                        				</th:block>
				                        		</select>
					                        </div>
					                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Payment Mode<span class="required-mark">*</span></label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12">
					                        		<select class="form-control" id="clsPolMode" th:field="*{clsPolMode}">
					                        			<option value="0">Select Mode</option>
				                        				<th:block th:each="listPolicyMode : ${listPolicyMode}">
				                        					<option th:value="${listPolicyMode[0]}" th:text="${listPolicyMode[1]}"></option>
				                        				</th:block>
				                        			</select>
					                        </div>
					                    </div>
									</div>
									<div style="padding-top:5px;padding-bottom:5px;background:#F0F0F0;border-radius:5px;">
					                    <div class="form-group">
					                    	<label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Completed Bank Standing Order</label>    
					                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
					                        	<select class="form-control" id="clsBankSoStatus" th:field="*{clsBankSoStatus}">
				                        			<option value="No">No</option>
				                        			<option value="Yes">Yes</option>
					                        	</select>
					                        </div>
					                        <label style="display:none;" for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Completed Date</label>    
					                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
					                        	<input readonly type="text" id="clsBankSoDate" th:field="*{clsBankSoDate}"  data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/>
					                        </div>
					                        <label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">APE</label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12">
					                        		<input type="text" class="form-control" id="APE" th:field="*{APE}"  htmlEscape="true" style="text-transform:uppercase;" onkeypress='return isNumberKey(event)'/>
					                        </div>
					                        <label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Application Number</label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12col-sm-5">
					                        	<input type="text" id="clsBankAppNum" th:field="*{clsBankAppNum}"  class="form-control"  htmlEscape="true" style="text-transform:uppercase;" onkeypress='return ((event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode = 69) ' maxlength="10"/>
					                        </div>
					                        <label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Close Sale Date</label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12">
					                        	<input readonly id="clsBankUploadDate" th:field="*{clsBankUploadDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/>
					                        </div>  
					                    </div>
					                    <div class="form-group">
					                        <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Upload</label>    
					                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
					                        	<select class="form-control" id="clsBankUploadStatus" th:field="*{clsBankUploadStatus}">
				                        			<option value="No">No</option>
				                        			<option value="Yes">Yes</option>
					                        	</select>
					                        </div>
					                    </div>
					                    <div class="form-group">
					                    	<label class="control-label col-md-2 col-sm-12 col-xs-12">Customer From</label>
					                    	<div class="col-md-10 col-sm-12 col-xs-12">
					                    		<select class="form-control" name="customerFrom">
					                    			<th:block th:if="*{customerFrom == null || customerFrom == ''}">
					                    				<th:block th:each="customerFrom : ${customerFromList}">
					                    					<option th:value="${customerFrom[1]}" th:selected="${customerFrom[1] == 'Others' }" th:text="${customerFrom[2]}"></option>
					                    				</th:block>
					                    			</th:block>
					                    			<th:block th:if="*{customerFrom != null && customerFrom != ''}">
					                    				<th:block th:each="customerFrom : ${customerFromList}">
					                    					<option th:value="${customerFrom[1]}" th:selected="${customerFrom[1] == referralparam.customerFrom }" th:text="${customerFrom[2]}"></option>
					                    				</th:block>
					                    			</th:block>
					                    		</select>
					                    	</div>
					                    </div>
					                    <div class="form-group">
					                    	<label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Remark</label>
	 				                        	<div class="col-md-10 col-sm-12 col-xs-12">
	 				                        		<input type="text" class="form-control" id="clsBankUploadRemark" th:field="*{clsBankUploadRemark}" htmlEscape="true" style="text-transform:uppercase;"/>
	 				                        	</div>
					                    </div>
				                    </div>
			                   </div>
							</div>
	                        <div class="row space4" style="display:none;">                  	  	
		                  	  	<div class="col-sm-4 form-group fixed-form-control" style="display:none;">
		                        	<label for="id" class="col-sm-6 control-label">ValidFlag</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" value="1"  Class="form-control"  id="validFlag" th:field="*{validFlag}" htmlEscape="true" onkeypress='return event.charCode >= 48 && event.charCode <= 49' maxlength="1"/>
		                        		
		                        	</div>
		                        	
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">  
		                        	<label for="item" class="col-sm-6 control-label">User</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" class="form-control" id="trnBy" th:field="*{trnBy}"  htmlEscape="true"/>
		                        	</div>
		                        </div>
		                    </div>
	                        <div class="row space5">                 
	                        <div class="form-group fixed-form-control col-sm-12 btNotFixed" >
	                        	<div class="col-sm-12">
		                            <button  type="submit" class="btn btn-danger" style="background-color: #ED1B2E;" id="btnsave" name="btnsave">Save Final</button>
		                            <button type="button" class="btn btn-primary" style="background-color: #ED1B2E;"
											name="btnupdatedraft" id="btnupdatedraft">Save Draft</button>
<!-- 		                            <a style="display:none;" data-toggle="tab" href="#close" id="btnclosesale" class="btn btn-primary">Close Sale</a> -->
		                            <a style="display: none; background-color:#ED1B2E;" data-toggle="modal"
											id="btnclosesale" data-target=".bs-example-modal-sm"
											class="btn btn-primary">Customer Buy Now</a>
		                            <div id="modal-closesale"
											class="modal fade bs-example-modal-sm" tabindex="-1"
											role="dialog" aria-hidden="true">
											<div class="modal-dialog modal-sm">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">
															<span aria-hidden="true">×</span>
														</button>
													</div>
													<div class="modal-body">
														<p>Are you sure customer buy now?</p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">No</button>
														<a id="btnsaveclosesale" data-toggle="tab" href="#close" style="background-color:#ED1B2E; color:#FFF;"
															class="btn">Yes</a>
													</div>
												</div>
											</div>
										</div>
		                        </div>
	                         </div>
							 </div>
						 </form>
	                 </div>
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var isclick = false;
			var isclosesale = [[${closedsale}]];
			var rid = [[${rid}]];
			var urldraft = [[@{/referral/updateDraft}]];
			var urlRedirect = [[@{/referral}]];
			var draft = [[${draft}]];
			var nameDescFormat = [[${nameDescFormat}]];
			var urlgetreferrersbyagntnumandbranchcode = [[@{/getreferrersbyagntnumandbranchcode}]];
			var urlgetCloseSale = [[@{/referral/closesale}]];
			var formstatus = 'update';
			$(document).ready(function(){
				var isclick = false;
				$("#btnsave").hide();
				checkSuccessfulPresentation();
				checkSuccessfullAppointment();
				validateCloseSale();
				checkCloseSale();
//				AllowSaleAct();
				hideSaveDraft();
				HideUpdateDraft();
				checkIsCloseSale();
				
				  $(".select2_multiple").select2({
			          placeholder: "Related Bank Products",
			          allowClear: true
			        });
				
				$('#cusAprStatus').change(function() {
					AllowSaleAct();
				});
				$('#referralBy').select2();
				
				$("#linkClickInfo").click(function(){
					$('#btnclosesale').hide();
				});
				$("#linkClickSale").click(function(){
					$('#btnclosesale').hide();
					if(!isclosesale) {
						validateCloseSale();
					}
				});
				$("#linkClickFollowup").click(function(){
					$('#btnclosesale').hide();
					if(isclick) {
						$('#linkClickCloseSale').css({'pointer-events': "auto"});
					}
				});
				$("#linkClickCloseSale").click(function(){
					$('#btnclosesale').hide();
				});
				$('#btnsaveclosesale').click(function(){
					isclick = true;
					isclosesale = true;
					$('#clickCloseSale').addClass('active');
					$('#clickSale').removeClass('active');
					$('#btnclosesale').hide();
					checkCloseSale();
						var url = urlgetCloseSale;
						updateClosedSale(url,rid);
						$('#modal-closesale').modal('hide');
						
						checkIsCloseSale();
				});	
				
				
				/* function checkCloseSale() {
					if(isclosesale){
// 						Infomation
						$('#btnclosesale').hide();
						$('#linkClickCloseSale').css({'pointer-events': "auto"});
						$('#rType').after('<input type="hidden" name="rType" value="'+ $('#rType').val() + '" />');
						$('#rType').attr('disabled','disabled');
						$('#rDate').after('<input type="hidden" name="rDate" value="'+ $('#rDate').val() + '" />');
						$('#rDate').attr('disabled','disabled');
						$('#referralBy').after('<input type="hidden" name="referralBy" value="'+ $('#referralBy').val() + '" />');
						$('#cusAprStatus').after('<input type="hidden" name="cusAprStatus" value="'+ $('#cusAprStatus').val() + '" />');
						
// 						Sale Activity
						$('#sucAppStatus').after('<input type="hidden" name="sucAppStatus" value="'+ $('#sucAppStatus').val() + '" />');
						$('#sucAppStatus').attr('disabled','disabled');
						$('#salSucSalPreStatus').after('<input type="hidden" name="salSucSalPreStatus" value="'+ $('#salSucSalPreStatus').val() + '" />');
						$('#salSucSalPreStatus').attr('disabled','disabled');
						$('#salTypRecPrd').after('<input type="hidden" name="salTypRecPrd" value="'+ $('#salTypRecPrd').val() + '" />');
						$('#salTypRecPrd').attr('disabled','disabled');
						$('#salDurPre').after('<input type="hidden" name="salDurPre" value="'+ $('#salDurPre').val() + '" />');
						$('#salDurPre').attr('readonly','readonly');
						$('#cusSalaryMonthly').after('<input type="hidden" name="cusSalaryMonthly" value="'+ $('#cusSalaryMonthly').val() + '" />');
						$('#cusSalaryMonthly').attr('readonly','readonly');
						$('#salMthBasExp').after('<input type="hidden" name="salMthBasExp" value="'+ $('#salMthBasExp').val() + '" />');
						$('#salMthBasExp').attr('readonly','readonly');
						$('#salRecPolTerm').after('<input type="hidden" name="salRecPolTerm" value="'+ $('#salRecPolTerm').val() + '" />');
						$('#salRecPolTerm').attr('disabled','disabled');
						$('#salRecPrdPkgUsd').after('<input type="hidden" name="salRecPrdPkgUsd" value="'+ $('#salRecPrdPkgUsd').val() + '" />');
						$('#salRecPrdPkgUsd').attr('readonly','readonly');
						$('#salPolTerm').after('<input type="hidden" name="salPolTerm" value="'+ $('#salPolTerm').val() + '" />');
						$('#salPolTerm').attr('disabled','disabled');
						$('#salEpcClsSal').after('<input type="hidden" name="salEpcClsSal" value="'+ $('#salEpcClsSal').val() + '" />');
						$('#salEpcClsSal').attr('readonly','readonly');
						$('#salPolMode').after('<input type="hidden" name="salPolMode" value="'+ $('#salPolMode').val() + '" />');
						$('#salPolMode').attr('disabled','disabled');
						$('#salEpcClsPeriod').after('<input type="hidden" name="salEpcClsPeriod" value="'+ $('#salEpcClsPeriod').val() + '" />');
						$('#salEpcClsPeriod').attr('readonly','readonly');
						$('#sucAppRemark').after('<input type="hidden" name="sucAppRemark" value="'+ $('#sucAppRemark').val() + '" />');
						$('#sucAppRemark').attr('readonly','readonly');
						
					} else {
						if(draft) {
							if($('#rType').val() == "0") {
								$('#rType').attr('disabled', false);
								
							} else {
								$('#rType').after('<input type="hidden" name="rType" value="'+ $('#rType').val() + '" />');
								$('#rType').attr('disabled', 'disabled');
							}
							if($('#referralBy').val() == "0") {
								$('#referralBy').attr('disabled', false);
							} else {
								$('#referralBy').attr('disabled', 'disabled');
							}
							$('#rDate').attr('readonly', 'readonly');
						} else {
							$('#rType').after('<input type="hidden" name="rType" value="'+ $('#rType').val() + '" />');
							$('#rType').attr('disabled','disabled');
							$('#rDate').attr('readonly','readonly');
						}
						$('#referralBy').after('<input type="hidden" name="referralBy" value="'+ $('#referralBy').val() + '" />');
						$('#cusAprStatus').after('<input type="hidden" name="cusAprStatus" value="'+ $('#cusAprStatus').val() + '" />');
						if($('#cusAprStatus').val() == "No") {
							$('#cusAprStatus').attr('disabled', false);
						} else {
							$('#cusAprStatus').attr('disabled','disabled');
						}
					}
				} */
				
			
	      });
			
			/* $('#salSucSalPreStatus').change(function(){
				checkSuccessfulPresentation();
			}); */
			
			/* $('#sucAppStatus').change(function() {
				checkSuccessfullAppointment();
			}); */
			
	/* 		$('#salTypRecPrd').change(function() {
				validateCloseSale();
			});
			
			$('#salPolMode').change(function() {
				validateCloseSale();
			});
			
			$('#cusSalaryMonthly').change(function() {
				validateCloseSale();
			});
			
			$('#salMthBasExp').change(function() {
				validateCloseSale();
			});
			
			$('#salRecPrdPkgUsd').change(function() {
				validateCloseSale();
			});
			
			$('#salEpcClsPeriod').change(function() {
				validateCloseSale();
			});
			
			$('#salDurPre').change(function() {
				validateCloseSale();
			});
			
			$('#salEpcClsSal').change(function() {
				validateCloseSale();
			});
			$('#cusAprStatus').change(function() {
				HideUpdateDraft();
			}); */
			
		/* 	function validateCloseSale() {
				 var recpropack = $('#salRecPrdPkgUsd').val();
				 var paymonde = $('#salPolMode').val();
				 var expcloper = $('#salEpcClsPeriod').val();
				 var recpro = $('#salTypRecPrd').val();
				 var duration = $('#salDurPre').val();
				 var epcclosale = $('#salEpcClsSal').val();
				 var monavgincome = $('#cusSalaryMonthly').val();
				 var monbasexp = $('#salMthBasExp').val();
				
				 var statusSuccessfullAppointment = $('#sucAppStatus').find(":selected").val();
				 var statusSuccessfullPresentation = $('#salSucSalPreStatus').find(":selected").val();
				if(statusSuccessfullPresentation == "No" ||  statusSuccessfullAppointment == "No") {
					$('#btnclosesale').hide();
				} else {
					if(monavgincome == "" || monbasexp == "0" || monbasexp == "" || recpropack == "0" || recpropack == "" || paymonde == "0" || paymonde == "" || expcloper == "0" || expcloper == "" || recpro == "0" || recpro == "" || duration == "0"
						 || duration == "" || epcclosale == "0" || epcclosale == "") {
						$('#btnclosesale').hide();
					} else {
						$('#btnclosesale').show();
					}
				}
			} */
		/* 	function AllowSaleAct() {
				var aprstatus = $('#cusAprStatus').val();
				if(aprstatus == "No") {
					$('#linkClickSale').css({'pointer-events': "none"});
				} else {
					$('#linkClickSale').css({'pointer-events': "auto"});
				}
			} */
		</script>
		<script th:src="@{/resources/js/validateform/referral.js}"></script>
	</th:block>
</body>
</html>