<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
<link th:href="@{/resources/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
<link th:href="@{/resources/css/editreferral.css}" rel="stylesheet" />
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
           	<div class="content-panel" >                 	
               	<div class="row">
                 	<div class="col-sm-6">
                  	</div> 
               	</div>
               	<div class="error-form">  	      				     	        		
                	<form class="form-horizontal form-label-left" th:object="${referralparam}" th:action="@{''}" method="post" name="form">
                  	    <div th:if="${errors} != null" class="alert alert-warning" role="alert">
							<ul>
								<li th:each="error : ${errors}" th:text="${error.code}"></li>
							</ul>
				 		</div>
                  	  	<div class="row space4">
                  	  		<div class="col-sm-12 form-group fixed-form-control red">
	                        	<p id="Err" class="error-layout"></p>
	                        </div>
	                    </div>
	                    <div class="col-md-12 col-sm-12 col-xs-12 edit-title">
               				<i class="white"><b>Edit Referral</b></i>
               			</div>
	                    <ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" id="linkClickInfo" href="#info">Information</a></li>
							<li id="clickSale"><a data-toggle="tab" id="linkClickSale" href="#sale">Sale Activity</a></li>
							<li><a data-toggle="tab" id="linkClickFollowup" href="#followup">Follow Up</a></li>
							<li id="clickCloseSale"><a data-toggle="tab" id="linkClickCloseSale" href="#close">Close Sale</a></li>
						</ul>
						<div class="tab-content" style="margin-top: 10px;">
							<!-- On Information Tab -->
							<div id="info" class="tab-pane fade in active">
								<div class="form-group">                  	  	
		                  	  		<div style="display:none;">
		                  	  			<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Auto No:</label>    
			                        	<div class="col-md-6 col-sm-12 col-xs-12">
			                        		<input type="text" readonly="readonly" Class="form-control"   th:field="*{rID}"/>
			                        	</div>
		                  	  		</div>
		                        	<label for="id" class="control-label col-md-2 col-sm-3 col-xs-12">Existing Customer</label>    
		                        	<div class="col-md-2 col-sm-12 col-xs-12">
		                        		<select class="form-control col-md-7 col-xs-12" id="exisCusStatus" th:field="*{exisCusStatus}" >
	                        				<option value="No">No</option>
	                        				<option value="Yes">Yes</option>
		                        		</select>
		                        	</div>
			                    </div>
			                    <div class="headline">
		                        	<i><b class="pruden-color-font">&nbsp;Referrals &#38; Approaches</b></i>
		                        </div>
		                        <div class="referral-approach">                  	  	
			                  	  	<div class="form-group">
			                  	  		<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label"> Referral Type <span class="required-mark">*</span></label>    
			                        	<div class="col-md-2 col-sm-12 col-xs-12">
			                        		<select class="form-control col-md-12 col-sm-12 col-xs-12" id="rType" th:field="*{rType}">
			                        			<option value="0">Select Referral Type</option>
			                        			<th:block th:each="rType : ${rType}">
			                        				<option th:value="${rType[0]}" th:text="${rType[1]}"></option>
			                        			</th:block>
			                        		</select>
			                        	</div>
			                        	<label for="item" class="col-md-1 col-sm-12 col-xs-12 control-label">Date</label>    
			                        	<div class="col-md-1 col-sm-12 col-xs-12">
			                        		<input id="rDate" th:field="*{rDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control col-md-12 col-sm-12 col-xs-12" readonly />
			                        	</div>
			                        	<label for="item" class="col-md-1 col-sm-12 col-xs-12 control-label">Branch<span class="required-mark">*</span></label>
										<div class="col-md-2 col-sm-12 col-xs-12">
											<select class="select2_single form-control col-md-12 col-sm-12 col-xs-12" tabindex="-1" id="branch">
												<option value="0">Branch Code - Name</option>
												<option th:each="branch : ${branchs}" th:value="${branch.branchCode}" th:text="${branch.branchCode + ' - ' + branch.branchDesc}"  th:selected="${branch.branchCode == agntBranchCode}"></option>
											</select>
										</div>
			                        	<label for="item" class="col-md-1 col-sm-12 col-xs-12 control-label">Introducer <span class="required-mark">*</span></label>    
			                        	<div class="col-md-2 col-sm-12 col-xs-12">
			                        		<input type="hidden" id="referralByHidden" name="referralByHidden" th:field="*{referralBy}" />
			                        		<select class="select2-referrer form-control col-md-12 col-sm-12 col-xs-12" tabindex="-1" id="referralBy">
												<option value="0">Select Referrer</option>
											</select>
			                        	</div>
			                  	  	</div>
			                  	  	<div class="form-group">
			                  	  		<label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label">Remark/Referral Serial Number</label>    
			                        	<div class="col-md-10 col-sm-12 col-xs-12">
			                        		<input type="text" class="form-control upercase" id="rRemark" th:field="*{rRemark}" />
			                        	</div>
			                  	  	</div>
			                  	</div>
		                        <div class="headline">
			                        <i><b class="pruden-color-font">&nbsp;Customer Information</b></i>
		                        </div>
		                        <div class="customer-info">
		                           <div class="form-group">
			                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Customer Full Name<span class="required-mark">*</span></label>    
			                        	<div class="col-md-2 col-sm-12 col-xs-12">
			                        		<input type="text" class="form-control col-md-7 col-xs-12 upercase" id="cusName" th:field="*{cusName}" />
			                        	</div>
		                       			<label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Sex<span class="required-mark" >*</span></label>    
				                        <div class="col-md-2 col-sm-12 col-xs-12" >
					                        <select class="form-control col-md-7 col-xs-12" id="cusSex" th:field="*{cusSex}">
				                        		<option value="Male">Male</option>
				                        		<option value="Female">Female</option>
				                        	</select>
				                        </div>
				                        <label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Estimate Age<span class="required-mark" >*</span></label>    
				                        <div class="col-md-1 col-sm-12 col-xs-12">
				                        	<input type="text" class="form-control col-md-7 col-xs-12 upercase" id="cusAge" th:field="*{cusAge}" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
				                        </div>
				                        <div class="col-md-3 col-sm-12 col-xs-12" style="padding:0px;">
					                        <label for="id" class="control-label col-md-6 col-sm-12 col-xs-12">Marital Status<span class="required-mark">*</span></label>    
				                        	<div class="col-md-6 col-sm-12 col-xs-12" >
				                        		<select class="form-control col-md-7 col-xs-12" id="cusMStatus" th:field="*{cusMStatus}">
				                        				<option value="Married">Married</option>
				                        				<option value="Single">Single</option>
				                        				<option value="Divorce">Divorce</option>
				                        				<option value="Widow">Widow</option>
				                        				<option value="Widower">Widower</option>
				                        		</select>
				                        	</div>
			                        	</div>   
			                        </div>
			                    	<div class="form-group">
			                    		<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">#of Children <span class="required-mark">*</span></label>    
			                        	<div class="col-sm-1 col-sm-12 col-xs-12">
			                        		<select class="form-control col-md-12 col-sm-12 col-xs-12" id="cusNochd" th:field="*{cusNochd}">
				                        			<option value="0">0</option>
				                        			<option value="1">1</option>
				                        			<option value="2">2</option>
				                        			<option value="3">3</option>
				                        			<option value="4">4</option>
				                        			<option value="5">5</option>
				                        			<option value="6">6</option>
				                        			<option value="7">7</option>
				                        			<option value="8">8</option>
				                        			<option value="9">9</option>
				                        			<option value="10">10</option>
				                        	</select>
			                        	</div>
		                        		<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Mobile Number Line(1)<span class="required-mark">*</span></label>    
			                        	<div class="col-md-2 col-sm-12 col-xs-12">
			                        		<input type="text" class="form-control upercase" id="cusPhone" th:field="*{cusPhone}" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
			                        	</div>
			                        	<label for="id" class="col-md-1 col-sm-12 col-xs-12 control-label">Occupation<span class="required-mark">*</span></label>    
			                        	<div class="col-md-2 col-sm-12 col-xs-12" >
			                        		<select class="form-control col-md-12 col-sm-12 col-xs-12" id="cusOcc" th:field="*{cusOcc}">
			                        			<option value="0">Select Occupation</option>
			                        			<th:block th:each="occupation : ${occupation}">
			                        				<option th:value="${occupation[0]}" th:text="${occupation[1]}"></option>
			                        			</th:block>
			                        		</select>
			                        	</div>   
			                        </div>
			                    </div>
			                    <br/>
		                        <div class="headline">
									<i><b class="pruden-color-font">&nbsp; Other Service</b></i>
								</div>
								<div style="padding-top: 10px; padding-bottom: 10px; background: #F0F0F0; border-radius: 5px;">
									<div class="row">
										<div class="col-md-offset-1 col-md-10">
											<table class="table">
												<thead>
													<tr>
														<th colspan="2">Bank Product Introduced by FC</th>
														<th>Comment</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="acbproduct : ${acbProducts}">
														<td>
															<span th:text="${acbproduct.shortDesc}"></span>
															<input type="hidden" th:value="${acbproduct.id}" th:id="${#strings.replace('productname-' +acbproduct.shortDesc,' ','')}"  />
														</td>
														<td>
															<select class="form-control col-md-12 col-sm-12 col-xs-12" th:id="${#strings.replace('cusappby-' +acbproduct.shortDesc,' ','')}">
																<option value=""></option>
																<option value="Yes" th:selected="${acbproduct.cusApproach.equalsIgnoreCase('Yes')}">Yes</option>
																<option value="No" th:selected="${acbproduct.cusApproach.equalsIgnoreCase('No')}">No</option>
															</select>
														</td>
														<td>
															<select class="form-control col-md-12 col-sm-12 col-xs-12" th:id="${#strings.replace('comment-' + acbproduct.shortDesc,' ','')}">
																<option value="0"></option>
																<th:block th:each="acbproductcomment : ${acbProductComments}">
																	<option th:value="${acbproductcomment.id}"
																		th:text="${acbproductcomment.comment}" th:selected="${acbproductcomment.id == acbproduct.commentid}"></option>
																</th:block>
															</select>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div style="padding-top: 10px; padding-bottom: 10px; background: #F0F0F0; border-radius: 5px;">
									<button type="button" class="btn btn-danger pruden-color" name="action" value="saveinfo" id="btnsaveinfo">Save Information</button>
								</div>
							</div>

							<!-- On Sale Tab -->
							<div id="sale" class="tab-pane fade">
								<div class="headline">
			                        <i><b class="pruden-color-font">&nbsp;Sales Presentation</b></i>
			                    </div>
		                        <div style="padding-top:5px;padding-bottom:5px;background:#F0F0F0;border-radius:5px;">                  	  	
			                  	  	<div class="form-group">
			                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Successful Appointment</label>    
			                        	<div class="col-md-2 col-sm-12 col-xs-12">
			                        		<select class="form-control" id="sucAppStatus" th:field="*{sucAppStatus}">
			                        				<option value="No">No</option>
			                        				<option value="Yes">Yes</option>
			                        		</select>
			                        	</div>  
			                        	<label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Date</label>  
			                        	<div class="col-md-3 col-sm-12 col-xs-12">
			                        		<div class='input-group date' id='datetimepicker1'>
							                    <input type='text' class="form-control" id="sucAppDate" name="sucAppDate" />
							                    <span class="input-group-addon">
							                        <span class="glyphicon glyphicon-calendar"></span>
							                    </span>
							                </div>
			                        		<!-- <input readonly id="sucAppDate" th:field="*{sucAppDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control" /> -->
			                        	</div>
			                       </div>
			                    </div>
			                    <div style="padding-top:5px;padding-bottom:5px;margin-top:5px;background:#F0F0F0;border-radius:5px;">
			                        <div class="form-group">
			                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Successful Presentation</label>    
			                        	<div class="col-md-1 col-sm-12 col-xs-12">
			                        		<select class="form-control" id="salSucSalPreStatus" th:field="*{salSucSalPreStatus}">
			                        				<option value="No">No</option>
			                        				<option value="Yes">Yes</option>
			                        		</select>
			                        	</div>  
			                        	<label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Date</label>
			                        	<div class="col-md-2 col-sm-12 col-xs-12">
			                        		<input readonly id="salSucSalPreDate" th:field="*{salSucSalPreDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control" />
			                        	</div>
			                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Monthly Average Income<span class="required-mark">*</span></label>    
				                        <div class="col-md-1 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control upercase" id="cusSalaryMonthly" th:field="*{cusSalaryMonthly}" value="0" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
				                        </div>
				                         <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Annually Average Income<span class="required-mark">*</span></label>    
				                        <div class="col-md-1 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control upercase" id="cusSalaryYearly" th:field="*{cusSalaryYearly}" readonly/>
				                        </div>
			                        	<label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended Product <span class="required-mark">*</span></label>    
			                        	<div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
			                        		<select class="form-control" id="salTypRecPrd" th:field="*{salTypRecPrd}">
			                        			<option value="0">Select Product</option>
			                        			<th:block th:each="listProduct : ${listProduct}">
			                        				<option th:value="${listProduct[0].trim()}" th:text="${listProduct[1].trim()}"></option>
			                        			</th:block>
			                        		</select>
			                        	</div>
			                        	<label style="display:none;" for="salDurPre" class="control-label col-md-1 col-sm-12 col-xs-12">Duration (minutes) <span class="required-mark">*</span></label>    
			                        	<div style="display:none;" class="col-md-1 col-sm-12 col-xs-12">
			                        		<input id="salDurPre" th:field="*{salDurPre}" type="text" placeholder="#Minute" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
			                        	</div>    
			                        </div>
			                        <div class="form-group">
				                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Estimate Affordable Premium<span class="required-mark">*</span></label>    
				                        <div class="col-md-1 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control upercase" id="cusAFPremium" th:field="*{cusAFPremium}" value="0" readonly/>
				                        </div>
				                        <label for="id" class="control-label col-md-1 col-sm-12 col-xs-12">Monthly Basic Expense<span class="required-mark">*</span></label>    
				                        <div class="col-md-2 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control upercase" id="salMthBasExp" th:field="*{salMthBasExp}" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
				                        </div>
				                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended Product Package<span class="required-mark">*</span></label>    
				                        <div class="col-md-1 col-sm-12 col-xs-12">
			                        		<input type="text" class="form-control upercase" id="salRecPrdPkgUsd" th:field="*{salRecPrdPkgUsd}" placeholder="USD" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
				                        </div>
				                    </div>
				                    <div class="form-group">
				                        <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended SA<span class="required-mark">*</span></label>    
				                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control upercase" id="salRecSA" th:field="*{salRecSA}" readonly/>
				                        </div>
				                        <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended Policy Term<span class="required-mark">*</span></label>    
				                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
				                        	<select class="form-control" id="salRecPolTerm" th:field="*{salRecPolTerm}">
			                        			<th:block th:each="listPolicyTerm : ${listPolicyTerm}">
			                        				<option th:value="${listPolicyTerm[0]}" th:text="${listPolicyTerm[1]}"></option>
			                        			</th:block>
			                        		</select>
				                        </div>
				                    </div>
				                    <div class="form-group">
				                        <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Policy Term<span class="required-mark">*</span></label>    
				                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
				                        	<select class="form-control" id="salPolTerm" th:field="*{salPolTerm}">
			                        			<th:block th:each="listPolicyTerm : ${listPolicyTerm}">
			                        				<option th:value="${listPolicyTerm[0]}" th:text="${listPolicyTerm[1]}"></option>
			                        				</th:block>
			                        		</select>
				                       </div>
				                       <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Expected Close Sale(%)<span class="required-mark">*</span></label>    
				                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
				                        	<input type="text" class="form-control upercase" id="salEpcClsSal" th:field="*{salEpcClsSal}" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
				                       </div>
				                    </div>
				                    <div class="form-group">
				                    	<label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Payment Mode<span class="required-mark">*</span></label>
				                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
				                        		<select class="form-control" id="salPolMode" th:field="*{salPolMode}">
				                        			<option value="0">Select Mode</option>
			                        				<th:block th:each="listPolicyMode : ${listPolicyMode}">
			                        					<option th:value="${listPolicyMode[0]}" th:text="${listPolicyMode[1]}"></option>
			                        				</th:block>
			                        			</select>
				                        </div>
				                        <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Expected Close Period(day)<span class="required-mark">*</span></label>    
				                        <div style="display:none;" class="col-md-1 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control upercase" id="salEpcClsPeriod" th:field="*{salEpcClsPeriod}" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
				                        </div>
				                        <label style="display:none;" for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Remark</label>    
			                        	<div style="display:none;" class="col-md-4 col-sm-12 col-xs-12">
			                        		<input type="text" class="form-control upercase" id="sucAppRemark" th:field="*{sucAppRemark}" />
			                        	</div> 	
				                    </div>
			                    </div>
			                    <div>
			                    	<button type="button" class="btn btn-danger pruden-color" name="action" value="savesale" id="btnsavesale">Save Sale</button>
			                    </div>
							</div>
							
							<!-- On Follow Up Tab -->
							<div id="followup" class="tab-pane fade">
								<div class="row" style="padding:10px;background:#F0F0F0;border-radius:5px;padding-bottom:40px; margin: 0px;">
									<div class="col-md-12">
										<table id="followup_grid" class="table table-striped table-advance table-hover">                             
					              	  	  <thead>
					                           <tr>
					                           	  <th>No</th>                          	  
												  <th>Comment Type</th>
					                              <th>Comment Detail</th>
					                              <th>Comment Date</th>
					                              <th>Next Follow Up Date</th>
					                              <th>Comment By</th>
					                           </tr>
					                      </thead>
					                      <tbody>
					                      		<th:block th:each="folup : ${listReferralFollowup}">
					                        	<tr >
							                       	<td th:text="${folup[0]}">1</td>
							                        <td th:text="${folup[4]}">2</td>
							                        <td th:text="${folup[5]}">3</td>
							                        <td th:text="${folup[6]}">4</td>
							                        <td></td>
							                        <td th:text="${folup[8]}">5</td>
						                        </tr>			
					                        	</th:block>
					                       </tbody>
					                     </table>
									</div>
				                </div>
							</div>
							
							<!-- On Close Tab -->
							<div id="close" class="tab-pane fade">
								<div class="customer-info">
									<div class="form-group">
										<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Product type</label>    
				                        <div class="col-md-2 col-sm-12 col-xs-12">
				                        		<select class="form-control" id="clsPrdType" th:field="*{clsPrdType}">
				                        			<option value="0">Select Product</option>
				                        			<th:block th:each="listProduct : ${listProduct}">
				                        				<option th:value="${listProduct[0].trim()}" th:text="${listProduct[1].trim()}"></option>
				                        			</th:block>
				                        		</select>
				                        </div>
				                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Policy Term<span class="required-mark">*</span></label>    
				                        <div class="col-md-2 col-sm-12 col-xs-12">
				                        	<select class="form-control" id="clsPolTerm" th:field="*{clsPolTerm}">
			                        			<th:block th:each="listPolicyTerm : ${listPolicyTerm}">
			                        				<option th:value="${listPolicyTerm[0]}" th:text="${listPolicyTerm[1]}"></option>
			                        				</th:block>
			                        		</select>
				                        </div>
				                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Payment Mode<span class="required-mark">*</span></label>    
				                        <div class="col-md-2 col-sm-12 col-xs-12">
				                        		<select class="form-control" id="clsPolMode" th:field="*{clsPolMode}">
				                        			<option value="0">Select Mode</option>
			                        				<th:block th:each="listPolicyMode : ${listPolicyMode}">
			                        					<option th:value="${listPolicyMode[0]}" th:text="${listPolicyMode[1]}"></option>
			                        				</th:block>
			                        			</select>
				                        </div>
				                    </div>
								</div>
								<div class="customer-info">
				                    <div class="form-group">
				                    	<label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Completed Bank Standing Order</label>    
				                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
				                        	<select class="form-control" id="clsBankSoStatus" th:field="*{clsBankSoStatus}">
			                        			<option value="No">No</option>
			                        			<option value="Yes">Yes</option>
				                        	</select>
				                        </div>
				                        <label style="display:none;" for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Completed Date</label>    
				                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
				                        	<input readonly type="text" id="clsBankSoDate" th:field="*{clsBankSoDate}"  data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control" />
				                        </div>
				                        <label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">APE</label>    
				                        <div class="col-md-2 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control upercase" id="APE" th:field="*{APE}" onkeypress='return isNumberKey(event)'/>
				                        </div>
				                        <label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Application Number<span class="required-mark">*</span></label>    
				                        <div class="col-md-2 col-sm-12 col-xs-12col-sm-5">
				                        	<input type="text" id="clsBankAppNum" th:field="*{clsBankAppNum}"  class="form-control" maxlength="10"/>
				                        </div>
				                        <label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Close Sale Date</label>    
				                        <div class="col-md-2 col-sm-12 col-xs-12">
				                        	<input readonly id="clsBankUploadDate" th:field="*{clsBankUploadDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control" />
				                        </div>  
				                    </div>
				                    <div class="form-group">
				                        <label style="display:none;" for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Upload</label>    
				                        <div style="display:none;" class="col-md-2 col-sm-12 col-xs-12">
				                        	<select class="form-control" id="clsBankUploadStatus" th:field="*{clsBankUploadStatus}">
			                        			<option value="No">No</option>
			                        			<option value="Yes">Yes</option>
				                        	</select>
				                        </div>
				                    </div>
				                    <div class="form-group">
				                    	<label class="control-label col-md-2 col-sm-12 col-xs-12">Customer From</label>
				                    	<div class="col-md-10 col-sm-12 col-xs-12">
				                    		<select class="form-control" name="customerFrom">
				                    			<th:block th:if="*{customerFrom == null || customerFrom == ''}">
				                    				<th:block th:each="customerFrom : ${customerFromList}">
				                    					<option th:value="${customerFrom[1]}" th:selected="${customerFrom[1] == 'Others' }" th:text="${customerFrom[2]}"></option>
				                    				</th:block>
				                    			</th:block>
				                    			<th:block th:if="*{customerFrom != null && customerFrom != ''}">
				                    				<th:block th:each="customerFrom : ${customerFromList}">
				                    					<option th:value="${customerFrom[1]}" th:selected="${customerFrom[1] == referralparam.customerFrom }" th:text="${customerFrom[2]}"></option>
				                    				</th:block>
				                    			</th:block>
				                    		</select>
				                    	</div>
				                    </div>
				                    <div class="form-group">
				                    	<label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Remark</label>
 				                        	<div class="col-md-10 col-sm-12 col-xs-12">
 				                        		<input type="text" class="form-control upercase" id="clsBankUploadRemark" th:field="*{clsBankUploadRemark}" />
 				                        	</div>
				                    </div>
			                    </div>
			                    <div>
			                    	<button type="button" class="btn btn-danger pruden-color" name="action" value="savefinal" id="btnsavefinal">Save Final</button>
			                    </div>
		                   </div>
						</div>
                        <div class="row space4" style="display:none;">                  	  	
	                  	  	<div class="col-sm-4 form-group fixed-form-control" style="display:none;">
	                        	<label for="id" class="col-sm-6 control-label">ValidFlag</label>    
	                        	<div class="col-sm-6">
	                        		<input type="text" value="1"  Class="form-control"  id="validFlag" th:field="*{validFlag}" onkeypress='return event.charCode >= 48 && event.charCode <= 49' maxlength="1"/>
	                        		
	                        	</div>
	                        	
	                        </div>
	                        <div class="col-sm-4 form-group fixed-form-control">  
	                        	<label for="item" class="col-sm-6 control-label">User</label>    
	                        	<div class="col-sm-6">
	                        		<input type="text" class="form-control" id="trnBy" th:field="*{trnBy}" />
	                        	</div>
	                        </div>
	                    </div>
					 </form>
                </div>
			</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var isclick = false;
			var isclosesale = [[${closedsale}]];
			var rid = [[${rid}]];
			var rdate = [[${referralparam.rDate}]];
			var clsbankuploaddate = [[${referralparam.clsBankUploadDate}]];
			var urldraft = [[@{/referral/updateDraft}]];
			var urlRedirect = [[@{/referral}]];
			var draft = [[${draft}]];
			var nameDescFormat = [[${nameDescFormat}]];
			var urlgetreferrersbyagntnumandbranchcode = [[@{/getreferrersbyagntnumandbranchcode}]];
			var urlgetCloseSale = [[@{/referral/closesale}]];
			var formstatus = 'update';
			var sucAppDate = [[${sucAppDate}]];
			
			$('button[name=action]').on('click', function(e){
				e.preventDefault();
				
				checkSubmit($(this).val());
			});
		</script>
		<script th:src="@{/resources/js/moment.min.js}"></script>
		<script th:src="@{/resources/js/bootstrap-datetimepicker.min.js}"></script>
		<script th:src="@{/resources/js/validateform/editreferral.js}"></script>
		<!-- <script th:src="@{/resources/js/validateform/referral.js}"></script> -->
	</th:block>
</body>
</html>