<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<style>
					.col-sm-5{ vertical-align: middle;  }
					label{ font-size:12px;}
					.headline hr{margin-top:-3px;}
					.control-label{margin:0px;}	
				</style>
									
                 	<div class="content-panel" >                 	
                 	<div class="row">
                  	<div class="col-sm-6">
                  	</div> 
                  	</div>
                 	<div style="border:1px solid #ccc; padding:5px; padding-top:10px;border-radius:5px;">
                 		
                 		                              	      				     	        		
	                  	 <form class="form-horizontal form-label-left" th:object="${referralparam}" onsubmit="return checkSubmit();" th:action="@{''}" method="post" name="form">
	                  	    <div th:if="${errors} != null" class="alert alert-warning" role="alert">
								<ul>
									<li th:each="error : ${errors}"
										th:text="${error.code}"></li>
								</ul>
					 		</div>
	                  	  	<div class="row space4">
	                  	  		<div class="col-sm-12 form-group fixed-form-control" style="color:red;">
		                        	<b><p id="Err" style="font-size:12px;"></p></b>
		                        </div>  
		                    </div>
<!-- 		                    <div class="col-md-12 col-sm-12 col-xs-12" style="height:20px;background:#ED1D2E;border-radius:5px;"> -->
<!--                  				<i style="color:white;"><b>Follow Up</b></i> -->
<!--                  			</div> -->
		                    <ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#followup">Follow Up</a></li>
							</ul>
							<div class="tab-content" style="margin-top: 10px;">
								<div id="followup" class="tab-pane fade in active">
									<div style="padding-top:5px;padding-bottom:5px;background:#F0F0F0;border-radius:5px;">
										<div class="form-group">
											<label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Follow up Status</label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12">
					                        	<select class="form-control" id="rType" th:field="*{rType}">
					                        		<option value="0">Select Referral Type</option>
					                        		<th:block th:each="rReferralCommentType : ${rReferralCommentType}">
					                        		<option th:value="${rReferralCommentType[0]}" th:text="${rReferralCommentType[1]}"></option>
					                        		</th:block>
					                        	</select>
					                        </div>
					                        <label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Details</label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12">
				                        		<input type="text" class="form-control" id="salCusAnsDetail" th:field="*{salCusAnsDetail}" htmlEscape="true" style="text-transform:uppercase;" />
					                        </div>
					                        <label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Next Follow up</label>    
					                        <div class="col-md-2 col-sm-12 col-xs-12">
				                        		<input id="salFlwupNxtDate" th:field="*{salFlwupNxtDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/>
					                        </div>
					                    </div>
					                    <div class="form-group">
					                    	<label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Customer Answer Detail</label>    
					                        <div class="col-md-10 col-sm-12 col-xs-12">
					                        	<input type="text" class="form-control" id="flwupCmtRemarkLast" th:field="*{flwupCmtRemarkLast}" htmlEscape="true" style="text-transform:uppercase;" />
					                        </div>  
					                    </div>
					                </div>
								</div>
							</div>
	                        <div class="row space4" style="display:none;">                  	  	
		                  	  	<div class="col-sm-4 form-group fixed-form-control" style="display:none;">
		                        	<label for="id" class="col-sm-6 control-label">ValidFlag</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" value="1"  Class="form-control"  id="validFlag" th:field="*{validFlag}" htmlEscape="true" onkeypress='return event.charCode >= 48 && event.charCode <= 49' maxlength="1"/>
		                        		
		                        	</div>
		                        	
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">  
		                        	<label for="item" class="col-sm-6 control-label">User</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" class="form-control" id="trnBy" th:field="*{trnBy}"  htmlEscape="true"/>
		                        	</div>
		                        </div>
		                    </div>
	                        <div class="row space5">                 
		                        <div class="form-group fixed-form-control col-sm-12 btNotFixed" >
		                        	<div class="col-sm-12">
			                            <button  type="submit" class="btn btn-danger" name="btnsave">Save</button>
			                        </div>
	                            </div>
						    </div>
						 </form>
	                 </div>
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(document).ready(function(){
				
			});
		</script>
		<script th:src="@{/resources/js/validateform/referral.js}"></script>
	</th:block>
</body>
</html>