<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
       		<style>
				.nomargin{padding-left: 0 !important;}
				.no-gutter > [class*='col-'] {
					    padding-right:0;
					    padding-left:0;
				}
			</style>
			<div class="content-panel" >
			<form th:object="${ReferralList}" name="form" id="frmReferralSearch" th:action="@{''}" method="post">                 	
                 	<div class="col-sm-12 nopadding" style="margin-top:100px;padding-top:10px;margin:5px;background:white;border-radius:5px;">
                 		<div class="col-sm-12 form-group fixed-form-control">
<!-- 		                    <label for="item" class="col-md-2 col-sm-12 control-label"><b>Banca Hierarchy:</b><span class="required-mark">*</span></label>     -->
<!-- 		                    <div class="col-md-10 col-sm-12"> -->
<!-- 		                    	<input type="text" name="agentHierarchy" id="agentHierarchy" placeholder="Banca Hierarchy" class="form-control" /> -->
<!-- 		                    </div> -->
							<label for="item" class="col-md-1 col-sm-12 control-label"><b>RBDM</b></label>
							<div class="col-md-3 col-sm-12">
								<select class="form-control" name="rbdm">
									<option value="">-- Select RBDM --</option>
									<th:block th:each="rbdm : ${rbdmList}">
										<option th:value="${rbdm[0]}" th:text="${rbdm[1]}"></option>
									</th:block>
								</select>
							</div>
							<label for="item" class="col-md-1 col-sm-12 control-label"><b>SBDM</b></label>
							<div class="col-md-3 col-sm-12">
								<select class="form-control" name="sbdm">
									<option value="">-- Select SBDM --</option>
									<th:block th:each="sbdm : ${sbdmList}">
										<option th:value="${sbdm[0]}" th:text="${sbdm[1]}"></option>
									</th:block>
								</select>
							</div>
							<label for="item" class="col-md-1 col-sm-12 control-label"><b>BDM</b></label>
							<div class="col-md-3 col-sm-12">
								<select class="form-control" name="bdm">
									<option value="">-- Select BDM --</option>
									<th:block th:each="bdm : ${bdmList}">
										<option th:value="${bdm[0]}" th:text="${bdm[1]}"></option>
									</th:block>
								</select>
							</div>
		                </div>
		                <div class="col-sm-12 form-group fixed-form-control">
<!-- 		                    <label for="item" class="col-md-2 col-sm-12 control-label"><b>Banca Hierarchy:</b><span class="required-mark">*</span></label>     -->
<!-- 		                    <div class="col-md-10 col-sm-12"> -->
<!-- 		                    	<input type="text" name="agentHierarchy" id="agentHierarchy" placeholder="Banca Hierarchy" class="form-control" /> -->
<!-- 		                    </div> -->
							<label for="item" class="col-md-1 col-sm-12 control-label"><b>Branch</b></label>
							<div class="col-md-3 col-sm-12">
								<select class="form-control" name="branch">
									<option value="">-- Select Branch --</option>
									<th:block th:each="branch : ${branchList}">
										<option th:value="${branch[0]}" th:text="${branch[1]}"></option>
									</th:block>
								</select>
							</div>
							<label for="item" class="col-md-1 col-sm-12 control-label"><b>Agent Sup</b></label>
							<div class="col-md-3 col-sm-12">
								<select class="form-control" name="agntsup">
									<option value="">-- Select Sup --</option>
									<th:block th:each="sup : ${supList}">
										<option th:value="${sup[0]}" th:text="${sup[1]}"></option>
									</th:block>
								</select>
							</div>
							<label for="item" class="col-md-1 col-sm-12 control-label"><b>Agent</b></label>
							<div class="col-md-3 col-sm-12">
								<select class="form-control" name="agnt">
									<option value="">-- Select Agent --</option>
									<th:block th:each="agnt : ${agntList}">
										<option th:value="${agnt[0]}" th:text="${agnt[1]}"></option>
									</th:block>
								</select>
							</div>
		                </div>
		                <fieldset style="min-width: 100%;" class="scheduler-border">
		                	<legend class="scheduler-border">
		                		<span class="btn btn-xs btn-line btn-danger accordion-toggle" id="advance_search_toggler" data-toggle="collapse" data-target="#advance-search">
                                    <i class="glyphicon glyphicon-plus" style="margin: 0px;"></i>
                                </span> More Filter
		                	</legend>
		                	<div class="row collapse" id="advance-search" style="margin: 0px;">
			                	<div class="col-sm-12 form-group fixed-form-control">
		                 			<label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label"><b>Referral create date</b></label>    
				                    <div class="col-md-2 col-sm-12 col-xs-12"> 	
					                    <input id="trnDateTimeFrom" name="trnDateTimeFrom" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
					                </div>
					                <div class="col-md-2 col-sm-12 col-xs-12 nopadding">
					                    	<input id="trnDateTimeTo" name="trnDateTimeTo" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
					                </div>
				                    <label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label"><b>Next Follow Up Date</b></label>    
				                    <div class="col-md-2 col-sm-12 col-xs-12"> 	
					                    <input id="followupDateTimeFrom" name="followupDateTimeFrom" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
					                </div>
					                <div class="col-md-2 col-sm-12 col-xs-12 nopadding">
					                    	<input id="followupDateTimeTo" name="followupDateTimeTo" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
					                </div>  
				                </div>
				                <div class="col-sm-12 form-group fixed-form-control">
				                    <label for="item" class="col-md-2 col-sm-12 control-label"><b>Customer/Policy Information:</b><span class="required-mark">*</span></label>    
				                    <div class="col-md-10 col-sm-12">
				                    	<input type="text" name="cusInfor" id="cusInfor" placeholder="Name, Sex, Mobile, Income(100-200),Facebook, APE, Application #" class="form-control" />
				                    </div>
				                </div>
				                <div class="col-sm-12 form-group fixed-form-control">
				                	<label for="item" class="col-md-2 col-sm-12 control-label"><b>Referral Type</b></label>
				                	<div class="col-md-2 col-sm-12">
				                        <select class="form-control" id="rType" name="rType">
		                        			<option value=""></option>
		                        			<th:block th:each="rType : ${rType}">
		                        				<option th:value="${rType[0]}" th:text="${rType[1]}"></option>
		                        			</th:block>
				                       	</select>
				                    </div>
				                    
				                    <label for="item" class="col-md-2 col-sm-12 control-label"><b>Successful Appointment</b></label>
				                	<div class="col-md-2 col-sm-12">
				                        <select class="form-control" id="sucAppStatus" name="sucAppStatus">
		                       				<option value=""></option>
		                       				<option value="No">No</option>
		                       				<option value="Yes">Yes</option>
				                        </select>
				                    </div>
				                    
				                    <label for="item" class="col-md-2 col-sm-12 control-label"><b>Completed Bank Standing Order</b></label>
				                	<div class="col-md-2 col-sm-12">
				                        <select class="form-control" id="clsBankSoStatus" name="clsBankSoStatus">
		                       				<option value=""></option>
		                       				<option value="No">No</option>
		                       				<option value="Yes">Yes</option>
				                        </select>
				                    </div>
				                </div>	
				                <div class="col-sm-12 form-group fixed-form-control">
				                	<label for="item" class="col-md-2 col-sm-12 control-label"><b>Uploaded Status</b></label>
				                	<div class="col-md-2 col-sm-12">
				                        <select class="form-control" id="clsBankUploadStatus" name="clsBankUploadStatus" >
		                       				<option value=""></option>
		                       				<option value="No">No</option>
		                       				<option value="Yes">Yes</option>
			                        	</select>
				                    </div>
				                    
				                    <label for="item" class="col-md-2 col-sm-12 control-label"><b>Existing Customer</b></label>
				                	<div class="col-md-2 col-sm-12">
				                       <select class="form-control" id="exisCusStatus" name="exisCusStatus">
		                       				<option value=""></option>
		                       				<option value="No">No</option>
		                       				<option value="Yes">Yes</option>
			                        	</select>
				                    </div>
					                    
				                    <label for="item" class="col-md-2 col-sm-12 control-label"><b>Referral By</b></label>
				                	<div class="col-md-2 col-sm-12">
				                      	<input type="text" class="form-control" id="referralBy" name="referralBy"  htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
				                    </div>
				                </div>
		                	</div>
		                	
		                </fieldset>
                 			
	                  	<div class="col-sm-12">
	                  		<div class="col-sm-12">
		                  		<button type="submit" class="pull-right btn btn-sm btn-danger" id="btnSearch">SEARCH</button>
	                  		</div>
                 		</div>
                 		<div class="col-sm-12">
                 			<hr/>
                 		</div>
                 	<table id="prumyfamily_grid" class="table table-striped table-advance table-hover">                            
              	  	  <thead>
                           <tr>                          	  
							  <th style="display: none;">rid</th>
                              <th width=100>Customer Name</th>
                              <th>Sex</th>
                              <th width=100>Referral Type</th>
                              <th>Referral Date</th>
                              <th>Success App</th>
                              <th>Success App Date</th>
                              <th>APE</th>
                              <th>Existing Customer</th>
							  <th>FC Code</th>
							  <th>FC Name</th>
							  <th>Action</th>
                           </tr>
                      </thead>
                         <tbody>
                        </tbody>
                     </table> 
  				</div>
  				</form>
  			</div>
  		</div>
  	
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var token = $("meta[name='_csrf']").attr("content"); 
			var header = $("meta[name='_csrf_header']").attr("content");
			var currentDate = new Date();
			
		    $('#trnDateTimeFrom').datepicker({
		    	useCurrent: true,
			    pickTime: false,
			    dateFormat: "dd/mm/yy"
			});
		    
		    var currentDate = new Date();
		    $('#trnDateTimeTo').datepicker({
		    	useCurrent: true,
			    pickTime: false,
			    dateFormat: "dd/mm/yy"
			});
		    
		    $('#followupDateTimeFrom').datepicker({
		    	useCurrent: true,
			    pickTime: false,
			    dateFormat: "dd/mm/yy"
			});
		    
		    $('#followupDateTimeTo').datepicker({
		    	useCurrent: true,
			    pickTime: false,
			    dateFormat: "dd/mm/yy"
			});
		    
		    $(document).ajaxSend(function(e, xhr, options) {
		        xhr.setRequestHeader(header, token);
		    });
		    
			$(document).ready(function(){
				var table = $('#prumyfamily_grid').DataTable({
		        	responsive: true, 
// 					stateSave: true,
			        dom: 'TC<"clearfix">lfrtip',
			        columnDefs: [
			            {
			            	targets: 0,
			            	createdCell: function(td, cellData, rowData, row, col){
			            		$(td).css('display', 'none');
			            	}
			            }
			        ],
			        "fnDrawCallback": function (oSettings, json) {
			            //showLoading(false);
			        }
			    });
				$(table.column(0).header()).css('display', 'none');
				
				$('body').removeClass('nav-md');
		           $('body').addClass('nav-sm');
		           
	           $('#btnSearch').click(function(e){
	        	   e.preventDefault();
	        	   
	        	   setReferralList();
	           })
	           
	           $('#advance_search_toggler').click(function () {
	               var toggler = $(this).children().first();

	               if (toggler.hasClass('glyphicon-plus')) {
	                   toggler.removeClass('glyphicon-plus');
	                   toggler.addClass('glyphicon-minus');
	               } else {
	                   toggler.removeClass('glyphicon-minus');
	                   toggler.addClass('glyphicon-plus');
	               }
	           });
	           
	           $('select[name=rbdm]').on('change', function(){
	        	  reloadParam();
	           });
	           
	           $('select[name=sbdm]').on('change', function(){
	        	  reloadParam();
	           });
	           
	           $('select[name=bdm]').on('change', function(){
	        	  reloadParam();
	           });
	           
	           $('select[name=branch]').on('change', function(){
	        	  reloadParam();
	           });
	           
	           $('select[name=agntsup]').on('change', function(){
	        	  reloadParam();
	           });
	           
	           reloadParam();
	           
	           $('select[name=rbdm]').select2();
	           $('select[name=sbdm]').select2();
	           $('select[name=bdm]').select2();
	           $('select[name=branch]').select2();
	           $('select[name=agntsup]').select2();
	           $('select[name=agnt]').select2();
			});
			
			function setReferralList(){
				var table = $('#prumyfamily_grid').DataTable();
					
				table.destroy();
				table = $('#prumyfamily_grid').DataTable({
					processing: true,
					serverSide: true,
					ajax: {
						url: [[@{/managereferral/search/serverside}]],
	   					type: 'post',
	   					data: function(d){
	   						d.rbdm = $('select[name=rbdm]').val();
	   						d.sbdm = $('select[name=sbdm]').val();
	   						d.bdm = $('select[name=bdm]').val();
	   						d.branch = $('select[name=branch]').val();
	   						d.agntsup = $('select[name=agntsup]').val();
	   						d.agnt = $('select[name=agnt]').val();
	   						d.trnDateTimeFrom = $('input[name=trnDateTimeFrom]').val();
	   						d.trnDateTimeTo = $('input[name=trnDateTimeTo]').val();
	   						d.cusInfor = $('input[name=cusInfor]').val();
	   						d.rType = $('select[name=rType]').val();
	   						d.sucAppStatus = $('select[name=sucAppStatus]').val();
	   						d.clsBankSoStatus = $('select[name=clsBankSoStatus]').val();
	   						d.clsBankUploadStatus = $('select[name=clsBankUploadStatus]').val();
	   						d.exisCusStatus = $('select[name=exisCusStatus]').val();
	   						d.referralBy = $('select[name=referralBy]').val();
	   						d.followupDateTimeFrom = $('select[name=followupDateTimeFrom]').val();
	   						d.followupDateTimeTo = $('select[name=followupDateTimeTo]').val();
	   					}
					},
					"columns": [
		            	{
		            		data: '0'
		            	},
		            	{
		            		data: '1'
		            	},
		            	{
		            		data: '2'
		            	},
		            	{
		            		data: '3'
		            	},
		            	{
		            		data: '4'
		            	},
		            	{
		            		data: '5'
		            	},
		            	{
		            		data: '6'
		            	},
		            	{
		            		data: '7'
		            	},
		            	{
		            		data: '8'
		            	},
		            	{
		            		data: '9'
		            	},
		            	{
		            		data: '10'
		            	},
		            	{
		            		data: '',
		            		defaultContent: '<p class="btn btn-warning btn-line btn-xs btnDetail" title="View Referral Detail"><i class="fa fa-pencil-square-o"></i></p>'
		            	}
		            ],
			        columnDefs: [
			            { 
			            	targets: 0,
			            	createdCell: function(td, cellData, rowData, row, col){
			            		$(td).css('display', 'none');
			            	}
		            	},
			            {
			            	targets: -1,
			            	createdCell: function(td, cellData, rowData, row, col){
			            		var btnDetail = $(td).children().first();
			            		
			            		$(btnDetail).click(function(e){
			            			var url = [[@{/referral}]];
	
									var btn = $(this);
									var id = $.trim(btn.parent().parent().children().first().text());
									
									url = url + '/detail/' + id;
									window.open(url, '_blank');
			            		})
			            	}
			            }
			        ],
			        "fnDrawCallback": function (oSettings, json) {
			            //showLoading(false);
			        }
				});
				
// 					$.ajax({
// 	   					url: [[@{/managereferral/search}]],
// 	   					type: 'post',
// 	   					data: $('#frmReferralSearch').serialize(),
// 	   					success: function(result){
// 	   						if(result !=""){
// 	   							var dataSet = JSON.parse(result);
	   							
// 	   							var table = $('#prumyfamily_grid').DataTable();
	   							
// 	   							table.destroy();
	   							
// 	   							table = $('#prumyfamily_grid').DataTable({
// 	   								data: dataSet
// 	   								,"columns": [
// 						            	{
// 						            		data: '0'
// 						            	},
// 						            	{
// 						            		data: '1'
// 						            	},
// 						            	{
// 						            		data: '2'
// 						            	},
// 						            	{
// 						            		data: '3'
// 						            	},
// 						            	{
// 						            		data: '4'
// 						            	},
// 						            	{
// 						            		data: '5'
// 						            	},
// 						            	{
// 						            		data: '6'
// 						            	},
// 						            	{
// 						            		data: '7'
// 						            	},
// 						            	{
// 						            		data: '8'
// 						            	},
// 						            	{
// 						            		data: '9'
// 						            	},
// 						            	{
// 						            		data: '10'
// 						            	},
// 						            	{
// 						            		data: '',
// 						            		defaultContent: '<p class="btn btn-warning btn-line btn-xs btnDetail" title="View Referral Detail"><i class="fa fa-pencil-square-o"></i></p>'
// 						            	}
// 						            ],
// 							        columnDefs: [
// 							            { 
// 							            	targets: 0,
// 							            	createdCell: function(td, cellData, rowData, row, col){
// 							            		$(td).css('display', 'none');
// 							            	}
// 						            	},
// 							            {
// 							            	targets: -1,
// 							            	createdCell: function(td, cellData, rowData, row, col){
// 							            		var btnDetail = $(td).children().first();
							            		
// 							            		$(btnDetail).click(function(e){
// 							            			var url = [[@{/referral}]];
					
// 													var btn = $(this);
// 													var id = $.trim(btn.parent().parent().children().first().text());
													
// 													url = url + '/detail/' + id;
// 													window.open(url, '_blank');
// 							            		})
// 							            	}
// 							            }
// 							        ],
// 							        "fnDrawCallback": function (oSettings, json) {
// 							            //showLoading(false);
// 							        }
// 	   							});
	   							
// 	   							$(table.column(0).header()).css('display', 'none');
// 	   						}else{
	   							
// 	   						}
// 	   					},
// 	   					error: function(){
// 	   						console.log('error while searching');
// 	   					}
// 	   				});	
	   		}
			
			function getAgntSupByBDM(bdm, position, cmb){
				var lascode = cmb.val();
				var data = {
					bdm : bdm
					,position : position
					,lascode : lascode
				};
				
				$.ajax({
					type: 'post',
					data: data,
					url: [[@{/managereferral/supbybdm}]],
					success: function(result){
						console.log(result);
						
						if(result){
							var items = JSON.parse(result);
							
							cmb.html('<option value="">-- Select BDM --</option>');
							items.forEach(function(value, index){
								cmb.append('<option value="' + value[0] + '">' + value[1] + '</option>');
							});
						}
					}
				});
			}
			
			function getAgentByBranch(branch, cmb){
				var data = { 
					branch : branch
				};
				
				$.ajax({
					type: 'post',
					data: data,
					url: [[@{/managereferral/agntbybranch}]],
					success: function(result){
						if(result){
							var items = JSON.parse(result);
							
							cmb.html('<option value="">-- Select Agent --</option>');
							items.forEach(function(value, index){
								cmb.append('<option value="' + value[0] + '">' + value[1] + '</option>');
							});
						}
					}
				});
			}
			
			function getBranchByBdm(bdm, cmb){
				var data = { 
					bdm : bdm
				};
				
				$.ajax({
					type: 'post',
					data: data,
					url: [[@{/managereferral/branchbybdm}]],
					success: function(result){
						if(result){
							var items = JSON.parse(result);
							
							cmb.html('<option value="">-- Select Branch --</option>');
							items.forEach(function(value, index){
								cmb.append('<option value="' + value[0] + '">' + value[1] + '</option>');
							});
						}
					}
				});
			}
			
			function reloadParam(){
				var rbdm = $('select[name=rbdm]').val();
				var sbdm = $('select[name=sbdm]').val();
				var bdm = $('select[name=bdm]').val();
				var branch = $('select[name=branch]').val();
				var agntsup = $('select[name=agntsup]').val();
				var agntnum = $('select[name=agnt]').val();
				
				var data = {
					rbdm : rbdm,
					sbdm : sbdm,
					bdm : bdm,
					branch : branch,
					agntsup : agntsup,
					agntnum : agntnum
				}
				
				$.ajax({
					type: 'post',
					data: data,
					url: [[@{/managereferral/reloadparam}]],
					success: function(result){
						if(result){
							var items = JSON.parse(result);
							var rbdmList = items[0];
							var sbdmList = items[1];
							var bdmList = items[2];
							var branchList = items[3];
							var supList = items[4];
							var agntList = items[5];
							
							$('select[name=rbdm]').html('<option value="">-- Select RBDM --</option>');
							rbdmList.forEach(function(value, index){
								$('select[name=rbdm]').append('<option value="' + value[0] + '">' + value[1] + '</option>');
							});
							$('select[name=rbdm]').val(rbdm);
							
							$('select[name=sbdm]').html('<option value="">-- Select SBDM --</option>');
							sbdmList.forEach(function(value, index){
								$('select[name=sbdm]').append('<option value="' + value[0] + '">' + value[1] + '</option>');
							});
							$('select[name=sbdm]').val(sbdm);
							
							$('select[name=bdm]').html('<option value="">-- Select BDM --</option>');
							bdmList.forEach(function(value, index){
								$('select[name=bdm]').append('<option value="' + value[0] + '">' + value[1] + '</option>');
							});
							$('select[name=bdm]').val(bdm);
							
							$('select[name=branch]').html('<option value="">-- Select Branch --</option>');
							branchList.forEach(function(value, index){
								$('select[name=branch]').append('<option value="' + value[0] + '">' + value[1] + '</option>');
							});
							$('select[name=branch]').val(branch);
							
							$('select[name=agntsup]').html('<option value="">-- Select Supervisor --</option>');
							supList.forEach(function(value, index){
								$('select[name=agntsup]').append('<option value="' + value[0] + '">' + value[1] + '</option>');
							});
							$('select[name=agntsup]').val(agntsup);
							
							$('select[name=agnt]').html('<option value="">-- Select Agent --</option>');
							agntList.forEach(function(value, index){
								$('select[name=agnt]').append('<option value="' + value[0] + '">' + value[1] + '</option>');
							});
							$('select[name=agntnum]').val(agntnum);
						}
					}
				});
			}
		</script>
	</th:block>
</body>
</html>