<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
<link th:href="@{/resources/css/referral.css}" rel="stylesheet" />
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!-- page content -->
			<div class="right_col" role="main" layout:fragment="pageContent">
				<div class="content-panel">
					<div class="row">
						<div class="col-sm-6"></div>
					</div>
					<div class="layout-form">
						<form class="form-horizontal form-label-left" th:object="${referralparam}" th:action="@{''}" method="post" name="form">
							<input type="hidden" name="hclosedsale" value="false" />
							<div th:if="${errors} != null" class="alert alert-warning" role="alert">
								<ul>
									<li th:each="error : ${errors}" th:text="${error.code}"></li>
								</ul>
							</div>
							<div class="row space4">
								<div class="col-sm-12 form-group fixed-form-control" style="color: red;">
									<p id="Err" class="error-font"></p>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 pru-color" style="height: 20px; border-radius: 5px;">
								<i style="color: white;"><b>New Referral</b></i>
							</div>
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" id="linkClickInfo" href="#info">Information</a></li>
								<li id="clickSale"><a data-toggle="tab" class="tab-disable" id="linkClickSale" href="#sale">Sale Activity</a></li>
								<li><a data-toggle="tab" id="linkClickFollowup" href="#followup">Follow Up</a></li>
								<li id="clickCloseSale"><a data-toggle="tab" class="tab-disable" id="linkClickCloseSale" href="#close">Close Sale</a></li>
							</ul>
							<div class="tab-content" style="margin-top: 10px;">
								<div id="info" class="tab-pane fade in active">
									<div class="form-group">
										<div class="dishidden">
											<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Auto No:</label>
											<div class="col-md-6 col-sm-12 col-xs-12">
												<input type="text" readonly="readonly" Class="form-control" th:field="*{rID}" />
											</div>
										</div>
										<label for="id" class="control-label col-md-2 col-sm-3 col-xs-12">
											Existing Customer<span class="required-mark">*</span>
										</label>
										<div class="col-md-2 col-sm-12 col-xs-12">
											<select class="form-control col-md-7 col-xs-12" id="exisCusStatus" th:field="*{exisCusStatus}" >
	                        					<option value="Yes" selected>Yes</option>
	                        					<option value="No">No</option>
		                        			</select>
										</div>
									</div>
									<div class="headline">
										<i><b style="color:#ED1B2E;">&nbsp;Referral &amp; Approach</b></i>
									</div>
									<div style="padding-top: 10px; padding-bottom: 5px; background: #EEEEEE; border-radius: 5px;">
										<div class="form-group">
											<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">
												Referral Type<span class="required-mark">*</span>
											</label>
											<div class="col-md-2 col-sm-12 col-xs-12">
												<select class="form-control col-md-12 col-sm-12 col-xs-12" id="rType" th:field="*{rType}">
													<th:block th:each="rType : ${rType}">
														<option th:value="${rType[0]}" th:text="${rType[1]}"></option>
													</th:block>
												</select>
											</div>
											<label for="item" class="col-md-1 col-sm-12 col-xs-12 control-label">Date</label>
											<div class="col-md-1 col-sm-12 col-xs-12">
												<input id="rDate" th:field="*{rDate}" type="text" data-date-format="DD/MM/YYYY" readonly placeholder="DD/MM/YYYY"
													class="form-control col-md-12 col-sm-12 col-xs-12" />
											</div>
											<label for="item" class="col-md-1 col-sm-12 col-xs-12 control-label">Branch<span class="required-mark">*</span></label>
											<div class="col-md-2 cl-sm-12 col-xs-12">
												<select class="select2_single form-control col-md-12 col-sm-12 col-xs-12" tabindex="-1" id="branch">
													<option value="0">Branch Code - Name</option>
													<option th:each="branch : ${branchs}" th:value="${branch.branchCode}" th:text="${branch.branchCode + ' - ' + branch.branchDesc}"  th:selected="${branch.branchCode == agntBranchCode}"></option>
												</select>
											</div>
											<label for="item" class="col-md-1 col-sm-12 col-xs-12 control-label">Introducer<span class="required-mark">*</span></label>
											<div class="col-md-2 col-sm-12 col-xs-12">
			                        		<input type="hidden" id="referralByHidden" name="referralByHidden" th:field="*{referralBy}" />
												<select class="select2-referrer form-control col-md-12 col-sm-12 col-xs-12" tabindex="-1" name="referralBy" id="referralBy">
													<option value="0">Select Referrer</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label">Remark/Referral Serial Number</label>
											<div class="col-md-10 col-sm-12 col-xs-12">
												<input type="text" class="form-control" id="rRemark" th:field="*{rRemark}" style="text-transform: uppercase;" />
											</div>
										</div>
									</div>
									<div class="headline">
										<i><b style="color: #ED1B2E;">&nbsp;Customer Information</b></i>
									</div>
									<div style="padding-top: 10px; padding-bottom: 10px; background: #F0F0F0; border-radius: 5px;">
										<div class="form-group">
											<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">
												Customer Full Name<span class="required-mark">*</span>
											</label>
											<div class="col-md-2 col-sm-12 col-xs-12">
												<input type="text" class="form-control col-md-7 col-xs-12" id="cusName" th:field="*{cusName}" disabled readonly style="text-transform: uppercase;"/>
											</div>
											<label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">
												Sex<span class="required-mark">*</span>
											</label>
											<div class="col-md-2 col-sm-12 col-xs-12">
												<select class="form-control col-md-7 col-xs-12" id="cusSex" disabled readonly th:field="*{cusSex}">
													<option value="M">Male</option>
													<option value="F">Female</option>
												</select>
											</div>
											<label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">
												Estimate Age<span class="required-mark">*</span>
											</label>
											<div class="col-md-1 col-sm-12 col-xs-12">
												<input type="text" class="form-control col-md-7 col-xs-12" id="cusAge" th:field="*{cusAge}" style="text-transform: uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
											</div>
											<div class="col-md-3 col-sm-12 col-xs-12" style="padding: 0px;">
												<label for="id" class="control-label col-md-6 col-sm-12 col-xs-12">
													Marital Status<span class="required-mark">*</span>
												</label>
												<div class="col-md-6 col-sm-12 col-xs-12">
													<select class="form-control col-md-7 col-xs-12" id="cusMStatus" th:field="*{cusMStatus}">
														<option value="Married">Married</option>
														<option value="Single">Single</option>
														<option value="Divorce">Divorce</option>
														<option value="Widow">Widow</option>
														<option value="Widower">Widower</option>
													</select>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">#of Children<span class="required-mark">*</span>
											</label>
											<div class="col-sm-1 col-sm-12 col-xs-12">
												<select class="form-control col-md-12 col-sm-12 col-xs-12" id="cusNochd" th:field="*{cusNochd}">
													<option value="0">0</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
													<option value="6">6</option>
													<option value="7">7</option>
													<option value="8">8</option>
													<option value="9">9</option>
													<option value="10">10</option>
												</select>
											</div>
											<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">
												Mobile Number Line(1)<span class="required-mark">*</span>
											</label>
											<div class="col-md-2 col-sm-12 col-xs-12">
												<input type="text" class="form-control" id="cusPhone" th:field="*{cusPhone}" style="text-transform: uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
											</div>
											<label for="id" class="col-md-1 col-sm-12 col-xs-12 control-label">
												Occupation<span class="required-mark">*</span>
											</label>
											<div class="col-md-2 col-sm-12 col-xs-12">
												<select class="form-control col-md-12 col-sm-12 col-xs-12" id="cusOcc" th:field="*{cusOcc}">
													<option value="0">Select Occupation</option>
													<th:block th:each="occupation : ${occupation}">
														<option th:value="${occupation[0]}" th:text="${occupation[1]}"></option>
													</th:block>
												</select>
											</div>
											<label class="col-md-3 col-sm-12 col-xs-12 control-label dishidden">
												Mobile Number Line(2) </label>
											<div class="col-md-3 col-sm-12 col-xs-12 dishidden">
												<input type="text" class="form-control" id="cusPhone2" th:field="*{cusPhone2}" style="text-transform: uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
											</div>
										</div>
										<div class="form-group">
											<label for="id" class="col-md-1 col-sm-12 col-xs-12 control-label dishidden">Facebook</label>
											<div class="col-md-2 col-sm-12 col-xs-12 dishidden">
												<input type="text" class="form-control" id="cusFacebook" th:field="*{cusFacebook}" style="text-transform: uppercase;" />
											</div>
											<label for="id" class="col-md-1 col-sm-12 col-xs-12 control-label dishidden">E-mail</label>
											<div class="col-md-3 col-sm-12 col-xs-12 dishidden">
												<input type="text" class="form-control" id="cusEmail" th:field="*{cusEmail}" style="text-transform: uppercase;" />
											</div>
										</div>
									</div>
									<div style="padding-top: 10px; padding-bottom: 10px; background: #F0F0F0; border-radius: 5px;" class="dishidden">
										<div class="form-group">
											<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Customer Approach <span class="required-mark">*</span>
											</label>
											<div class="col-md-2 col-sm-12 col-xs-12">
												<select class="form-control" id="cusAprStatus" th:field="*{cusAprStatus}">
													<option value="No">No</option>
													<option value="Yes">Yes</option>
												</select>
											</div>
											<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12 dishidden">
												Date of Approach <span class="required-mark">*</span>
											</label>
											<div class="col-md-2 col-sm-12 col-xs-12 dishidden">
												<input readonly id="cusAprDate" th:field="*{cusAprDate}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control col-md-7 col-xs-12" />
											</div>
										</div>
									</div>
									<div class="headline">
										<i><b style="color: #ED1B2E;">&nbsp; Other Service</b></i>
									</div>
									<div style="padding-top: 10px; padding-bottom: 10px; background: #F0F0F0; border-radius: 5px;">
										<div class="row">
											<div class="col-md-offset-1 col-md-10">
												<table class="table">
													<thead>
														<tr>
															<th colspan="2">Bank Product Introduced by FC</th>
															<th>Comment</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="acbproduct : ${acbProducts}">
															<td>
																<span th:text="${acbproduct.shortDesc}"></span>
																<input type="hidden" th:value="${acbproduct.id}" th:id="${#strings.replace('productname-' +acbproduct.shortDesc,' ','')}"  />
															</td>
															<td>
																<select class="form-control col-md-12 col-sm-12 col-xs-12" th:id="${#strings.replace('cusappby-' +acbproduct.shortDesc,' ','')}">
																	<option value=""></option>
																	<option value="Yes">Yes</option>
																	<option value="No">No</option>
																</select>
															</td>
															<td>
																<select class="form-control col-md-12 col-sm-12 col-xs-12" th:id="${#strings.replace('comment-' + acbproduct.shortDesc,' ','')}">
																	<option value="0"></option>
																	<th:block th:each="acbproductcomment : ${acbProductComments}">
																		<option th:value="${acbproductcomment.id}" th:text="${acbproductcomment.comment}"></option>
																	</th:block>
																</select>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div id="sale" class="tab-pane fade">
									
								</div>
								<div id="followup" class="tab-pane fade">
									<div style="padding-top: 5px; padding-bottom: 5px; background: #F0F0F0; border-radius: 5px;">
										<div class="form-group">
											<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">
												Next Follow-Up Date</label>
											<div class="col-md-2 col-sm-12 col-xs-12">
												<input id="fappDate" name="fappDate" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control" />
											</div>
											<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">
												Follow-Up Status</label>
											<div class="col-md-6 col-sm-12 col-xs-12">
												<select class="form-control" id="cid" name="cid">
													<option value="0">Select Status</option>
													<th:block th:each="rReferralCommentType : ${rReferralCommentType}">
														<option th:value="${rReferralCommentType[0]}" th:text="${rReferralCommentType[1]}"></option>
													</th:block>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-2 col-sm-12 col-xs-12 control-label">
												Customer Answer Detail</label>
											<div class="col-md-10 col-sm-12 col-xs-12 control-label">
												<input type="text" class="form-control" id="remark" name="remark" />
											</div>
										</div>
									</div>
								</div>
								<div id="close" class="tab-pane fade">
								</div>
							</div>
							<div class="row space5">
								<div class="form-group fixe	d-form-control col-sm-12 btNotFixed">
									<div class="col-sm-12">
										<button type="button" class="btn btn-danger" id="btnsave" name="btnsave">Save</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /page content -->
		</div>
	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var isclick = false;
			var saveUrl = [[@{/referral/savedraft}]];
			var urlgetreferrersbyagntnumandbranchcode = [[@{/getcertifiedreferrersbyagntnumandbranchcode}]];
			var nameDescFormat = [[${nameDescFormat}]];
			var formstatus = 'create';
		</script>
		<script th:src="@{/resources/js/validateform/newapproach.js}"></script>
	</th:block>
</body>
</html>