<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<style>
					.col-sm-5{ vertical-align: middle;  }
					label{ font-size:12px;}
					.headline hr{margin-top:-3px;}
					.control-label{margin:0px;}	
				</style>
									
                 	<div class="content-panel" >                 	
                 	<div class="row">
                  	<div class="col-sm-6">
                  	</div> 
                  	</div>
                 	<div style="border:1px solid #ccc; padding:5px; padding-top:10px;border-radius:5px;">                              	      				     	        		
	                  	 <form th:object="${referralparam}" onsubmit="return checkSubmit();" th:action="@{''}" method="post" name="form">
	                  	   <div th:if="${errors} != null" class="alert alert-warning" role="alert">
								<ul>
									<li th:each="error : ${errors}"
										th:text="${error.code}"></li>
								</ul>
					 		</div>
	                  	  	<div class="row space4">
	                  	  		<div class="col-sm-12 form-group fixed-form-control" style="color:red;">
		                        	<p id="Err" style="font-size:12px;"></p>
		                        </div>  
		                    </div>               	  	
	                  	  	<div class="row space4">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control" style="display:none">
		                        	<label for="id" class="col-sm-5 control-label">Auto No:</label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" readonly="readonly" Class="form-control"   th:field="*{rID}" htmlEscape="true"/>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label"><b>Referral create date:</b><span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input id="trnDateTime" th:field="*{trnDateTime}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="headline">
		                        <i><b style="color:#ED1B2E;">&nbsp;Customer Information</b></i>
	                        </div>
	                        <div class="row space4" style="padding-top:10px;margin:5px;background:#F0F0F0;border-radius:5px;">
	                           <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Customer Name<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" class="form-control" id="cusName" th:field="*{cusName}" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-3 form-group fixed-form-control">
			                        	<label for="item" class="col-sm-5 control-label">Sex<span class="required-mark" >*</span></label>    
			                        	<div class="col-sm-7">
			                        		<select class="form-control" id="cusSex" th:field="*{cusSex}">
		                        				<option value="Male">Male</option>
		                        				<option value="Female">Female</option>
		                        			</select>
			                        	</div>  
		                        </div>
		                        <div class="col-sm-3 form-group fixed-form-control">
			                        	<label for="item" class="col-sm-5 control-label">Age<span class="required-mark" >*</span></label>    
			                        	<div class="col-sm-7">
			                        		<input type="text" class="form-control" id="cusAge" th:field="*{cusAge}"  htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
			                        	</div>  
		                        </div>
		                    	<div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Family Status<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<select class="form-control" id="cusMStatus" th:field="*{cusMStatus}">
		                        				<option value="Married">Married</option>
		                        				<option value="Single">Single</option>
		                        		</select>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">No. of Children<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" class="form-control" id="cusNochd"  th:field="*{cusNochd}" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Mobile Number<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" class="form-control" id="cusPhone" th:field="*{cusPhone}" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Facebook<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" class="form-control" id="cusFacebook" th:field="*{cusFacebook}" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Customer Monthly Average Income<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" class="form-control" id="cusSalaryMonthly" th:field="*{cusSalaryMonthly}" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>
		                         <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Customer Annually Average Income<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" class="form-control" id="cusSalaryYearly" th:field="*{cusSalaryYearly}" disabled="disabled" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>
		                         <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Estimate Affordable Premium<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" class="form-control" id="cusAFPremium" th:field="*{cusAFPremium}" disabled="disabled" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>
		                    </div>
	                        <div class="headline">
	                        	<i><b style="color:#ED1B2E;">&nbsp;Referrals/Approaches</b></i>
	                        </div>
	                        <div class="row space4" style="padding-top:10px;margin:5px;background:#EEEEEE;border-radius:5px;">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label"> Referral Type</label>    
		                        	<div class="col-sm-7">
		                        		<select class="form-control" id="rType" th:field="*{rType}">
		                        			<option value="0">Select Referral Type</option>
		                        			<th:block th:each="rType : ${rType}">
		                        				<option th:value="${rType[0]}" th:text="${rType[1]}"></option>
		                        			</th:block>
		                        		</select>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">Date</label>    
		                        	<div class="col-sm-7">
		                        		<input id="rDate" th:field="*{rDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-12 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-3 control-label">Remark</label>    
		                        	<div class="col-sm-9">
		                        		<input type="text" class="form-control" id="rRemark" th:field="*{rRemark}" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="headline" >
		                        <i><b style="color:#ED1B2E;">&nbsp;Sales Presentation</b></i>
		                    </div>
	                        <div class="row space4" style="padding-top:10px;margin:5px;background:#EEEEEE;border-radius:5px;">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Successful Appointment</label>    
		                        	<div class="col-sm-7">
		                        		<select class="form-control" id="sucAppStatus" th:field="*{sucAppStatus}">
		                        				<option value="No">No</option>
		                        				<option value="Yes">Yes</option>
		                        		</select>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">Date</label>    
		                        	<div class="col-sm-7">
		                        		<input id="sucAppDate" th:field="*{sucAppDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-12 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-3 control-label">Remark</label>    
		                        	<div class="col-sm-9">
		                        		<input type="text" class="form-control" id="sucAppRemark" th:field="*{sucAppRemark}" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>
		                    </div>
	                        <div class="headline">
		                        <i><b style="color:#ED1B2E;">&nbsp;Closed Sales</b></i>
		                    </div>
	                        <div class="row space4" style="padding-top:10px;margin:5px;background:#EEEEEE;border-radius:5px;">                  	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-6 control-label">Completed Bank Standing Order</label>    
		                        	<div class="col-sm-6">
		                        		<select class="form-control" id="clsBankSoStatus" th:field="*{clsBankSoStatus}">
		                        				<option value="No">No</option>
		                        				<option value="Yes">Yes</option>
		                        		</select>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">Complete Date</label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" id="clsBankSoDate" th:field="*{clsBankSoDate}"  data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">Application Number</label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" id="clsBankAppNum" th:field="*{clsBankAppNum}"  class="form-control"  htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Uploaded</label>    
		                        	<div class="col-sm-7">
		                        		<select class="form-control" id="clsBankIploadStatus" th:field="*{clsBankIploadStatus}">
		                        				<option value="No">No</option>
		                        				<option value="Yes">Yes</option>
		                        		</select>
		                        	</div>  
		                        </div>  
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">Date Upload</label>    
		                        	<div class="col-sm-7">
		                        		<input id="clsBankUploadDate" th:field="*{clsBankUploadDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-3 control-label">Remark</label>    
		                        	<div class="col-sm-9">
		                        		<input type="text" class="form-control" id="clsBankUploadRemark" th:field="*{clsBankUploadRemark}" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>
		                    </div>
	                        <div class="row space4" style="padding-top:10px;margin:5px;background:#EEEEEE;border-radius:5px;">                  	  	
		                  	    <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-5 control-label">APE</label>    
		                        	<div class="col-sm-7">
		                        		<input type="text" class="form-control" id="APE" th:field="*{APE}"  htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
		                        	</div>  
		                        </div>
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="id" class="col-sm-5 control-label">Existing Customer</label>    
		                        	<div class="col-sm-7">
		                        		<select class="form-control" id="exisCusStatus" th:field="*{exisCusStatus}">
		                        				<option value="No">No</option>
		                        				<option value="Yes">Yes</option>
		                        		</select>
		                        	</div>  
		                        </div> 
		                    </div>
		                    <div class="row space4" style="padding-top:10px;margin:5px;background:#EEEEEE;border-radius:5px;">                  	  	
		                  	  	 
		                        <div class="col-sm-12 form-group fixed-form-control">
		                        	<label for="item" class="col-sm-3 control-label">Refered by(Full Name) </label>    
		                        	<div class="col-sm-9">
		                        		<input type="text" class="form-control" id="referralBy" th:field="*{referralBy}" htmlEscape="true" style="text-transform:uppercase;"/>
		                        	</div>  
		                        </div>
		                    </div>
<!-- 		                    <div class="row space4" style="padding-top:10px;margin:5px;background:#EEEEEE;border-radius:5px;"> -->
<!-- 			                    <div class="col-sm-6 form-group fixed-form-control"> -->
<!-- 			                        	<label for="item" class="col-sm-5 control-label">Appointment Date</label>     -->
<!-- 			                        	<div class="col-sm-7"> -->
<!-- 			                        		<input id="appDate" th:field="*{appDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/> -->
<!-- 			                        	</div>   -->
<!-- 			                    </div> -->
<!-- 		                    </div> -->
<!-- 		                    <div class="row space4" style="padding-top:10px;margin:5px;background:#EEEEEE;border-radius:5px;">                  	  	 -->
<!-- 		                  	  	<div class="col-sm-12 form-group fixed-form-control"> -->
<!-- 		                        	<label for="item" class="col-sm-3 control-label">Customer Follow-Up Comment Type </label>     -->
<!-- 		                        	<div class="col-sm-9"> -->
<!-- 		                        		<select class="form-control" id="rType" th:field="*{rType}"> -->
<!-- 		                        			<option value="0">Select Referral Type</option> -->
<!-- 		                        			<th:block th:each="rReferralCommentType : ${rReferralCommentType}"> -->
<!-- 		                        				<option th:value="${rReferralCommentType[0]}" th:text="${rReferralCommentType[1]}"></option> -->
<!-- 		                        			</th:block> -->
<!-- 		                        		</select> -->
<!-- 		                        	</div>   -->
<!-- 		                        </div> -->
<!-- 		                    </div> -->
<!-- 		                    <div class="row space4" style="padding-top:10px;margin:5px;background:#EEEEEE;border-radius:5px;">                  	  	 -->
<!-- 		                  	  	<div class="col-sm-12 form-group fixed-form-control"> -->
<!-- 		                        	<label for="item" class="col-sm-3 control-label">Customer Follow-Up Comment Remark </label>     -->
<!-- 		                        	<div class="col-sm-9"> -->
<!-- 		                        		<input type="text" class="form-control" id="flwupCmtRemarkLast" th:field="*{flwupCmtRemarkLast}" htmlEscape="true" style="text-transform:uppercase;" /> -->
<!-- 		                        	</div>   -->
<!-- 		                        </div> -->
<!-- 		                    </div> -->
	                        <div class="row space4" style="display:none;">                  	  	
		                  	  	<div class="col-sm-4 form-group fixed-form-control" style="display:none;">
		                        	<label for="id" class="col-sm-6 control-label">ValidFlag</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" value="1"  Class="form-control"  id="validFlag" th:field="*{validFlag}" htmlEscape="true" onkeypress='return event.charCode >= 48 && event.charCode <= 49' maxlength="1"/>
		                        		
		                        	</div>
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">  
		                        	<label for="item" class="col-sm-6 control-label">User</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" class="form-control" id="trnBy" th:field="*{trnBy}"  htmlEscape="true"/>
		                        	</div>
		                        </div>
		                    </div>
	                        <div class="row space5">                 
	                        <div class="form-group fixed-form-control col-sm-12 btNotFixed" >
	                        	<div class="col-sm-12">
		                            <button  type="submit" class="btn btn-danger" name="btnsave">Save</button>
		                        </div>
	                         </div>
							 </div>
						 </form>
	                 </div>
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(document).ready(function(){
				var url=/*[[@{{url}(url=${session.previewurl})}]]*/'';
				
				if(url)
				{
// 					<c:url value="${ sessionScope.previewurl }" var="urlFinal" />							
					var winHeight="innerHeight" in window 
		               				? window.innerHeight
		                       : document.documentElement.offsetHeight; 	
// 		            <c:set value="" scope="session" var="previewurl" />																	
		            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
		            	var popup=window.open(url,"_blank");
		            	if(!popup || popup.closed || typeof popup.closed=='undefined') 
		            	{ 
		            	    //POPUP BLOCKED
		           	     	alert('Please enable popup blocker in setting!');
		            	}
		            }	
		            else{													
						var popup=window.open(url ,'mywindow'+(new Date()).getTime(),'width=840,height='+winHeight+',scrollbars=yes');
						if(!popup || popup.closed || typeof popup.closed=='undefined') 
		            	{ 
		            	    //POPUP BLOCKED
		           	     	alert('Please enable popup blocker in broswer setting!');
		            	}
		            }
				}
			});
		</script>
		<script th:src="@{/resources/js/validateform/referral.js}"></script>
	</th:block>
</body>
</html>