<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<style>
					.col-sm-5{ vertical-align: middle;  }
					label{ font-size:12px;}
					.headline hr{margin-top:-3px;}
					.control-label{margin:0px;}	
				</style>
									
                 	<div class="content-panel" >                 	
                 	<div class="row">
                  	<div class="col-sm-6">
                  	</div> 
                  	</div>
                 	<div style="border:1px solid #ccc; padding:5px; padding-top:10px;border-radius:5px;">     	        		
	                  	 <form class="form-horizontal form-label-left" th:object="${referrer}" onsubmit="return checkSubmit();" th:action="@{''}" method="post" name="form">
	                  	    <div th:if="${errors} != null" class="alert alert-warning" role="alert">
								<ul>
									<li th:each="error : ${errors}"
										th:text="${error.code}"></li>
								</ul>
					 		</div>
	                  	  	<div class="row space4">
	                  	  		<div class="col-sm-12 form-group fixed-form-control" style="color:red;">
		                        	<b><p id="Err" style="font-size:12px;"></p></b>
		                        </div>  
		                    </div>
		                    <div class="col-md-12 col-sm-12 col-xs-12" style="height:20px;background:#ED1D2E;border-radius:5px;">
                 				<i style="color:white;"><b>New Referrer</b></i>
                 			</div>
		                    <div class="col-sm-12 nopadding" style="margin-top: 10px; margin-bottom: 10px;padding-top:10px;background:white;border-radius:5px;">
				                <div class="form-group">
		                  	  		<div style="display:none;">
		                  	  			<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Auto No:</label>    
			                        	<div class="col-md-6 col-sm-12 col-xs-12">
			                        		<input type="text" readonly="readonly" Class="form-control"   th:field="*{id}" htmlEscape="true"/>
			                        	</div>
		                  	  		</div>
		                        
		                        	<div class="col-md-4 col-sm-12 col-xs-12">
		                        		<label for="item"><b>Referrer create date:</b><span class="required-mark">*</span></label>
		                        		<input id="trnDateTime" th:field="*{trnDate}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control col-md-7 col-xs-12"  htmlEscape="true"/>
		                        	</div>  
		                        	    
		                        	<div class="col-md-4 col-sm-12 col-xs-12">
		                        		<label for="id">Staff ID</label>
		                        		<input type="text" th:field="*{staffId}" class="form-control" placeholder="Staff ID" />
		                        	</div>
			                    </div>
			                    <div class="form-group">
		                        	    
		                        	<div class="col-md-4 col-sm-12 col-xs-12">
		                        		<label for="item">Staff Name:<span class="required-mark">*</span></label>
		                        		<input th:field="*{staffName}" type="text" class="form-control" placeholder="Staff Name" />
		                        	</div>  
		                        	
		                        	<div class="col-md-4 col-sm-12 col-xs-12">
		                        		<label for="id">Staff Branch:<span class="required-mark">*</span></label>
		                        		<select th:field="*{staffBranch}" class="form-control">
		                        			<option value="">-- Select Branch --</option>
		                        			<th:block th:each="branch : ${branches}">
		                        				<option th:value="${branch.branchCode}" th:text="${branch.branchDesc}"></option>
		                        			</th:block>
		                        		</select>
		                        	</div>
		                        	  
		                        	<div class="col-md-4 col-sm-12 col-xs-12 typeahead-container">
		                        		<label for="id">Staff Position:<span class="required-mark">*</span></label>
		                        		<div class="typeahead-field">
		                        			<span class="typeahead-query">
		                        				<input type="search" th:field="*{staffPosition}" class="form-control" placeholder="Position" autocomplete="off" />
		                        			</span>
		                        		</div>
		                        	</div>
			                    </div>
			                    <div class="form-group">
		                        	<label for="item" class="col-md-2 col-sm-12 col-xs-12"><b>Valid Flag</b> <span class="required-mark">* </span></label>    
		                        	<div class="col-md-2 col-sm-12 col-xs-12">
		                        		<input th:field="*{valid}" type="checkbox" />
		                        	</div>
		                        	
		                        	<div class="col-md-4 col-sm-12 col-xs-12">
		                        		<label for="id">Is Certified:<span class="required-mark">*</span></label>
		                        		<select th:field="*{isCertified}" class="form-control">
		                        			<option value="1">Certified</option>
		                        			<option value="0">Not-Certified</option>
		                        		</select>
		                        	</div>
		                        	  
		                        	<div class="col-md-4 col-sm-12 col-xs-12">
		                        		<label for="id">Employee Status:<span class="required-mark">*</span></label>
		                        		<select th:field="*{status}" class="form-control">
		                        			<option value="1">Active</option>
		                        			<option value="0">Inactive</option>
		                        		</select>
		                        	</div>
			                    </div>
			  				</div>
							
	                        <div class="row space4" style="display:none;">                  	  	
		                  	  	<div class="col-sm-4 form-group fixed-form-control" style="display:none;">
		                        	<label for="id" class="col-sm-6 control-label">ValidFlag</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" value="1"  Class="form-control"  id="validFlag" th:field="*{validFlag}" htmlEscape="true" onkeypress='return event.charCode >= 48 && event.charCode <= 49' maxlength="1"/>
		                        		
		                        	</div>
		                        	
		                        </div>
		                        <div class="col-sm-4 form-group fixed-form-control">  
		                        	<label for="item" class="col-sm-6 control-label">User</label>    
		                        	<div class="col-sm-6">
		                        		<input type="text" class="form-control" id="trnBy" th:field="*{trnBy}"  htmlEscape="true"/>
		                        	</div>
		                        </div>
		                    </div>
	                        <div class="row space5">                 
	                        <div class="form-group fixed-form-control col-sm-12 btNotFixed" >
	                        	<div class="col-sm-12">
		                            <button  type="submit" class="btn btn-danger" name="btnsave">Save</button>
		                        </div>
	                         </div>
							 </div>
						 </form>
	                 </div>
  				</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var positions = [[${positions}]];
			
			$(document).ready(function(){
				$("#staffPosition").typeahead({
					order: "asc",
					minLength: 1,
					source: {
						data: positions
					}
				});
				
				$('#staffBranch').select2();
			});
		</script>
		<script th:src="@{/resources/js/validateform/referrer.js}"></script>
	</th:block>
</body>
</html>