<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
        	<div class="content-panel" style="border:1px solid #ccc; padding:5px; padding-top:10px;border-radius:5px; margin-top: 55px;">
	        	<form class="form-horizontal form-label-left" th:object="${referralComment}" onsubmit="return checkSubmitComment();" th:action="@{''}" method="post" name="form">
	        		<div th:if="${errors} != null" class="alert alert-warning" role="alert">
						<ul>
							<li th:each="error : ${errors}"
								th:text="${error.code}"></li>
						</ul>
			 		</div>
			 		<div class="row space4">
               	  		<div class="col-sm-12 form-group fixed-form-control" style="color:red;">
                        	<p id="Err" style="font-size:12px;"></p>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="height:20px;background:#ED1D2E;border-radius:5px;">
                 				<i style="color:white;"><b>Referral Information</b></i>
                 	</div>
		    		<div class="row" style="margin:5px;padding-top:20px;padding-bottom:5px;background:#EEEEEE;border-radius:5px;">                  	  	
				         <div class="form-group">
		    				<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Customer Name</label>    
				           	<div class="col-md-3 col-sm-12 col-xs-12">
				                	<input type="text" th:field="*{cusName}" id="cusName" class="form-control" disabled readonly />
				            </div>
				            <label for="id" class="col-md-1 col-sm-12 col-xs-12 control-label">Sex</label>    
				           	<div class="col-md-2 col-sm-12 col-xs-12">
				                	<input type="text" th:field="*{cusSex}" id="cusName" class="form-control" disabled readonly />
				            </div>
				            <label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Mobile Number</label>    
				           	<div class="col-md-2 col-sm-12 col-xs-12">
				                	<input type="text" th:field="*{cusPhone1}" id="cusName" class="form-control" disabled readonly />
				            </div>   
				        </div>
				        <div class="form-group">
				        	<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">App Number</label>    
				           	<div class="col-md-2 col-sm-12 col-xs-12">
				                	<input type="text" th:field="*{appNum}" id="appNum" class="form-control" disabled readonly />
				            </div>
				        </div>
		    		</div>
		    		
		    		<div class="col-md-12 col-sm-12 col-xs-12" style="height:20px;background:#ED1D2E;border-radius:5px;">
                 				<i style="color:white;"><b>Follow Up Comment</b></i>
                 	</div>
                 	<div class="row" style="margin:5px;padding-top:25px;padding-bottom:5px;background:#EEEEEE;border-radius:5px;">                  	  	
				    	<div class="form-group">
		    				<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Next Follow-Up Date</label>    
				           	<div class="col-md-2 col-sm-12 col-xs-12">
				            	<input id="appDate" th:field="*{appDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control"  htmlEscape="true"/>
				            </div>
				            <label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Follow-Up Status</label>    
				           	<div class="col-md-6 col-sm-12 col-xs-12">
				            	<select class="form-control" id="cid" th:field="*{cid}">
		                    			<option value="0">Select Status</option>
		                    			<th:block th:each="rReferralCommentType : ${rReferralCommentType}">
		                    				<option th:value="${rReferralCommentType[0]}" th:text="${rReferralCommentType[1]}"></option>
		                    			</th:block>
	                    		</select>
				            </div>
				        </div>
				        <div class="form-group">
				            <label class="col-md-2 col-sm-12 col-xs-12 control-label">Customer Answer Detail</label>    
	                    	<div class="col-md-10 col-sm-12 col-xs-12 control-label">
	                    		<input type="text" class="form-control" id="remark" th:field="*{remark}" htmlEscape="true" />
	                    	</div>   
		    			</div>
		    			<div class="col-sm-12">
	                		<button type="submit" class="btn btn-danger btn-sm pull-right" id="btnSubmit">Save</button>
	                	</div>
	                	<div class="col-md-12">
											<table id="followup_grid" class="table table-striped table-advance table-hover">                             
						              	  	  <thead>
						                           <tr>
						                           	  <th>No</th>                          	  
													  <th>Comment Type</th>
						                              <th>Comment Detail</th>
						                              <th>Comment Date</th>
						                              <th>Next Follow Up Date</th>
						                              <th>Comment By</th>
						                           </tr>
						                      </thead>
						                      <tbody>
						                      		<th:block th:each="folup : ${listReferralFollowup}">
						                        	<tr >
								                       	<td th:text="${folup[0]}">1</td>
								                        <td th:text="${folup[4]}">2</td>
								                        <td th:text="${folup[5]}">3</td>
								                        <td th:text="${folup[6]}">4</td>
								                        <td th:text="${folup[9]}">5</td>
								                        <td th:text="${folup[8]}">6</td>
							                        </tr>			
						                        	</th:block>
						                       </tbody>
						                     </table>
										</div>
		    		</div>
				</form>
        	</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:src="@{/resources/js/validateform/referral.js}"></script>
		<script th:inline="javascript">
			
		</script>
	</th:block>
</body>
</html>