<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
       		<style>
				.nomargin{padding-left: 0 !important;}
				.no-gutter > [class*='col-'] {
					    padding-right:0;
					    padding-left:0;
				}
			</style>
			<div class="content-panel" >
			<form class="form-horizontal form-label-left" name="form" id="frmReferrerSearch" th:action="@{''}" method="post">                 	
                 	<div class="col-sm-12 nopadding" style="margin-top:100px;padding-top:10px;margin:5px;background:white;border-radius:5px;">
		                <div class="form-group">
		                    <label for="item" class="col-md-2 col-sm-12 col-xs-12"><b>Referrer Information</b></label>
		                    <div class="col-md-10 col-sm-12">
	                    		<input type="text" name="keyword" id="keyword" placeholder="Name, Branch, Position" class="form-control" />
		                    </div>
		                </div>
		                
		                <div class="form-group">
	                  		<div class="col-sm-12">
		                  		<button type="button" id="btnNewReferrer" class="pull-right btn btn-sm btn-danger">New Referrer</button>
		                  		<button type="submit" class="pull-right btn btn-sm btn-danger" id="btnSearch">SEARCH</button>
	                  		</div>
                 		</div>
                 		<div class="col-sm-12">
                 			<hr/>
                 		</div>
                 	<table id="prumyfamily_grid" class="table table-striped table-advance table-hover">                            
	              		<thead>
	                        <tr>                          	  
								<th style="display: none;">rid</th>
								<th>Staff ID</th>
				                <th width=100>Staff Name</th>
				                <th>Staff Branch</th>
				                <th>Staff Position</th>
				                <th>Certified</th>
				                <th>Creation Date</th>
				                <th>Status</th>
								<th>Action</th>
	                        </tr>
	                	</thead>
                        <tbody>
                        </tbody>
                     </table> 
  				</div>
  				</form>
  			</div>
  		</div>
  	
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var token = $("meta[name='_csrf']").attr("content"); 
			var header = $("meta[name='_csrf_header']").attr("content");
			
		    $(document).ajaxSend(function(e, xhr, options) {
		        xhr.setRequestHeader(header, token);
		    });
			
			$(document).ready(function(){
				table = $('#prumyfamily_grid').DataTable({
		        	responsive: true, 
			        dom: 'TC<"clearfix">lfrtip',
					processing: true,
					serverSide: true,
					ajax: {
						type: 'post',
						url: [[@{/referrer/search/serverside}]],
						data: function(d) {
							d.keyword = $('input[name=keyword]').val();
						}
					},
					"columns": [
	            	{
	            		data: 'id'
	            	},
	            	{
	            		data: 'staffId'
	            	},
	            	{
	            		data: 'staffName'
	            	},
	            	{
	            		data: 'staffBranch'
	            	},
	            	{
	            		data: 'staffPosition'
	            	},
	            	{
	            		data: 'isCertified'
	            	},
	            	{
	            		data: 'trnDate'
	            	},
	            	{
	            		data: 'status'
	            	},
	            	{
	            		data: '',
	            		defaultContent: '<p class="btn btn-warning btn-line btn-xs btnEdit" title="Edit Referrer"><i class="fa fa-pencil-square-o"></i></p>'
	            	}
	            ],
		        columnDefs: [
		            { 
		            	targets: 0,
		            	createdCell: function(td, cellData, rowData, row, col){
		            		$(td).css('display', 'none');
		            	}
	            	},
		            {
		            	targets: -1,
		            	createdCell: function(td, cellData, rowData, row, col){
		            		var btnEdit = $(td).children().first();
		            		var btnAdd = $(td).children().last();
		            		
		            		
		            		$(btnEdit).click(function(e){
		            			var url = [[@{/referrer}]];

								var btn = $(this);
								var id = $.trim(btn.parent().parent().children().first().text());
								
								url = url + '/edit/' + id;
								window.open(url, '_blank');
		            		})
		            	}
		            },
		            {
		            	targets: -2,
		            	createdCell: function(td, cellData, rowData, row, col){
		            		var status = $.trim(cellData);
		            		
		            		if(status == 1){
		            			$(td).html('<p class="btn btn-primary btn-xs" title="' + status + '">Active</p>');
		            		}else if(status == 0){
		            			$(td).html('<p class="btn btn-warning btn-xs" title="' + status + '">Inactive</p>');
		            		}
		            	}
		            },
		            {
		            	targets: -3,
		            	createdCell: function(td, cellData, rowData, row, col){
		            		var date = new Date(cellData);
		            		$(td).html(date.toLocaleDateString("en-gb"));
		            	}
		            },
		            {
		            	targets: -4,
		            	createdCell: function(td, cellData, rowData, row, col){
		            		var status = $.trim(cellData);
		            		
		            		if(status == 1){
		            			$(td).html('<p class="btn btn-success btn-xs" title="' + status + '">Certified</p>');
		            		}else if(status == 0){
		            			$(td).html('<p class="btn btn-danger btn-xs" title="' + status + '">Not-certified</p>');
		            		}
		            	}
		            }
		        ],
		        "fnDrawCallback": function (oSettings, json) {
		            //showLoading(false);
		        }
				});
				
				$(table.column(0).header()).css('display', 'none');
				
				$('body').removeClass('nav-md');
		           $('body').addClass('nav-sm');
		           
	           $('#btnSearch').click(function(e){
	        	   e.preventDefault();
	        	   
	        	   setReferrerList();
	           })
	           
	           $('#btnNewReferrer').click(function(e){
	        	  e.preventDefault();
	        	  
	        	  window.location.href = [[@{/newreferrer}]];
	           });
			});
			
			function setReferrerList(){
				var table = $('#prumyfamily_grid').DataTable();
					
				table.ajax.reload();
	   		}
		</script>
	</th:block>
</body>
</html>