<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      	<div class="main_container">
      	<!-- page content -->
        	<div class="right_col" role="main" layout:fragment="pageContent">
	       		<style>
					.nomargin{padding-left: 0 !important;}
					.no-gutter > [class*='col-'] {
						    padding-right:0;
						    padding-left:0;
					}
				</style>
				<div class="content-panel" >
					<form th:object="${referralparam}" class="form-horizontal form-label-left">
						<div class="form-group">                  	  	
                  	  		<div style="display:none;">
                  	  			<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Auto No:</label>    
	                        	<div class="col-md-6 col-sm-12 col-xs-12">
	                        		<input type="text" readonly disabled="readonly disabled" Class="form-control" th:field="*{rID}" htmlEscape="true"/>
	                        	</div>
                  	  		</div>
                        	<label for="item" class="control-label col-md-2 col-sm-12 col-xs-12"><b>Referral create date:</b><span class="required-mark">*</span></label>    
                        	<div class="col-md-2 col-sm-12 col-xs-12">
                        		<input id="trnDateTime" th:field="*{trnDateTime}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control col-md-7 col-xs-12"  readonly disabled/>
                        	</div>  
                        	<label for="id" class="control-label col-md-2 col-sm-3 col-xs-12">Existing Customer</label>    
                        	<div class="col-md-2 col-sm-12 col-xs-12">
                        		<select class="form-control col-md-7 col-xs-12" id="exisCusStatus" th:field="*{exisCusStatus}" readonly disabled>
                        				<option value="No">No</option>
                        				<option value="Yes">Yes</option>
                        		</select>
                        	</div>  
	                    </div>
	                    <div class="headline">
                     		<i><b style="color:#ED1B2E;">&nbsp;Referrals/Approaches</b></i>
                        </div>
                        <div style="padding-top:10px;padding-bottom:5px;background:#EEEEEE;border-radius:5px;">                  	  	
	                  	  	<div class="form-group">
	                  	  		<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label"> Referral Type <span class="required-mark">*</span></label>    
	                        	<div class="col-md-2 col-sm-12 col-xs-12">
	                        		<select class="form-control col-md-12 col-sm-12 col-xs-12" id="rType" th:field="*{rType}" readonly disabled>
	                        			<option value="0">Select Referral Type</option>
	                        			<th:block th:each="rType : ${rType}">
	                        				<option th:value="${rType[0]}" th:text="${rType[1]}"></option>
	                        			</th:block>
	                        		</select>
	                        	</div>
	                        	<label for="item" class="col-md-1 col-sm-12 col-xs-12 control-label">Date</label>    
	                        	<div class="col-md-2 col-sm-12 col-xs-12">
	                        		<input id="rDate" th:field="*{rDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control col-md-12 col-sm-12 col-xs-12"  readonly disabled/>
	                        	</div>
	                        	<label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label">Referred by <span class="required-mark">*</span></label>    
	                        	<div class="col-md-3 col-sm-12 col-xs-12">
	                        		<select class="form-control col-md-12 col-sm-12 col-xs-12" id="referralBy" th:field="*{referralBy}" readonly disabled>
	                        			<option value="0">Select Referrer</option>
	                        			<th:block th:each="referrer : ${referrer}">
	                        				<option th:value="${referrer[0]}" th:text="${referrer[1]}"></option>
	                        			</th:block>
	                        		</select>
	                        	</div>
	                  	  	</div>
	                  	  	<div class="form-group">
	                  	  		<label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label">Remark</label>    
	                        	<div class="col-md-10 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="rRemark" th:field="*{rRemark}" style="text-transform:uppercase;" readonly disabled/>
	                        	</div>
	                  	  	</div>
	                  	</div>
	                  	<div class="headline">
	                        <i><b style="color:#ED1B2E;">&nbsp;Customer Information</b></i>
                        </div>
                        <div style="padding-top:10px;padding-bottom:10px;background:#F0F0F0;border-radius:5px;">
                           <div class="form-group">
	                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Customer Full Name<span class="required-mark">*</span></label>    
	                        	<div class="col-md-3 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control col-md-7 col-xs-12" id="cusName" th:field="*{cusName}" style="text-transform:uppercase;" readonly disabled/>
	                        	</div>  
	                       		<div class="col-md-2 col-sm-12 col-xs-12" style="padding:0px;">
	                       			<label for="item" class="control-label col-md-4 col-sm-12 col-xs-12">Sex<span class="required-mark" >*</span></label>    
			                        <div class="col-md-8 col-sm-12 col-xs-12" >
				                        <select class="form-control col-md-7 col-xs-12" id="cusSex" th:field="*{cusSex}" readonly disabled>
			                        		<option value="Male">Male</option>
			                        		<option value="Female">Female</option>
			                        	</select>
			                        </div>
	                       		</div>
		                        <label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Estimate Age<span class="required-mark" >*</span></label>    
		                        <div class="col-md-1 col-sm-12 col-xs-12">
		                        	<input type="text" class="form-control col-md-7 col-xs-12" id="cusAge" th:field="*{cusAge}" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' readonly disabled/>
		                        </div>
		                        <div class="col-md-3 col-sm-12 col-xs-12" style="padding:0px;">
			                        <label for="id" class="control-label col-md-6 col-sm-12 col-xs-12">Marital Status<span class="required-mark">*</span></label>    
		                        	<div class="col-md-6 col-sm-12 col-xs-12" >
		                        		<select class="form-control col-md-7 col-xs-12" id="cusMStatus" th:field="*{cusMStatus}" readonly disabled>
		                        				<option value="Married">Married</option>
		                        				<option value="Single">Single</option>
		                        				<option value="Divorce">Divorce</option>
		                        				<option value="Widow">Widow</option>
		                        				<option value="Widower">Widower</option>
		                        		</select>
		                        	</div>
	                        	</div>   
	                        </div>
	                    	<div class="form-group">
	                    		<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Child age < 8 years old<span class="required-mark">*</span></label>    
	                        	<div class="col-sm-1 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control col-md-12 col-sm-12 col-xs-12" id="cusNochd"  th:field="*{cusNochd}" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' readonly disabled/>
	                        	</div>
	                        	<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Child age > 8 years old<span class="required-mark">*</span></label>    
	                        	<div class="col-md-1 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control col-md-12 col-sm-12 col-xs-12" id="cusAgeChd"  th:field="*{cusAgeChd}" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' readonly disabled/>
	                        	</div>
	                        	<div class="col-md-6 col-sm-12 col-xs-12" style="padding:0px;">
	                        		<label for="id" class="col-md-4 col-sm-12 col-xs-12 control-label">Mobile Number<span class="required-mark">*</span></label>    
		                        	<div class="col-md-4 col-sm-12 col-xs-12">
		                        		<input type="text" class="form-control" id="cusPhone" th:field="*{cusPhone}" style="text-transform:uppercase;" readonly disabled/>
		                        	</div>    
		                        	<div class="col-md-4 col-sm-12 col-xs-12">
		                        		<input type="text" class="form-control" id="cusPhone2" th:field="*{cusPhone2}" style="text-transform:uppercase;" readonly disabled/>
		                        	</div>
	                        	</div>
	                        </div>
	                    	<div class="form-group">
	                    		<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Occupation<span class="required-mark">*</span></label>    
	                        	<div class="col-md-3 col-sm-12 col-xs-12" >
	                        		<select class="form-control col-md-12 col-sm-12 col-xs-12" id="cusOcc" th:field="*{cusOcc}" readonly disabled>
	                        			<option value="0">Select Occupation</option>
	                        			<th:block th:each="occupation : ${occupation}">
	                        				<option th:value="${occupation[0]}" th:text="${occupation[1]}"></option>
	                        			</th:block>
	                        		</select>
	                        	</div>
	                    		<label for="id" class="col-md-1 col-sm-12 col-xs-12 control-label">Facebook</label>    
	                        	<div class="col-md-2 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="cusFacebook" th:field="*{cusFacebook}" style="text-transform:uppercase;" readonly disabled/>
	                        	</div> 
	                        	<label for="id" class="col-md-1 col-sm-12 col-xs-12 control-label">E-mail</label>    
	                        	<div class="col-md-3 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="cusEmail" th:field="*{cusEmail}" style="text-transform:uppercase;" readonly disabled/>
	                        	</div>
	                    	</div>
	                    </div>
	                    <br/>
	                    <div style="padding-top:10px;padding-bottom:10px;background:#F0F0F0;border-radius:5px;">
	                    	<div class="form-group"> 
	                    		<label for="id" class="col-md-2 col-sm-12 col-xs-12 control-label">Customer Approach</label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        	<select class="form-control" id="cusAprStatus" th:field="*{cusAprStatus}" readonly disabled>
	                        			<option value="No">No</option>
                        				<option value="Yes">Yes</option>
		                        	</select>
		                        </div>
		                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Date of Approach</label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        	<input id="cusAprDate" th:field="*{cusAprDate}" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control col-md-7 col-xs-12" readonly disabled/>
		                        </div>
		                    </div>
	                    </div>
                        <div class="headline" >
	                        <i><b style="color:#ED1B2E;">&nbsp;Sales Presentation</b></i>
	                    </div>
                        <div style="padding-top:5px;padding-bottom:5px;background:#F0F0F0;border-radius:5px;">                  	  	
	                  	  	<div class="form-group">
	                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Successful Appointment</label>    
	                        	<div class="col-md-2 col-sm-12 col-xs-12">
	                        		<select class="form-control" id="sucAppStatus" th:field="*{sucAppStatus}" readonly disabled>
                        				<option value="No">No</option>
                        				<option value="Yes">Yes</option>
	                        		</select>
	                        	</div>  
	                        	<label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Date</label>    
	                        	<div class="col-md-2 col-sm-12 col-xs-12">
	                        		<input id="sucAppDate" th:field="*{sucAppDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control" readonly disabled/>
	                        	</div>  
	                       </div>
	                    </div>
	                    <div style="padding-top:5px;padding-bottom:5px;margin-top:5px;background:#F0F0F0;border-radius:5px;">
	                        <div class="form-group">
	                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Successful Presentation</label>    
	                        	<div class="col-md-1 col-sm-12 col-xs-12">
	                        		<select class="form-control" id="salSucSalPreStatus" th:field="*{salSucSalPreStatus}" readonly disabled>
                        				<option value="No">No</option>
                        				<option value="Yes">Yes</option>
	                        		</select>
	                        	</div>  
	                        	<label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Date</label>
	                        	<div class="col-md-2 col-sm-12 col-xs-12">
	                        		<input id="salSucSalPreDate" th:field="*{salSucSalPreDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control" readonly disabled/>
	                        	</div>
	                        	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended Product</label>    
	                        	<div class="col-md-2 col-sm-12 col-xs-12">
	                        		<select class="form-control" id="salTypRecPrd" th:field="*{salTypRecPrd}" readonly disabled>
	                        			<option value="0">Select Product</option>
	                        			<th:block th:each="listProduct : ${listProduct}">
	                        				<option th:value="${listProduct[0].trim()}" th:text="${listProduct[1].trim()}"></option>
	                        			</th:block>
	                        		</select>
	                        	</div>
	                        	<label for="salDurPre" class="control-label col-md-1 col-sm-12 col-xs-12">Duration</label>    
	                        	<div class="col-md-1 col-sm-12 col-xs-12">
	                        		<input id="salDurPre" th:field="*{salDurPre}" type="text" placeholder="#Minute" class="form-control" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' readonly disabled/>
	                        	</div>    
	                        </div>
	                        <div class="form-group">
	                       		<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Monthly Average Income<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="cusSalaryMonthly" th:field="*{cusSalaryMonthly}" value="0" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' readonly disabled/>
		                        </div>
		                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Annually Average Income<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="cusSalaryYearly" th:field="*{cusSalaryYearly}"  style="text-transform:uppercase;" readonly disabled/>
		                        </div>
		                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Estimate Affordable Premium<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="salRecAffApe" th:field="*{salRecAffApe}" value="0" style="text-transform:uppercase;" readonly disabled/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                    	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Monthly Basic Expense<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="salMthBasExp" th:field="*{salMthBasExp}" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' readonly disabled/>
		                        </div>
		                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended SA<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        		<input type="text" class="form-control" id="salRecSA" th:field="*{salRecSA}" style="text-transform:uppercase;" readonly disabled/>
		                        </div>
		                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended Policy Term<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        	<select class="form-control" id="salRecPolTerm" th:field="*{salRecPolTerm}" readonly disabled>
	                        			<th:block th:each="listPolicyTerm : ${listPolicyTerm}">
	                        				<option th:value="${listPolicyTerm[0]}" th:text="${listPolicyTerm[1]}"></option>
	                        			</th:block>
	                        		</select>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                    	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Recommended Product Package<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="salRecPrdPkgUsd" th:field="*{salRecPrdPkgUsd}" style="text-transform:uppercase;" placeholder="USD" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' readonly disabled/>
		                        </div>
		                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Policy Term<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        	<select class="form-control" id="salPolTerm" th:field="*{salPolTerm}" readonly disabled>
	                        			<th:block th:each="listPolicyTerm : ${listPolicyTerm}">
	                        				<option th:value="${listPolicyTerm[0]}" th:text="${listPolicyTerm[1]}"></option>
	                        				</th:block>
	                        		</select>
		                       </div>
		                       <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Expected Close Sale(%)<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        	<input type="text" class="form-control" id="salEpcClsSal" th:field="*{salEpcClsSal}" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' readonly disabled/>
		                       </div> 	
		                    </div>
		                    <div class="form-group">
		                    	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Payment Mode<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
	                        		<select class="form-control" id="salPolMode" th:field="*{salPolMode}" readonly disabled>
	                        			<option value="0">Select Mode</option>
                        				<th:block th:each="listPolicyMode : ${listPolicyMode}">
                        					<option th:value="${listPolicyMode[0]}" th:text="${listPolicyMode[1]}"></option>
                        				</th:block>
                        			</select>
		                        </div>
		                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Expected Close Period(day)<span class="required-mark">*</span></label>    
		                        <div class="col-md-1 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="salEpcClsPeriod" th:field="*{salEpcClsPeriod}" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' readonly disabled/>
		                        </div>
		                        <label for="item" class="control-label col-md-1 col-sm-12 col-xs-12">Remark</label>    
	                        	<div class="col-md-4 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="sucAppRemark" th:field="*{sucAppRemark}" style="text-transform:uppercase;" readonly disabled/>
	                        	</div> 	
		                    </div>
	                       
	                    </div>
	                    <div style="padding-top:5px;padding-bottom:5px;background:#F0F0F0;border-radius:5px;">
							<div class="form-group">
								<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Product type</label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        		<select class="form-control" id="clsPrdType" th:field="*{clsPrdType}" readonly disabled>
		                        			<option value="0">Select Product</option>
		                        			<th:block th:each="listProduct : ${listProduct}">
		                        				<option th:value="${listProduct[0].trim()}" th:text="${listProduct[1].trim()}"></option>
		                        			</th:block>
		                        		</select>
		                        </div>
		                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Policy Term<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        	<select class="form-control" id="clsPolTerm" th:field="*{clsPolTerm}" readonly disabled>
	                        			<th:block th:each="listPolicyTerm : ${listPolicyTerm}">
	                        				<option th:value="${listPolicyTerm[0]}" th:text="${listPolicyTerm[1]}"></option>
	                        				</th:block>
	                        		</select>
		                        </div>
		                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Payment Mode<span class="required-mark">*</span></label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        		<select class="form-control" id="clsPolMode" th:field="*{clsPolMode}" readonly disabled>
		                        			<option value="0">Select Mode</option>
	                        				<th:block th:each="listPolicyMode : ${listPolicyMode}">
	                        					<option th:value="${listPolicyMode[0]}" th:text="${listPolicyMode[1]}"></option>
	                        				</th:block>
	                        			</select>
		                        </div>
		                    </div>
						</div>
						<div style="padding-top:5px;padding-bottom:5px;background:#F0F0F0;border-radius:5px;">
		                    <div class="form-group">
		                    	<label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Completed Bank Standing Order</label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        	<select class="form-control" id="clsBankSoStatus" th:field="*{clsBankSoStatus}" readonly disabled>
	                        			<option value="No">No</option>
	                        			<option value="Yes">Yes</option>
		                        	</select>
		                        </div>
		                        <label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Completed Date</label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        	<input type="text" id="clsBankSoDate" th:field="*{clsBankSoDate}"  data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control" readonly disabled/>
		                        </div>
		                        <label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">APE</label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="APE" th:field="*{APE}" style="text-transform:uppercase;" onkeypress='return isNumberKey(event)' readonly disabled/>
		                        </div>  	  
		                    </div>
		                    <div class="form-group">
		                    	<label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Application Number</label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12col-sm-5">
		                        	<input type="text" id="clsBankAppNum" th:field="*{clsBankAppNum}"  class="form-control" style="text-transform:uppercase;" onkeypress='return ((event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode = 69) ' maxlength="10" readonly disabled/>
		                        </div>
		                        <label for="id" class="control-label col-md-2 col-sm-12 col-xs-12">Upload</label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        	<select class="form-control" id="clsBankUploadStatus" th:field="*{clsBankUploadStatus}" readonly disabled>
	                        			<option value="No">No</option>
	                        			<option value="Yes">Yes</option>
		                        	</select>
		                        </div>
		                        <label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Upload Date</label>    
		                        <div class="col-md-2 col-sm-12 col-xs-12">
		                        	<input id="clsBankUploadDate" th:field="*{clsBankUploadDate}" type="text" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" class="form-control" readonly disabled/>
		                        </div>   	
		                    </div>
		                    <div class="form-group">
		                    	<label class="control-label col-md-2 col-sm-12 col-xs-12">Customer From</label>
		                    	<div class="col-md-10 col-sm-12 col-xs-12">
		                    		<select class="form-control" th:field="*{customerFrom}" readonly disabled>
		                    			<option value="0">-- Select Option --</option>
		                    			<th:block th:each="customerFrom : ${customerFromList}">
		                    				<option th:value="${customerFrom[1]}" th:text="${customerFrom[2]}"></option>
		                    			</th:block>
		                    		</select>
		                    	</div>
		                    </div>
		                    <div class="form-group">
		                    	<label for="item" class="control-label col-md-2 col-sm-12 col-xs-12">Remark</label>
	                        	<div class="col-md-10 col-sm-12 col-xs-12">
	                        		<input type="text" class="form-control" id="clsBankUploadRemark" th:field="*{clsBankUploadRemark}" style="text-transform:uppercase;" readonly disabled/>
	                        	</div>
		                    </div>
	                    </div>
	                    <div class="headline" >
	                        <i><b style="color:#ED1B2E;">&nbsp;Customer Follow-Ups</b></i>
	                    </div>
	                    <div style="padding-top:5px;padding-bottom:5px;background:#F0F0F0;border-radius:5px;">
		                    <div class="form-group">
		                    	<div class="col-md-12">
									<table id="followup_grid" class="table table-striped table-advance table-hover">                             
				              	  	  <thead>
				                           <tr>
				                           	  <th>No</th>                          	  
											  <th>Comment Type</th>
				                              <th>Comment Detail</th>
				                              <th>Comment Date</th>
				                              <th>Next Follow Up Date</th>
				                              <th>Comment By</th>
				                           </tr>
				                      </thead>
				                      <tbody>
				                      		<th:block th:each="folup : ${listReferralFollowup}">
				                        	<tr >
						                       	<td th:text="${folup[0]}">1</td>
						                        <td th:text="${folup[4]}">2</td>
						                        <td th:text="${folup[5]}">3</td>
						                        <td th:text="${folup[6]}">4</td>
						                        <td></td>
						                        <td th:text="${folup[8]}">5</td>
					                        </tr>			
				                        	</th:block>
				                       </tbody>
				                     </table>
								</div>
		                    </div>
	                    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>