<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
       		<style>
				.nomargin{padding-left: 0 !important;}
				.no-gutter > [class*='col-'] {
					    padding-right:0;
					    padding-left:0;
				}
			</style>
			<div class="content-panel" >
			<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Form Referral Lead</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li style="float:right;"><a id="collapse-link" class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form class="form-horizontal form-label-left" th:object="${ReferralList}" name="form" id="frmReferralSearch" th:action="@{''}" method="post">                 	
                 	<div class="col-sm-12 nopadding" style="margin-top:100px;padding-top:10px;margin:5px;background:white;border-radius:5px;">
                 		<div class="form-group">
                 			<label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label"><b>Referral create date</b></label>    
		                    <div class="col-md-2 col-sm-12 col-xs-12"> 	
			                    <input id="trnDateTimeFrom" name="trnDateTimeFrom" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
			                </div>
			                <div class="col-md-2 col-sm-12 col-xs-12 nopadding">
		                    	<input id="trnDateTimeTo" name="trnDateTimeTo" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
			                </div>
		                    <label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label"><b>Next Follow Up Date</b></label>    
		                    <div class="col-md-2 col-sm-12 col-xs-12"> 	
			                    <input id="followupDateTimeFrom" name="followupDateTimeFrom" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
			                </div>
			                <div class="col-md-2 col-sm-12 col-xs-12 nopadding">
		                    	<input id="followupDateTimeTo" name="followupDateTimeTo" data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" type="text" class="form-control"  htmlEscape="true"/>
			                </div>  
		                </div>
		                <div class="form-group">
		                    <label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label"><b>Customer/Policy Infor</b></label>    
		                    <div class="col-sm-10">
	                    		<input type="text" name="cusInfor" id="cusInfor" placeholder="Name, Sex, Mobile, Income(100-200),Facebook, APE, Application #" class="form-control" />
		                    </div>
		                </div>
		                <div class="form-group">
		                	<label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label"><b>Referral Type</b></label>
			                <div class="col-md-4 col-sm-12 col-xs-12 ">
			                   <select class="form-control" id="rType" name="rType">
			                        <option value=""></option>
		                        	<th:block th:each="rType : ${rType}">
			                        	<option th:value="${rType[0]}" th:text="${rType[1]}"></option>
		                        	</th:block>
			                	</select>
			                </div>
			                <label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label"><b>Successful Appointment</b></label>
			                <div class="col-md-1 col-sm-12 col-xs-12">
			                	<select class="form-control" id="sucAppStatus" name="sucAppStatus">
			                        <option value=""></option>
			                        <option value="No">No</option>
			                        <option value="Yes">Yes</option>
			                    </select>
			                </div>
			                <label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label"><b>Completed Bank SO</b></label>
			                <div class="col-md-1 col-sm-12 col-xs-12">
			                	<select class="form-control" id="clsBankSoStatus" name="clsBankSoStatus">
			                    	<option value=""></option>
			                    	<option value="No">No</option>
			                    	<option value="Yes">Yes</option>
			                    </select>
			                </div>    
		                </div>
		                <div class="form-group">
		                	<label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label"><b>Uploaded Status</b></label>
			                <div class="col-md-1 col-sm-12 col-xs-12">
			                	<select class="form-control" id="clsBankUploadStatus" name="clsBankUploadStatus" >
		                        	<option value=""></option>
		                        	<option value="No">No</option>
		                        	<option value="Yes">Yes</option>
		                        </select>
			                </div>
			                <label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label"><b>Existing Customer</b></label>
			                <div class="col-md-1 col-sm-12 col-xs-12">
			                	<select class="form-control" id="exisCusStatus" name="exisCusStatus">
		                        	<option value=""></option>
		                        	<option value="No">No</option>
		                        	<option value="Yes">Yes</option>
		                        </select>
			                </div>
			                <label for="item" class="col-md-2 col-sm-12 col-xs-12 control-label"><b>Referral By</b></label>
			                <div class="col-md-4 col-sm-12 col-xs-12">
			                      	<input type="text" class="form-control" id="referralBy" name="referralBy"  htmlEscape="true" style="text-transform:uppercase;" onkeypress='return event.keyCode >= 48 && event.keyCode <= 57'/>
			                </div>    
		                </div>
                 		<div class="col-sm-12">
                 			<hr/>
                 		</div>
  				</div>
  				</form>
  				
                  </div>
                  <div class="page-title">
              <div class="title_left">
                <h3></h3>
              </div>

              <div class="title_right">
                <div class="form-group pull-right top_search">
                  <div class="input-group">
                    <button type="button" id="btnNewReferral" class="pull-right btn btn-sm btn-danger">New Referral</button>
		            <button type="submit" style="margin-right:10px;" class="pull-right btn btn-sm btn-danger" id="btnSearch">SEARCH</button>
                  </div>
                </div>
              </div>
            </div> 
<!--                     <div class="col-sm-12"> -->
<!-- 	                  		<div class="col-sm-12"> -->
		                  		
<!-- 	                  		</div> -->
<!--                  		</div> -->
                  <table id="prumyfamily_grid" class="table table-striped table-advance table-hover">                            
	              		<thead>
	                        <tr>
								<th style="display: none;">rid</th>
				                <th width=100>Customer Name</th>
				                <th>Sex</th>
				                <th width=100>Referral Type</th>
				                <th>Referral Date</th>
				                <th>Success App</th>
				                <th>Success App Date</th>
				                <th>APE</th>
				           		<th>Existing Customer</th>
								<th>FC Name</th>
								<th>Status</th>
								<th>Action</th>
	                        </tr>
	                	</thead>
                        <tbody>
                        </tbody>
                     </table> 
                </div>
              </div>
            </div>
			
  			</div>
  		</div>
  	
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var currentDate = new Date();
		    $('#trnDateTimeFrom').datepicker({
		    	useCurrent: true,
			    pickTime: false,
			    dateFormat: "dd/mm/yy"
			});
		    
		    var currentDate = new Date();
		    $('#trnDateTimeTo').datepicker({
		    	useCurrent: true,
			    pickTime: false,
			    dateFormat: "dd/mm/yy"
			});
		    
		    $('#followupDateTimeFrom').datepicker({
		    	useCurrent: true,
			    pickTime: false,
			    dateFormat: "dd/mm/yy"
			});
		    
		    $('#followupDateTimeTo').datepicker({
		    	useCurrent: true,
			    pickTime: false,
			    dateFormat: "dd/mm/yy"
			});
		    
			$(document).ready(function(){
				var table = $('#prumyfamily_grid').DataTable({
		        	responsive: true, 
// 					stateSave: true,
			        dom: 'TC<"clearfix">lfrtip',
			        columnDefs: [
			            {
			            	targets: 0,
			            	createdCell: function(td, cellData, rowData, row, col){
			            		$(td).css('display', 'none');
			            	}
			            }
			        ],
			        "fnDrawCallback": function (oSettings, json) {
			            //showLoading(false);
			        }
					       
			    });
				$(table.column(0).header()).css('display', 'none');				
				
				$('body').removeClass('nav-md');
		           $('body').addClass('nav-sm');
		           
	           $('#btnSearch').click(function(e){
	        	   $("#collapse-link").trigger('click');
// 					preventDefault();
	        	   
	        	   setReferralList();
	           })
	           
	           $('#btnNewReferral').click(function(e){
	        	  e.preventDefault();
	        	  
	        	  window.location.href = /*[[@{/newreferral}]]*/'';
	           });
			});
			
			function setReferralList(){
				$.ajax({
   					url: /*[[@{/referral/search}]]*/'',
   					type: 'post',
   					data: $('#frmReferralSearch').serialize(),
   					success: function(result){
   						if(result !=""){
   							var dataSet = JSON.parse(result);
   							
   							var table = $('#prumyfamily_grid').DataTable();
   							
   							table.destroy();					
   							table = $('#prumyfamily_grid').DataTable({
   								data: dataSet
   								,"columns": [
					            	{
					            		data: '0'
					            	},
					            	{
					            		data: '1'
					            	},
					            	{
					            		data: '2'
					            	},
					            	{
					            		data: '3'
					            	},
					            	{
					            		data: '4'
					            	},
					            	{
					            		data: '5'
					            	},
					            	{
					            		data: '6'
					            	},
					            	{
					            		data: '7'
					            	},
					            	{
					            		data: '8'
					            	},
					            	{
					            		data: '9'
					            	},
					            	{
					            		data: '10'
					            	},
					            	{
					            		data: '',
					            		defaultContent: '<p class="btn btn-warning btn-line btn-xs btnEdit" title="Edit Referral"><i class="fa fa-pencil-square-o"></i></p><p class="btn btn-success btn-line btn-xs btnAdd" title="Follow Up Status"><i class="fa fa-plus-square"></i></p>'
					            	}
					            ],
						        columnDefs: [
						            { 
						            	targets: 0,
						            	createdCell: function(td, cellData, rowData, row, col){
						            		$(td).css('display', 'none');
						            	}
					            	},
						            {
						            	targets: -1,
						            	createdCell: function(td, cellData, rowData, row, col){
						            		var btnEdit = $(td).children().first();
						            		var btnAdd = $(td).children().last();
						            		
						            		
						            		$(btnEdit).click(function(e){
						            			var url = [[@{/referral}]];
				
												var btn = $(this);
												var id = $.trim(btn.parent().parent().children().first().text());
												
												url = url + '/edit/' + id;
												window.location.href= url;
						            		})
						            		
						            		$(btnAdd).click(function(e){
						            			var url = [[@{/referral}]];
				
												var btn = $(this);
												var id = $.trim(btn.parent().parent().children().first().text());
												
												url = url + '/comment/' + id;
												window.open(url, '_blank');
						            		})
						            	}
						            },
						            {
						            	targets: -2,
						            	createdCell: function(td, cellData, rowData, row, col){
						            		if(cellData == "1") {
						            			$(td).html('<div style="width: 100%; display:inline-block;" class="label label-primary">Approach info</div>');
						            		} else if(cellData == "2") {
						            			$(td).html('<div style="width: 100%; display:inline-block;" class="label label-warning">Sale Activity</div>');
						            		} else {
						            			$(td).html('<div style="width: 100%; display:inline-block;" class="label label-danger">Close</div>');
						            		}
						            	}
						            }
						        ],
						        "fnDrawCallback": function (oSettings, json) {
						            //showLoading(false);
						        }
   							});
   							
   							$(table.column(0).header()).css('display', 'none');
   						}else{
   							
   						}
   						
   						
   					},
   					error: function(){
   						console.log('error while searching');
   					}
   				});	
	   		}
		</script>
	</th:block>
</body>
</html>