<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel">
                     <form class="" id="formReport" method="get" > 
                      	<div class="row">
	                      	<div class="col-sm-6">
	                      	</div> 	
	                      	<div class="col-sm-6">              	
		                  		<button type="submit" class="pull-right btn btn-danger">Refresh</button>
		                  	</div>                      	
                      	</div>
                      	
                      	<hr>
        						<div class="row space5">             	  	
				            	  <div class="col-sm-6 form-group fixed-form-control">
				                   
				                   	<label class="col-sm-12 control-label">Log Date From</label>  
				                   	<div class="col-sm-12 input-group">
				                   		<input id="DateFrom" name="DateFrom" required="required" placeholder="Enter Send Date dd/mm/yyyy" th:value="${startDate}" class="form-control date">
					                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				                   	</div>  
				                   
				                  </div> 
				                  <div class="col-sm-6 form-group fixed-form-control">
					                   	<label class="col-sm-12 control-label">Log Date To</label>    
					                   	<div class="col-sm-12 input-group">
					                   		<input id="DateTo" name="DateTo" required="required" placeholder="Enter Send Date dd/mm/yyyy"  th:value="${endDate}" class="form-control date">
					                    	<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					                   	</div>	                   	  
			                  	</div>
			                  	</div>
					                              
					    </form>    
					    <table id="log_grid" class="table table-striped table-advance table-hover">                            
              	  	  		<thead>
	                           <tr>                          	  
								  <th>#</th>
	                          	  <th>Date</th>
	                          	  <th>Active Count</th>
	                          	  <th>Login Count</th>                          	  
	                           </tr>
                      		</thead>
	                         <tbody th:with="id=${1}">
					   			<tr th:each="log : ${logs}"> 
			                        <td th:text="${id}"></td>
			                        <td th:text="${log[0]}" th:with="id=${id}+${1}"></td>
			                     	<td th:text="${log[1]}"></td>
			                     	<td th:text="${log[2]}"></td>
		                     	</tr>
                        	</tbody>
                     	</table>
                      </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$('.date').datepicker({
			    //todayBtn: true,
			    format: "dd/mm/yyyy",
			    autoclose: true,
			    todayHighlight: true
			})
			.on('changeDate', function (e) {
			});
			
			$(document).ready(function(){
				$('#log_grid').dataTable({
					stateSave: true,
			        dom: 'TC<"clearfix">lfrtip',
			        columnDefs: [
			            { visible: false, targets: [0] }
			        ],
			        tableTools: {
			            "aButtons": ["copy", "csv", "pdf"],
			            "sSwfPath": /*[[@{/resources/TableTools/swf/copy_csv_xls_pdf.swf}]]*/''
			        },
			        "fnDrawCallback": function (oSettings, json) {
			            //showLoading(false);
			        }
			       
			    });
				
				$('body').removeClass('nav-md');
		           $('body').addClass('nav-sm');
			});
		</script>
	</th:block>
</body>
</html>