<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title>Ops! Something went wrong</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<h1>Ops! Something went wrong</h1>
			<h3 th:text="${url}"></h3>
			<h3 th:text="${exception}"></h3>
			<h3 th:text="${exMsg}"></h3>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function(){
				$('input[name=username]').focus();
				
				$('body').removeClass('nav-md');
		           $('body').addClass('nav-sm');
			});
		</script>
	</th:block>
</body>
</html>