<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="shared/layout_main">

<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
<link th:href="@{/resources/css/dashboard.css}" rel="stylesheet" />
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!--page content -->
			<div class="right_col" role="main" layout:fragment="pageContent">
				<div class="">
					<div class="row top_tiles">
						<div sec:authorize="hasAnyAuthority('ACCESS_PENDING,ACCESS_SUBISS_DETAIL,ACCESS_SUBISS_SUMMARY')" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="list-group immediate-action">
								<a class="list-group-item"  style="background-color: #ed1b2e;color: #FFFFFF;">
									<h2 style="margin: 0;"><i class="fa fa-bars"></i> Immediate Action</h2>
								</a> 
							</div>
							<div class="x_panel">
								<div class="x_title">
									<a th:href="@{/mypending}" class="title">
										<h2><i class="fa fa-bars"></i> My Pending</h2>
									</a>
									<ul class="nav navbar-right panel_toolbox">
										<li style="float: right;"><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
										<li style="float: right;"><a data-toggle="modal"
											id="pending-detail" data-target=".hlep-sm" class=""><i
												class="fa fa-question-circle-o"></i></a></li>
									</ul>
									<div class="modal fade hlep-sm" tabindex="-1" role="dialog"
										aria-hidden="true">
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">
														<span aria-hidden="true">×</span>
													</button>
													<h4 class="modal-title" id="myModalLabel2">Pendig Code
														Reference</h4>
												</div>
												<div class="modal-body" style="color: rgb(85, 85, 85);">
													<div class="table-responsive">
														<table id="codedesc_grid" class="table table-striped">
															<thead>
																<tr>
																	<th>Code</th>
																	<th>Code Stand For</th>
																	<th>Explanation When Code is used and it's meaning</th>
																</tr>
															</thead>
															<tbody>
															</tbody>
														</table>
													</div>
												</div>
												<div class="modal-footer">
													<a id="btnCloseDetail" data-toggle="tab" href="#close"
														data-dismiss="modal"
														style="background-color: #ED1B2E; color: #FFF;"
														class="btn"> Close </a>
												</div>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div class="row">
										<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
											<a th:href="@{/mypending}">
												<div class="pending-dashboard">
													<div class="pull-left pending-icon-left-pendingcase">
														<i class="fa fa-shopping-cart pending-icon"
															aria-hidden="true"></i>
													</div>
													<div style="text-align: right">
														<p>Total Pending Cases</p>
														<h3>
															<b id="myAllPending" class="font-mypending"></b>
														</h3>
													</div>
													<div class="clearfix"></div>
												</div>
											</a>
										</div>
										<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
											<a th:href="@{/mypending}">
												<div class="pending-dashboard">
													<div class="pull-left pending-icon-left-ape">
														<i class="fa fa-usd pending-icon" aria-hidden="true"></i>
													</div>
													<div style="text-align: right">
														<p>Total Pending APE</p>
														<h3>
															<b id="totalAPE" class="font-mypending"></b>
														</h3>
													</div>
													<div class="clearfix"></div>
												</div>
											</a>
										</div>
									</div>
								</div>
								<div class="x_footer">
									<small>Refresh at : <span id="refershAt"></span></small>
								</div>
							</div>
							<div class="x_panel">
								<div class="x_title">
									<h2><i class="fa fa-bars"></i> My sale performance update</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li style="float: right;"><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
<!-- 										<li style="float: right;"><a data-toggle="modal" -->
<!-- 											onClick="ShowHelpMySalePerformUpdate()"><i -->
<!-- 												class="fa fa-question-circle-o"></i></a></li> -->
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div sec:authorize="hasAnyAuthority('ACCESS_SUBISS_DETAIL')"
										class="row">
										<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
											<a th:href="@{/getmysubmissions}">
												<div class="pending-dashboard" style="padding: 0;">
													<div class="ibox-title">
														<h5 class="label label-danger lbl-color">Submission</h5>
													</div>
													<div class="ibox-content">
														<div class="ibox-content-detail-3-chart">
															<span class="chart" id="sub-percent"><span class="percent"></span></span>
														</div>
														<div class="ibox-content-detail-3-left">
															<p>Target Submission</p>
															<h1 id="tar-submission"></h1>
														</div>
														<div class="ibox-content-detail-3-right">
															<p>Actual Submission</p>
															<h1 id="ac-submission"></h1>
														</div>
														<div class="clearfix"></div>
													</div>
												</div> 
											</a>
										</div>
										<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
											<a th:href="@{/getmyissuances}">
												<div class="pending-dashboard" style="padding: 0;">
													<div class="ibox-title">
														<h5 class="label label-danger lbl-color">Net Issuance</h5>
													</div>
													<div class="ibox-content">
														<div class="ibox-content-detail-3-chart">
															<span class="chart" id="iss-percent"><span class="percent"></span></span>
														</div>
														<div class="ibox-content-detail-3-left">
															<p>Target Issuance</p>
															<h1 id="tar-issuance"></h1>
														</div>
														<div class="ibox-content-detail-3-right">
															<p>Actual Issuance</p>
															<h1 id="ac-issuance"></h1>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</a>
										</div>
									</div>
									<div sec:authorize="hasAnyAuthority('ACCESS_SUBISS_SUMMARY')"
										class="row">
										<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
											<h4>Submission Summary</h4>
											<div id="row-sub" class="list-group"></div>
										</div>
										<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
											<h4>Netissuance Summary</h4>
											<div id="row-issuenance" class="list-group">
											</div>
										</div>
									</div>
									<div sec:authorize="hasAnyAuthority('ACCESS_SUBISS_DETAIL')">
										<a class="btn btn-danger collapsed" role="tab"
											id="headingTwo" data-toggle="collapse"
											data-parent="#accordion" href="#collapseTwo"
											aria-expanded="false" aria-controls="collapseTwo">
											Show More Detail
										</a>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
											<div class="row">
												<div class="table-responsive margin-table">
													<table class="table table-striped" id="table-submission">
														<thead class="table-header">
															<tr>
																<th style="width: 18%;">Submission</th>
																<th style="width: 18%;">Total Policy</th>
																<th style="width: 18%;">Total APE</th>
																<th style="width: 18%;">Target APE</th>
																<th style="width: 18%;">Achievement</th>
																<th style="width: 10%;">Detail</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
											<div sec:authorize="hasAnyAuthority('ACCESS_SUBISS_DETAIL')"
												class="row">
												<div class="table-responsive margin-table">
													<table class="table table-striped" id="table-netissue">
														<thead class="table-header">
															<tr>
																<th style="width: 18%;">Issue</th>
																<th style="width: 18%;">Total Policy</th>
																<th style="width: 18%;">Total APE</th>
																<th style="width: 18%;">Target APE</th>
																<th style="width: 18%;">Achievement</th>
																<th style="width: 10%;">Detail</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="x_footer">
								</div>
							</div>
						</div>
						<div sec:authorize="hasAnyAuthority('ACCESS_COLLECTION_LAPSE,ACCESS_PERSISTENCY,ACCESS_ALTERATION,ACCESS_PENDINGACK,ACCESS_FAIL_WC')" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="x_panel" sec:authorize="hasAnyAuthority('ACCESS_COLLECTION_LAPSE')">
								<div class="x_title">
									<h2>
										<i class="fa fa-bars"></i> My Renewal Premium Collection and Lapsed
									</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li style="float: right;"><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
<!-- 										<li style="float: right;"><a data-toggle="modal" -->
<!-- 											onClick="ShowHelpCollectionandLapse()"><i -->
<!-- 												class="fa fa-question-circle-o"></i></a></li> -->
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="x_content x_content_remove_padding">
												<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
													<a th:href="@{/collectionandlapse?type=collection}">
														<div class="pending-dashboard" style="padding: 0;">
															<div class="ibox-title">
																<h5 class="label label-danger lbl-color">Renewal Premium Collection</h5>
															</div>
															<div class="ibox-content">
																<div class="ibox-content-detail-left">
																	<p>#Case Due</p>
																	<h1 id="policy-collection"></h1>
																</div>
																<div class="ibox-content-detail-right">
																	<p>Expected Premium</p>
																	<h1 id="ape-collection"></h1>
																</div>
																<div class="clearfix"></div>
															</div>
														</div>
													</a>
												</div>
												<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
													<a th:href="@{/collectionandlapse?type=lapsed}">
														<div class="pending-dashboard" style="padding: 0;">
															<div class="ibox-title">
																<h5 class="label label-danger lbl-color">Lapsed Policies</h5>
															</div>
															<div class="ibox-content">
																<div class="ibox-content-detail-left">
																	<p>#Case Lapsed</p>
																	<h1 id="policy-lapse"></h1>
																</div>
																<div class="ibox-content-detail-right">
																	<p>Tot. Lapsed APE</p>
																	<h1 id="ape-lapse"></h1>
																</div>
																<div class="clearfix"></div>
															</div>
														</div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="x_panel" sec:authorize="hasAnyAuthority('ACCESS_PERSISTENCY,ACCESS_PERSISTENCY_DETAIL')">
								<div class="x_title">
									<h2>
										<i class="fa fa-bars"></i> My Persistency <span style="color:#FFFFFF;" id="persistency-q"></span>
									</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li style="float: right;"><a class="collapse-link"><i
												class="fa fa-chevron-up"></i></a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div class="row" sec:authorize="hasAnyAuthority('ACCESS_PERSISTENCY')">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="x_content">
												<table class="table table-striped">
												    <thead>
												      <tr>
												        <th>Portfolio in <span id="persistency-qwy"></span></th>
												        <th>APE Exposure</th>
												        <th>APE in-force</th>
												        <th>APE lapse & Surrender</th>
												      </tr>
												    </thead>
												    <tbody>
												      <tr>
												        <td><label id="includetransferpol"></label></td>
												        <td id="includetransferpolexposure"></td>
												        <td id="includetransferpolinfource"></td>
												        <td id="includetransferpollapseandsurrender"></td>
												      </tr>
												       <tr>
												        <td><label id="excludetransferpol"></label></td>
												        <td id="excludetransferpolexposure"></td>
												        <td id="excludetransferpolfource"></td>
												        <td id="excludetransferpollapsedandsurrender"></td>
												      </tr>
												    </tbody>
											  </table>
											</div>
											<div class="x_content">
												<label>Approx. Persistency Rate</label>
												<table class="table table-striped" id="tblPersistency">
												    <thead>
												      <tr>
												        <th>Q1 - <span class="years-q"></span></th>
												        <th>Q2 - <span class="years-q"></span></th>
												        <th>Q3 - <span class="years-q"></span></th>
												        <th>Q4 - <span class="years-q"></span></th>
												      </tr>
												    </thead>
												    <tbody>
												      <tr>
												        <td style="font-size: 25px;"><a id="persistencyforq1" class="lapsed-persistencyq1"></a></td>
												        <td style="font-size: 25px;"><a id="persistencyforq2" class="lapsed-persistencyq2"></a></td>
												        <td style="font-size: 25px;"><a id="persistencyforq3" class="lapsed-persistencyq3"></a></td>
												        <td style="font-size: 25px;"><a id="persistencyforq4" class="lapsed-persistencyq4"></a></td>
													  </tr>
													  <tr>
														  <td>
																<a target="_blank" class="download-link persistency-download" data-persistency="Q1" data-progress="no" th:href="@{/csvpersistencies?isimpactpersistency=Q1}"><span style="cursor:pointer;" class="label label-warning">Download</span></a>
														  </td>
														  <td>
																<a target="_blank" class="download-link persistency-download" data-persistency="Q2" data-progress="no" th:href="@{/csvpersistencies?isimpactpersistency=Q2}"><span style="cursor:pointer;" class="label label-warning">Download</span></a>
														  </td>
														  <td>
																<a target="_blank" class="download-link persistency-download" data-persistency="Q3" data-progress="no" th:href="@{/csvpersistencies?isimpactpersistency=Q3}"><span style="cursor:pointer;" class="label label-warning">Download</span></a>
														  </td>
														  <td>
																<a target="_blank" class="download-link persistency-download" data-persistency="Q4" data-progress="no" th:href="@{/csvpersistencies?isimpactpersistency=Q4}"><span style="cursor:pointer;" class="label label-warning">Download</span></a>
														  </td>
												      </tr>
												    </tbody>
											  </table>
											</div>
										</div>
									</div>
									<div class="table-responsive" sec:authorize="hasAnyAuthority('ACCESS_PERSISTENCY_DETAIL')">
										<table class="table table-striped" id="table-persistency"
											style="width: 100%;">
											<thead class="table-header">
												<tr>
													<th>Agent Number</th>
													<th>Agent Name</th>
													<th>IF APE($)</th>
													<th>LA APE($)</th>
													<th>SU APE($)</th>
													<th>Percent(%)</th>
													<th>Persistency For Q</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="x_footer"></div>
							</div>
							<div class="x_panel" sec:authorize="hasAnyAuthority('ACCESS_ALTERATION')">
								<div class="x_title">
									<h2>
										<i class="fa fa-bars"></i> My Alteration
									</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li style="float: right;"><a class="collapse-link"><i
											class="fa fa-chevron-up"></i></a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="x_content">
												<div class="pending-dashboard" style="padding: 0;">
													<div class="ibox-title">
														<h5 class="label label-danger lbl-color">Alteration Requests</h5>
													</div>
													<div class="ibox-content">
														<div style="cursor: pointer;" class="ibox-content-detail-3-chart">
															<canvas id="donutalteration" height="70" width="70"></canvas>
														</div>
														<div style="cursor: pointer;" OnClick="showAlterationDetail('Completed')" class="ibox-content-detail-3-left">
															<p class="label-completed">Completed</p>
															<h1 id="alcompleted"></h1>
														</div>
														<div style="cursor: pointer;" OnClick="showAlterationDetail('Pending')" class="ibox-content-detail-3-right">
															<p class="label-pending">Pending</p>
															<h1 id="alpending"></h1>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="x_footer"></div>
							</div>
							<div class="x_panel" sec:authorize="hasAnyAuthority('ACCESS_PENDINGACK')">
								<div class="x_title">
									<h2>
										<i class="fa fa-bars"></i> My Pending Acknowledgement
									</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li style="float: right;"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<a style="cursor: pointer;" onClick="ShowListPendingAck()">
												<div class="pending-dashboard">
													<div class="pull-left pending-icon-left-pendingcase">
														<i class="fa fa-shopping-cart pending-icon"
															aria-hidden="true"></i>
													</div>
													<div style="text-align: right">
														<p>Total Pending Acknowledgement</p>
														<h3>
															<b class="font-mypending" id="my-pending-ack"></b>
														</h3>
													</div>
													<div class="clearfix"></div>
												</div>
											</a>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="x_footer"></div>
							</div>
							<div class="x_panel" sec:authorize="hasAnyAuthority('ACCESS_FAIL_WC')">
								<div class="x_title">
									<h2>
										<i class="fa fa-bars"></i> Failed Welcome Call (FWC)
									</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li style="float: right;"><a class="collapse-link"><i
											class="fa fa-chevron-up"></i></a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div class="x_content">
												<div class="pending-dashboard" style="padding: 0;">
													<div class="ibox-title">
														<h5 class="label label-danger lbl-color">Failed Welcome Call Requests</h5>
													</div>
													<div class="ibox-content">
														<div style="cursor: pointer;" class="ibox-content-detail-3-chart">
															<canvas id="donutfwc" height="70" width="70"></canvas>
														</div>
														<div style="cursor: pointer;" OnClick="showFwcDetail('Closed')" class="ibox-content-detail-3-left">
															<p class="label-fwc-closed">Closed</p>
															<h1 id="fwcClosed"></h1>
														</div>
														<div style="cursor: pointer;" OnClick="showFwcDetail('Pending')" class="ibox-content-detail-3-right">
															<p class="label-fwc-pending">Pending</p>
															<h1 id="fwcPending"></h1>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="x_footer"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page content -->
		</div>
	</div>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var isAllowedLoading = false;
			isAllowedLoading = true;
			var urlgetsubandiss = [[@{/getAllSubAndIssue}]];
			var urlgetallpendingsummary = [[@{/getAllPendingSummary}]];
			var urlmypendingstatus = [[@{/mypending}]];
			var height = screen.height;
			var height1 = $('#welcomeText').height();
			var urlsubmission = [[@{/getListSubmission}]];
			var urlissuace = [[@{/getListNetIssue}]];
			var urlcodedesc = [[@{/getAllCodeDesc}]];
			var urlcountcollectionandlapse = [[@{/getcountcollectionandlapses}]];
			var urlpersistencies = [[@{/getPersistencies}]];
			var urlcountalteration = [[@{/countalterations}]];
			var urlgetallalteration = [[@{/getalterations}]];
			var urlgetimmediateaction = [[@{/getimmediateaction}]]; 
			var urlcountpendingacks = [[@{/countpendingacks}]];
			var urlgetpendingacks = [[@{/getpendingacks}]];
			var urlcollectionandlapse = [[@{/collectionandlapse}]];
			var urlgetcustomertofollowup = [[@{/getcustomertofollowup}]];
			var urlfailwelcomecall = [[@{/failwelcomecall}]];
			var urlgetpersistenciessumarry = [[@{/getpersistenciessumarry}]];
			var urlgetcollectionandlapsecomment = [[@{/getcollectionandlapsecomment}]];
			var urladdcollectionandlapsecomment = [[@{/addcollectionandlapsecomment}]];
			var urllogviewpersistency = [[@{/logviewpersistency}]];
			
			$('#welcomeText').css({
				paddingTop: (height - 70 - (height1 / 2)) / 2 + 'px'
			});
			$('#welcomeText').css({
				minHeight: height / 2 + 'px'
			});

			var pwdExpired = /*[[${isExpiredSoon}]]*/ '';
			var ctx = /*[[@{/}]]*/ '';

			if (pwdExpired) {
				showModalDialog.show(pwdExpired, ctx);
			}
			
			if(isAllowedLoading === true){
				$('.right_col').loading({
					message: 'Loading Please wait...'
				});
			}

			$('.persistency-download').click(function(e){
				e.preventDefault();
				var link = $(this);

				if(link.attr('data-progress') !== 'yes'){
					link.attr('data-progress', 'yes');
				}else{
					return;
				}

				$(document).ready(function(){
					$.ajax({
						type: 'get',
						url: [[@{/csvpersistenciescount}]] + '?isimpactpersistency=' + link.attr('data-persistency'),
						success: function(result){
							console.log(result);
							console.log(link.attr('data-persistency'));
							if(result !== '' && result*1 > 0){
								window.open(link.attr('href'), '_blank');
							}else{
								alert('There is no data to download!');
							}
						},
						error: function(){

						}
					});
				});

				link.attr('data-progress', 'no');
			});
		</script>
		<script th:src="@{/resources/js/validateform/dashboard.js}"></script>
		<script th:src="@{/resources/js/pruDialog.js}"></script>
	</th:block>
</body>
</html>