<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shared/layout :: header">
<meta charset="UTF-8"/>
<title>PruQuote Online</title>

</head>
<body>
	<div id="login-page">
	  	<div class="container" style="margin-top:50px;">
			  <center><img th:src="@{resources/images/logo_prudential_notagline.jpg}" width="300" height="130" /></center>
			  <form class="form-login" name="loginForm"  th:action="login" method='POST' autocomplete="off" th:object="${user}">
			        <h2 class="form-login-heading" style="background:#fff2f3;"><SPAN style="color:#EE1B2E;font-size:20px;"><b><span style="text-transform: lowercase;"></span>PCLA Distribution Portal V2</b></SPAN><i style="text-transform: lowercase; font-size:25px;"></i> </h2>
			      
			        <div class="login-wrap">
			            <input type="text" th:field="*{username}" class="form-control" placeholder="User ID" />
			            <br/>
			            <input type="password" th:field="*{pwd}" class="form-control" placeholder="Password" />
			            <label class="checkbox" style="height: 20px">
			            	<span class="pull-left">
						  		<div th:if="${error} != null" class="text-danger"><span th:text="${error}"></span></div>
							  	<div th:if="${msg} != null" class="text-success"><span th:text="${msg}"></span></div>
							 	<div th:if="${expire} != null" class="text-danger"><span th:text="${expire}"></span></div>
			            	</span>
			            </label>
			           
			            <button class="btn btn-danger btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
			            <br/>
			             
			            <p class="text-muted"> 2017 Prudential Cambodia All Rights Reserved. </p>
			         </div>
			          <!-- Modal -->
			          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
			              <div class="modal-dialog">
			                  <div class="modal-content">
			                      <div class="modal-header">
			                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                          <h4 class="modal-title">Forgot Password ?</h4>
			                      </div>
			                      <div class="modal-body">
			                          <p>Enter your e-mail address below to reset your password.</p>
			                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix" />
			
			                      </div>
			                      <div class="modal-footer">
			                          <button data-dismiss="modal" class="btn btn-danger" type="button">Cancel</button>
			                          <button class="btn btn-theme" type="button">Submit</button>
			                      </div>
			                  </div>
			              </div>
			          </div>
		      </form>
	  	</div>
	  	 
	  </div>
	<div th:replace="shared/layout :: script"></div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('input[name=username]').focus();
		});
	</script>
</body>
</html>