<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="shared/layout_main">

<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
<link th:href="@{/resources/css/submission.css}" rel="stylesheet" />
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!--page content -->
			<div class="right_col" role="main" layout:fragment="pageContent">
				<div class="row">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								<i class="fa fa-bars"></i> List of Submission
							</h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="row">
								<div class="col-md-6 col-ms-12 col-xs-12">
								<h4>Summary by Branch</h4>
									<div class="table-responsive disable-over">
										<table id="branch_grid"
											class="table table-striped table-advance table-hover">
											<thead>
												<tr class="pending-tr">
													<th style="width: 25%;">Branch Code</th>
													<th style="width: 25%;">Branch Name</th>
													<th style="width: 25%;">Number of Cases</th>
													<th style="width: 25%;">Total APE($USD)</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-6 col-ms-12 col-xs-12">
								<h4>Summary by Agent</h4>
									<div class="table-responsive disable-over">
										<table id="agent_grid"
											class="table table-striped table-advance table-hover">
											<thead>
												<tr class="pending-tr">
													<th style="width: 25%;">Agent Code</th>
													<th style="width: 25%;">Agent Name</th>
													<th style="width: 25%;">Number of Cases</th>
													<th style="width: 25%;">Total APE($USD)</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="x_content" id="move-filter">
							<div class="table-responsive">
								<table id="submission_grid"
									class="table table-striped table-advance table-hover"
									style="width: 100%;">
									<thead style="width: 100%;">
										<tr class="pending-tr">
											<th>Policy Number</th>
											<th>Application Number</th>
											<th>Policy Name</th>
											<th>Submission Date</th>
											<th>Key In Date</th>
											<th style="display: none;">Issuance Date</th>
											<th>Policy Status</th>
											<th style="display: none;">Not Token Up Date</th>
											<th style="display: none;">Withdrawn Date</th>
											<th style="display: none;">Postpone Date</th>
											<th style="display: none;">CFI Date</th>
											<th>APE($USD)</th>
											<th style="display: none;">Agent Number</th>
											<th>Agent Name</th>
											<th>Week</th>
											<th style="display: none;">Branch Code</th>
											<th>Branch Name</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page content -->
		</div>
	</div>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var urlsubmission = [[@{/getsubmissions}]];
			var urlsubmissionsummary = [[@{/submissionsummary}]];
			var pwdExpired = /*[[${isExpiredSoon}]]*/ '';
			var ctx = /*[[@{/}]]*/ '';
			if (pwdExpired) {
				showModalDialog.show(pwdExpired, ctx);
			}
		</script>
		<script th:src="@{/resources/js/jquery.loading.min.js}"></script>
		<script th:src="@{/resources/js/validateform/submission.js}"></script>
		<script th:src="@{/resources/js/pruDialog.js}"></script>
	</th:block>
</body>

</html>