<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
        	<style>
				.error{color:#a94442;}
			</style>
			<hr/>  
    			<div class="content-panel">            	                  
            	 	<form th:object="${pwd}" class="changepwdForm" th:action="@{''}" method='post'>            	  
	            	  	<div th:if="${error != null}" class="alert alert-warning" role="alert" th:text="${error}">
			 			</div>
	            	  	<div th:if="${success != null}" class="alert alert-success" role="alert" th:text="${success}">
	            	  	</div>
	            	  	<div class="alert alert-info" role="alert" sec:authorize="hasAnyRole('ROLE_CHANGEPWD')">
	            	  		Your password has been expired or reseted, please change your password to continue process the system.
	            	  	</div>
            	  <div class="row space5">             	  	
	            	  <div class="col-sm-12">
	                   <div class="form-group fixed-form-control" >
	                   	<label for="userId" class="col-sm-3 control-label">Current Password:</label>    
	                   	<div class="col-sm-9">
	                   		<input type="password" id="oldPwd" th:field="*{oldPwd}" class="form-control" />
	                   	</div>  
	                   </div>
	                  </div> 
                  </div>
                  <br/>
                 <div class="row space5">             	  	
	            	  <div class="col-sm-12">
	                   <div class="form-group fixed-form-control" >
	                   	<label for="userId" class="col-sm-3 control-label">New Password:</label>    
	                   	<div class="col-sm-9">
	                   		<input type="password" id="newPwd" th:field="*{newPwd}" class="form-control" />
	                   	</div>  
	                   </div>
	                  </div> 
                  </div>
                  <br/>
                 <div class="row space5">             	  	
	            	  <div class="col-sm-12">
	                   <div class="form-group fixed-form-control" >
	                   	<label for="userId" class="col-sm-3 control-label">Confirm Password:</label>    
	                   	<div class="col-sm-9">
	                   		<input type="password" id="confirmPwd" th:field="*{confirmPwd}" class="form-control" />
	                   	</div>  
	                   </div>
	                  </div> 	                  
                  </div>
                  <div class="row space5">                 
                 <div class="form-group fixed-form-control col-sm-1 btNotFixed" >
				  	<button  type="submit" class="btn btn-danger">Save</button>
				 </div>
				 </div>
<!-- 				<div class="btFixed"> -->
<!-- 				<div class="text-center"> -->
<!-- 					<button type="submit" class="btn btn-danger"> -->
<!-- 					    Save -->
<!-- 					</button> -->
<!-- 				</div> -->
<!-- 				</div> -->
				<div id="errorDiv" role="alert"></div>
           	  </form>                                        
    			</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			var changepwd = /*[[${changepwd}]]*/'';
			if(changepwd){
				formSubmit();
			}
			
			$(document).ready(function(){
				//add regex if don't want to add can use additional-methods.js that contains the method "pattern"
				$.validator.addMethod("pwcheck", function(value) {
				   return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
				   	   && /[A-Z]/.test(value) // has a uppercase letter
				       && /[a-z]/.test(value) // has a lowercase letter
				       && /\d/.test(value) // has a digit
				});
				
				$.validator.addMethod("notEqualTo", function(value, element, param) {
					 return this.optional(element) || value != $(param).val();
				});
				
				$('#oldPwd').focus();
				
				$('.changepwdForm').validate({
					rules: {
					    oldPwd: {
					      required: true,
					      minlength: 8
					    },
					    newPwd: {
					      required: true,
					      minlength: 8,
					      notEqualTo: '#oldPwd'
						},
						confirmPwd: {
					      required: true,
						  equalTo: '#newPwd',
						  notEqualTo: '#oldPwd'
						}
					},
					messages: {
						oldPwd:{
							required: "Current password is required!",
							minlength:"Password length must be at least 8 characters"
						},
						newPwd:{
							required:"New password is required!",
							minlength:"Password length must be at least 8 characters",
							notEqualTo: "New password cannot be the same as old password!"	
						},
						cnewpwd:{
							required: "Confirm password is required!",
						  	equalTo: "Confirm password must be the same as new password!",
							notEqualTo: "Confirm password cannot be the same as old password!"
						}
					},			
					highlight:function(element){				
						$(element).closest('.form-group').removeClass('has-success').addClass('has-error');				
						
					},
					unhighlight:function(element){
						$(element).closest('.form-group').removeClass('has-error').addClass('has-success');				
					},			

					success: function(label) {
						//$('#errorDiv').hide();
					},
				});
			});
		</script>
	</th:block>
</body>
</html>