<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel">
                  	  <hr/>                  
                  	  <form th:object="${userRole}" th:action="@{''}">
                  	   		<div th:if="${errors} != null" class="alert alert-warning" role="alert">
								<ul>
									<li th:each="error : ${errors}"
										th:text="${error.code}"></li>
								</ul>
				 			</div>
                  	  <div class="row space5">             	  	
	            	  <div class="col-sm-6">
	                   <div class="form-group fixed-form-control" >
	                   	<label for="userId" class="col-sm-3 control-label">User ID:<span class="required-mark">*</span></label>    
	                   	<div class="col-sm-9">
	                   		<input type="text" th:field="*{user.userId}" class="form-control" htmlEscape="true"/>
	                   	</div>  
	                   </div>
	                  </div> 
	                  <div class="col-sm-6">
	                   <div class="form-group fixed-form-control">
		                   	<label for="fullName" class="col-sm-3 control-label">Full Name:<span class="required-mark">*</span></label>    
		                   	<div class="col-sm-9 input-group">
		                   		<input type="text" th:field="*{user.fullName}" class="form-control" htmlEscape="true"/>
		                   		<span class="input-group-addon">
							      <i class="fa fa-text-width"></i>
		                   		</span>
		                   	</div>	                   	  
	                   </div>
                  		</div>
                  	</div>
                     <div class="row space5">
	                  <div class="col-sm-6">
	                   <div class="form-group fixed-form-control" >
	                   	<label for="username" class="col-sm-3 control-label">Username:<span class="required-mark">*</span></label>    
	                   	<div class="col-sm-9 input-group">
	                   		<input type="text" th:field="*{user.username}" readonly="true" class="form-control"/>
	                   		<span class="input-group-addon">
							      <i class="fa fa-text-width"></i>
		                   	</span>	                        		
	                   	</div>  
	                   </div>
	                  </div>
	                  
	                  <div class="col-sm-6">
	                   <div class="form-group fixed-form-control" >
	                   	<label for="gender" class="col-sm-3 control-label">Gender:</label>    
	                   	<div class="col-sm-9">
	                   		<select th:field="*{user.gender}" class="form-control select2combo">
	                   			<option value="Male" label="Male"/>
	                   			<option value="Female" label="Female"/>
	                   		</select>
	                   	</div>  
	                   </div>
	                  </div>	
	                  </div>
                     <div class="row space5">
	                  
	                  <div class="col-sm-6">
	                   <div class="form-group fixed-form-control">
	                   	<label for="email" class="col-sm-3 control-label">E-Mail:<span class="required-mark">*</span></label>    
	                   	<div class="col-sm-9 input-group">
	                   		<input type="text" th:field="*{user.email}" class="form-control"/>
	                   		<span class="input-group-addon">
							      @
		                   	</span>
	                   	</div>  
	                   </div>
	                  </div>
	                  <div class="col-sm-6">
	                        <div class="form-group fixed-form-control">
	                        	<label for="role" class="col-sm-3 control-label">Role:</label>    
	                        	<div class="col-sm-9" th:switch="${#authentication.name}">
	                        		<th:block th:case="${userRole.user.username}">
	                        			<input type="text" th:field="*{role.roleName}" readonly="true" class="form-control"/>
								        <input type="hidden" th:field="*{role.roleId}" />
	                        		</th:block>
	                        		<th:block th:case="*">
	                        			<select th:field="*{role.roleId}" class="form-control select2combo">
	                        				<option th:each="role : ${roles}"
	                        					th:value="${role.roleId}" th:text="${role.roleName}"></option>
	                        			</select>
	                        		</th:block>
	                        	</div>  
	                        </div>
                        </div>	
	                  </div>
	                  <div class="row space5">          
	                   <div class="col-sm-6 ">
	                        <div class="form-group fixed-form-control">
	                        	<label for="pwdExpiredDate" class="col-sm-3 control-label">PWD Expired:</label>    
	                        	<div class="col-sm-9 input-group">
			                   		<input type="text" th:field="*{user.pwdExpiredDate}" class="form-control date" placeholder="Password Expired Date (dd/mm/yyyy)"/>
			                   		<span class="input-group-addon">
									      <i class="glyphicon glyphicon-th"></i>
				                   	</span>
			                   	</div>  
	                        </div>
                        </div>	  
                        <div class="col-sm-6">
	                        <div class="form-group fixed-form-control">
	                        	<label for="accountExpiredDate" class="col-sm-3 control-label">Acc Expired:</label>    
	                        	<div class="col-sm-9 input-group">
			                   		<input type="text" th:field="*{user.accountExpiredDate}" class="form-control date" placeholder="Account Expired Date (dd/mm/yyyy)"/>
			                   		<span class="input-group-addon">
									      <i class="glyphicon glyphicon-th"></i>
				                   	</span>
			                   	</div>  
	                        </div>
                        </div>	                                      
                        
                       </div>
                       <div class="row space5"> 
                       <div class="col-sm-6 ">
	                        <div class="form-group fixed-form-control">
	                        	<label for="maxAttempNo" class="col-sm-3 control-label">Max Attempt:<span class="required-mark">*</span></label>    
	                        	<div class="col-sm-9 input-group">
			                   		<input type="text" th:field="*{user.maxAttempNo}" class="form-control" />
			                   		<span class="input-group-addon">
									      #
				                   	</span>
			                   	</div>  
	                        </div>
                        </div>	  
                        <div class="col-sm-6">
	                   <div class="form-group fixed-form-control" >
	                   	<label for="fullNameKH" class="col-sm-3 control-label">Full Name KH:<span class="required-mark">*</span></label>    
	                   	<div class="col-sm-9 input-group">
	                   		<input type="text" th:field="*{user.fullNameKH}" class="form-control"/>
	                   		<span class="input-group-addon">
							      <i class="fa fa-text-width"></i>
		                   	</span>	                        		
	                   	</div>  
	                   </div>
	                  </div>
                     </div>
                     
                    <div class="row space5"> 
                     <div class="col-sm-6 fixed-form-control">	                             	         
	                        <div class="checkbox" th:switch="${#authentication.name}">
	                        	<label class="col-sm-3 control-label" style="font-weight:bold">Status:</label>
	                        	<th:block th:case="${userRole.user.username}">
                        			<label class="col-sm-3"><input type="checkbox" th:field="*{user.enabled}" disabled/> Enable</label>    	                        	
                        			<label class="col-sm-3"><input type="checkbox" th:field="*{user.firstLogin}" disabled/> First Login</label>
                        			<label class="col-sm-3"><input type="checkbox" th:field="*{user.locked}" disabled/> Locked</label>
	                        	</th:block>
	                        	<th:block th:case="*">
	                        		<label class="col-sm-3"><input type="checkbox" th:field="*{user.enabled}" /> Enable</label>                        	
                        			<label class="col-sm-3"><input type="checkbox" th:field="*{user.firstLogin}" /> First Login</label>
                        			<label class="col-sm-3"><input type="checkbox" th:field="*{user.locked}" /> Locked</label>
	                        	</th:block>
	                        </div>
                        </div>
                     </div>
                        
                        <input type="hidden" th:field="*{userRoleId}" />
		                 <div class="row space5">
		                  <div class="form-group col-sm-6 btNotFixed" >
						  	<button  type="submit" class="btn btn-danger">Save</button>
						  	<a href="#" data-target="#resetpwd"  data-toggle="modal" class="btn btn-danger">Reset Password</a>
						  </div>
						  </div>
<!-- 						  <div class="btFixed"> -->
<!-- 								<div class="text-center"> -->
<!-- 									<button type="submit" class="btn btn-danger"> -->
<!-- 									    Save -->
<!-- 									</button> -->
<!-- 									<a href="#" data-target="#resetpwd"  data-toggle="modal" class="btn btn-danger">Reset Password</a>       -->
<!-- 								</div> -->
<!-- 							</div> -->
                  	  </form>                                         
          			</div><!-- /form-panel -->          		
   	    
   	    
<!-- Modal -->
<div class="modal fade" id="resetpwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
      </div>
      <div class="modal-body">
        <form id="formResetPwd" method="post" th:action="@{/resetpwd}" class="form-horizontal">
           <div class="form-group">
               <label class="col-md-4 control-label">Enter New Password</label>
               <div class="col-md-8">
                   <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="New Password" autocomplete="off"/>
               </div>
           </div>
           <div class="form-group">
               <label class="col-md-4 control-label">Re-enter New Password</label>
               <div class="col-md-8">
                   <input type="password" class="form-control" id="cnewpwd" name="cnewpwd" placeholder="Re-enter New Password" autocomplete="off"/>
               </div>
           </div>
           <input id="username" name="username" type="hidden" value=""/>
           <input type="hidden" th:field="${_csrf.parameterName}" th:value="${_csrf.token}" />
           <div class="form-group">     
               <div class="col-md-offset-4 col-md-4">
                   <button type="submit" id="btnNew" class="btn btn-primary " >Save</button>  
                   <button class="btn " data-dismiss="modal" aria-hidden="true">Close</button>                         
               </div>
           </div>
       </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function(){
				$('.date').datepicker({		    
					autoclose: true,
				    todayHighlight: true,
				    format: "dd/mm/yyyy"
				});	
				$("#username").val($( "input[name='user.username']" ).val());
				$.validator.addMethod(
				        "regex",
				        function(value, element, regexp) {
				            var re = new RegExp(regexp);
				            return this.optional(element) || re.test(value);
				        },
				        "Please check your input."
				);
				
				var validate=$('#formResetPwd').validate({
					errorClass: "text-danger",
					rules: {			    
					    newpwd: {
						      required: true,
						      regex: "((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$&+,:;=?@#|'<>.^*()%!]).{8,20})" ,				      
						},
						cnewpwd: {
						      required: true,
						      equalTo: "#newpwd"
						}
					},
					messages: {				
						newpwd:{
							required:"New password is required!",
							regex:"Password must contains one digit from 0-9,one lowercase characters,uppercase characters,special characters,length at least 8 characters",					
						},
						cnewpwd:"Confirm password again!"
					},			
					highlight:function(element){				
						$(element).closest('.form-group').removeClass('has-success').addClass('has-error');				
						
					},
					unhighlight:function(element){
						$(element).closest('.form-group').removeClass('has-error').addClass('has-success');				
					}							
				});

				$('#resetpwd').on('hidden.bs.modal', function() {			
					$('#formResetPwd').find('input[type=password]').val('');
					$('#formResetPwd').find('.form-group').removeClass('has-error').removeClass('has-success')
					validate.resetForm();
					
				});
			});
		</script>
	</th:block>
</body>
</html>