<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel">
                  	  <hr/>                     	        
                  	           
                  	  <ul id="RoleTab" class="nav nav-tabs" >
					        <li class="active"><a data-toggle="tab" href="#tabroleDetail">Role Detail</a></li>
					        <li><a data-toggle="tab" href="#tabrolePermission">Role Permission</a></li>					        
					  </ul>
    				  <div class="tab-content">
	        			<div id="tabroleDetail" class="tab-pane fade in active" style="padding-top:20px">     	        			
	                  	  <form th:object="${role}" th:action="@{''}">
	                  	  		<div th:if="${errors} != null" class="alert alert-warning" role="alert">
									<ul>
										<li th:each="error : ${errors}"
											th:text="${error.code}"></li>
									</ul>
					 			</div>
	                  	  	<div class="row space5">               	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control">			                        
		                        	<label for="userId" class="col-sm-3 control-label">Role ID:</label>    
		                        	<div class="col-sm-9">
		                        		<input type="text" readonly="true" th:field="*{roleId}" class="form-control" htmlEscape="true"/>
		                        	</div>  			                        
		                        </div> 
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="fullName" class="col-sm-3 control-label">Role Name:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-9 input-group">
		                        		<input type="text" th:field="*{roleName}" class="form-control" htmlEscape="true"/>
		                        		<span class="input-group-addon">
									      <i class="fa fa-text-width"></i>
				                   		</span>
		                        	</div>  
		                        </div>	
	                        </div>
	                        <div class="row space5">
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="username" class="col-sm-3 control-label">Description:</label>    
		                        	<div class="col-sm-9 input-group">
		                        		<input type="text" th:field="*{roleDesc}" class="form-control"/>
		                        		<span class="input-group-addon">
									      <i class="fa fa-text-width"></i>
				                   		</span>	                        		
		                        	</div>  
		                        </div>
		                                  
		                        <div class="col-sm-6 form-group fixed-form-control">
	                        	<label for="status" class="col-sm-3 control-label">Role LV:</label>    
	                        	<div class="col-sm-9">
	                        		<select th:field="*{roleLV}" class="form-control select2combo">
	                        			<option value="1" label="Low"/>
	                        			<option value="2" label="Medium"/>
	                        			<option value="3" label="High"/>
                        			</select>	                        		
	                        	</div>  
	                        	</div>           
	                        </div>
	                        
	                        <div class="row space5">
	                        	<div class="col-sm-6 form-group fixed-form-control">
	                        		<label for="status" class="col-sm-3 control-label">Status:</label>    
		                        	<div class="col-sm-9">
		                        		<select th:field="*{status}" class="form-control select2combo">
		                        			<option value="1" label="Enable"/>
		                        			<option value="0" label="Disable"/>
	                        			</select>	                        		
		                        	</div>  
	                        	</div>     
	                        </div>
	                                      
	                       	<div class="row space5">
			                  <div class="form-group col-sm-1 btNotFixed" >
							  	<button  type="submit" class="btn btn-danger">Save</button>
							  </div>
							  </div>
<!-- 							  <div class="btFixed"> -->
<!-- 									<div class="text-center"> -->
<!-- 										<button type="submit" class="btn btn-danger"> -->
<!-- 										    Save -->
<!-- 										</button> -->
<!-- 									</div> -->
<!-- 							  </div> -->
	                  	  </form>    
                  	  	</div> <!--  end Role detail -->
                  	  	<div id="tabrolePermission" class="tab-pane fade" style="padding-top:20px">
                  	  		<form th:object="${rolePermission}" th:action="@{/role/{id}/edit/rolepermission(id=${roleId})}">
                  	  			<div class="row space5">
	                  	  			<div class="col-sm-6 form-group fixed-form-control">                  	  			
		                  	  				<label for="permission.permissionId" class="col-sm-4 control-label">Add Permission:</label>
		                  	  				<div class="col-sm-8">
			                  	  				<select th:field="*{permission}" class="form-control select2combo">
			                  	  					<option th:each="permission : ${permissions}"
			                  	  						th:value="${permission.permissionId}" th:text="${permission.permissionName}"></option>
			                  	  				</select>
			                  	  			</div>
		                  	  		</div>
		                  	  		<div class="form-group col-sm-1" >
							  		<button  type="submit" class="btn btn-danger">Add</button>
							 		</div>
	                  	  		</div>
	                  	  			                  	  		
                  	  		</form>
                  	  	<table id="rolepermission_grid" class="table table-striped table-advance table-hover"> <!-- style="border:1px solid #ccc;" -->                            
	              	  	  <thead>
	                           <tr>                          	  
								  <th>#</th>
	                          	  <th>Permission Id</th>
	                          	  <th>Permission Name</th>
	                          	  <th>Permission Description</th>                          	  
	                              <th>Controller</th>
	                              <th>Path</th>
								  <th>Action</th>
	                           </tr>
	                      </thead>
	                         <tbody th:with="id=${1}">
	                         	<tr th:each="rolePermission : ${rolePermissions}">
	                         		<td th:text="${id}"></td>
	                         		<td th:text="${rolePermission.permission.permissionId}" th:with="id=${id}+{1}"></td>
			                    	<td th:text="${rolePermission.permission.permissionName}"></td>
			                    	<td th:text="${rolePermission.permission.permissionDesc}"></td>
						     		<td th:text="${rolePermission.permission.controller}"></td>
						     		<td th:text="${rolePermission.permission.path}"></td>
	                            	<td>
	                              		<button th:value="${rolePermission.rolePermissionId}" class="btnRemoveRolePermission btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button>
	                            	</td>
	                         	</tr>
	                        </tbody>
	                     </table>    
                  	  	</div> <!-- end Role Permission -->
                  	  </div> <!-- end tab content -->                                  
          			</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script type="text/javascript">
			// store the currently selected tab in the hash value
		    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
		        var id = $(e.target).attr("href").substr(1);	        
		        window.location.hash = id;	        
		        $('html,body').scrollTop(0);
		    });
		
		    // on load of the page: switch to the currently selected tab
		    var hash = window.location.hash;
		    $('#RoleTab a[href="' + hash + '"]').tab('show');
		    
			$(document).ready(function(){
				$('#rolepermission_grid').dataTable({
	    			//        "data": data,
	    			/* "scrollY":        "200px",
	    		        "scrollCollapse": true,
	    		        "paging":         false, */
	    		        	/* responsive: true, */
	    					stateSave: true,
	    			       /*  dom: 'TC<"clearfix">lfrtip',
	    			        columnDefs: [
	    			            { visible: false, targets: [0,3] }
	    			        ],
	    			        tableTools: {
	    			            "aButtons": ["copy", "csv", "pdf"],
	    			            "sSwfPath": "<c:url value="/resources/TableTools/swf/copy_csv_xls_pdf.swf"/>"
	    			        }, */
	    			        "fnDrawCallback": function (oSettings, json) {
	    			            //showLoading(false);
	    			        }
	    			       
	    			    });
			          	                	
	        	  var token = $("meta[name='_csrf']").attr("content");
	        	  var header = $("meta[name='_csrf_header']").attr("content");
	        	  $(document).ajaxSend(function(e, xhr, options) {
	        	    xhr.setRequestHeader(header, token);
	        	  });
	        	$(".btnRemoveRolePermission").click(function(){			
	            	var rolePermissionId=$(this).val();
	            	var data={/*[[${_csrf.parameterName}]]*/'' : /*[[${_csrf.token}]]*/'' };
	            	var url = /*[[@{/role/{id}/remove/rolepermission/(id=${roleId})}]]*/'';
	
	        		$.post( url + rolePermissionId, function() {
	        			  location.reload();
	        		});
					
				});
			});
		</script>
	</th:block>
</body>
</html>