<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel">
                  	  <hr/>                              	      				     	        		
	                  	  <form th:object="${permission}" th:action="@{''}">
	                  	  		<div th:if="${errors} != null" class="alert alert-warning" role="alert">
									<ul>
										<li th:each="error : ${errors}"
											th:text="${error.code}"></li>
									</ul>
					 			</div>
	                  	  	<div class="row space5">                  	  	
	                  	  	<div class="col-sm-6 form-group fixed-form-control">
	                        	<label for="permissionId" class="col-sm-3 control-label">ID:</label>    
	                        	<div class="col-sm-9">
	                        		<input type="text" readonly="true" th:field="*{permissionId}" class="form-control" htmlEscape="true"/>
	                        	</div>  
	                        </div> 
	                        <div class="col-sm-6 form-group fixed-form-control">
	                        	<label for="permissionName" class="col-sm-3 control-label">Name:<span class="required-mark">*</span></label>    
	                        	<div class="col-sm-9 input-group">
	                        		<input type="text" th:field="*{permissionName}" class="form-control" htmlEscape="true"/>
	                        		<span class="input-group-addon">
									      <i class="fa fa-text-width"></i>
				                   	</span>	   
	                        	</div>  
	                        </div>	
	                        </div>
	                        <div class="row space5">                 
	                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="permissionDesc" class="col-sm-3 control-label">Description:</label>    
		                        	<div class="col-sm-9 input-group">
		                        		<input type="text" th:field="*{permissionDesc}" class="form-control"/>
		                        		<span class="input-group-addon">
										      <i class="fa fa-text-width"></i>
					                   	</span>	   	                        		
		                        	</div>  
	                        </div>   
	                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="controller" class="col-sm-3 control-label">Controller:</label>    
		                        	<div class="col-sm-9 input-group">
		                        		<input type="text" th:field="*{controller}" class="form-control"/>
		                        		<span class="input-group-addon">
										      <i class="fa fa-text-width"></i>
					                   	</span>	   		                        		
		                        	</div>  
	                        </div>   
	                        </div>
	                        <div class="row space5">                 
	                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="action" class="col-sm-3 control-label">Action:</label>    
		                        	<div class="col-sm-9 input-group">
		                        		<input type="text" th:field="*{action}" class="form-control"/>	
		                        		<span class="input-group-addon">
										      <i class="fa fa-text-width"></i>
					                   	</span>	                           		
		                        	</div>  
	                        </div>   
	                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="path" class="col-sm-3 control-label">Path:</label>    
		                        	<div class="col-sm-9 input-group">
		                        		<input type="text" th:field="*{path}" class="form-control"/>
		                        		<span class="input-group-addon">
										      <i class="fa fa-text-width"></i>
					                   	</span>	   	                        		
		                        	</div>  
	                        </div>                       
	                        </div>
	                        <div class="row space5">                 
	                        <div class="form-group fixed-form-control col-sm-1 btNotFixed" >
							  	<button  type="submit" class="btn btn-danger">Save</button>
							 </div>
							 </div>
<!-- 							<div class="btFixed"> -->
<!-- 							<div class="text-center"> -->
<!-- 								<button type="submit" class="btn btn-danger"> -->
<!-- 								    Save -->
<!-- 								</button> -->
<!-- 							</div> -->
<!-- 							</div> -->
	                  	  </form>                      	  	                              
          			</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script type="text/javascript">

		</script>
	</th:block>
</body>
</html>