<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel">
                  	  <hr/>            
                  	  <ul class="nav nav-tabs">
					        <li class="active"><a data-toggle="tab" href="#roleDetail">Role Detail</a></li>
					       					        
					  </ul>
    				<div class="tab-content">
	        			<div id="roleDetail" class="tab-pane fade in active" style="padding-top:20px">     	        			
	                  	  <form th:object="${role}" th:action="@{''}">
	                  	  		<div th:if="${errors} != null" class="alert alert-warning" role="alert">
									<ul>
										<li th:each="error : ${errors}"
											th:text="${error.code}"></li>
									</ul>
					 			</div>
	                  	  	<div class="row space5">               	  	
		                  	  	<div class="col-sm-6 form-group fixed-form-control">			                        
		                        	<label for="userId" class="col-sm-3 control-label">Role ID:</label>    
		                        	<div class="col-sm-9">
		                        		<input type="text" readonly="true" th:field="*{roleId}" class="form-control" htmlEscape="true"/>
		                        	</div>  			                        
		                        </div> 
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="fullName" class="col-sm-3 control-label">Role Name:<span class="required-mark">*</span></label>    
		                        	<div class="col-sm-9 input-group">
		                        		<input type="text" th:field="*{roleName}" class="form-control" htmlEscape="true"/>
		                        		<span class="input-group-addon">
									      <i class="fa fa-text-width"></i>
				                   		</span>
		                        	</div>  
		                        </div>	
	                        </div>
	                        
	                        <div class="row space5">
		                        <div class="col-sm-6 form-group fixed-form-control">
		                        	<label for="username" class="col-sm-3 control-label">Description:</label>    
		                        	<div class="col-sm-9 input-group">
		                        		<input type="text" th:field="*{roleDesc}" class="form-control"/>
		                        		<span class="input-group-addon">
									      <i class="fa fa-text-width"></i>
				                   		</span>	                        		
		                        	</div>  
		                        </div>  
		                        
		                        <div class="col-sm-6 form-group fixed-form-control">
	                        	<label for="status" class="col-sm-3 control-label">Role LV:</label>    
	                        	<div class="col-sm-9">
	                        		<select th:field="*{roleLV}" class="form-control select2combo">
	                        			<option value="1" label="Low"/>
	                        			<option value="2" label="Medium"/>
	                        			<option value="3" label="High"/>
                        			</select>	                        		
	                        	</div>  
	                        	</div>   
	                        	    
	                        </div>                 
	                        
	                        <div class="row space5">
			                  <div class="form-group col-sm-1 btNotFixed" >
							  	<button  type="submit" class="btn btn-danger">Save</button>
							  </div>
							  </div>
<!-- 							  <div class="btFixed"> -->
<!-- 									<div class="text-center"> -->
<!-- 										<button type="submit" class="btn btn-danger"> -->
<!-- 										    Save -->
<!-- 										</button> -->
<!-- 									</div> -->
<!-- 								</div> -->
	                  	  </form>    
                  	  	</div> <!--  end Role detail -->
                  	  	
                  	  </div> <!-- end tab content -->                                  
          			</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script type="text/javascript">

		</script>
	</th:block>
</body>
</html>