<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<hr/>  
    			<div class="content-panel">            	                  
            	  <form th:object="${userRole}" th:action="@{''}">
            	 
            	  	<div th:if="${errors} != null" class="alert alert-warning" role="alert">
						<ul>
							<li th:each="error : ${errors}"
								th:text="${error.code}"></li>
						</ul>
		 			</div>
            	  <div class="row space5">             	  	
	            	  <div class="col-sm-6">
	                   <div class="form-group fixed-form-control" >
	                   	<label for="userId" class="col-sm-3 control-label">User ID:<span class="required-mark">*</span></label>    
	                   	<div class="col-sm-9">
	                   		<input type="text" th:field="*{user.userId}" class="form-control" htmlEscape="true"/>
	                   	</div>  
	                   </div>
	                  </div> 
	                  <div class="col-sm-6">
	                   <div class="form-group fixed-form-control">
		                   	<label for="fullName" class="col-sm-3 control-label">Full Name:<span class="required-mark">*</span></label>    
		                   	<div class="col-sm-9 input-group">
		                   		<input type="text" th:field="*{user.fullName}" class="form-control" htmlEscape="true"/>
		                   		<span class="input-group-addon">
							      <i class="fa fa-text-width"></i>
		                   		</span>
		                   	</div>	                   	  
	                   </div>
                  </div>
                  </div>	
                  <div class="row space5">
                  <div class="col-sm-6">
                   <div class="form-group fixed-form-control" >
                   	<label for="username" class="col-sm-3 control-label">Username:<span class="required-mark">*</span></label>    
                   	<div class="col-sm-9 input-group">
                   		<input type="text" th:field="*{user.username}" class="form-control"/>
                   		<span class="input-group-addon">
						      <i class="fa fa-text-width"></i>
	                   	</span>	                        		
                   	</div>  
                   </div>
                  </div>
                  <div class="col-sm-6">
                   <div class="form-group fixed-form-control">
                   	<label for="password" class="col-sm-3 control-label">Password:<span class="required-mark">*</span></label>    
                   	<div class="col-sm-9">
                   		<input type="password" th:field="*{user.password}" class="form-control" autocomplete="off"/>
                   	</div>  
                   </div>
                  </div>	
                  </div>
                  <div class="row space5">
                  <div class="col-sm-6">
                   <div class="form-group fixed-form-control" >
                   	<label for="gender" class="col-sm-3 control-label">Gender:</label>    
                   	<div class="col-sm-9">
                   		<select th:field="*{user.gender}" class="form-control select2combo">
                   			<option value="Male" label="Male"/>
                   			<option value="Female" label="Female"/>
                   		</select>
                   	</div>  
                   </div>
                  </div>
                  <div class="col-sm-6">
                   <div class="form-group fixed-form-control">
                   	<label for="email" class="col-sm-3 control-label">E-Mail:<span class="required-mark">*</span></label>    
                   	<div class="col-sm-9 input-group">
                   		<input type="text" th:field="*{user.email}" class="form-control"/>
                   		<span class="input-group-addon">
						      @
	                   	</span>
                   	</div>  
                   </div>
                  </div>	
                  </div>
                  
                  <div class="row space5">
                   <div class="col-sm-6 ">
	                   <div class="form-group fixed-form-control">
	                   	<label for="role" class="col-sm-3 control-label">Role:</label>    
	                   	<div class="col-sm-9">
	                   		<select th:field="*{role.roleId}" class="form-control select2combo">
	                   			<option th:each="role : ${roles}"
	                   				th:value="${role.roleId}" th:text="${role.roleName}"></option>
	                   		</select>
	                   	</div>  
	                   </div>
                  	</div>
                  	<div class="col-sm-6 ">
	                        <div class="form-group fixed-form-control">
	                        	<label for="pwdExpiredDate" class="col-sm-3 control-label">PWD Expired:</label>    
	                        	<div class="col-sm-9 input-group">
			                   		<input type="text" th:field="*{user.pwdExpiredDate}" class="form-control date" placeholder="Password Expired Date (dd/mm/yyyy)"/>
			                   		<span class="input-group-addon">
									      <i class="glyphicon glyphicon-th"></i>
				                   	</span>
			                   	</div>  
	                        </div>
                        </div>	 
                  </div>	
                  <div class="row space5">       
                  	<div class="col-sm-6 ">
                        <div class="form-group fixed-form-control">
                        	<label for="accountExpiredDate" class="col-sm-3 control-label">Acc Expired:</label>    
                        	<div class="col-sm-9 input-group">
		                   		<input type="text" th:field="*{user.accountExpiredDate}" class="form-control date" placeholder="Account Expired Date (dd/mm/yyyy)"/>
		                   		<span class="input-group-addon">
								      <i class="glyphicon glyphicon-th"></i>
			                   	</span>
		                   	</div>  
                        </div>
                    </div>	    
                    <div class="col-sm-6">
	                   <div class="form-group fixed-form-control">
		                   	<label for="fullNameKH" class="col-sm-3 control-label">Full Name KH:<span class="required-mark">*</span></label>    
		                   	<div class="col-sm-9 input-group">
		                   		<input type="text" th:field="*{user.fullNameKH}" class="form-control" htmlEscape="true"/>
		                   		<span class="input-group-addon">
							      <i class="fa fa-text-width"></i>
		                   		</span>
		                   	</div>	                   	  
	                   </div>   
	                  </div>   	                   	                                     
                        
                  </div>
                  <div class="row space5">
                  <div class="col-sm-6 ">
	                        <div class="form-group fixed-form-control">
	                        	<label for="maxAttempNo" class="col-sm-3 control-label">Max Attempt:<span class="required-mark">*</span></label>    
	                        	<div class="col-sm-9 input-group">
			                   		<input type="text" th:field="*{user.maxAttempNo}" class="form-control" />
			                   		<span class="input-group-addon">
									      #
				                   	</span>
			                   	</div>  
	                        </div>
                        </div>	  
                  	<div class="col-sm-6 fixed-form-control">	                             	         
	                        <div class="checkbox">
	                        	<label class="col-sm-3 control-label" style="font-weight:bold">Status:</label>	                        	    	                        
	                        	<label class="col-sm-3"><input type="checkbox" th:field="*{user.firstLogin}" />First Login</label>	                        	
	                        </div>
                        </div>
                  </div>    
                  <div class="row space5">
                  <div class="form-group col-sm-1 btNotFixed" >
				  	<button  type="submit" class="btn btn-danger">Save</button>
				  </div>
				  </div>
<!-- 				  <div class="btFixed"> -->
<!-- 						<div class="text-center"> -->
<!-- 							<button type="submit" class="btn btn-danger"> -->
<!-- 							    Save -->
<!-- 							</button> -->
<!-- 						</div> -->
<!-- 					</div> -->
            	  </form>                                         
    			</div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(document).ready(function(){
				$("input[name='user.maxAttempNo']").val(3);
			});
			
			var x = 3; //or whatever offset
			var CurrentDate = new Date();
			CurrentDate.setMonth(CurrentDate.getMonth() + x);
			$( "input[name='user.pwdExpiredDate']" ).val(pad(CurrentDate.getDate())+"/"+(pad(CurrentDate.getMonth()+1))+"/"+CurrentDate.getFullYear());
			$('.date').datepicker({		    
				autoclose: true,
			    todayHighlight: true,
			    format: "dd/mm/yyyy"
			});
			function pad(n) {
			    return (n < 10) ? ("0" + n) : n;
			}
		</script>
	</th:block>
</body>
</html>