<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout_main">
<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
</head>
<body class="nav-md">
	<div class="container body">
      <div class="main_container">
      	
      	<!-- page content -->
        <div class="right_col" role="main" layout:fragment="pageContent">
			<div class="content-panel">
                      	<div class="row">
	                      	<div class="col-sm-6">
	                      	</div> 
	                      	<div class="col-sm-6">              	
	                      		<button type="submit" class="pull-right btn btn-danger" th:onclick="window.location.href='newpermission'">New Permission</button>
	                      	</div>
                      	</div>
                      	
                      	<hr>
                     <table id="permission_grid" class="table table-striped table-advance table-hover"> <!-- style="border:1px solid #ccc;" -->                            
              	  	  <thead>
                           <tr>                          	  
							  <th>#</th>
                          	  <th>Permission Id</th>
                          	  <th>Permission Name</th>
                          	  <th>Permission Description</th>                          	  
                              <th>Status</th>
							  <th>Action</th>
                           </tr>
                      </thead>
                         <tbody th:with="id=${1}">
                         	<tr th:each="permission : ${permissions}">
                         		<td th:text="${id}"></td>
                         		<td th:text="${permission.permissionId}" th:with="id=${id}+{1}"></td>
                          		<td th:text="${permission.permissionName}"></td>
                          		<td th:text="${permission.permissionDesc}"></td>
			     		  		<td th:text="${permission.status} == 1?'Enable':'Disable'"></td>
                             	<td>
                                  	<a th:href="@{/permission/{id}/edit(id=${permission.permissionId})}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                              	</td>
                         	</tr>
                        </tbody>
                     </table>                                                    
                      </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			$(document).ready(function(){
				$('#permission_grid').dataTable({
					stateSave: true,
			        dom: 'TC<"clearfix">lfrtip',
			        columnDefs: [
			            { visible: false, targets: [0,3] }
			        ],
			        tableTools: {
			            "aButtons": ["copy", "csv", "pdf"],
			            "sSwfPath": /*[[@{/resources/TableTools/swf/copy_csv_xls_pdf.swf}]]*/''
			        },
			        "fnDrawCallback": function (oSettings, json) {
			            //showLoading(false);
			        }
			       
			    });
			});
		</script>
	</th:block>
</body>
</html>