<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="shared/layout_main">

<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
<link th:href="@{/resources/css/collectionandlapse.css}"
	rel="stylesheet" />
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!--page content -->
			<div class="right_col" role="main" layout:fragment="pageContent">
				<div class="row">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								<i class="fa fa-bars"></i> List of Renewal Premium Collection
								and Lapse Report
							</h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="" role="tabpanel" data-example-id="togglable-tabs">
								<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
									<li role="presentation" class="active"><a
										href="#renewalpremiumcollection" id="home-tab" role="tab"
										data-toggle="tab" aria-expanded="true">Renewal Premium
											Collection</a></li>
									<li role="presentation" class=""><a href="#lapsedreport"
										role="tab" id="profile-tab" data-toggle="tab"
										aria-expanded="false">Lapsed Report</a></li>
								</ul>
								<div id="myTabContent" class="tab-content">
									<div role="tabpanel" class="tab-pane fade active in"
										id="renewalpremiumcollection" aria-labelledby="home-tab">
										<div class="row">
											<div class="col-md-6 col-ms-12 col-xs-12">
												<h4>Summary by Branch</h4>
												<div class="table-responsive disable-over">
													<table id="branch_grid" style="width: 100%;"
														class="table table-striped table-advance table-hover">
														<thead>
															<tr class="pending-tr">
																<th style="width: 25%;">Branch Code</th>
																<th style="width: 25%;">Branch Name</th>
																<th style="width: 25%;">TPC</th>
																<th style="width: 25%;">Total EPA($USD)</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
											<div class="col-md-6 col-ms-12 col-xs-12">
												<h4>Summary by individual Agent</h4>
												<div class="table-responsive disable-over">
													<table id="agent_grid" style="width: 100%;"
														class="table table-striped table-advance table-hover">
														<thead>
															<tr class="pending-tr">
																<th style="width: 25%;">Agent Code</th>
																<th style="width: 25%;">Agent Name</th>
																<th style="width: 25%;">TPC</th>
																<th style="width: 25%;">Total EPA($USD)</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
											<div class="col-md-6 col-ms-12 col-xs-12">
												<h4>Summary BCU called Status</h4>
												<div class="table-responsive disable-over">
													<table id="bcu_grid" style="width: 100%;"
														class="table table-striped table-advance table-hover">
														<thead>
															<tr class="pending-tr">
																<th>BCU Status</th>
																<th>Case</th>
																<th>APE($USD)</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="x_panel panel-advance-search"
											sec:authorize="hasAnyAuthority('ACCESS_COLLECTION_LAPSE')">
											<div class="x_title">
												<h2>Advance Search</h2>
												<ul class="nav navbar-right panel_toolbox">
													<li style="float: right;"><a class="collapse-link"><i
															class="fa fa-chevron-up"></i></a></li>
												</ul>
												<div class="clearfix"></div>
											</div>
											<div class="x_content">
												<form method="post" id="colform">
													<div class="row">
														<div class="col-md-3">
															<div class="form-group">
																<label>Branch Code &amp; Branch Name</label> <select
																	class="form-control branch" tabindex="-1"
																	id="clbranchcodeandname">
																</select>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label>Agent Code &amp; Agent Name</label> <select
																	class="form-control branch" tabindex="-1"
																	id="clagentcodeandname">
																</select>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label>BDM Code</label> <select
																	class="form-control branch" tabindex="-1"
																	id="clbdmcode"></select>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label>Policy Transfer?</label> <select
																	class="form-control branch" tabindex="-1"
																	id="clagentstatus"></select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-3">
															<div class="form-group">
																<label>BCU call status</label> <select
																	class="form-control branch" tabindex="-1"
																	id="clbcucallstatus"></select>
															</div>
														</div>
														<div class=col-md-3>
															<div class="row">
																<div class="col-md-8">
																	<div class="form-group">
																		<label>Due Date :</label> <input type="text"
																			id="colduedate" data-date-format="DD/MM/YYYY"
																			placeholder="DD/MM/YYYY" class="form-control" />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Operator</label> <select class="form-control"
																			name="colduedateoperator" id="colduedateoperator">
																			<option value="1">=</option>
																			<option value="2">&gt;</option>
																			<option value="3">&lt;</option>
																			<option value="4">&lt;=</option>
																			<option value="5">&gt;=</option>
																			<option value="6">between</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-3" id="thcolduedateto">
															<div class="form-group">
																<label>Due Date To</label> <input type="text"
																	id="colduedateto" data-date-format="DD/MM/YYYY"
																	placeholder="DD/MM/YYYY" class="form-control" />
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label>Product</label> <select
																	class="form-control branch" tabindex="-1"
																	id="clproduct"></select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-3">
															<div class="row">
																<div class="col-md-8">
																	<div class="form-group">
																		<label>APE</label> <input type="text" id="colape"
																			class="form-control"
																			onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Operator</label> <select class="form-control"
																			name="colapeoperator" id="colapeoperator">
																			<option value="1">=</option>
																			<option value="2">&gt;</option>
																			<option value="3">&lt;</option>
																			<option value="4">&lt;=</option>
																			<option value="5">&gt;=</option>
																			<option value="6">between</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-3" id="thcolapeto">
															<div class="form-group">
																<label>APE To</label> <input type="text" id="colapeto"
																	class="form-control"
																	onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
															</div>
														</div>
													</div>
												</form>
											</div>
											<div class="clearfix"></div>
										</div>
										<!-- <div class="advance-search">
											<div class="lbl-advance-search">
											</div>
											<div class="txt-advance-search">
												<button id="btnAdvanceSearchRenewalPremiumCollection" class="btn btn-primary btn-advance-search">Advance Search</button>
											</div>
										</div> -->
										<div class="table-responsive">
											<table id="collection_grid"
												class="table table-striped table-advance table-hover"
												style="width: 100%;">
												<thead style="width: 100%;">
													<tr class="pending-tr">
														<th>Policy Number</th>
														<th>Application Number</th>
														<th>Customer Name</th>
														<th style="display: none;">Gender</th>
														<th>Mobile 1</th>
														<th>Mobile 2</th>
														<th>Product</th>
														<th>Premium($USD)</th>
														<th>Bill Frequency</th>
														<th>Due Date</th>
														<th style="display: none;">Grace Period</th>
														<th style="display: none;">Agent Number</th>
														<th style="display: none;">Agent Name</th>
														<th style="display: none;">Agent Sup Code</th>
														<th style="display: none;">Agent Sup Name</th>
														<th style="display: none;">Call Center Status</th>
														<th>Policy Transfer?</th>
														<th style="display: none;">Age</th>
														<th>APE($USD)</th>
														<th style="display: none;">Lapse Date</th>
														<th style="display: none;">Status</th>
														<th style="display: none;">Is Impact Persistency</th>
														<th style="display: none;">Lapsed Reason</th>
														<th>BCU Call Status</th>
														<th>BCU Remark</th>
														<th style="display: none;">branch code</th>
														<th style="display: none;">branch name</th>
														<th style="display: none;">ObjKey</th>
														<th style="display: none;">ObjType</th>
														<th>Saleforce Feedback</th>
														<th>Feedback</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="lapsedreport"
										aria-labelledby="profile-tab">
										<div class="row">
											<div class="col-md-6 col-ms-12 col-xs-12">
												<h4>Summary by Branch</h4>
												<div class="table-responsive disable-over">
													<table id="branch_grid_la" style="width: 100%;"
														class="table table-striped table-advance table-hover">
														<thead>
															<tr class="pending-tr">
																<th style="width: 25%;">Branch Code</th>
																<th style="width: 25%;">Branch Name</th>
																<th style="width: 25%;">Number of Cases</th>
																<th style="width: 25%;">Total APE($USD)</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
											<div class="col-md-6 col-ms-12 col-xs-12">
												<h4>Summary by individual Agent</h4>
												<div class="table-responsive disable-over">
													<table id="agent_grid_la" style="width: 100%;"
														class="table table-striped table-advance table-hover">
														<thead>
															<tr class="pending-tr">
																<th style="width: 25%;">Agent Code</th>
																<th style="width: 25%;">Agent Name</th>
																<th style="width: 25%;">Number of Cases</th>
																<th style="width: 25%;">Total APE($USD)</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
											<div class="col-md-6 col-ms-12 col-xs-12">
												<h4>Summary BCU called Status</h4>
												<div class="table-responsive disable-over">
													<table id="bcu_la_grid" style="width: 100%;"
														class="table table-striped table-advance table-hover">
														<thead>
															<tr class="pending-tr">
																<th>BCU Status</th>
																<th>Case</th>
																<th>APE($USD)</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
											<div class="col-md-6 col-ms-12 col-xs-12">
												<h4>Uncontactablity Summary (Lapsed)</h4>
												<div class="table-responsive disable-over">
													<table id="uncontact_la_grid" style="width: 100%;"
														class="table table-striped table-advance table-hover">
														<thead>
															<tr class="pending-tr">
																<th>Uncontactablity Status (Lapsed)</th>
																<th>%</th>
																<th>Case</th>
																<th>APE($USD)</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="x_panel panel-advance-search"
											sec:authorize="hasAnyAuthority('ACCESS_COLLECTION_LAPSE')">
											<div class="x_title">
												<h2>Advance Search</h2>
												<ul class="nav navbar-right panel_toolbox">
													<li style="float: right;"><a class="collapse-link"><i
															class="fa fa-chevron-up"></i></a></li>
												</ul>
												<div class="clearfix"></div>
											</div>
											<div class="x_content">
												<form method="post" id="laform">
													<div class="row">
														<div class="col-md-3">
															<div class="form-group">
																<label>Branch Code &amp; Branch Name</label> <select
																	class="form-control branch" tabindex="-1"
																	id="labranchcodeandname">
																</select>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label>Agent Code &amp; Agent Name</label> <select
																	class="form-control branch" tabindex="-1"
																	id="laagentcodeandname">
																</select>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label>BDM Code</label> <select
																	class="form-control branch" tabindex="-1"
																	id="labdmcode"></select>
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label>Policy Transfer?</label> <select
																	class="form-control branch" tabindex="-1"
																	id="laagentstatus"></select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-3">
															<div class="form-group">
																<label>BCU call status</label> <select
																	class="form-control branch" tabindex="-1"
																	id="labcucallstatus"></select>
															</div>
														</div>
														<div class="col-md-3">
															<div class="row">
																<div class="col-md-8">
																	<div class="form-group">
																		<label>Due Date :</label> <input type="text"
																			id="laduedate" data-date-format="DD/MM/YYYY"
																			placeholder="DD/MM/YYYY" class="form-control" />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Operator</label> <select class="form-control"
																			name="laduedateoperator" id="laduedateoperator">
																			<option value="1">=</option>
																			<option value="2">&gt;</option>
																			<option value="3">&lt;</option>
																			<option value="4">&lt;=</option>
																			<option value="5">&gt;=</option>
																			<option value="6">between</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-3" id="thladuedateto">
															<div class="form-group">
																<label>Due Date To</label> <input type="text"
																	id="laduedateto" data-date-format="DD/MM/YYYY"
																	placeholder="DD/MM/YYYY" class="form-control" />
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label>Product</label> <select
																	class="form-control branch" tabindex="-1"
																	id="laproduct"></select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-3">
															<div class="form-group">
																<label>Is Impact Persistency</label> <select
																	class="form-control branch" tabindex="-1"
																	id="laisimpactpersistency"></select>
															</div>
														</div>
														<div class="col-md-3">
															<div class="row">
																<div class="col-md-8">
																	<div class="form-group">
																		<label>Lapsed Duration</label> <input
																			class="form-control" type="text" id="laduration"
																			onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Operator</label> <select class="form-control"
																			name="ladurationoperator" id="ladurationoperator">
																			<option value="1">=</option>
																			<option value="2">&gt;</option>
																			<option value="3">&lt;</option>
																			<option value="4">&lt;=</option>
																			<option value="5">&gt;=</option>
																			<option value="6">between</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-3" id="thladurationto">
															<div class="form-group">
																<label>Lapsed Duration To</label> <input
																	class="form-control" type="text" id="ladurationto"
																	onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-3">
															<div class="form-group">
																<label>Lapsed Reason</label> <select
																	class="form-control branch" tabindex="-1" id="lareason"></select>
															</div>
														</div>
														<div class="col-md-3">
															<div class="row">
																<div class="col-md-8">
																	<div class="form-group">
																		<label>Lapsed Date</label> <input type="text"
																			id="ladate" data-date-format="DD/MM/YYYY"
																			placeholder="DD/MM/YYYY" class="form-control" />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Operator</label> <select class="form-control"
																			name="ladateoperator" id="ladateoperator">
																			<option value="1">=</option>
																			<option value="2">&gt;</option>
																			<option value="3">&lt;</option>
																			<option value="4">&lt;=</option>
																			<option value="5">&gt;=</option>
																			<option value="6">between</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-3" id="thladateto">
															<div class="form-group">
																<label>Lapsed Date To</label> <input type="text"
																	id="ladateto" data-date-format="DD/MM/YYYY"
																	placeholder="DD/MM/YYYY" class="form-control" />
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-3">
															<div class="row">
																<div class="col-md-8">
																	<div class="form-group">
																		<label>APE</label> <input type="text" id="laape"
																			class="form-control"
																			onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
																	</div>
																</div>
																<div class="col-md-4">
																	<div class="form-group">
																		<label>Operator</label> <select class="form-control"
																			name="laapeoperator" id="laapeoperator">
																			<option value="1">=</option>
																			<option value="2">&gt;</option>
																			<option value="3">&lt;</option>
																			<option value="4">&lt;=</option>
																			<option value="5">&gt;=</option>
																			<option value="6">between</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-3" id="thlaapeto">
															<div class="form-group">
																<label>APE To</label> <input type="text" id="laapeto"
																	class="form-control"
																	onkeypress='return event.keyCode >= 48 && event.keyCode <= 57' />
															</div>
														</div>

														<div class="col-md-3">
															<a class="btn btn-danger" target="_blank" href=""
																style="margin-top: 22px" id="download_csv"> Download
																CSV </a>
														</div>
													</div>
												</form>
											</div>
											<div class="clearfix"></div>
										</div>
										<!-- 	<div class="advance-search">
												<div class="lbl-advance-searchla">
													<label class="label label-danger">AgentCode = 09933322</label>
												</div>
												<div class="txt-advance-search">
													<button id="btnAdvanceSearchLapsed" class="btn btn-primary btn-advance-search">Advance Search</button>
												</div>
											</div> -->
										<div class="table-responsive">
											<table id="lapse_grid"
												class="table table-striped table-advance table-hover"
												style="width: 100%;">
												<thead style="width: 100%;">
													<tr class="pending-tr">
														<th>Policy Number</th>
														<th>Application Number</th>
														<th>Customer Name</th>
														<th style="display: none;">Gender</th>
														<th>Mobile 1</th>
														<th>Mobile 2</th>
														<th>Product</th>
														<th>Premium($USD)</th>
														<th>Bill Frequency</th>
														<th>Due Date</th>
														<th>Lapsed Duration</th>
														<th style="display: none;">Agent Number</th>
														<th style="display: none;">Agent Name</th>
														<th style="display: none;">Agent Sup Code</th>
														<th style="display: none;">Agent Sup Name</th>
														<th style="display: none;">Call Center Status</th>
														<th>Policy Transfer?</th>
														<th style="display: none;">Age</th>
														<th>APE($USD)</th>
														<th>Lapsed Date</th>
														<th style="display: none;">Status</th>
														<th>Is Impact Persistency</th>
														<th>Lapsed Reason</th>
														<th>BCU Call Status</th>
														<th>BUC Remark</th>
														<th style="display: none;">branch code</th>
														<th style="display: none;">branch name</th>
														<th style="display: none;">ObjKey</th>
														<th style="display: none;">ObjType</th>
														<th>Saleforce Feedback</th>
														<th>Feedback</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page content -->
		</div>
	</div>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		var type =  [[${type}]];
		var ipc = [[${ipc}]];
		var urlgetcollection = [[@{/getcollection}]];
		var urladvancesearchcollection = [[@{/advancesearchcollection}]];
		var urladvancesearchlapsed = [[@{/advancesearchlapsed}]];
		var urlcsvadvancesearchlapsed = [[@{/csvlapse}]];
		var urlgetlapsed = [[@{/getlapsed}]];
		var urlcollectionsummary = [[@{/collectionsummary}]];
		var urllapsesummary = [[@{/lapsesummary}]];
		var urladdcollectionandlapsecomment = [[@{/addcollectionandlapsecomment}]];
		var urlgetcollectionandlapsecomment = [[@{/getcollectionandlapsecomment}]];
		var urlbcucallstatussummary = [[@{/bcucallstatussummary}]];
		var urllapseducsummary = [[@{/lapseducsummary}]];
		var urlgetbdmcode = [[@{/getbdmcode}]];
		/* to get branch Code and Name put into selection 2 */
		var branchCodeAndName = [[${branchCodeAndName}]];
		var agentCodeAndName = [[${agentCodeAndName}]];
		var bdmCode = [[${bdmCode}]];
		var agentStatus = [[${agentStatus}]];
		var bcuCallStatus = [[${bcuCallStatus}]];
		
		var branchCodeAndNamela = [[${branchCodeAndNamela}]];
		var agentCodeAndNamela = [[${agentCodeAndNamela}]];
		var bdmCodela = [[${bdmCodela}]];
		var agentStatusla = [[${agentStatusla}]];
		var bcuCallStatusla = [[${bcuCallStatusla}]];
		var isImpactPersistencyla = [[${isImpactPersistencyla}]];
		var lapsedReasonla = [[${lapsedReasonla}]];
		var productList = [[${productList}]];
		var productListLA = [[${productListLA}]];
		
		var urlReinstatementDDForm = [[@{reinstatementDDForm}]];
		var urlReinstatementSOForm = [[@{reinstatementSOForm}]];
		
		var pwdExpired = /*[[${isExpiredSoon}]]*/ '';
		var ctx = /*[[@{/}]]*/ '';
		if (pwdExpired) {
			showModalDialog.show(pwdExpired, ctx);
		}
	</script>
		<script th:src="@{/resources/js/jquery.loading.min.js}"></script>
		<script th:src="@{/resources/js/validateform/collectionandlapse.js}"></script>
		<script th:src="@{/resources/js/pruDialog.js}"></script>
	</th:block>
</body>

</html>