<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="shared/layout_main">

<head>
<meta charset="UTF-8" />
<title th:text="${pageTitle}">Page Title Here</title>
<link th:href="@{/resources/css/collectionandlapse.css}"
	rel="stylesheet" />
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!--page content -->
			<div class="right_col" role="main" layout:fragment="pageContent">
				<div class="row">
					<div class="x_panel">
						<div class="x_content">
							<div class="" role="tabpanel" data-example-id="togglable-tabs">
								<div id="myTabContent" class="tab-content">
									<div role="tabpanel" class="tab-pane fade active in"
										id="renewalpremiumcollection" aria-labelledby="home-tab">
										<div class="x_panel panel-advance-search"
											sec:authorize="hasAnyAuthority('ACCESS_COLLECTION_LAPSE')">
											<div class="x_title">
												<h2>Search Renewal Premium Collection and Lapsed</h2>
												<ul class="nav navbar-right panel_toolbox">
													<li style="float: right;"><a class="collapse-link"><i
															class="fa fa-chevron-up"></i></a></li>
												</ul>
												<div class="clearfix"></div>
											</div>
											<div class="x_content">
												<form method="post" id="colform">
													<div class="row">
														<div class="col-md-3">
															<div class="form-group">
																<label>Policy or Application Number</label> <input
																	type="text" id="poappnum" class="form-control" />
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label>Date of Birth</label> <input type="text" id="dob"
																	data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY"
																	class="form-control" />
															</div>
														</div>

														<a class="btn btn-primary btn-advance-search"
															style="margin-top: 22px" id="btnclsearch"> Search </a> <a
															class="btn btn-danger btn-clear" style="margin-top: 22px"
															id="btnclclear"> Clear </a>
													</div>

												</form>
											</div>
											<div class="clearfix"></div>
										</div>

										<div class="table-responsive">
											<table id="collection_grid"
												class="table table-striped table-advance table-hover"
												style="width: 100%;">
												<thead style="width: 100%;">
													<tr class="pending-tr">
														<th>Policy Number</th>
														<th>Application Number</th>
														<th>PO Name</th>
														<th>Date of Birth</th>
														<th>Next Premium</th>
														<th>Total Outstanding Premium</th>
														<th>Standing Order Date</th>
														<th>Next Payment Date</th>
														<th>Payment End Date</th>
														<th>Cancel Standing Order</th>
														<th>Tele Reinstatement</th>	
														<th style="display: none;">ObjKey</th>								
														<th>Type</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end page content -->
		</div>
	</div>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		var type =  [[${type}]];
		var ipc = [[${ipc}]];
		var urladvancesearchcollection = [[@{/advancesearchothercollection}]];
		var urlcsvadvancesearchothercollection = [[@{/csvadvancesearchothercollection}]];
		var urlgetothercollection = [[@{/getothercollection}]];
		
		var pwdExpired = /*[[${isExpiredSoon}]]*/ '';
		var ctx = /*[[@{/}]]*/ '';
		if (pwdExpired) {
			showModalDialog.show(pwdExpired, ctx);
		}
	</script>
		<script th:src="@{/resources/js/jquery.loading.min.js}"></script>
		<script th:src="@{/resources/js/moment.min.js}"></script>
		<script
			th:src="@{/resources/js/validateform/othercollectionandlapse.js}"></script>
		<script th:src="@{/resources/js/pruDialog.js}"></script>
	</th:block>
</body>

</html>